- if  @fair_scores_data
  %h1
    FAIR score details
  %div
    %div
      - @fair_scores_data[:criteria][:labels].each_with_index  do |label , index|
        %div.card.my-2
          %div.card-header
            %h4.criterion-score-container
              %div
                = label +': '+ @fair_scores_data[:criteria][:descriptions][index]
              %div.progress.criterion-score-progress-bar
                - if @fair_scores_data[:criteria][:normalizedScores][index] > 0
                  %div.progress-bar.bg-obtained_color{style:"width:#{@fair_scores_data[:criteria][:normalizedScores][index]}%"}
                    #{@fair_scores_data[:criteria][:normalizedScores][index].round()}% (#{@fair_scores_data[:criteria][:scores][index]})
                - not_obtained_score =  get_not_obtained_score(@fair_scores_data[:criteria][:scores][index],
                                                                          @fair_scores_data[:criteria][:portalMaxCredits][index])

                - not_obtained_score_normalized = ((not_obtained_score /  @fair_scores_data[:criteria][:maxCredits][index]) * 100).round()
                - if  not_obtained_score_normalized > 0
                  %div.progress-bar.bg-not-obtained_color{style:"width:#{not_obtained_score_normalized}%"}
                    #{not_obtained_score_normalized}% (#{not_obtained_score})
                - score_rest = @fair_scores_data[:criteria][:maxCredits][index] - @fair_scores_data[:criteria][:portalMaxCredits][index]
                - score_rest_normalized = ((score_rest /   @fair_scores_data[:criteria][:maxCredits][index] ) * 100 ).round()
                - if score_rest_normalized > 0
                  %div.progress-bar.bg-non-applicable_color{style:"width:#{score_rest_normalized}%"}
                    #{score_rest_normalized}% (#{score_rest})
          %div.card-body
            %table.table.table-bordered
              %tr
                %th
                  Questions
                %th
                  Test result
                %th
                  Explication

              - @fair_scores_data[:criteria][:questions][index].each do |question|
                %tr
                  %td
                    #{question[0]} : #{question[1]["question"]}
                  %td
                    %div.btn.text-white{class:"#{(if question[1]["score"] > 0
                                          question[1]["score"] == question[1]["maxCredits"] ? 'btn-success' : 'btn-warning'
                                       else
                                          'btn-danger'
                                       end)}"}
                      -if question[1]["score"] > 0
                        #{question[1]["score"] == question[1]["maxCredits"] ? 'Success' : 'Average'}
                      -else
                        Fail
                      %span.badge.badge-pill.badge-light
                        = question[1]["score"]
                  %td
                    = question[1]["explication"]





