:javascript
  let scrollY = window.getScrollTop()
  console.log("init scroll: " + scrollY )
  $(document).ready(function(){
    $("#fair-details-content").scrollspy({
        target: "#fair-navbar",
        offset: 0
    })

    $("#fair-details-content").on('activate.bs.scrollspy', function (e) {
      window.scrollTo(0,scrollY)
      console.log("move scroll: " + window.scrollY)
    })

  });


- if  @fair_scores_data
  %div{style:"font-size:14px"}
    %div.row
      %div.col-3.navbar.navbar-light.bg-light{id:"fair-navbar" ,style:"overflow: scroll;height: 70vh;position: relative;"}
        %h1
          FAIR principles details
        %nav.nav.nav-pills.flex-column
          - @fair_scores_data[:criteria][:labels].each_with_index  do |label , index|
            %a.nav-link{href:"#"+label}
              =label
            %nav.nav.pills.flex-column
              - @fair_scores_data[:criteria][:questions][index].each do |question|
                %a.nav-link.my-1.ml-3.text-dark{href:"#"+question[0]}
                  =question[0]
      %div.col-9#fair-details-content{style:"overflow: scroll;height: 70vh;"}
        - @fair_scores_data[:criteria][:labels].each_with_index  do |label , index|
          %div.my-3.border{id:label}
            %div.py-3.px-4
              %h5.criterion-score-container
                %div
                  = label +': '+ @fair_scores_data[:criteria][:descriptions][index]
                %div.progress.criterion-score-progress-bar
                  - if @fair_scores_data[:criteria][:normalizedScores][index] > 0
                    %div.progress-bar.bg-obtained_color{style:"width:#{@fair_scores_data[:criteria][:normalizedScores][index]}%"}
                      #{@fair_scores_data[:criteria][:normalizedScores][index].round()}% (#{@fair_scores_data[:criteria][:scores][index]})
                  - not_obtained_score = get_not_obtained_score(@fair_scores_data , index)
                  - not_obtained_score_normalized = get_not_obtained_score_normalized(@fair_scores_data , index)
                  - score_rest = get_rest_score(@fair_scores_data , index)
                  - score_rest_normalized = get_rest_score_normalized(@fair_scores_data , index)


                  -if not_obtained_score_normalized > 0
                    %div.progress-bar.bg-not-obtained_color{style:"width:#{not_obtained_score_normalized}%"}
                      #{not_obtained_score_normalized}% (#{not_obtained_score})
                  - if score_rest_normalized > 0
                    %div.progress-bar.bg-non-applicable_color{style:"width:#{score_rest_normalized}%"}
                      #{score_rest_normalized}% (#{score_rest})
            %div.card-body
              - @fair_scores_data[:criteria][:questions][index].each do |question|
                %div.card.m-3{id:question[0]}
                  %div.card-body
                    %div.card-title.d-flex.justify-content-between
                      %h6.mr-2
                        #{question[0]} : #{question[1]["question"]}
                      %div
                        %div.btn.text-white{class:"#{(
                                           if question[1]["score"] > 0
                                               'bg-obtained_color'
                                           elsif not_implemented?(question[1])
                                              'bg-non-applicable_color'
                                           else
                                              'bg-not-obtained_color'
                                           end
                                           )}"}
                          %span.badge.badge-pill.badge-light
                            #{question[1]["score"]} / #{question[1]["maxCredits"]}
                    %div.mb-3
                      -if not_implemented?(question[1])
                        %span.badge.badge-pill.badge-danger{style:"white-space:normal;font-size:14px"}
                          #{question[1]["explanation"]}
                      -elsif default_score?(question[1])
                        %span.badge.badge-pill.badge-success{style:"white-space:normal;font-size:14px"}
                          #{question[1]["explanation"]}
                    %div
                      %button.btn.btn-outline-primary{'data-toggle':"collapse" ,'data-target':"#collapse-credits-"+question[0]}
                        See possible credits
                      -if question[1]["properties"]
                        %button.btn.btn-outline-primary{'data-toggle':"collapse" ,'data-target':"#collapse-properties-"+question[0]}
                          See metadata used properties
                    %div.mt-2
                      %div.collapse{id:"collapse-credits-"+question[0]}
                        %div.card.p-3
                          - question[1]["points"].each do |point|
                            %ul.list-group.list-group-flush
                              %li.list-group-item.d-flex.justify-content-between.align-items-center
                                %div.mr-2
                                  = point["explanation"]
                                %span.badge.badge-pill.badge-primary
                                  = point["score"]
                      -if question[1]["properties"]
                        %div.collapse{id:"collapse-properties-"+question[0]}
                          %div.card.p-3{style:"font-size:18px"}
                            %div.d-flex.flex-wrap
                              - question[1]["properties"].each do |key, value|
                                %div.badge.my-2.mx-1{class:(["", 'null', '[]'].include?(value) ? "badge-danger" : "badge-success") ,style:"white-space:normal"}
                                  %span
                                    = key
                                  %span.badge.badge-light{style:"white-space:normal"}
                                    #{value}






