%div#concept_browser
  = render TabsContainerComponent.new(type:'outline') do |c|
    - c.item(id: 'tree-tab', selected: default_sub_menu?) do
      %span{title: 'Hierarchy view', 'data-controller': "tooltip"}
        = inline_svg('icons/list-tree.svg',  style:'width: 18px; height: 18px')

    %a#concepts-tree-tab.nav-item.nav-link.flex-grow-1.border-radius-0{"data-toggle" => "tab", :href => "#concepts-tree-container", title: 'Hierarchy view', 'data-controller': "tooltip", class: default_sub_menu_class}
      %img{src: asset_path('list-tree.svg') , style:'width: 25px; height: 25px'}
    - if skos?
      %a#concepts-list-tab.nav-item.nav-link.flex-grow-1.border-radius-0{"data-toggle" => "tab", :href => "#concepts-list-container",  title: 'Collection view', 'data-controller': "tooltip", class: sub_menu_active_class('list')}
        %i.fas.fa-list.text-dark{style:'font-size: 25px'}
    %a#concepts-date-sort-tab.nav-item.nav-link.flex-grow-1.border-radius-0{"data-toggle" => "tab", :href => "#concepts-date-sort-container",  title: 'Date view', 'data-controller': "tooltip", class: sub_menu_active_class('date')}
      %i.far.fa-calendar-alt.text-dark{style:'font-size: 25px'}
.tab-content.px-1.py-2
  #concepts-tree-container.tab-pane.fade{class: default_sub_menu_class}
    = render partial: 'ontologies/concepts_browsers/concepts_tree'
  - if skos?
    #concepts-list-container.tab-pane.fade{class:  sub_menu_active_class('list')}
      = render partial: 'ontologies/concepts_browsers/concepts_list'
  #concepts-date-sort-container.tab-pane.fade{class:  sub_menu_active_class('date')}
    = render partial: 'ontologies/concepts_browsers/concepts_date_sort'