%div{data:{controller: 'turbo-frame',
                                'turbo-frame': {
                                      'url-value': "/ajax/classes/list?ontology_id=#{@ontology.acronym}",
                                      'place-holder-value': "Please select a collection to display"
                                      }}}
  %div.pb-2
    %div.mb-1
      = render partial: 'ontologies/concepts_browsers/jump_to', locals: {id: "#concepts-list-filter"}
    %div#concepts-list-filter.collapse.card.p-2.show
      %div#collections.pb-2
        = render partial: 'ontologies/concepts_browsers/collections_picker' ,
                   locals: {multiple: false, id: 'collections_select',
                   data: {action: 'changed->turbo-frame#updateFrame'}}

  %div#sd_content.card.p-1{style: 'overflow-y: scroll; height: 60vh;'}
    = render TurboFrameComponent.new(id: 'concepts_list_view-page-1', data: {'turbo-frame-target': 'frame'}, src:params[:concept_collections] ? "/ajax/classes/list?ontology_id=#{@ontology.acronym}&collection_id=#{params[:concept_collections]}" : '') do
      Please select a collection to display