= turbo_frame_tag "metadata" do
  = form_with(url: "/edit", method: :post, local: true, data: { turbo: true} ,form: {data: {turbo_frame: 'editmodal'}}) do |form|  
    %table.table{:cellpadding => "0", :cellspacing => "0"}
      %col
      %colgroup{:span=>"1"}
      %thead
        %tr
          %th{:rowspan=>"1", :scope=>"col"} Ontology
          %th{:colspan=>@metadata_sel.length, :scope=>"col", style:'text-align:center;'} Metadata
      %tbody
        %tr
          %th{:scope=>"row"} 
          - @metadata_sel.each do |meta|
            %th
              = check_box_tag('selected_metadata[]', meta, false)
              = meta
          - (0..@ontologies.length - 1).each do |n|       
            %tr
              %th{:scope=>"row"}
                //%input{ :type=>"checkbox", :name=>"acronym",:value=> @ontologies[n].acronym }
                //%label{:for=>"acronymes"}= @ontologies[n].acronym 
                = check_box_tag('selected_acronyms[]', @ontologies[n].acronym, false)
                %a{:href=> "ontologies/" + @ontologies[n].acronym, :title=>@ontologies[n].name, :style=>"background-color:#FFFFFF;color:#000000;text-decoration:none" }
                  = @ontologies[n].acronym
    
              //%td{style:'text-align:center;', :type=>"checkbox" }= @ontologies[n].acronym
              - @metadata_sel.each do |meta|
                %td= @submissions[n].instance_values[meta.to_s]  
    = form.submit('Edit metadata')          
