%div{class: 'modal-dialog modal-dialog-centered modal-lg', role: 'document'}
  %div{class: 'modal-content'}
    %div{class: 'modal-header'}
      %h5{class: 'modal-title', id: 'changeRequestModalLabel'} 
        = "Add synonym proposal for #{@concept_label}"
      %button{type: 'button', class: 'close', 'data-dismiss': 'modal', 'aria-label': 'Close'}
        %span{'aria-hidden': 'true'} &times;
    = form_with scope: :create_synonym, url: change_requests_path, local: false do |f|
      = hidden_field_tag 'concept_id', @concept_id
      = hidden_field_tag 'concept_label', @concept_label
      = hidden_field_tag 'ont_acronym', @ont_acronym
      = hidden_field_tag 'username', @username
      = hidden_field_tag 'operation', KGCL::Operations::NEW_SYNONYM
      %div{class: 'modal-body'}
        %div{class: 'form-group'}
          = f.label :preferred_label, 'Label'
          = f.text_field :preferred_label, class: 'form-control'
        %div{class: 'form-group'}
          = f.label :qualifier, 'Type'
          = synonym_qualifier_select(f)
        %div{class: 'form-group'}
          = f.label :comment, 'Comment'
          = f.text_area :comment, rows: 5, class: 'form-control'
      %div{class: 'modal-footer'}
        %button{type: 'button', class: 'btn btn-secondary', 'data-dismiss': 'modal'} Close
        = submit_tag 'Submit', id: 'create_synonym_button', class: 'btn btn-primary'
