= tag.p("Proposal: rename '#{@concept_label}'", class: 'lead')
= form_with scope: :node_rename, url: change_requests_path, local: false, class: 'mb-5' do |f|
  = hidden_field_tag 'concept_id', @concept_id
  = hidden_field_tag 'concept_label', @concept_label
  = hidden_field_tag 'github_id', @user.githubId
  = hidden_field_tag 'ont_acronym', @ont_acronym
  = hidden_field_tag 'orcid_id', @user.orcidId
  = hidden_field_tag 'username', @user.username
  = hidden_field_tag 'operation', KGCL::Operations::NODE_RENAME
  %div.mb-3
    = f.label :new_preferred_name, 'Preferred name', class: 'form-label'
    = f.text_field(:new_preferred_name, class: 'form-control', 'aria-describedby': 'newPreferredNameHelpBlock',
                   required: 'true')
    = tag.div 'Enter the new preferred name', id: 'newPreferredNameHelpBlock', class: 'form-text'
  %div.mb-3
    = f.label :comment, 'Comment', class: 'form-label'
    = f.text_area :comment, rows: '5', class: 'form-control', 'aria-describedby': 'nodeRenameCommentHelpBlock'
    = tag.div('Optionally enter a comment giving a reason for the rename', class: 'form-text',
              id: 'nodeRenameCommentHelpBlock')
  = submit_tag 'Submit', id: 'node_rename_button', class: 'btn btn-primary'
  = tag.button 'Cancel', type: 'button', id: 'cancel_kgcl_proposal', class: 'btn btn-primary'
