<% unless session[:user] %>
	Please <%= link_to "login", "/login" %> to submit notes
<% else %>

<% @semi_uuid = (1000 * Time.now.to_f).to_i.to_s %>

<% add_text = add_text.nil? ? "Add Note" : "Add Reply" %>

<% unless defined?(exclude_js) %>
	<script type="text/javascript">
    // Set defaults for this installation
    var BP_SEARCH_SERVER = "<%=$UI_URL%>";
    var BP_SITE = "<%=$SITE%>";
    var BP_ORG = "<%=$ORG%>";
	  
		if (typeof BP_NOTES_LOADED == 'undefined') jQuery.getScript("/javascripts/bp_notes.js");
		if (typeof BP_FORM_COMPLETE_LOADED == 'undefined') {
			jQuery.getScript("/javascripts/widgets/form_complete.js");
		} else {
			// Re-run the setup to wire autocomplete fields
			if (typeof jQuery.autocomplete === 'function') {
			  // If the function doesn't exist then this init should happen in the normal form_complete.js init
			  formComplete_setup_functions();
			}
		}
	</script>
<% end %>

<% action_type = defined?(action) ? action : "" %>
<% prefix = defined?(action) ? @semi_uuid + "_" + action + "_" : @semi_uuid + "_" %>
<% prefix = action + "_" if defined?(action) && defined?(dummy_add) %>

<script type="text/javascript">
<%unless defined?(dummy_add)%>
	jQuery.data(document.body, "prefix", "<%=prefix%>");
	jQuery.data(document.body, "action", "<%=action_type%>");
	jQuery.data(document.body, "ont_id", "<%= @ontology.ontologyId %>");
	jQuery.data(document.body, "add_text", "<%= add_text %>");
	
	jQuery(document).ready(function(){
		// Set data for retrieval
		jQuery(".<%=prefix%>note_submit_data").data("prefix", "<%=prefix%>");
		jQuery(".<%=prefix%>note_submit_data").data("action", "<%=action_type%>");
		jQuery(".<%=prefix%>note_submit_data").data("ont_id", "<%= @ontology.ontologyId %>");
		
		// Wire up the add/hide note form buttons
		var prefix = jQuery.data(document.body, "prefix");
		if (prefix.indexOf("thread") < 0) {
			jQuery("#" + prefix + "create_note_container").hide();
			jQuery('.' + prefix + 'add_reply').addClass("add_reply_button");
		}
	});
<%end%>
</script>

<h2 class="<%=prefix%>add_reply"><%=add_text%></h2>
<div id="<%=prefix%>create_note_container" class="create_note_container">
	<div id="<%=prefix%>create_note_buttons" class="create_note_buttons">
		<span id="<%=prefix%>create_note_comment_button" note_type="<%=prefix%>create_note_comment" class="note_action note_buttons create_note_selected">Comment</span>
		<span id="<%=prefix%>create_note_new_term_button" note_type="<%=prefix%>create_note_new_term" class="note_action note_buttons">Propose New Term</span>
		<span id="<%=prefix%>create_note_change_hierarchy_button" note_type="<%=prefix%>create_note_change_hierarchy" class="note_action note_buttons">Propose Relationship Change</span>
		<span id="<%=prefix%>create_note_change_prop_value_button" note_type="<%=prefix%>create_note_change_prop_value" class="note_action note_buttons">Propose Property Value Change</span>
	</div>
	
	<div id="<%=prefix%>create_note_options" class="create_note_options">
		
		<div id="<%=prefix%>create_note_comment" class="<%=prefix%>note_options_action note_options" style="display: block;">
	
			<input type="hidden" id="<%=prefix%>create_comment_appliesTo" value="<%= applies_to rescue "" %>" class="create_comment_inputs">
			<input type="hidden" id="<%=prefix%>create_comment_appliesToType" value="<%= applies_to_type rescue "" %>" class="create_comment_inputs">
			<input type="hidden" id="<%=prefix%>create_comment_noteType" value="Comment" class="create_comment_inputs">
			<input type="hidden" id="<%=prefix%>create_comment_author" value="<%= session[:user].id %>" class="create_comment_inputs">
				
			<h2>Comment</h2>
			Subject <span class="required">*</span> <span id="<%=prefix%>create_comment_subject_error" class="error_input"></span><br/>
			<input tabindex="100" id='<%=prefix%>create_comment_subject' class="create_note_inputs create_comment_inputs"><br/>
			Body <span class="required">*</span> <span id="<%=prefix%>create_comment_body_error" class="error_input"></span><br/>
			<textarea tabindex="101" id='<%=prefix%>create_comment_body' class="create_note_inputs create_comment_inputs"></textarea><br>
			
			<div id="<%=prefix%>create_comment_submit_container" class="submit_container">
				<button tabindex="102" id="<%=prefix%>create_comment" note_type="create_comment" class="create_note_submit <%=prefix%>note_submit_data">submit</button>
			</div>

			<div class="add_note_legend">* required</div>
			<div style="clear: both;"></div>
		</div>
		
		<div id="<%=prefix%>create_note_new_term" class="<%=prefix%>note_options_action note_options">
	
			<div id="<%=prefix%>create_note_new_term_float" class="note_options_float">
				<input type="hidden" id="<%=prefix%>create_new_term_appliesTo" value="<%= applies_to rescue "" %>" class="create_new_term_inputs">
				<input type="hidden" id="<%=prefix%>create_new_term_appliesToType" value="<%= applies_to_type rescue "" %>" class="create_new_term_inputs">
				<input type="hidden" id="<%=prefix%>create_new_term_noteType" value="ProposalForCreateEntity" class="create_new_term_inputs">
				<input type="hidden" id="<%=prefix%>create_new_term_author" value="<%= session[:user].id %>" class="create_new_term_inputs">
				
				Preferred name <span class="required">*</span> <span id="<%=prefix%>termPreferredName_error" class="error_input"></span><br/>
				<input tabindex="201" type="text" id="<%=prefix%>termPreferredName" class="create_note_inputs create_new_term_inputs"><br/>
				Synonyms (comma-separated list)<br/>
				<input tabindex="202" type="text" id="<%=prefix%>termSynonyms" class="create_note_inputs create_new_term_inputs"><br/>
				Definition <span class="required">*</span> <span id="<%=prefix%>termDefinition_error" class="error_input"></span><br/>
				<input tabindex="203" type="text" id="<%=prefix%>termDefinition" class="create_note_inputs create_new_term_inputs"><br/>
				<!--
        Proposed id<br/>
				<input tabindex="204" type="text" id="<%=prefix%>termId" class="create_note_inputs create_new_term_inputs"><br/>
        -->
				Parent (start typing to autocomplete) <span class="required">*</span> <span id="<%=prefix%>termParent_error" class="error_input"></span><br/>
				<input tabindex="205" type="text" name="<%=prefix%>termParent" id="<%=prefix%>termParent" value="<%= @concept.fullId_proper rescue "" %>" class="create_note_inputs create_new_term_inputs bp_form_complete-<%= @ontology.ontologyId %>-uri"><br/>
				Contact information (publically visible)<br/>
				<input tabindex="206" type="text" id="<%=prefix%>create_new_term_contactInfo" class="create_note_inputs create_new_term_inputs"><br/>
				<div class="add_note_legend">* required</div>
			</div>
			<h2>New Term</h2>
			
			Reason for change <span class="required">*</span> <span id="<%=prefix%>create_new_term_reasonForChange_error" class="error_input"></span><br/>
			<textarea tabindex="200" id="<%=prefix%>create_new_term_reasonForChange" class="create_note_inputs create_new_term_inputs"></textarea><br/>
			<!--
			Subject<br/>
			<input id='<%=prefix%>create_new_term_subject' class="create_note_inputs create_new_term_inputs"><br/>
			Body<br/>
			<textarea id='<%=prefix%>create_new_term_body' class="create_note_inputs create_new_term_inputs"></textarea><br>
			-->

			<div id="<%=prefix%>create_new_term_submit_container" class="submit_container">
				<button tabindex="207" id="<%=prefix%>create_new_term" note_type="create_new_term" class="create_note_submit <%=prefix%>note_submit_data">submit</button>
			</div>

			<div style="clear: both;"></div>
		</div>
		
		<div id="<%=prefix%>create_note_change_hierarchy" class="<%=prefix%>note_options_action note_options">
	
			<div id="<%=prefix%>create_change_hierarchy_float" class="note_options_float">
				<input type="hidden" id="<%=prefix%>create_change_hierarchy_appliesTo" value="<%= applies_to rescue "" %>" class="create_change_hierarchy_inputs">
				<input type="hidden" id="<%=prefix%>create_change_hierarchy_appliesToType" value="<%= applies_to_type rescue "" %>" class="create_change_hierarchy_inputs">
				<input type="hidden" id="<%=prefix%>create_change_hierarchy_noteType" value="ProposalForChangeHierarchy" class="create_change_hierarchy_inputs">
				<input type="hidden" id="<%=prefix%>create_change_hierarchy_author" value="<%= session[:user].id %>" class="create_change_hierarchy_inputs">
				
				New relationship target (start typing to autocomplete) <span class="required">*</span> <span id="<%=prefix%>relationshipTarget_error" class="error_input"></span><br/>
				<input tabindex="301" type="text" name="<%=prefix%>relationshipTarget" id="<%=prefix%>relationshipTarget" class="bp_form_complete-<%= @ontology.ontologyId %>-uri create_note_inputs create_change_hierarchy_inputs"><br/>
				Old relationship target (start typing to autocomplete)<br/>
				<input tabindex="302" type="text" name="<%=prefix%>oldRelationshipTarget" id="<%=prefix%>oldRelationshipTarget" value="<%= @concept.fullId_proper rescue "" %>" class="bp_form_complete-<%= @ontology.ontologyId %>-uri create_note_inputs create_change_hierarchy_inputs"><br/>
				New relationship type <span class="required">*</span> <span id="<%=prefix%>relationshipType_error" class="error_input"></span><br/>
				<select tabindex="303" id="<%=prefix%>relationshipType" style="margin-bottom: .5em;">
					<option selected></option>
					<%= options_for_select([["is_a", "is_a"], ["part_of", "part_of"], ["integral_part_of", "integral_part_of"],
						["proper_part_of", "proper_part_of"], ["located_in", "located_in"], ["contained_in", "contained_in"],
						["adjacent_to", "adjacent_to"], ["transformation_of", "transformation_of"], ["derives_from", "preceded_by"],
						["has_participant", "has_participant"], ["has_agent", "has_agent"], ["instance_of", "instance_of"]]) %>
				</select><br/>
				Contact information (publically visible)<br/>
				<input tabindex="304" type="text" id="<%=prefix%>create_change_hierarchy_contactInfo" class="create_note_inputs create_change_hierarchy_inputs"><br/>
				<div class="add_note_legend">* required</div>
			</div>
			<h2>New Relationship / Change Hierarchy</h2>

			Reason for change <span class="required">*</span> <span id="<%=prefix%>create_change_hierarchy_reasonForChange_error" class="error_input"></span><br/>
			<textarea tabindex="300" id="<%=prefix%>create_change_hierarchy_reasonForChange" class="create_note_inputs create_change_hierarchy_inputs"></textarea><br/>
			<!--
			Subject<br/>
			<input id='<%=prefix%>create_change_hierarchy_subject' class="create_note_inputs create_change_hierarchy_inputs"><br/>
			Body<br/>
			<textarea id='<%=prefix%>create_change_hierarchy_body' class="create_note_inputs create_change_hierarchy_inputs"></textarea><br>
			-->

			<div id="<%=prefix%>create_change_hierarchy_submit_container" class="submit_container">
				<button tabindex="305" id="<%=prefix%>create_change_hierarchy" note_type="create_change_hierarchy" class="create_note_submit <%=prefix%>note_submit_data">submit</button>
			</div>

			<div style="clear: both;"></div>
		</div>
		
		<div id="<%=prefix%>create_note_change_prop_value" class="<%=prefix%>note_options_action note_options">
	
			<div id="<%=prefix%>create_change_prop_value_float" class="note_options_float">
				<input type="hidden" id="<%=prefix%>create_change_prop_value_appliesTo" value="<%= applies_to rescue "" %>" class="create_change_prop_value_inputs">
				<input type="hidden" id="<%=prefix%>create_change_prop_value_appliesToType" value="<%= applies_to_type rescue "" %>" class="create_change_prop_value_inputs">
				<input type="hidden" id="<%=prefix%>create_change_prop_value_noteType" value="ProposalForChangePropertyValue" class="create_change_prop_value_inputs">
				<input type="hidden" id="<%=prefix%>create_change_prop_value_author" value="<%= session[:user].id %>" class="create_change_prop_value_inputs">
				
				New property value <span class="required">*</span> <span id="<%=prefix%>newPropertyValue_error" class="error_input"></span><br/>
				<input tabindex="401" type="text" id="<%=prefix%>newPropertyValue" class="create_note_inputs create_change_prop_value_inputs"><br/>
				Property id <span class="required">*</span> <span id="<%=prefix%>propertyId_error" class="error_input"></span><br/>
				<input tabindex="402" type="text" id="<%=prefix%>propertyId" class="create_note_inputs create_change_prop_value_inputs"><br/>
				Old property value<br/>
				<input tabindex="403" type="text" id="<%=prefix%>oldPropertyValue" class="create_note_inputs create_change_prop_value_inputs"><br/>
				Contact information (publically visible)<br/>
				<input tabindex="404" type="text" id="<%=prefix%>create_change_prop_value_contactInfo" class="create_note_inputs create_change_prop_value_inputs"><br/>
				<div class="add_note_legend">* required</div>
			</div>
			<h2>Change Property Value</h2>
			
			Reason for change <span class="required">*</span> <span id="<%=prefix%>create_change_prop_value_reasonForChange_error" class="error_input"></span><br/>
			<textarea tabindex="400" id="<%=prefix%>create_change_prop_value_reasonForChange" class="create_note_inputs create_change_prop_value_inputs"></textarea><br/>
			<!--
			Subject<br/>
			<input id='<%=prefix%>create_change_prop_value_subject' class="create_note_inputs create_change_prop_value_inputs"><br/>
			Body<br/>
			<textarea id='<%=prefix%>create_change_prop_value_body' class="create_note_inputs create_change_prop_value_inputs"></textarea><br>
			-->
			
			<div id="<%=prefix%>create_change_prop_value_submit_container" class="submit_container">
				<button tabindex="405" id="<%=prefix%>create_change_prop_value" note_type="create_change_prop_value" class="create_note_submit <%=prefix%>note_submit_data">submit</button>
			</div>

			<div style="clear: both;"></div>
		</div>
	</div>
</div>

<% end %> <!-- end check for logged in user -->