
<%
	# Check to see if we have notes, if not then try to get them
	if @notes.nil? && @concept && @ontology
	  @notes = DataAccess.getNotesForConcept(@ontology.ontologyId, @concept.fullId_proper, false, true) rescue nil
	  @note_link = "/notes/virtual/#{@ontology.ontologyId}/?noteid="
	  @context = "concept"
	end

    @semi_uuid = (1000 * Time.now.to_f).to_i
	note_colspan = (@context && @context.eql?("concept")) ? "4" : "5"
%>

<link rel="stylesheet" type="text/css" href="/javascripts/JqueryPlugins/superfish/superfish.css" media="screen">
<script src="/javascripts/JqueryPlugins/superfish/superfish.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	
// Load external JS files
if (typeof BP_NOTES_LIST_LOADED == 'undefined') jQuery.getScript("/javascripts/bp_notes_list.js");

// Global data
var oTable = null;	
var target = <%= (@context && @context.eql?("concept")) ? "{ 'bVisible': false }" : "null" %>;

// Data needed in the external JS file stored in the body 'cache'
<% if @concept %>
	jQuery.data(document.body, "node_id", "<%=@concept.id%>");
<% end %>
jQuery.data(document.body, "note_colspan", "<%=note_colspan%>");
jQuery.data(document.body, "ontology_id", "<%=@ontology.ontologyId%>");
jQuery.data(document.body, "semi_uuid", "<%=@semi_uuid%>");

// This will wire up a table with the dataTables config.
// Needs to stay inline because IE won't recognize it in an external file.
function wireTable(oTableNew) {
	// Wire up table if it hasn't been done yet
	oTable = oTableNew.dataTable({
		"iDisplayLength": 50,
		"sPaginationType": "full_numbers",
		"aaSorting": [[5, 'desc']],
		"aoColumns": [
			 { "iDataSort": 1 }, // Subject link
			 { "bVisible": false }, // Subject for sort
       		 { "bVisible": false }, // Archived for filter
			 null, // Author
			 null, // Type
			 target, // Target
			 null // Created
		],
		"fnDrawCallback": function(){
			jQuery(".highlighted_row").removeClass("highlighted_row");
		},
		"fnInitComplete": function(){
		}
	});
	
	// Important! Table is somehow getting set to zero width. Reset here.$
	jQuery(oTable).css("width", "100%");
	
  oTable.fnFilter('false', 2);
}

jQuery(document).ready(function(){
	var tempTable = jQuery("#" + jQuery.data(document.body, "semi_uuid") + "_notes_list");
	wireTable(tempTable);
	
  jQuery('#filter_menu').superfish({
    delay: 1200,              // 1.2 second delay on mouseout);
    dropShadows: false,
    speed: 'fast'
  });
  
  jQuery("#hide_archived").click(function(){
    hideOrUnhideArchivedNotes();
  });
});

function hideOrUnhideArchivedNotes() {
    if (jQuery("#hide_archived:checked").val() !== undefined) {
      // Checked
      oTable.fnFilter('false', 2);
    } else {
      // Unchecked
      oTable.fnFilter('', 2, true, false);
    }
}

</script>


<div class="notes_list_container">

	<% unless @notes_for.nil? %>
		<h1>Notes for <%=link_to @notes_for, @notes_for_link %></h1>
	<% end %>
	
	<div class="notes_table_container">
    <div style="margin: auto 35% -2.5em; padding-top: 3em; text-align: center; width: 100px;">
      <ul id="filter_menu" class="sf-menu sf-vertical" style="float: none !important;">
        <li style="float: none !important;">
          <a href="javascript:void(0);" style="white-space: nowrap; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); text-decoration: underline; padding: 0px;">Filtering Options »</a>
          <ul style="text-align: left;">
            <li style="left: 110px; padding: 10px; margin-top: -43px;">
              <input type="checkbox" checked="true" id="hide_archived" name="hide_archived" /><label for="hide_archived"> Hide Archived</label>
            </li>
          </ul>
        </li>
      </ul>
    </div>

		<table id="<%=@semi_uuid%>_notes_list" class="zebra notes_list_table" width="100%" style="width: 100%;">
			<thead>
				<tr>
					<th>
						Subject
					</th>
					<th>
						Subject Sort
					</th>
					<th>
					  Archive Sort
					</th>
					<th>
						Author
					</th>
					<th>
						Type
					</th>
					<th>
						Target
					</th>
					<th>
						Created
					</th>
				</tr>
			</thead>
			<tbody id="<%=@semi_uuid%>_notes_list_body">
				<% if @notes.nil? || @notes.empty? %>
					<tr id="no_notes">
						<td>No notes to display</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				<% else %>
					<% @notes.each do |note| %>
						<tr id="<%=note.id%>_tr">
							<td>
								<%= link_to note.subject, "#{@note_link}#{note.id}", :id => "row_#{note.id}", :class => "notes_list_link" %>
								&nbsp;&nbsp;&nbsp;<span id="<%=note.id%>_row_archived" style="font-size: x-small; color: grey;"><%if note.archived.eql?("true")%>archived<%end%></span>
							</td>
							<td>
								<%= note.subject %>
							</td>
							<td>
							  <%= note.archived %>
						  </td>
							<td>
								<%= get_username(note.author) %>
							</td>
							<td>
								<%= get_note_type_text(note.type) %>
							</td>
							<td>
								<%= get_applies_to_link note.createdInOntologyVersion, note.appliesTo['type'], note.appliesTo['id'] %> (<%= note.appliesTo['type'] %>)
							</td>
							<td>
								<%= time_formatted_from_java(note.created) %>
							</td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
		
	<% applies_to = @concept ? @concept.fullId_proper : @ontology.ontologyId %>
	<% applies_to_type = @concept ? "Class" : "Ontology" %>
	<%= render :partial => 'notes/add', :locals => { :applies_to => applies_to, :applies_to_type => applies_to_type } %>

</div>

<div style="display: none;">
	<table id="notes_list_table_clone" class="zebra notes_list_table notes_list_table_clone" width="100%">
		<thead>
			<tr>
				<th>
					Subject
				</th>
				<th>
					Subject Sort
				</th>
				<th>
					Author
				</th>
				<th>
					Type
				</th>
				<th>
					Target
				</th>
				<th>
					Created
				</th>
			</tr>
		</thead>
		<tbody id="<%=@semi_uuid%>_notes_list_body">
		</tbody>
	</table>
</div>

