<%= javascript_include_tag "JqueryPlugins/datatables/js/jquery.dataTables.min.js" %>

<%
	# Check to see if we have notes, if not then try to get them
	if @notes.nil? && @concept && @ontology
	  @notes = DataAccess.getNotesForConcept(@ontology.ontologyId, @concept.fullId, false, true) rescue nil
	  @note_link = "/notes/virtual/#{@ontology.ontologyId}/?noteid="
	end
%>

<script type="text/javascript">
	
// Global variable to DataTable
var oTable;	

jQuery(document).ready(function() {
	oTable = jQuery('#notes').dataTable({
		"iDisplayLength": 50,
		"sPaginationType": "full_numbers",
		"aoColumns": [
            null, // Subject
            { "bVisible": false }, // Body
            null, // Author
            null, // Type
            null, // Target
            null // Created
        ]
	});
} );
</script>

<style type="text/css">
	#notes_list_container {
		width: 80%;
		padding: 1em;
	}
	#notes {
		margin: 4em 0 0;
	}
	#notes_length {
		float: left;
		padding: 1em 0;
		position: absolute;
	}
	#notes_filter {
		float: right;
		padding: 1em 0;
	}
	#notes_filter input {
		width: 300px;
	}
	#notes_info {
		text-align: center;
		padding: .5em;
	}
	#notes_paginate {
		text-align: center;
	}
	#notes_paginate .paginate_button {
		text-decoration: underline;
		cursor: pointer;
		padding: 0 .5em;
	}
	#notes_paginate .paginate_button:hover {
		text-decoration: none;
	}
	#notes_previous, #notes_previous, #notes_next, #notes_last {
		padding: 0 .5em;
	}
	.paginate_active {
		font-weight: bold;
	}
	
</style>

<div id="notes_list_container">

	<% unless @notes_for.nil? %>
		<h1>Notes for <%=link_to @notes_for, @notes_for_link %></h1>
	<% end %>

	<table id="notes" class="zebra" width="100%">
		<thead>
			<tr>
				<th>
					Subject
				</th>
				<th>
					Body
				</th>
				<th>
					Author
				</th>
				<th>
					Type
				</th>
				<th>
					Target
				</th>
				<th>
					Created
				</th>
			</tr>
		</thead>
		<tbody id="notes_list_body">
			<% if @notes.nil? %>
				<tr id="no_notes">
					<td>No notes to display</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			<% else %>
				<% @notes.each do |note| %>
					<tr>
						<td>
							<%= link_to note.subject, "#{@note_link}#{note.id}" %>
						</td>
						<td>
							<%= note.body %>
						</td>
						<td>
							<%= get_username(note.author) %>
						</td>
						<td>
							<%= note.type %>
						</td>
						<td>
							<%= get_applies_to_link note.createdInOntologyVersion, note.appliesTo['type'], note.appliesTo['id'] %> (<%= note.appliesTo['type'] %>)
						</td>
						<td>
							<%= note.created %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	
	<% applies_to = @concept ? @concept.fullId : @ontology.ontologyId %>
	<% applies_to_type = @concept ? "Class" : "Ontology" %>
	<%= render :partial => 'notes/add', :locals => { :applies_to => applies_to, :applies_to_type => applies_to_type } %>

</div>

