<style type="text/css">
	.note_title {
		font-size: 16pt;
	}
	.note_status {
		padding: 0 0 1em;
	}
	.status, .note_author {
		font-weight: bold;
		color: #646464;
	}
	.note_body {
		font-size: 12pt;
	}
	
	/* Extra information (proposals) */
	.proposal_info {
		border-bottom: 1px solid darkGray;
		border-left: 1px solid darkGray;
		border-right: 1px solid darkGray;
		margin: 0 1em;
		padding: .7em 1em 0.5em;
	}
	
	.proposal {
		width: 90%;
	}
	
	.proposal th, .proposal td, .proposal tr {
		border: none !important;
		background-color: inherit !important;
	}

	.proposal th, .proposal td, .proposal tr {
		padding: .25em;
		vertical-align: top;
	}
	
	.proposal th {
		color: darkGray !important;
		font-weight: bold;
		text-align: right !important;
		width: 15%;
	}
	
	.proposal_root {
		background-color: #F2F8FF;
		margin: -0.7em 0 0.5em;
		padding: 0.5em;
	}
	
	/* Reply box */
	.spacer {
		padding: .8em 0 0 0;
		margin-left: .8em;
		border-left: dotted thin lightGrey;
	}
	.create_reply {
		padding: 0.5em 0.5em 1em 0.8em;
	}
	.reply_compose {
		width: 770px;
		padding: 1em;
		display: none;
	}
	
	/* Responses */
	.collapsible {
		border-left: dotted thin lightGrey;
		margin-left: .8em;
	}
	.note_corner {
		border-bottom: dotted thin lightGrey;
		bottom: .8em;
		float: left;
		margin-bottom: -3em;
		position: relative;
		right: 1.5em;
		width: 1.5em;
	}
	.response_container {
		border-left: thin dotted lightGrey;
		margin-left: .8em;
		padding-left: 1.5em;
	}
	.response {
		/*padding: .8em 0 0 0;*/
	}
	.response_children .response {
	}
	.response_head {
		border-top: dotted thin lightGrey;
		border-right: dotted thin lightGrey;
		border-left: dotted thin lightGrey;
		box-shadow: -1px 2px 5px grey;
		-moz-box-shadow: -1px 2px 5px grey;
		-webkit-box-shadow: -1px 2px 5px grey;
		background: #eeeeee;
		padding: .4em .5em;
		font-size: 9pt;
		color: #646464;
		cursor: pointer;
	}
	.response_count {
		float: right;
		font-style: italic;
	}
	.response .collapsed {
		border-bottom: dotted thin lightGrey;
	}
	.response_collapse {
	}
	.response_head a {
		color: #646464;
	}
	.response_head a:hover {
		color: #000000;
		background: #a9a9a9;
	}
	.response_title {
		font-weight: bold;
		font-size: 12pt;
	}
	.response_author {
	}
	.response_date {
	}
	.response_body {
		padding: 1em 1em 0;
		font-size: 10pt;
	}
	.responses_head {
		margin-bottom: 1em;
	}
	.create_reply_container {
		padding: .5em .3em;
	}
	.reply_form_container {
		background-color: #F5FAFA;
		padding: 10px;
		width: 770px;		
	}
	.cancel_reply {
		float: right;
		padding-top: 10px;
	}
	
	.divider {
		border-top: solid medium lightGrey;
		width: 100%;
		margin-top: 1em;
	}
	
	.section_head {
		font-size: 160%;
		margin-bottom: 1em;
	}
	
	#top_level_reply {
		margin-top: 1em;
	}
</style>

<script type="text/javascript">
// Cache object to hold the html for the form
var cache;

jQuery(document).ready(function(){
	// Get the cached form for use and prep after clicking 'reply' in a thread
    jQuery(".create_reply").live('click', function() {
		var note_id = jQuery(this).parents(".response").attr('id').substring(5);
		var replyDiv = "#" + jQuery(this).parents(".response").attr('id') + "_reply";
		
		// Hide all reply containers, show all reply links
		jQuery(".reply_form_container").each(function() {
			jQuery(this).html("");
			jQuery(this).parent().hide();
			jQuery(".create_reply_container").show();
		});
		
		// Place HTML from the cache object into the proper spot in the thread
		jQuery(this).parent().hide();
		jQuery("#reply_" + jQuery(this).attr("note_id")).html(cache.reply_form);
		jQuery(replyDiv).show();
		
		// Reset values for our position in the thread
		jQuery("#thread_create_comment_appliesTo").val(note_id);
		jQuery("#thread_create_new_term_appliesTo").val(note_id);
		jQuery("#thread_create_change_hierarchy_appliesTo").val(note_id);
		jQuery("#thread_create_change_prop_value_appliesTo").val(note_id);
		jQuery(".thread_note_submit_data").data("prefix", "thread_");
		jQuery(".thread_note_submit_data").data("action", "thread");
		jQuery(".thread_note_submit_data").data("ont_id", "<%= @notes.ontologyId %>");
    });
	
	jQuery(".cancel_reply").live('click', function() {
		jQuery("#" + jQuery(this).attr("note_id") + "_reply_link").show();
		jQuery(this).parent().hide();
	});
	
	jQuery(".response_head").live('click', function() {
		var collapse = "#" + jQuery(this).parent().attr('id') + "_collapse";
		jQuery(collapse).slideToggle();
		jQuery(this).toggleClass("collapsed");
	});

	// Hide all
	jQuery(".hide_all_responses").live('click', function(){
		var note_id = jQuery(this).parents(".data_div").attr("id");
		jQuery(".collapsible." + note_id).hide();
	});
	
	// Show all
	jQuery(".show_all_responses").live('click', function(){
		var note_id = jQuery(this).parents(".data_div").attr("id");
		jQuery(".collapsible." + note_id).show();
	});
});

</script>

<% if @notes.nil? %>

	No notes to display.

<% else %>

<div id="<%= @notes.id %>" class="data_div">
	<div id="<%= @notes.id %>_head" class="note_head">
		<div id="<%= @notes.id %>_title" class="note_title">
			<%= @notes.subject %>
		</div>
		
		<div id="<%= @notes.id %>_status" class="note_status">
			<!-- Status: <span id="status"><% "TODO: Status" %></span><br/> -->
			<%= get_note_type_text(@notes.type) %> submitted by <span id="<%= @notes.id %>_author" class="note_author"><%= get_username(@notes.author) %></span> <%= time_ago_in_words(Time.at(convert_java_time(@notes.created.to_i))) %> ago
			on <%= get_applies_to_link @notes.createdInOntologyVersion, @notes.appliesTo['type'], @notes.appliesTo['id'] %> <%="in <a href='/ontologies/#{@ontology.id}'>#{@ontology.displayLabel}</a>" if @ontology%>
		</div>
	</div>
	
	<% proposal_info = proposal_html(@notes) %>
	
	<div class="proposal_root" <%= "style='display: none;'" if proposal_info.nil? or proposal_info.empty? %>>
		<%= proposal_info %>
	</div>
	
	<div id="<%= @notes.id %>_body" class="note_body">
		<%= @notes.body %>
	</div>
		
	<div class="divider">&nbsp;</div>
	
	<% unless @notes.associated.nil? || @notes.associated.empty? %>
		<div id="<%= @notes.id %>_responses_container" class="responses_container">
			<div id="<%= @notes.id %>_responses_head" class="responses_head">
				<span class="section_head"><%= @notes_thread_title %></span> &nbsp;&nbsp;<span style="font-size: 80%;"> <a id="<%= @notes.id %>_hide_all_responses" class="hide_all_responses" href="javascript:void(0)">hide all</a> | <a id="<%= @notes.id %>_show_all_responses" class="show_all_responses" href="javascript:void(0)">show all</a></span>
			</div>
			<%= generate_notes_thread(@notes.associated, :root_id => @notes.id) %>
		</div> 
	<% else %>
		<div id="responses_container" style="display: none;">
			<div id="responses_head">
				<span class="section_head"><%= @notes_thread_title %></span> &nbsp;&nbsp;<span style="font-size: 80%;"> <a id="<%= @notes.id %>_hide_all_responses" class="hide_all_responses" href="javascript:void(0)">hide all</a> | <a id="<%= @notes.id %>_show_all_responses" class="show_all_responses" href="javascript:void(0)">show all</a></span>
			</div>
		</div> 
	<% end %>
	
	<div id="top_level_reply">
		<% applies_to = @notes.id %>
		<% applies_to_type = "Note" %>
		<%= render :partial => 'add', :locals => { :applies_to => applies_to, :applies_to_type => applies_to_type, :action => 'thread_root', :add_text => "Add Reply" } %>
	</div>
	
	<div style="display: none;">
		<div id="<%= @notes.id %>_hidden_form">
			<%= render :partial => 'add', :locals => { :applies_to => applies_to, :applies_to_type => applies_to_type, :exclude_js => true, :action => 'thread', :add_text => "Add Reply" } %>
		</div>
		<script type="text/javascript">
			// Tricky. We're going to use the div hidden_form to get the html for a form we use later. 
			if (typeof cache.reply_form === 'undefined') {
				cache.reply_form = jQuery("#<%= @notes.id %>_hidden_form").html();
			}
			// Always remove the extra form
			jQuery("#<%= @notes.id %>_hidden_form").html("");
		</script>
	</div>
</div>

<% end %>