- schemes_labels,main_scheme_label = get_schemes_labels(@schemes, @submission_latest.URI)
- selected_scheme_id = params[:schemeid]
- main_scheme_active_class = selected_scheme_id.nil? || selected_scheme_id.empty? || selected_scheme_id.eql?(main_scheme_label["@id"]) ? "active" : nil
- if schemes_labels.empty?
  %div
    no schemes detected
- else
  %ul.ncboTree
    %li.root
      %ul
        %li.line
          &nbsp
        %li
          - if @submission_latest.URI.nil? || @submission_latest.URI.empty?
            %div.alert.alert-warning.mx-2.text-wrap
              no main scheme defined in the attribute URI
          - elsif !schemes_labels.nil? && !main_scheme_label.nil?
            %a.text.font-weight-bold{id: main_scheme_label["@id"],
             href: "/ontologies/#{@ontology.acronym}/schemes/show_scheme?id=#{escape(main_scheme_label["@id"])}",
             data: { turbo: "true", 'turbo-frame': 'scheme'},
             class: main_scheme_active_class}
              = get_scheme_label(main_scheme_label)
          %ul
            - schemes_labels.sort_by{|s| [s["prefLabel"]]}.each do  |s|
              - if main_scheme_label.nil? || s["prefLabel"] != main_scheme_label["prefLabel"]
                %li.doc
                  %a.text{id: s["@id"], href: "/ontologies/#{@ontology.acronym}/schemes/show_scheme?id=#{escape(s["@id"])}",
                  data: { turbo: "true", 'turbo-frame': 'scheme'},
                  class: main_scheme_active_class.nil? && selected_scheme_id.eql?(s["@id"]) ? "active" : nil }
                    = get_scheme_label(s)