.d-flex.justify-content-center.m-4
  .card-message-card
    .d-flex.justify-content-center.mb-4
      %img{:src => "#{asset_path(icon)}"}/
    - if no_title?
      %p.card-message-text
        = @message
    - else
      %h2.card-message-title
        = @title
      %p.card-message-text.card-message-has-title
        = @message
    - unless no_button?
      - case @type
      - when "success"
        %a.card-message-button.card-message-button-success{:href => @button_link}
          = @button_text
      - when "failure"
        %a.card-message-button.card-message-button-failure{:href => @button_link}
          = @button_text
