%div.px-3.py-3.pt-md-5.pb-md-4.text-center
  %h1.display-4 
    Ontology Visits
  %p.lead (#{@analytics.date.strftime("%B %Y")})

%div.container.pb-3.pb-md-4
  %div.table-responsive
    %table.table.table-hover
      %thead.thead-light
        %tr 
          %th #
          %th name
          %th # visits
      %tbody
        - count = 0
        - @analytics.onts.each do |visits|
          - ont = @ontologies_hash[visits[:ont].to_s]
          - next if ont.nil?
          - count += 1
          %tr
            %td
              #{count}
            %td
              = link_to("#{ont.name} (#{ont.acronym})", ontology_path(ont.acronym))
            %td
              = number_with_delimiter(visits[:views])
