<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Name: <%=@name%>      
    </p>
    <p>
      Email: <%=@email%>
    </p>
    <p>
      Location: <%=@location%>
    </p>
    <p>Tags: </p>
    <ul>
      <% for tag in @tags %>
        <li> <%=tag %> </li>
      <% end %>
    </ul>
    <p>
      <br /><strong>Feedback:</strong>
      <%=simple_format(@comment)%>
    </p>
  </body>
</html>
