- @title = "Administration"

%div.row
  %div.col
    %h3.my-4 Administration Console

%div.row
  %div.col-2
    %div#progress_message{:class => "alert-box progress_box"}
    %div#success_message{:class => "alert-box success"}
    %div#error_message{:class => "alert-box error"}
    %div#info_message{:class => "alert-box notice"}

%div.row
  %div.col
    - sections = ['Site Administration','Ontology Administration',  'Licensing', 'Users', 'Metadata Administration', 'Groups', 'Categories', 'Persons & Organizations']
    = render TabsContainerComponent.new do |t|
      - sections.each do |section_title|
        - t.item(title: section_title,
                     path: '',
                     selected: section_title.eql?(sections.first),
                     page_name: '')
      - t.item_content do
        %div#site-admin-clear-caches.my-5
          %div.site-admin-page-header
            CACHE MANAGEMENT
          %dive.site-admin-page-section
            = link_to("Flush UI cache", "#", id: "flush_memcache_action", class: "btn btn-outline-secondary btn-sm admin-action-item",  role: "button")
            = link_to("Reset UI cache connection", "#", id: "reset_memcache_connection_action", class: "btn btn-outline-secondary btn-sm admin-action-item",  role: "button")
            = link_to("Flush GOO cache", "#", id: "flush_goo_cache_action", class: "btn btn-outline-secondary btn-sm admin-action-item",  role: "button")
            = link_to("Flush HTTP cache", "#", id: "flush_http_cache_action", class: "btn btn-outline-secondary btn-sm",  role: "button")

        %div#site-admin-update-check.mb-5
          %div.site-admin-page-header
            VERSION MANAGEMENT
          %dive.site-admin-page-section
            = link_to("Check for updates", "#", id: "update_check_action", class: "btn btn-outline-secondary btn-sm",  role: "button")

        %div#site-admin-appliance-id.mb-5
          %div.site-admin-page-header
            APPLIANCE ID
          %dive.site-admin-page-section
            %div#appliance-id
              %span

        %div#site-admin-clear-caches.my-5
          %div.site-admin-page-header
            MONITORING LINKS
          %dive.site-admin-page-section
            = link_to("Newrelic", "https://login.newrelic.com/login", target: '_blank', id: "newrelic_link", class: "btn btn-outline-secondary btn-sm admin-action-item",  role: "button")
            = link_to("StatusCake", "https://app.statuscake.com/Login", target: '_blank', id: "statuscake_link", class: "btn btn-outline-secondary btn-sm admin-action-item",  role: "button")
      - t.item_content do
        %div.ontologies_list_container.mt-3
          %table{:style => "float:left;"}
            %tr
              %td{:style => "white-space:nowrap;"}
                Report generated on:&nbsp;&nbsp;
                %span.report_date_generated
                %a#refresh_report_action{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style => "margin-left:11px;"}
                  %span.ui-button-text{:class => "report_date_generated_button"}
          %p.tab_description{:style => "clear:both;"}
          %table#adminOntologies.zebra{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
      - t.item_content do

        %div#renew-license-notice

        %table.table.table-sm.table-bordered.mt-5#license-table
          %thead
            %tr
              %th{scope: "col"} Licensed to
              %th{scope: "col"} Appliance ID
              %th{scope: "col"} Valid till
              %th{scope: "col"} Days remaining
          %tbody

        %div.mb-5#renew-license-button
          = link_to("Renew license", new_admin_license_path, class: "btn btn-primary", role: "button", remote: "true")

        %div.mb-5#renew-license-form
      - t.item_content do
        %div.ontologies_list_container.mt-3
          %table#adminUsers.zebra{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
      - t.item_content do
        = render partial: 'ontologies_metadata_curator/metadata_tab'
      - t.item_content do
        %div.ontologies_list_container.mt-3
          %table#adminGroups.zebra{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
      - t.item_content do
        %div.ontologies_list_container.mt-3
          %table#adminCategories.zebra{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
      - t.item_content do
        %div.ontologies_list_container.mt-3
          = render TurboFrameComponent.new(id: 'agents-list', src: '/agents', loading: 'lazy')

