<!-- this is just a quick way to do proposals for the demo -->

<div id="original" style="float:left;width:330px;">
<fieldset>
	<legend>Current Value</legend>
<span id="oldValue"><%=@old_value%></span>
</fieldset>

</div>

<div style="float:right;">


<div id ="notes">
<%=draw_note_tree(@margin_notes)%>
</div>

<div id="form" style="display:none;clear:both;">
<div id="proposalForm" name="forms">
<%= form_for(:margin_note, :url => margin_notes_path, :update => "notes", :complete => "document.getElementById('form').style.display='none';document.getElementById('buttons').style.display='';", :remote => true) do |f| %>
	<%=hidden_field 'margin_note', 'concept_id'%>
	<%unless @ontology.nil?%>
	<%=hidden_field 'margin_note', 'ontology_id', :value=>@ontology.name%>
	<%end%>
	<%=hidden_field 'margin_note', 'mapping_id'%>
	<%=hidden_field 'margin_note', 'property_name'%>
<br>

<fieldset>
	<legend>New Proposal</legend>
<table width="450px">
	<tr>
		<td align="right">Note Type:</td>
		<td><%=
                options = MarginNote::NOTE_TYPES                       
                select('margin_note','note_type',options.invert)
                %></td>
	</tr>
	
	<tr>
		<td align="right">Subject:</td><td><%=text_field 'margin_note', 'subject',:size=>70,:id=>'subject'%></td>
	<tr>
		<td valign="top"  align="right">Proposed Value:</td><td><%=text_area 'margin_note', 'comment',:rows=>15,:cols=>70, :id=>'comment'%></td>
	</tr>
	<tr>
		<td valign="top"  align="right">Explanation:</td><td><%=text_area_tag 'explanation',"",{:rows=>15,:cols=>70}%></td>
	</tr>
 	<tr>
		<td colspan="2" align="right"><%= submit_tag "Save" ,:class =>"blueButton"%> <%if @modal%><input type="button" value="Close" onclick="Dialog.cancelCallback()" class='blueButton'><%end%></td>
</table>
</fieldset>
</div>
<%end%>

<div id="commentForm" name="forms">
	<%= form_for(:margin_note, :url => margin_notes_path, :update => "notes", :complete => "document.getElementById('form').style.display='none';document.getElementById('buttons').style.display='';", :remote => true) do |f| %>
	<%=hidden_field 'margin_note', 'concept_id'%>
	<%unless @ontology.nil?%>
	<%=hidden_field 'margin_note', 'ontology_id', :value=>@ontology.id%>
	<%end%>
	<%=hidden_field 'margin_note', 'mapping_id'%>
	<%=hidden_field 'margin_note', 'parent_id', :id=>'noteParent'%>
	<%=hidden_field 'margin_note', 'property_name'%>
<br>
<fieldset>
	<legend>New Note</legend>
<table width="450px">
	<tr>
		<td align="right">Note Type:</td>
		<td><%=
                options = MarginNote::NOTE_TYPES                       
                select('margin_note','note_type',options.invert)
                %></td>
	</tr>
	
	<tr>
		<td align="right">Subject:</td><td><%=text_field 'margin_note', 'subject',:size=>70%></td>
	<tr>
		<td valign="top"  align="right">Note:</td><td><%=text_area 'margin_note', 'comment',:rows=>15,:cols=>70%></td>
	</tr>
 	<tr>
		<td colspan="2" align="right"><%= submit_tag "Save" ,:class =>"blueButton"%> <%if @modal%><input type="button" value="Close" onclick="Dialog.cancelCallback()" class='blueButton'><%end%></td>
</table>
</fieldset>
</div>
<% end %>
</div>
<div id="buttons" style="clear:both;">
<input type="button" class ="blueButton" value="New Proposal" onclick ="newProposal('<%="#{@old_value}" %>');toggleHide('proposalForm','forms');toggleHide('form','');toggleHide('buttons','');document.getElementById('noteParent').value='';"> 
<%if @modal%><input type="button" value="Close" onclick="Dialog.cancelCallback()" class='blueButton'><%end%>
</div>
</div>


