

<%
uniq = Time.now.to_i
javascripts = "resetNoteForm(#{uniq});"
 unless @concept.nil?
	javascripts << "refreshCache('#{@concept.id}');"
 end

%>

<%# to keep IDs from gettin mixed up%>
<%if @modal%>
<div id="modal_notes">
<%else%>
<div id ="margin_notes">
<%end%>

	<%if @margin_notes.size<1%>	
		<h1>There are currently no notes.</h1>
	<%end%>
<%=draw_note_tree(@margin_notes,uniq)%>
</div>




<div id="buttons" style="clear:both;">
<%if session[:user].nil? %>
	<br>
		<a href="/login?redirect=/visualize/<%=@ontology.to_param%>/?conceptid=<%=@concept.id%>#notes">New Note</a>
<%else%>
<br>
<%if @modal%>
<input title="Add Note" type="button" value="New Note" onclick="jQuery('#modal_form').html(jQuery('#modal_comment').html());"/>  
<div id="modal_form"></div>
<%else%>
<input alt="#TB_inline?height=400&width=600&inlineId=commentForm" title="Add Note" class="thickbox" type="button" value="New Note" />  
<%end%>

<!--	<input type="button" class ="blueButton" value="New Thread" onclick ="buildEditor('<%=uniq%>');toggleHide('form','');toggleHide('buttons','');document.getElementById('noteParent').value='';">  -->
<%end%>
</div>

<div style="display:none;">
<%# need seperate forms for if its a modal window%>
<% if @modal%>
<div id="modal_comment" name="forms">	
<%= form_for(:margin_note, :url => margin_notes_path,:html=>{:onsubmit=>"ajaxForm(this,'#modal_notes',function(){jQuery('#modal_form').html('');});return false;"}) do |f| %>
	<%=hidden_field 'margin_note', 'concept_id'%>
	<%unless @ontology.nil?%>
		<%=hidden_field 'margin_note', 'ontology_version_id', :value=>@ontology.id%>
		<%=hidden_field 'margin_note', 'ontology_id', :value=>@ontology.ontologyId%>
	<%end%>
	<%=hidden_field 'margin_note', 'mapping_id'%>
	<%=hidden_field 'margin_note', 'parent_id', :id=>'m_noteParent'%>
	<%=hidden_field_tag 'key', uniq%>

<fieldset>
	<legend>New Note</legend>
<table class="form">
	<tr>
		<th>Note Type:</th>
		<td class="top"><%=
                options = MarginNote::NOTE_TYPES                       
                select('margin_note','note_type',options.invert,:id=>'note_type')
                %></td>
	</tr>
	<tr>
		<th>Subject:</th><td><%=text_field 'margin_note', 'subject',:size=>70,:id=>"m_note_subject#{uniq}",:maxlength=>100%></td>
	<tr>
		<th>Note:</th><td><%=text_area 'margin_note' ,'comment',:cols=>70,:rows=>10, :id=>"note_comment#{uniq}"%>
			</td>
	</tr>
 	<tr>
		<td colspan="2" align="right">			
				<%= submit_tag "Save" ,:class =>"blueButton"%> | 

				<input class="blueButton" type="button" value="Cancel" onclick="tb_remove()"> 			
	<!--							<input class="blueButton" type="button" value="Cancel" onclick="resetNoteForm(<%="#{uniq}"%>);toggleHide('form','');toggleHide('buttons','');destroyEditor();"> 			-->
			 <%if @modal%>| <input type="button" value="Close" onclick="tb_remove()" class='blueButton'><%end%></td>
</table>
</fieldset>
<% end %>
</div>
<%else%>
<div id="commentForm" name="forms">	
<%= form_for(:margin_note, :url => margin_notes_path,:html=>{:onsubmit=>"ajaxForm(this,'#notes',tb_remove());return false;"}) do |f| %>
	<%=hidden_field 'margin_note', 'concept_id'%>
	<%unless @ontology.nil?%>
		<%=hidden_field 'margin_note', 'ontology_version_id', :value=>@ontology.id%>
		<%=hidden_field 'margin_note', 'ontology_id', :value=>@ontology.ontologyId%>
	<%end%>
	<%=hidden_field 'margin_note', 'mapping_id'%>
	<%=hidden_field 'margin_note', 'parent_id', :id=>'noteParent'%>
	<%=hidden_field_tag 'key', uniq%>

<fieldset>
	<legend>New Note</legend>
<table class="form">
	<tr>
		<th>Note Type:</th>
		<td class="top"><%=
                options = MarginNote::NOTE_TYPES                       
                select('margin_note','note_type',options.invert,:id=>'note_type')
                %></td>
	</tr>
	<tr>
		<th>Subject:</th><td><%=text_field 'margin_note', 'subject',:size=>70,:id=>"note_subject#{uniq}",:maxlength=>100%></td>
	<tr>
		<th>Note:</th><td><%=text_area 'margin_note' ,'comment',:cols=>70,:rows=>10, :id=>"note_comment#{uniq}"%>
			</td>
	</tr>
 	<tr>
		<td colspan="2" align="right">			
				<%= submit_tag "Save" ,:class =>"blueButton"%> | 

				<input class="blueButton" type="button" value="Cancel" onclick="tb_remove()"> 			
	<!--							<input class="blueButton" type="button" value="Cancel" onclick="resetNoteForm(<%="#{uniq}"%>);toggleHide('form','');toggleHide('buttons','');destroyEditor();"> 			-->
			 <%if @modal%>| <input type="button" value="Close" onclick="tb_remove()" class='blueButton'><%end%></td>
</table>
</fieldset>
<% end %>
</div>
<%end%>
</div>

