<div style="padding: 1em;">
  <table class="form">
    <tr>
      <th class="top">First Name:</td><td class="top"><%=@user.firstname%></td>
    </tr>
    <tr>
      <th>Last Name:</td><td><%=@user.lastname%></td>
    </tr>
    <tr>
      <th>Email Address:</td><td><%=@user.email%></td>
    </tr>
    <!--
    <tr>
      <th>Phone Number:</td><td><%=@user.phone%></td>
    </tr>
    -->
    <tr>
      <th>Account Name:</td><td><%=@user.username%></td>
    </tr>
    <!--
    <tr>
      <th>Roles:</td><td><%=@user.roles.join(" | ")%></td>
    </tr>
    -->
    <tr>
      <td colspan="2" style="text-align: right;">
        <a href="/accounts/<%=@user.id%>/edit">Edit Information</a>
      </td>
    </tr>
  </table>

  <br/>
  <span style="font-size: large; font-weight: bold;">API Key<span style="font-weight: normal; padding-left: 1em; font-size: x-small; color: gray;">Your API Key can be used to access the NCBO API (REST) Services</span></span>
  <p style="padding: .5em 0 0 1em;">
    <%=session[:user].apikey%>
  </p>

  <br/>
  <% unless @user_submitted_ontologies.nil? || @user_submitted_ontologies.length == 0 %>
    <h2>Submitted Ontologies<h2>
    <ul style="padding-left: 1em;">
      <% @user_ontologies.each do |ont| %>
        <li><a href="/ontologies/<%=ont.id%>"><%=ont.displayLabel%></a></li>
      <% end %>
    </ul>
  <% end %>

  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery("#edit_custom_ontologies").click(editCustomOntologies);
    });

    function editCustomOntologies() {
      jQuery("#custom_ontologies_picker").css("left", "").css("position", "");
      jQuery("#custom_ontologies").hide();
    }
  </script>


  <h2 style="font-size: large;" id="custom_ontology_set">
    Custom Ontology Set <span style="color: red; font-size: 9pt; vertical-align: top;">New</span>
    <%unless @subdomain_filter[:active]%><span style="font-weight: normal; font-size: 9pt; padding-left: 15px;"><a href="javascript:void(0);" id="edit_custom_ontologies">select ontologies</a></span><%end%>
  </h2>
  <div id="custom_ontologies" class="enable-lists">
    <%if @subdomain_filter[:active]%>
      <p style="padding-left: 7px; font-size: 10pt; margin: -3px 0 7px;">Please visit the main site to modify your Custom Ontology Set.</p>
    <%else%>
      <p style="padding-left: 7px; font-size: 9pt; color: gray; margin: -3px 0 7px;"><b>Customize your <%=$SITE%> display:</b> Pick the ontologies that you want to see and <%=$SITE%> will hide all other ontologies. Note that this feature works only when you are logged in.</p>
      <% if @user_ontologies && !@user_ontologies.empty?%>
        <ul>
          <% @user_ontologies[:virtual_ids].each do |ont| %>
            <li><%=DataAccess.getLatestOntology(ont).displayLabel%> (<%=DataAccess.getLatestOntology(ont).abbreviation%>)</li>
          <% end %>
      </ul>
      <% else %>
        <p style="padding-left: 7px;">You haven't picked any ontologies yet</p>
      <% end %>

      <div id="custom_ontologies_picker" style="left: -9999px; position: absolute;">
        <%form_tag "/accounts/#{@user.id}/custom_ontologies" do -%>
          <%=render :partial => "shared/ontology_picker", :locals => { :custom_ontologies => DataAccess.getOntologyList(true, true), :selected_ontologies => @user_ontologies[:virtual_ids].to_a, :sel_text => "Select Custom Ontologies" }%>
          <%=submit_tag "Save Custom Ontologies", :class => "link_button"%>
        <% end -%>
      </div>
    <%end%>
  </div>
</div>
