<div style="padding: 1em;">
  <table class="form">
    <tr>
      <th class="top">First Name:</td><td class="top"><%=@user.firstname%></td>
    </tr>
    <tr>
      <th>Last Name:</td><td><%=@user.lastname%></td>
    </tr>
    <tr>
      <th>Email Address:</td><td><%=@user.email%></td>
    </tr>
    <tr>
      <th>Phone Number:</td><td><%=@user.phone%></td>
    </tr>
    <tr>
      <th>User Name:</td><td><%=@user.username%></td>
    </tr>
    <!--
    <tr>
      <th>Roles:</td><td><%=@user.roles.join(" | ")%></td>
    </tr>
    -->
    <tr>
      <td colspan="2" style="text-align: right;">
        <a href="/users/<%=@user.id%>/edit">Edit Information</a>
      </td>
    </tr>
  </table>
  
  <br/>
  <span style="font-size: large; font-weight: bold;">API Key<span style="font-weight: normal; padding-left: 1em; font-size: x-small; color: gray;">Your API Key can be used to access the NCBO API (REST) Services</span></span>
  <p style="padding: .5em 0 0 1em;">
    <%=session[:user].apikey%>
  </p>
  
  <br/>
  <% unless @user_ontologies.nil? || @user_ontologies.length == 0 %>
    <h2>Submitted Ontologies<h2>
    <ul style="padding-left: 1em;">
      <% @user_ontologies.each do |ont| %>
        <li><a href="/ontologies/<%=ont.id%>"><%=ont.displayLabel%></a></li>
      <% end %>
    </ul>
  <% end %>

</div>
