%table.form{:width => "70%"}
  %tr
    %th First Name:
    %td.top= text_field :user, :firstName, value: @user.firstname
  %tr
    %th Last Name:
    %td= text_field :user, :lastName, value: @user.lastname
  %tr
    %th Account Name:*
    %td= text_field :user, :username, value: @user.username
  %tr
    %th Email Address:*
    %td= text_field :user, :email, value: @user.email
  %tr
    %th Re-enter Email Address:*
    %td= text_field :user, :email_confirmation, value: @user.email_confirmation
  %tr
    %th Password:*
    %td= password_field :user, :password, :autocomplete => "off"
  %tr
    %th Re-enter Password:*
    %td= password_field :user, :password_confirmation, :autocomplete => "off"
  - if using_captcha?
    %tr
      %th
      %td= recaptcha_tags
  - unless $ANNOUNCE_LIST.nil? || $ANNOUNCE_LIST.empty?
    %tr
      %td{:colspan => "2", :style => "text-align: right;"}
        %div{:style => "float: right; margin-left: 10px; position: relative; top: 5px;"}
          %input#user_register_mail_list{:checked => "checked", :name => "user[register_mail_list]", :type => "checkbox", :value => "1"}/
        %div{:style => "overflow: hidden; line-height: 12px;"}
          %label{:for => "user_register_mail_list"}
            Register for the #{$SITE} announcements email list
            %br/
            %span{:style => "font-size: x-small;"} (approximately two emails per month -- confirmation via email required)
  %tr
    %td{:colspan => "2", :style => "text-align: right;"}= submit_tag "Create"
