<table class="form" width="70%">
	<tr>
		<th>First Name:</th><td class="top"><%=text_field :user, :firstname%></td>
	</tr>
	<tr>
		<th>Last Name:</th><td><%=text_field :user, :lastname%></td>
	</tr>
	<tr>
		<th>Email Address:*</th><td><%=text_field :user, :email%></td>
	</tr>
	<tr>
		<th>Re-enter Email Address:*</th><td><%=text_field :user, :email_confirmation%></td>
	</tr>
	<tr>
		<th>Phone Number:</th><td><%=text_field :user, :phone%></td>
	</tr>
	<tr>
		<th>User Name:*</th><td><%=text_field :user, :username%></td>		
	</tr>
	<tr>
		<th>Password:*</th><td><%=password_field :user, :password%></td>
	</tr>
	<tr>
		<th>Re-enter Password:*</th><td><%=password_field :user, :password_confirmation%></td>
	</tr>
	<style lang="text/css">
		.recaptchatable #recaptcha_image {
			border: 1px solid #C1DAD7 !important;
		}
		.recaptchatable {
			border: 1px solid white !important;
		}
		
	</style>
	<tr>
		<th>Please enter the following text:*</th><td><%= recaptcha_tags :display => { "theme" => "clean" } %></td>
	</tr>
</table>