.d-flex.justify-content-center
  .register-form
    .d-flex.justify-content-between
      %a{:href => "javascript:javascript:history.go(-1)"}
        %img.lost-password-arrowback{:src => "#{asset_path("arrow-back.svg")}"}
      .register-title-container
        %h2.register-title
          = t('register.create_account')
        %hr#register-title-line/
      %div
    .register-double-input
      .register-first-input
        %p.register-input-title
          = t('register.first_name')
          %font{:color => "red"} *
        = text_field :user, :firstName, value: @user.firstName, class: "register-input-short"
      %div
        %p.register-input-title
          = t('register.last_name')
          %font{:color => "red"} *
        = text_field :user, :lastName, value: @user.lastName, class: "register-input-short"
    %p.register-input-title
      = t('register.username')
      %font{:color => "red"} *
    = text_field :user, :username, value: @user.username, class: "register-input-long"
    %p.register-input-title
      ORCID ID
      %font.register-optional 
      = t('register.optional')
    = inline_svg_tag 'orcid.svg', class: 'register-input-icon'
    = text_field :user, :orcidId, value: @user.orcidId, class: "register-input-long register-input-with-icon"
    %p.register-input-title
      Github ID
      %font.register-optional 
      = t('register.optional')
    = inline_svg_tag 'github-icon.svg', class: 'register-input-icon'
    = text_field :user, :githubId, value: @user.githubId, class: "register-input-long register-input-with-icon"
    %p.register-input-title
      = t('register.email')
      %font{:color => "red"} *
    = text_field :user, :email, value: @user.email, class: "register-input-long"
    %p.register-input-title
      = t('register.password')
      %font{:color => "red"} *
    .password-toggle-wrapper.mb-3{data: { controller: "password-toggle" }}
      = password_field :user, :password, class: "register-input-long mb-0"
    %p.register-input-title
      = t('register.confirm_password')
      %font{:color => "red"} *
    .password-toggle-wrapper.mb-3{data: { controller: "password-toggle" }}
      = password_field :user, :password_confirmation, class: "register-input-long mb-0"
    - if using_captcha?
      = recaptcha_tags
    .d-flex
      %input.user_register_checkbox{:checked => "checked", :name => "user[register_mail_list]", :type => "checkbox", :value => "1"}/
      %p#register-check-text 
        = t('register.mailing_list', site: portal_name)
    .d-flex
      %input.user_register_checkbox{:name => "user[terms_and_conditions]", :type => "checkbox"}/
      %p#register-check-text 
        = t('register.accept_terms_and_conditions')
        %a{href: $TERMS_AND_CONDITIONS_LINK, target: '_blank'}
          = t('register.terms_and_conditions', site: portal_name)
        %font{:color => "red"} *
    .register-button-container
      = render Buttons::RegularButtonComponent.new(id: 'register-button', value: "Register", type:'submit')
