<table>
	<tr>
		<td>First Name:</td><td><%=text_field :user, :firstname%></td>
	</tr>
	<tr>
		<td>Last Name:</td><td><%=text_field :user, :lastname%></td>
	</tr>
	<tr>
		<td>Email Address:*</td><td><%=text_field :user, :email%></td>
	</tr>
	<tr>
		<td>Re-enter Email Address:*</td><td><%=text_field :user, :email_confirmation%></td>
	</tr>
	<tr>
		<td>Phone Number:</td><td><%=text_field :user, :phone%></td>
	</tr>
	<tr>
		<td>User Name:*</td><td><%=text_field :user, :username%></td>		
	</tr>
	<tr>
		<td>Password:*</td><td><%=password_field :user, :password%></td>
	</tr>
	<tr>
		<td>Re-enter Password:*</td><td><%=password_field :user, :password_confirmation%></td>
	</tr>
</table>