<table class="form" width="70%">
	<tr>
		<th>First Name:</th><td class="top"><%=text_field :user, :firstname%></td>
	</tr>
	<tr>
		<th>Last Name:</th><td><%=text_field :user, :lastname%></td>
	</tr>
	<tr>
		<th>Email Address:*</th><td><%=text_field :user, :email%></td>
	</tr>
	<tr>
		<th>Re-enter Email Address:*</th><td><%=text_field :user, :email_confirmation%></td>
	</tr>
	<tr>
		<th>Phone Number:</th><td><%=text_field :user, :phone%></td>
	</tr>
	<tr>
		<th>User Name:*</th><td><%=text_field :user, :username%></td>		
	</tr>
	<tr>
		<th>Password:*</th><td><%=password_field :user, :password%></td>
	</tr>
	<tr>
		<th>Re-enter Password:*</th><td><%=password_field :user, :password_confirmation%></td>
	</tr>
  <% f.fields_for :survey do |survey| %>
    <%= survey.hidden_field :survey_completed, :value => "1"%>
    <%= survey.hidden_field :user_id, :value => @user.id%>
    <tr>
      <th><%= survey.label :organization %></th>
      <td><%= survey.text_field :organization %></td>
    </tr>
    <tr>
      <th><%= survey.label :project_name %></th>
      <td><%= survey.text_field :project_name %></td>
    </tr>
    <tr>
      <th><%= survey.label :project_description %></th>
      <td><%= survey.text_area :project_description, :rows => "5" %></td>
    </tr>
    <tr>
      <th>Expected Uses</th>
      <td>
        <table>
          <tr style="border: none;">
            <td style="border: none;">
              <strong>Web Interface</strong>
              <br/>
              <%= survey.check_box :read_access_ui%>
              <%= survey.label :read_access_ui, "Browse Ontologies, Notes, Mappings, and Reviews"%>
              <br/>
              <%= survey.check_box :create_notes_ui%>
              <%= survey.label :create_notes_ui, "Create Notes"%>
              <br/>
              <%= survey.check_box :create_mappings_ui%>
              <%= survey.label :create_mappings_ui, "Create Mappings" %>
              <br/>
              <%= survey.check_box :annotate_ui%>
              <%= survey.label :annotate_ui, "Annotate Text" %>
              <br/>
              <%= survey.check_box :resource_index_ui%>
              <%= survey.label :resource_index_ui, "Search Resources for Terms using Resource Index" %>
            </td>
            <td style="border: none; padding-left: 2em;">
              <strong>API (REST) Access</strong>
              <br/>
              <%= survey.check_box :read_access_rest%>
              <%= survey.label :read_access_rest, "Read Access to Ontologies, Notes, Mappings, and Reviews"%>
              <br/>
              <%= survey.check_box :notes_rest%>
              <%= survey.label :notes_rest, "Create/Edit/Delete Notes"%>
              <br/>
              <%= survey.check_box :mappings_rest%>
              <%= survey.label :mappings_rest, "Create/Edit/Delete Mappings"%>
              <br/>
              <%= survey.check_box :annotate_rest%>
              <%= survey.label :annotate_rest, "Annotate Text"%>
              <br/>
              <%= survey.check_box :resource_index_rest%>
              <%= survey.label :resource_index_rest, "Search Resources for Terms using Resource Index"%>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <th>
        <%= survey.label :ontologies_of_interest, "Which ontologies are<br/>you interested in?"%>
      </th>
      <td>
        <%= survey.text_field :ontologies_of_interest%>
      </td>
    </tr>
  <% end %>
	<% if ENV['USE_RECAPTCHA'] == 'true' %>
		<style lang="text/css">
			.recaptchatable #recaptcha_image {
				border: 1px solid #C1DAD7 !important;
			}
			.recaptchatable {
				border: 1px solid white !important;
			}
			
		</style>
		<tr>
			<%# recaptcha_tags is a method provided by the recaptcha plugin which displays a recaptcha %>
			<th>Please enter the following text:*</th><td><%= recaptcha_tags :display => { "theme" => "clean" } %></td>
		</tr>
	<% end %>
	<tr>
	  <td colspan="2" style="text-align: right;"><%= submit_tag "Create" %></td>
	</tr>
</table>