<table class="form" width="70%">
	<tr>
		<th>First Name:</th><td><%=text_field :user, :firstname%></td>
	</tr>
	<tr>
		<th>Last Name:</th><td><%=text_field :user, :lastname%></td>
	</tr>
	<tr>
		<th>Email Address:*</th><td><%=text_field :user, :email%></td>
	</tr>
	<tr>
		<th>Re-enter Email Address:*</th><td><%=text_field :user, :email_confirmation%></td>
	</tr>
	<tr>
		<th>Phone Number:</th><td><%=text_field :user, :phone%></td>
	</tr>
	<tr>
		<th>User Name:*</th><td><%=text_field :user, :username%></td>		
	</tr>
	<tr>
		<th>Password:*</th><td><%=password_field :user, :password%></td>
	</tr>
	<tr>
		<th>Re-enter Password:*</th><td><%=password_field :user, :password_confirmation%></td>
	</tr>
</table>