.account-page-center
  .account-page-container
    %h3.account-page-title My account
    %hr#account-page-title-line/
    .account-page-sub-container
      .account-page-first-row
        .account-page-card
          .account-page-personal-informations-title-bar
            %h4.account-page-card-title Personal information
            %a.account-page-rounded-button{:href => edit_user_path(url_encode(@user.username))}
              = render partial: "shared/svgs/edit_icon"
          .account-page-info-column
            %p.title First name:
            %p.info
              = @user.firstName
          .account-page-info-column
            %p.title Last name:
            %p.info
              = @user.lastName
          .account-page-info-column
            %p.title Email address:
            %p.info
              = @user.email
          .account-page-info-column
            %p.title Username:
            %p.info
              = @user.username
          .account-page-info-column
            %p.title ORCID ID:
            %p.info
              =@user.orcidId
          .account-page-info-column
            %p.title Github ID:
            %p.info
              =@user.githubId
        .account-page-card
          .account-page-card-container
            .account-page-card-sub-container
              %h4.account-page-card-title Mailing list subscription
              %p.account-page-card-desc AgroPortal announcements email list
            - subscribed = false
            - if subscribed 
              %a.account-page-subscribe-button{:href =>'javascript:window.location.href = "/users/subscribe/" + "'+@user.username+'"'}
                Unsubscribe
            - else
              %a.account-page-subscribe-button{:href => 'mailto:... &subject=... &body=....'}
                Subscribe
        .account-page-card
          .account-page-card-container
            .account-page-card-sub-container
              %h4.account-page-card-title API Key
              %p.account-page-card-desc Your API Key can be used to access the NCBO API (REST) Services
              %p.apikey
                = session[:user].apikey
            %a{:href => "javascript:navigator.clipboard.writeText('"+session[:user].apikey+"');"}
              = render partial: "shared/svgs/copy_icon"
        .account-page-api-documentation-link
          %a{href: "https://data.bioportal.lirmm.fr/documentation", target: "_blank"}
            API documentation
            = render partial: "shared/svgs/external_link_icon"
        .account-page-card
          %h4.account-page-card-title Custom ontology set
          %p.account-page-card-desc Customize your AgroPortal display: Pick the ontologies that you want to see on AgroPortal will hide all other ontologies.
          /here we select the ontologies
          %p.account-page-card-desc Note: This feature works only when you are logged in.
      .account-page-second-row
        - unless @user.subscription.nil? || @user.subscription.empty?
          .account-page-card
            %h4.account-page-card-title Subscriptions
            - @user.subscription.each do |subscription|
              - ont_id = subscription[:ontology]
              - ont = (!subscription[:ontology].nil? ? subscription[:ontology].split('/').last: nil) # ensure we get the acronym
              - type = (!subscription[:notification_type].nil? ? subscription[:notification_type].downcase : nil)
              .account-page-subscription
                %a{:href => "/ontologies/#{ont}?p=notes"}= ont
                %div
                  - if type == "notes"
                    %a.notes{:href => "/ontologies/#{ont}?p=notes"} Notes
                  - else
                    = type
                  = subscribe_button(ont_id)
        - no_ontologies = true
        - unless @admin_ontologies.nil? || @admin_ontologies.empty?
          - no_ontologies = false
          .account-page-card
            %h4.account-page-card-title Submitted ontologies
            - @admin_ontologies.each do |ont|
              .account-page-submitted-ontology
                %a{href: "/ontologies/#{ont.acronym}"}= ont.name
        - unless @user_projects.nil? || @user_projects.empty?
          - no_ontologies = false
          .account-page-card
            %h4.account-page-card-title Projects Created
            - @user_projects.each do |project|
              .account-page-submitted-ontology
                %a{href: "/ontologies/#{ont.acronym}"}= project.name
        - if no_ontologies
          .account-page-card
            .account-page-no-ontology
              %img{:src => "#{asset_path("empty-box.svg")}"}/
              %p You didn't upload any ontology yet
              %a.account-page-upload-ontology-button{href: "/ontologies/new"} Upload ontology

