.account-page-center
  .account-page-container
    %h3.account-page-title My account
    %hr#account-page-title-line/
    .account-page-sub-container
      .account-page-first-row
        .account-page-card
          .account-page-personal-informations-title-bar
            %h4.account-page-card-title Personal Information
            %a.account-page-rounded-button{:href => edit_user_path(url_encode(@user.username))}
              = render partial: "shared/svgs/edit_icon"
          .account-page-info-column
            %p.title First name:
            %p.info
              = @user.firstName
          .account-page-info-column
            %p.title Last name:
            %p.info
              = @user.lastName
          .account-page-info-column
            %p.title Email:
            %p.info
              = @user.email
          .account-page-info-column
            %p.title Username:
            %p.info
              = @user.username
          .account-page-info-column
            %p.title ORCID ID:
            %p.info
              =@user.orcidId
          .account-page-info-column
            %p.title GitHub ID:
            %p.info
              =@user.githubId
        .account-page-card
          .account-page-card-container
            .account-page-card-sub-container
              %h4.account-page-card-title Mailing List Subscription
              %p.account-page-card-desc="Register to the #{portal_name} announcements mailing list."
            - subscribed = false
            - if subscribed 
              %a.account-page-subscribe-button{:href =>"mailto:#{$ANNOUNCE_SERVICE_HOST}?Subject=unsubscribe%20#{$ANNOUNCE_LIST}"}
                Unsubscribe
            - else
              %a.account-page-subscribe-button{:href => "mailto:#{$ANNOUNCE_SERVICE_HOST}?Subject=subscribe%20#{$ANNOUNCE_LIST}%20#{@user.firstName}%20#{@user.lastName}"}
                Subscribe
        .account-page-card
          .account-page-card-container
            .account-page-card-sub-container
              %h4.account-page-card-title API Key
              %p.account-page-card-desc
                = "Your API Key can be used to access #{portal_name} Web services"
              %p.apikey
                = session[:user].apikey
            %a{:href => "javascript:navigator.clipboard.writeText('"+session[:user].apikey+"');"}
              = render partial: "shared/svgs/copy_icon"
        .account-page-api-documentation-link
          %a{href: "#{$REST_URL}/documentation", target: "_blank"}
            API documentation
            = render partial: "shared/svgs/external_link_icon"
        .account-page-card
          %h4.account-page-card-title
            Custom Semantic Resource Set
          #custom_ontologies.enable-lists
            - if at_slice?
              %p{style: "padding-left: 7px; font-size: 10pt; margin: -3px 0 7px;"}
                Please
                %a{href: "#{$UI_URL}/account"} visit the main site
                to modify your Custom Semantic Resource Set.
            - else
              %p.account-page-card-desc
                Customize your #{portal_name} display: Pick the semantic resources that you want to see on #{portal_name} will hide all other semantic resources.
              %p
                %span{style: "font-weight: normal; font-size: 9pt; padding-left: 7px;"}
                  %a#edit_custom_ontologies{href: "javascript:void(0);"} Select semantic resources 
              - if @user_ontologies && !@user_ontologies.empty?
                %ul
                  - @user_ontologies.each do |ont|
                    - ont = LinkedData::Client::Models::Ontology.get(ont)
                    %li
                      #{ont.name} (#{ont.acronym})
              - else
                %p{style: "padding-left: 7px;"} You haven't picked any semantic resources yet
          %p.account-page-card-desc Note: this feature works only when you are logged in.
          #custom_ontologies_picker{style: "left: -9999px; position: absolute;"}
            = form_tag custom_ontologies_path(url_encode(@user.username)) do
              - selected = @user.customOntology.map {|o| LinkedData::Client::Models::Ontology.get(o).acronym}
              - locals = { custom_ontologies: @all_ontologies, selected_ontologies: selected, sel_text: "Select Custom Semantic Resources" }
              = render partial: "shared/ontology_picker", locals: locals
              = submit_tag "Save Custom Semantic Resources", class: "link_button"
      .account-page-second-row
        .account-page-card
          %h4.account-page-card-title Subscriptions
          - if @user.subscription.nil? || @user.subscription.empty?
            Not subscribed to any semantic resource
          - else
            - @user.subscription.each do |subscription|
              - ont_id = subscription[:ontology]
              - ont = (!subscription[:ontology].nil? ? subscription[:ontology].split('/').last: nil) # ensure we get the acronym
              - type = (!subscription[:notification_type].nil? ? subscription[:notification_type].downcase : nil)
              .account-page-subscription
                %a{:href => "/ontologies/#{ont}?p=notes"}= ont
                %div
                  - if type == "notes"
                    %a.notes{:href => "/ontologies/#{ont}?p=notes"} Notes
                  - else
                    = type
                  = subscribe_button(ont_id)
        .account-page-card
          %h4.account-page-card-title Submitted Semantic Resources
          .account-page-small-cards-container
            - if @admin_ontologies.nil? || @admin_ontologies.empty?
              .account-page-no-ontology.w-100
                %img{:src => "#{asset_path("empty-box.svg")}"}/
                %p You didn't upload any semantic resource yet
                %a.account-page-upload-ontology-button{href: "/ontologies/new"} Upload semantic resource
            - else
              - @admin_ontologies.each do |ont|
                .account-page-submitted-ontology{data: {controller: 'tooltip'}, title: ont.name}
                  %a{href: "/ontologies/#{ont.acronym}"}= ont.acronym
                - unless ont.views.nil? || ont.views.empty?
                  - ont.views.each do |view|
                    .account-page-submitted-ontology{data: {controller: 'tooltip'}, title: ont.name}
                      %a{href: "/ontologies/#{view.match(/\/([^\/]+)$/)[1]}"}= view.match(/\/([^\/]+)$/)[1]

        .account-page-card
          %h4.account-page-card-title Projects Created
          .account-page-small-cards-container
            - if @user_projects.nil? || @user_projects.empty?
              No project created
            - else
              - @user_projects.each do |project|
                .account-page-submitted-ontology
                  %a{href: "/projects/#{project.acronym}"}= project.name

:javascript
  jQuery(document).ready(function(){
    jQuery("#edit_custom_ontologies").click(editCustomOntologies);
  });


  function editCustomOntologies() {
    jQuery("#custom_ontologies_picker").css("left", "").css("position", "");
    jQuery("#custom_ontologies").hide();
  }
