=javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"
=javascript_include_tag "d3pie.min"
=javascript_include_tag "d3.layout.cloud"

- @title = "Landscape"
%div{:style => "padding: 1em;", :align => "center"}
  %h1 Landscape

  %div#naturalLanguagePieChartDiv

  %div#prefLabelPieChartDiv

  %div#cloudChart

  %div
    %h1 Average

    %table.minimal.align-right{width: "30%"}
      %tbody
        %tr
          %td Number of classes:
          %td
            = @metrics_num_classes_average
        %tr
          %td Number of individuals:
          %td
            = @metrics_number_of_individuals
        %tr
          %td Number of properties:
          %td
            = @number_of_properties
        %tr
          %td  Max depth:
          %td
            = @metrics_max_depth
        %tr
          %td Max child count:
          %td
            = @metrics_max_child_count
        %tr
          %td Average child count
          %td
            = @metrics_average_child_count
        %tr
          %td Classes with one child
          %td
            = @metrics_classes_with_one_child
        %tr
          %td Classes with more than 25 children
          %td
            = @metrics_classes_25_children
        %tr
          %td Classes with no definition
          %td
            = @metrics_classes_no_definition

:javascript

  // Get the data to generate the pie chart for naturalLanguages
  var naturalLanguagePieJson = #{@natural_language_json_pie}
  // Get the data to generate the cloud chart for naturalLanguages
  var cloudJson = #{@natural_language_json_cloud}
  // Get the data for the prefLabel pie chart
  var prefLabelPieJson = #{@prefLabelProperty_json_pie}

/ This javascript needs to be called after pieJson and cloudJson have been set
=javascript_include_tag "bp_landscape"
