=javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"
=javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"
=javascript_include_tag "d3pie.min"
=javascript_include_tag "jqcloud-1.0.4.min"
- # Load bootstrap for this page from public/stylesheets
%link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/bootstrap.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/bootstrap-theme.css"}

- @title = "Landscape"
%div{:class => "container theme-showcase", :role => "main", :style => "width: 80%; display: block;", :align => "center"}

  %div{:class => "row"}
    %div{:class => "col-md-3"}
      %h2 Format used
      %canvas#formatCanvas

    %div{:class => "col-md-3"}
      %h2 Ontologies by group
      %canvas#groupsCanvas

  %hr{:style => "margin-top: 5em; margin-bottom: 5em;"}
  %h1 Properties used

  %div{:class => "row"}
    %div#naturalLanguagePieChartDiv{:class => "col-md-6"}
    %div#licensePieChartDiv{:class => "col-md-6"}

  %hr{:style => "margin-top: 5em; margin-bottom: 5em;"}

  %div{:class => "row"}
    %div{:class => "col-md-3"}
      %div#prefLabelPropertyPieChartDiv
    %div{:class => "col-md-3"}
      %div#synonymPropertyPieChartDiv

    %div{:class => "col-md-3"}
      %div#definitionPropertyPieChartDiv

    %div{:class => "col-md-3"}
      %div#authorPropertyPieChartDiv

  %hr{:style => "margin-top: 5em; margin-bottom: 5em;"}

  %h1 Most active people
  %div#peopleCloudChart{:style => "width: 550px; height: 350px; margin-top: 2em;"}

  %h1 Most active organizations
  %div#orgCloudChart{:style => "width: 550px; height: 350px; margin-top: 2em;"}

  %hr{:style => "margin-top: 5em; margin-bottom: 5em;"}
  %div
    %h1 Average metrics

    %table.minimal.align-right{width: "30%", style: "margin-bottom: 3em;"}
      %tbody
        - for metric in @metrics_average
          %tr
            %td
              = metric[:label]
            %td
              = metric[:average]

:javascript
  // Get the data to generate the pie chart for naturalLanguages
  var naturalLanguagePieJson = #{@natural_language_json_pie}
  // Get the data to generate the cloud chart for naturalLanguages
  var peopleCountJsonCloud = #{@people_count_json_cloud}
  var orgCountJsonCloud = #{@org_count_json_cloud}
  // Get the data for the used properties pie charts
  var licensePieJson = #{@licenseProperty_json_pie}
  var prefLabelPieJson = #{@prefLabelProperty_json_pie}
  var synonymPieJson = #{@synonymProperty_json_pie}
  var definitionPieJson = #{@definitionProperty_json_pie}
  var authorPieJson = #{@authorProperty_json_pie}
  var ontologyFormatsChartJson = #{@ontologyFormatsChartJson}
  var groupCountChartJson = #{@groupCountChartJson}


/ This javascript needs to be called after pieJson and cloudJson have been set
=javascript_include_tag "bp_landscape"
