= turbo_frame_tag "metrics_frame" do
  .home-statistics-container
    .home-statistics
      .home-statistics-item
        %hr/
        %div
          %h4
            = format_number_abbreviated(@metrics[:ontologies_count])
          %p= t("home.ontologies")
      .home-statistics-item
        %hr/
        %div
          %h4
            = format_number_abbreviated(@metrics[:class_count])
          %p= t("home.classes")
      .home-statistics-item
        %hr/
        %div
          %h4
            = format_number_abbreviated(@metrics[:individuals_count])
          %p= t("home.individuals")
      .home-statistics-item
        %hr/
        %div
          %h4
            = format_number_abbreviated(@metrics[:properties_count])
          %p= t("home.properties")
      .home-statistics-item
        %hr/
        %div
          %h4
            = format_number_abbreviated(@metrics[:projects_count])
          %p= t("home.projects")
      .home-statistics-item
        %hr/
        %div
          %h4
            = format_number_abbreviated(@metrics[:mappings_count])
          %p= t("home.mappings")
      .home-statistics-item
        %hr/
        %div
          %h4
            = format_number_abbreviated(@metrics[:users_count])
          %p= t("home.users")
      .home-statistics-item
        %hr/
        %div
          %h4
            = format_number_abbreviated(@metrics[:agents_count])
          %p= t("home.agents")
    .home-statistics-link.justify-content-end
      = link_to t("home.see_details"), '/statistics', style: "font-size: 1em;"
