<%@title = "Feedback"%>

<% if params[:pop].eql?("true") %>
  <% pop = true %>
<% end %>

<div style="margin:20px;">
<%= form_tag('/feedback') do%>
<%=
    # Simulate form_for by providing a hidden field to check for submission
    hidden_field_tag 'sim_submit', 'true'
%>

<p style="font-size:14px">
Support is available for Questions, Error reports, Feature requests, Ontology
submissions, etc.
</p>
<p>
Please include the following:
<div class="feedback">
    <ul>
	  <li>Your email, so we can respond.</li>
	  <li>If you are describing an error, details of how the error occurred, including:
	       <ul>
	   		   <li>URL of the page resulting in the error</li>
	           <li>Exact steps to replicate the error</li>
	           <li>Full error message, if any</li>
			</ul>
	  </li>
	</ul>
</div>
</p>
<p>You can use the form below or email us at <a href="mailto:<%=$SUPPORT_EMAIL%>"><%=$SUPPORT_EMAIL%></a></p>

<%unless @errors.nil?%>
<div style="color:red;margin-bottom:1em;">
Errors On Form
<ul>

    <%for error in @errors%>
    <li><%=error%></li>
    <%end%>

</ul>
</div>
<%end%>

<table class="form">
  <input type="hidden" name="pop" id="pop" value="<%=pop%>">
  <%= hidden_field_tag "location", params[:location] %>

  <% if session[:user].nil? %>
    <tr>
      <th class="top">Name:*</th>
      <td class="top"><input type="text" name="name" style="width:180px" value="<%=h(params[:name])%>"></td>
    </tr>
    <tr>
      <th>Email Address:*</th>
      <td><input type="text" name="email" style="width:180px" value="<%=h(params[:email])%>"></td>
    </tr>
  <% else %>
    Hello <b><%=session[:user].username%></b>, please send us your comment below (we'll email you a copy):
    <%= hidden_field_tag "name", session[:user].username %>
    <%= hidden_field_tag "email", session[:user].email %>
  <% end %>

	<tr>
		<th class="top">Comment:*</th>
		<td class="top"><textarea name="comment" cols='60' rows=8><%=h(params[:comment])%></textarea></td>
	</tr>
    <% if ENV['USE_RECAPTCHA'] == 'true' && !session[:user]%>
        <tr>
            <%# recaptcha_tags is a method provided by the recaptcha plugin which displays a recaptcha %>
            <th>Please enter the following text:*</th><td><%= recaptcha_tags :display => { "theme" => "clean" } %></td>
        </tr>
    <% end %>
	<tr>
		<td colspan="2" align="right"><input type="submit" value="Send Feedback"></td>
	</tr>
</table>

<%end%>
</div>
