- @title = t("home.index.title", organization: "#{$ORG_SITE}")

- unless $FRONT_NOTICE.nil? || $FRONT_NOTICE.empty? || cookies[:front_page_notice_closed].eql?("true")
  :javascript
    function close_message(){
    var exdate = new Date();
    exdate.setDate(exdate.getDate() + 7);
    document.cookie="front_page_notice_closed=true; expires="+exdate.toGMTString();
    jQuery("#notice_message").hide();
    }

  %p#notice_message{:style => "padding: 10px; margin: 10px; border:1px solid #EFEFEF; background-color: #F9F9F9;"}
    = $FRONT_NOTICE
    \&nbsp;&nbsp;
    %a{:href => "#", :onclick => "close_message(); return false;", :style => "font-size: small; color: darkGray;"} [close]

.home-header-container
  .home-header-background
  .home-bubbles
    .home-random-bubbles
      %img{:src => asset_path("home-random-bubbles.svg")}/
    .home-bubble.home-bubble-one
      %h5
        = @anal_ont_names[0]
      %p 
        = @anal_ont_numbers[0].to_s + " visits"
    .home-bubble.home-bubble-two
      %h5
        = @anal_ont_names[1]
      %p 
        = @anal_ont_numbers[1].to_s + " visits"
    .home-bubble.home-bubble-three
      %h5
        = @anal_ont_names[2]
      %p 
        = @anal_ont_numbers[2].to_s + " visits"
    %a.home-bubble.home-bubble-four{:href => "/visits"}
      %h5 ...

  .home-header-title-container{'data-controller': "home-search"}
    .home-header-title
      %h4 
        = $WESBITE_TITLE[$UI_THEME]
      %p
        = $WEBSITE_SUB_TITLE[$UI_THEME]
      %input#home-search{:name => "search", :placeholder => "Ex: Agrovoc ...", :type => "text", 'data-home-search-target': 'input', 'data-action': 'input->home-search#search blur->home-search#blur'}
      #home-search-drop-down{'data-home-search-target': 'dropDown', 'data-action': 'mousedown->home-search#prevent'}
        %a.home-search-ontology-content#home-search-ontology-content{href: "#", 'data-home-search-target': 'searchOntologyContent'}
          %p#seached-ontology{'data-home-search-target': 'ontology'}
          %div
            %img{src: asset_path("loop.svg")}/
            %p Search ontology content
        %a.home-search-ontology-content#home-search-ontologies{href: "#", 'data-home-search-target': 'homeSearchOntologies'}
          %p#seached-ontologies{'data-home-search-target': 'searchedOntologies'}
          %div
            %img{src: asset_path("loop.svg")}/
            %p See all ontologies
.home-body-container
  .home-section
    %h4 Wanna upload an ontology?
    %hr.home-section-line/
    %p Uploading an ontology is a way of sharing your domain knowledge with others.
    %p By uploading your ontology to agroportal, you can:
    .home-upload-benifits
      - @upload_benefits.each do |benefit|
        %div
          %img{:src => asset_path("check-outlined.svg")}/
          %p
            = benefit
    - if session[:user].nil?
      %a.home-upload-ontology-button{:href => "/login?redirect=/ontologies/new"}
        = inline_svg_tag "upload.svg", class: "home-upload-icon"
        upload ontology
    - else
      %a.home-upload-ontology-button{:href => "/ontologies/new"}
        = inline_svg_tag "upload.svg", class: "home-upload-icon"
        Upload ontology
  .home-section
    %h4
      = portal_name+" services"
    %hr.home-section-line/
    .home-card
      %form{action: "/annotator_recommender_form", method: "post"}
        %textarea.home-recommendations-and-annotations{rows: "6" , placeholder: "Paste a paragraph of text or some keywords ...", name: "text"}
        %input.d-none{type: "submit", name: "submit_button" ,value: "annotator", id: "annotator_submit"}/
        %input.d-none{type: "submit" , name: "submit_button" ,value: "recommender", id: "recommender_submit"}/
        .home-services-buttons
          .home-get-recommendations{onclick: "submitRecommender()"}
            %p Get recommendations
            = inline_svg_tag "play.svg", class: "home-play-icon"
          .home-services-buttons
            .home-get-annotations{onclick: "submitAnnotator()"}
              %p Get annotations
              %img{:src => asset_path("play-white.svg")}/
  .home-section
    .home-section-sub-sections-container
      .home-sub-section-left
        %h4 FAIR scores
        %hr.home-section-line/
        .home-card.home-fair-scores
          - if fairness_service_enabled?
            %div#fair-home
              = render partial: "shared/fair_score_bars", locals: {data: nil}
          %a{:href => "#fairDetails"}
            %div.home-fair-details
              %p See details
              = inline_svg_tag "arrow-right.svg"
      .home-sub-section-right
        %h4 Twitter news
        %hr.home-section-line
        .home-card.home-twitter-news
          %a.twitter-timeline{"data-height" => "349", "data-width" => "533", :href => "https://twitter.com/lagroportal?ref_src=twsrc%5Etfw"} Tweets by lagroportal
          %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}

  .home-section
    .home-statistics-container
      .home-agroportal-figures
        = inline_svg_tag "ontoportal-icon.svg"
        %p 
          = portal_name+" in figures:"
      .home-statistics
        .home-statistics-item
          %hr/
          %div
            %h4 
              = number_with_delimiter(@ont_count, :delimiter => ",")
            %p Ontologies
        .home-statistics-item
          %hr/
          %div
            %h4
              = number_with_delimiter(@cls_count, :delimiter => ",")
            %p Classes
        .home-statistics-item
          %hr/
          %div
            %h4
              = number_with_delimiter(@individuals_count, :delimiter => ",")
            %p Individuals
        .home-statistics-item
          %hr/
          %div
            %h4
              = number_with_delimiter(@prop_count, :delimiter => ",")
            %p Properties
        .home-statistics-item
          %hr/
          %div
            %h4
              = number_with_delimiter(@projects_count, :delimiter => ",")
            %p Projects
        .home-statistics-item
          %hr/
          %div
            %h4
              = number_with_delimiter(@map_count, :delimiter => ",")
            %p Mappings
        .home-statistics-item
          %hr/
          %div
            %h4
              = number_with_delimiter(@users_count, :delimiter => ",")
            %p Users
  .home-section
    .home-statistics-container
      .home-support-title
        %p Supported by
        %hr.home-section-line/
      .home-support-items
        - $HOME_PAGE_LOGOS[:supported_by].each do |logo|
          %a{href:logo[:url], target: "_blanc"}
            %img{src: asset_path(logo[:img_src])}
      .home-support-title
        %p With the collaboration of
        %hr.home-section-line/
      .home-support-items
        - $HOME_PAGE_LOGOS[:with_the_collaboration_of].each do |logo|
          %a{href:logo[:url], target: "_blanc"}
            %img{src: asset_path(logo[:img_src])}



:javascript
  function submitAnnotator(){
  document.getElementById("annotator_submit").click()
  }
  function submitRecommender(){
  document.getElementById("recommender_submit").click()
  }

