- @title = t("home.index.title", organization: "#{$ORG_SITE}")

- unless $FRONT_NOTICE.nil? || $FRONT_NOTICE.empty? || cookies[:front_page_notice_closed].eql?("true")
  :javascript
    function close_message(){
    var exdate = new Date();
    exdate.setDate(exdate.getDate() + 7);
    document.cookie="front_page_notice_closed=true; expires="+exdate.toGMTString();
    jQuery("#notice_message").hide();
    }

  %p#notice_message{:style => "padding: 10px; margin: 10px; border:1px solid #EFEFEF; background-color: #F9F9F9;"}
    = $FRONT_NOTICE
    \&nbsp;&nbsp;
    %a{:href => "#", :onclick => "close_message(); return false;", :style => "font-size: small; color: darkGray;"} [close]

.home-header-container
  .home-header-background
  .home-bubbles
    .home-random-bubbles
      %img{:src => asset_path("home-random-bubbles.svg")}/
    .home-bubble.home-bubble-one
      %h5
        = @anal_ont_names[0]
      %p 
        = @anal_ont_numbers[0].to_s + " " + t('visits')
    .home-bubble.home-bubble-two
      %h5
        = @anal_ont_names[1]
      %p 
        = @anal_ont_numbers[1].to_s + " " + t('visits')
    .home-bubble.home-bubble-three
      %h5
        = @anal_ont_names[2]
      %p 
        = @anal_ont_numbers[2].to_s + " " + t('visits')
    %a.home-bubble.home-bubble-four{:href => "/visits"}
      %h5 ...

  .home-header-title-container
    .home-header-title
      %h4
        = t('.welcome', site: $SITE)
      %p
        = t('home.index.tagline')
      = render OntologySearchInputComponent.new
 
.home-body-container
  .home-section
    %h4= t('home.ontology_upload')
    %hr.home-section-line/
    %p= t('home.ontology_upload_desc')
    %p= t('home.ontology_upload_benefits', site: $SITE)
    .home-upload-benifits
      - @upload_benefits.each do |benefit|
        %div
          %img{:src => asset_path("check-outlined.svg")}/
          %p
            = benefit
    - link = session[:user].nil? ? "/login?redirect=/ontologies/new" :  "/ontologies/new"
    %a.home-upload-ontology-button{:href => link , class: "home-upload-icon"}  
      = inline_svg_tag "upload.svg", class:"home-upload-icon"
      = t('home.ontology_upload_button')
 
  .home-section
    %h4
      = t('home.recommender_annotator')
    %hr.home-section-line/
    .home-card
      %form{action: "/annotator_recommender_form", method: "post"}
        %textarea.home-recommendations-and-annotations{rows: "6" , placeholder: t('home.paste_text_prompt'), name: "text"}
        %input.d-none{type: "submit", name: "submit_button" ,value: "annotator", id: "annotator_submit"}/
        %input.d-none{type: "submit" , name: "submit_button" ,value: "recommender", id: "recommender_submit"}/
        .home-services-buttons
          .home-get-recommendations{onclick: "submitRecommender()"}
            %p= t('home.get_recommendations')
            = inline_svg_tag "play.svg", class: "home-play-icon"
          .home-services-buttons
            .home-get-annotations{onclick: "submitAnnotator()"}
              %p= t('home.get_annotations')
              %img{:src => asset_path("play-white.svg")}/
  .home-section
    .home-section-sub-sections-container
      .home-sub-section-left
        %div.align-items
          %h4.margin-items= t('home.fairness')
          = render Display::InfoTooltipComponent.new(text: "You are seing the average scores for all the public ontologies in AgroPortal. FAIR scores are computed with the O'FAIRe methodology. More details here: https://github.com/agroportal/fairness")
        %hr.home-section-line/
        .home-card.home-fair-scores
          - if fairness_service_enabled?
            %div#fair-home{data:{controller:"fair-score-home"}}
              = render partial: "shared/fair_score_bars", locals: {data: nil}
            %a{:href => "/landscape#fairness_assessment"}
              %div.home-fair-details
                %p= t('home.fair_details')
         
      .home-sub-section-right
        %h4= t('home.twitter_news')
        %hr.home-section-line
        .home-card.home-twitter-news
          %a.twitter-timeline{"data-height" => "349", :href => "https://twitter.com/lagroportal?ref_src=twsrc%5Etfw"} Tweets by lagroportal
          %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}

  .home-section
    %h4
      = t('home.agroportal_figures', site: portal_name)
    %hr.home-section-line/
    .home-statistics-container
      .home-statistics
        .home-statistics-item
          %hr/
          %div
            %h4
              = format_number_abbreviated(@ont_count)
            %p Ontologies
        .home-statistics-item
          %hr/
          %div
            %h4
              = format_number_abbreviated(@cls_count)
            %p Classes
        .home-statistics-item
          %hr/
          %div
            %h4
              = format_number_abbreviated(@individuals_count)
            %p Individuals
        .home-statistics-item
          %hr/
          %div
            %h4
              = format_number_abbreviated(@prop_count)
            %p Properties
        .home-statistics-item
          %hr/
          %div
            %h4
              = format_number_abbreviated(@projects_count)
            %p Projects
        .home-statistics-item
          %hr/
          %div
            %h4
              = format_number_abbreviated(@map_count)
            %p Mappings
        .home-statistics-item
          %hr/
          %div
            %h4
              = format_number_abbreviated(@users_count)
            %p Users
  .home-section
    .home-statistics-container
      .home-support-title
        %p= t('home.supported_by')
        %hr.home-section-line/
      .home-support-items
        - $HOME_PAGE_LOGOS[:supported_by].each do |logo|
          %a{href:logo[:url], target: "_blanc"}
            %img{src: asset_path(logo[:img_src])}
      .home-support-title
        %p= t('home.with_collaboration')
        %hr.home-section-line/
      .home-support-items
        - $HOME_PAGE_LOGOS[:with_the_collaboration_of].each do |logo|
          %a{href:logo[:url], target: "_blanc"}
            %img{src: asset_path(logo[:img_src])}



:javascript
  function submitAnnotator(){
  document.getElementById("annotator_submit").click()
  }
  function submitRecommender(){
  document.getElementById("recommender_submit").click()
  }

