- @title = t('.title')

- unless $FRONT_NOTICE.nil? || $FRONT_NOTICE.empty? || cookies[:front_page_notice_closed].eql?("true")
  :javascript
    function close_message(){
      var exdate = new Date();
      exdate.setDate(exdate.getDate() + 7);
      document.cookie="front_page_notice_closed=true; expires="+exdate.toGMTString();
      jQuery("#notice_message").hide();
    }
    %p#notice_message{:style => "padding: 10px; margin: 10px; border:1px solid #EFEFEF; background-color: #F9F9F9;"}
    = $FRONT_NOTICE
    \&nbsp;&nbsp;
    %a{:href => "#", :onclick => "close_message(); return false;", :style => "font-size: small; color: darkGray;"} [close]

%div{class: "container", style: "padding-top: 15px; padding-bottom: 25px"}
  
  %div.row
    %div.col
      %div.px-3.py-3.pt-md-5.pb-mb-4.text-center
        %h2
          = t(".welcome")
          %small.text-muted
            = t(".tagline")

  %div.search{class: "row"}
    -# Search for a class across ontologies
    %div{class: "col-md-6"}
      %div{class: "panel panel-default", style: "min-height:134px;"}
        %div{class: "panel-heading"}
          %h3{class: "panel-title"} Search for a class
        %div{class: "panel-body"}
          = form_tag("/search", method: "get") do
            %div{class: "input-group"}
              = text_field_tag("query", nil, class: "form-control", placeholder: t(".query_placeholder"))
              %span{class: "input-group-btn"}
                = button_tag(type: "submit", class: "btn btn-primary", aria: {label: "Search for a class"}) do
                  %i{class: "fa fa-search fa-lg", aria: {hidden: "true"}}
            %div{style: "padding-top: 9px;"}
              %a{:href => "/search?opt=advanced"} Advanced Search

    -# Search for an ontology
    %div{class: "col-md-6"}
      %div{class: "panel panel-default", style: "min-height:134px;"}
        %div{class: "panel-heading"}
          %h3{class: "panel-title"} Find an ontology
        %div{class: "panel-body"}
          %input#find_ontology_id{:type => "hidden"}
          %div{class: "input-group"}
            = text_field_tag("ontology", nil, id: "find_ontology", class: "form-control", data: {ontologynames: @ontology_names}, placeholder: t(".find_ontology_placeholder"))
            %span{class: "input-group-btn"}
              = button_tag(class: "btn btn-primary", onclick: "jumpToValueOntology()", aria: {label: "Find an ontology"}) do
                %i{class: "fa fa-search fa-lg", aria: {hidden: "true"}}
          %div{style: "padding-top: 9px"}
            %ul.sf-menu.sf-vertical
              %li
                = link_to("Browse Ontologies", "#", style: "white-space: nowrap; padding: 0px; background: #fff; border: 1px solid #fff;")
                %ul
                  %li
                    = link_to("All", ontologies_path())
                  - @groups.each do |group|
                    %li
                      = link_to(group[:name], ontologies_path(filter: "#{CGI.escape(group[:acronym])}"))

  %div.statistics{class: "row"}
    -# Ontology visits
    %div{class: "col-md-6"}
      %div{class: "panel panel-default", style: "min-height:350px;"}
        %div{class: "panel-heading"}
          %h3{class: "panel-title"} Ontology Visits #{"in full #{$SITE} " if at_slice?} (#{@analytics.date.strftime("%B %Y")})
        = content_tag(:div, nil, id: "ontology-visits-chart", class: "panel-body", data: {ontnames: @anal_ont_names, ontnumbers: @anal_ont_numbers}) do
          %canvas#myChart
          = link_to("More", visits_path())

    -# Ontology statistics
    %div{class: "col-md-6"}
      %div{class: "panel panel-default", style: "min-height:350px;"}
        %div{class: "panel-heading"}
          %h3{class: "panel-title"} #{$SITE} Statistics #{"in full #{$SITE}" if at_slice?}
        %div{class: "panel-body"}
          %table.minimal.align-right{width: "100%", style: "margin-bottom: 25px;"}
            %tbody
              %tr
                %td Ontologies
                %td= @ont_count
              %tr
                %td Classes
                %td= number_with_delimiter(@cls_count, :delimiter => ",")
              -unless Rails.env.appliance?
                %tr
                  %td Resources Indexed
                  %td= number_with_delimiter(@ri_resources, :delimiter => ",")
                %tr
                  %td Indexed Records
                  %td= number_with_delimiter(@ri_record_count, :delimiter => ",")
                %tr
                  %td Direct Annotations
                  %td= number_with_delimiter(@direct_annotations, :delimiter => ",")
                %tr
                  %td Direct Plus Expanded Annotations
                  %td= number_with_delimiter(@direct_expanded_annotations, :delimiter => ",")
