%h2{:style => "font-size: 150%;"} Available Resources
%table.zebra#resources_desc
  %thead
    %tr
      %th Resource
      %th Description
      %th Total Records
      %th Last Updated
  %tbody
    -@resources.each do |resource|
      %tr
        %td{:style => "width: 20%;"}
          %a{:href => resource['homepage'], :target => "_blank", :id => "resource_link_#{resource['acronym']}"} #{resource['name']}
        %td= truncate_with_more(resource['description'], :length => 100).html_safe
        %td{:style => "text-align: right;"}= number_with_delimiter(resource['count'], :delimiter => ",")
        %td= DateTime.parse(resource['updated']).strftime("%Y-%m-%d") rescue ""
