- require 'cgi'
- require 'bigdecimal'

:css
  .count {
    text-align: right !important;
  }

%div#resource_table{:style => "margin-top: 1em;"}
  %div#result_counts
  %h2{:style => "font-size: 150%; margin-bottom: 3px;"}
    Search Results
    %a.h2_link{:href => "javascript:void(0);", :id => "show_hide_no_results"} <span class="show_hide_text">show</span><span class="show_hide_text not_visible">hide</span> resources with no matches

  %table.zebra{:style => "width: 600px;"}
    %thead
      %tr
        %th Resource
        %th.count Matched Records
        %th.count % Matched
        %th.count Total Records
    %tbody
      -@elements.each do |r|
        -acronym = r['acronym']
        -resource_data = @resources_hash[acronym]
        -resource_name = resource_data[:resourceName]
        -total_results = r['totalResults'].to_i
        -total_elements = resource_data[:count]
        -total_percent = (BigDecimal(total_results) / BigDecimal(total_elements)) * BigDecimal.new(100)
        -total_percent = total_percent < 0.01 ? '< 0.01%' : sprintf('%0.2f%', total_percent)
        -delim_results = number_with_delimiter(total_results, :delimiter => ",")
        -delim_elements = number_with_delimiter(total_elements, :delimiter => ",")
        %tr{:class => total_results == 0 && "zero_results not_visible"}
          %td
            %a.results_link{:href => "javascript:void(0);", :data => {:resource_id => acronym, :resource_name => resource_name}} #{resource_name}
            / %a.resource_site{:href => @resources_hash[acronym][:resourceURL], :target => "_blank", :id => "resource_link_#{acronym}"} site
            / %span{:class => "ui-icon ui-icon-extlink", :style => "display: inline-block; vertical-align: text-bottom;"}
          %td.count
            -if total_results > 0
              %a.results_link{:href => "javascript:void(0);", :data => {:resource_id => acronym, :resource_name => resource_name}} #{delim_results}
            -else
              #{delim_results}
          %td.count= total_percent
          %td.count= delim_elements

%h2.resource_title.not_visible
  %span#resource_title
  %span
    %a.h2_link{:href => "javascript:void(0);", :id => "show_all_resources"} show all resources

%div#resource_results
  -@elements.each do |r|
    -acronym = r['acronym']
    -@resource_results = r
    %div.resource_info.resource_details.not_visible{:id => "resource_info_#{acronym}"}
      %div.resource_image
        %img{:src => @resources_hash[acronym][:resourceLogo], :class => "resource_image"}
      =render :partial => "resource_results"
      %div.clearing

%div.clearing

:javascript
  bpResourceIndexEmbedded = (jQuery("#resource_table").parents("div.resource_index_embed").length > 0);
  var resources = #{@resources_hash.to_json};
  updateCounts();
