%h2{:style => "font-size: 150%;"} Available Resources
%table.zebra#resources_desc
  %thead
    %tr
      %th Resource
      %th Description
      %th Total Records
      %th Last Updated
  %tbody
    -@resources.each do |resource|
      %tr
        %td{:style => "width: 20%;"}
          %a{:href => resource['resourceURL'], :target => "_blank", :id => "resource_link_#{resource['acronym']}"} #{resource['resourceName']}
        %td= truncate_with_more(resource['description'], :length => 100)
        %td= DateTime.parse(resource['lastUpdateDate']).strftime("%Y-%m-%d") rescue ""
        %td{:style => "text-align: right;"}= number_with_delimiter(resource['count'], :delimiter => ",")

:javascript
  jQuery("#resources_desc").dataTable({
    "bPaginate": false,
    "bFilter": false,
    "aoData": [
      { "sType": "html" },
      { "bSortable": false },
      { "sType": "html-formatted-num", "asSorting": [ "desc", "asc"] },
      { "asSorting": [ "desc", "asc" ] }
    ]
  });
