-@resources_for_info.each do |resource|
  %div.resource_container
    %div.resource_header{:id => "resource_header_#{resource[:resourceId]}"}
      %h2
        %a.resource_link{:href => "javascript:void(0)", :data => { :resource_id => resource[:resourceId] }, :id => "resource_link_#{resource[:resourceId]}"} #{@resources_hash[resource[:resourceId].downcase.to_sym][:resourceName]}
        %span.record_count #{number_with_delimiter(resource[:totalElements], ",")}
    %div.resource_info.resource_details.not_visible{:id => "resource_info_#{resource[:resourceId]}"}
      %img{:src => resource[:resourceLogo], :class => "resource_image"}
      %p= resource[:resourceDescription]
      %p.clearing
        %a.resource_info_link{:href => resource[:resourceURL], :target => "_blank"} #{@resources_hash[resource[:resourceId].downcase.to_sym][:resourceName]} site
