- require 'cgi'

:css
  .count {
    text-align: right !important;
  }

%div#resource_table{:style => "margin-top: 1em;"}
  %div#result_counts
  %h2{:style => "font-size: 150%; margin-bottom: 3px;"}
    Search Results
    %a.h2_link{:href => "javascript:void(0);", :id => "show_hide_no_results"} <span class="show_hide_text">show</span><span class="show_hide_text not_visible">hide</span> resources with no matches

  %table.zebra{:style => "width: 600px;"}
    %thead
      %tr
        %th Resource
        %th.count Matched Records
        %th.count % Matched
        %th.count Total Records
    %tbody
      -@elements.resources.each do |resource|
        -resource_name = @resources_hash[resource.resourceId.downcase.to_sym][:resourceName]
        %tr{:class => resource.totalResults.to_i == 0 && "zero_results not_visible"}
          %td
            %a.results_link{:href => "javascript:void(0);", :data => {:resource_id => resource.resourceId, :resource_name => resource_name}} #{resource_name}
            / %a.resource_site{:href => @resources_hash[resource.resourceId.downcase.to_sym][:resourceURL], :target => "_blank", :id => "resource_link_#{resource.resourceId}"} site
            / %span{:class => "ui-icon ui-icon-extlink", :style => "display: inline-block; vertical-align: text-bottom;"}
          %td.count
            -if resource.totalResults > 0
              %a.results_link{:href => "javascript:void(0);", :data => {:resource_id => resource.resourceId, :resource_name => resource_name}} #{number_with_delimiter(resource.totalResults, :delimiter => ",")}
            -else
              #{number_with_delimiter(resource.totalResults, :delimiter => ",")}
          %td.count #{(((resource.totalResults.to_f / @resources_hash[resource.resourceId.downcase.to_sym][:totalElements].to_f)*100*100.0).ceil/100.0)}%
          %td.count #{number_with_delimiter(@resources_hash[resource.resourceId.downcase.to_sym][:totalElements], :delimiter => ",")}

%h2.resource_title.not_visible
  %span#resource_title
  %span
    %a.h2_link{:href => "javascript:void(0);", :id => "show_all_resources"} show all resources

%div#resource_results
  -@elements.resources.each do |resource|
    -@resource_results = resource
    %div.resource_info.resource_details.not_visible{:id => "resource_info_#{resource.resourceId}"}
      %div.resource_image
        %img{:src => @resources_hash[resource.resourceId.downcase.to_sym][:resourceLogo], :class => "resource_image"}
      =render :partial => "resource_results"
      %div.clearing

%div.clearing

:javascript
  bpResourceIndexEmbedded = (jQuery("#resource_table").parents("div.resource_index_embed").length > 0);
  var resources = #{@resources_hash.to_json};
  updateCounts();
