%div.element_results{:id => "#{@resource_results.resourceId}_results"}
  -@resource_results.each do |element|
    -element_id = CGI.escape(element[:localElementId].gsub(/[^0-9A-Za-z]/, ""))
    %div.element_result{:data => {:element_id => element_id}}
      %div{:id => "#{element_id}_link"}
        %a{:href => "javascript:void(0);", :class => "show_element_details", :data => {:clean_element_id => element_id, :element_id => CGI.escape(element[:localElementId]), :resource_id => @resource_results.resourceId}}= element[:text][@resources_hash[@resource_results.resourceId.downcase.to_sym][:mainContext]]
      %div.not_visible.element_results{:id => element_id+"_text", :data => {:highlighted => false}}
        %div.ri_legend_container
          %div.ri_legend
            %div <b>annotation types</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            %div <span class='definition' title="matched preferred name or synonym of the search term directly">direct</span>:
            %div.mgrepContext.highlight_box &nbsp;
            %div <span class='definition' title="matched preferred name or synonym of a term mapped to the search term">mapping</span>:
            %div.mappingContext.highlight_box &nbsp;
            %div <span class='definition' title="matched preferred name or synonym of a subclass of the search term">descendent</span>:
            %div.isaContext.highlight_box &nbsp;
            %div.clearing
        %div.element_text
          -element[:weights].each do |weight|
            %h4= weight[:name].split("_").drop(1).join(" ").capitalize
            %p{:data => {:context_name => weight[:name]}}= element_text(element, weight)
          %span{:class => "element_info"}
            %a{:href => "#{@resources_hash[@resource_results.resourceId.downcase.to_sym][:resourceElementURL]}#{element[:localElementId]}", :target => "_blank"} view source record
  = will_paginate @resource_results, :update => "#{@resource_results.resourceId}_results",
    :params => { :offset => @resource_results.offset,
      :limit => @resource_results.limit,
      :resourceId => @resource_results.resourceId,
      :conceptids => @concept_ids,
      :controller => "resource_index",
      :action => "results_paginate" }
