%div.element_results{:id => "#{@acronym}_results"}
  -resource_data = @resources_hash[@acronym]
  -resource_url = resource_data.include?(:lookupURL) ? resource_data[:lookupURL] : "" rescue binding.pry
  -@resource_results.each do |document|
    -element_id = document['documentId']
    // this gsub generates: active_support/core_ext/string/output_safety.rb:22: warning: regexp match /.../n against to UTF-8 string
    -element_id_clean = CGI.escape(element_id.gsub(/[^0-9A-Za-z]/, ""))
    -element_url = resource_url + element_id
    -element_data = {:clean_element_id => element_id_clean, :element_id => CGI.escape(element_id), :resource_id => @acronym}
    -fields_hash = document.to_h.delete_if {|k,v| v.nil? || k == :documentId}
    -field_main = fields_hash[ resource_data[:mainField].to_sym ]
    %div.element_result{:data => {:element_id => element_id_clean}}
      %div{:id => "#{element_id_clean}_link"}
        %a{:href => "javascript:void(0);", :class => "show_element_details", :data => element_data}= field_main
      %div.not_visible.element_results{:id => element_id_clean+"_text", :data => {:highlighted => false}}
        %div.ri_legend_container
          %div.ri_legend
            %div <b>annotation types</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            %div <span class='definition' title="matched preferred name or synonym of the search class directly">direct</span>:
            %div.direct.highlight_box &nbsp;
            %div <span class='definition' title="matched preferred name or synonym of a class mapped to the search class">mapping</span>:
            %div.mapping.highlight_box &nbsp;
            %div <span class='definition' title="matched preferred name or synonym of a subclass of the search class">descendent</span>:
            %div.hierarchy.highlight_box &nbsp;
            %div.clearing
        %div.element_text
          -fields_sorted = fields_hash.sort_by { |k,v| resource_data[:fields][k].weight }.reverse rescue binding.pry # returns list like [ [k,v], ...]
          -fields_sorted.each do |field_list|  # field_list contains [ string, hash ]
            -next if field_list[1].to_s.strip.length == 0
            -field_name = field_list[0]
            -field_data = field_list[1]
            %h4= field_name.to_s.split("_").drop(1).join(" ").capitalize
            %p{:data => {:context_name => field_name}}= field_text(field_data, resource_data[:fields][field_name])  # see resource_index_helper.rb
          %span{:class => "element_info"}
            %a{:href => element_url, :target => "_blank"} view source record
  = will_paginate @resource_results, :update => "#{@acronym}_results",
    :params => { :offset => @resource_results.offset,
    :limit => @resource_results.limit,
    :acronym => @acronym,
    :controller => "resource_index",
    :action => "results_paginate" }.merge(LinkedData::Client::ResourceIndex.class_params_hash(@classes))

