<%@title = "Resources Search"%>

<script type="text/javascript">
<%ont_acronyms = []%>
<%@onts_and_views.each {|ont| ont_acronyms << "#{ont.ontologyId}: '#{ont.abbreviation.nil? ? ont.displayLabel : ont.abbreviation}'"}%>
<%ri_ontology_ids = []%>
<%@ri_ontologies.each {|ont| ri_ontology_ids << ont.ontologyId}%>
var ont_acronyms = { <%=ont_acronyms.join(", ")%> };
var ri_ontology_ids = [ <%=ri_ontology_ids.join(", ")%> ];
</script>

<%=javascript_include_tag 'JqueryPlugins/chosen/chosen.jquery.js'%>
<%=javascript_include_tag 'JqueryPlugins/ajax-chosen/ajax-chosen.js'%>
<script src="/javascripts/bp_resource_index.js?1338489986" type="text/javascript" charset="ISO-8859-1"></script>

<style>
.chzn-container ul li input {
  font-style: oblique;
}

.chzn-container-active ul li input {
  font-style: normal !important;
}

.search_dropdown_ont {
  padding-left: 3px;
  color: gray;
}

.highlighted .search_dropdown_ont {
  color: white;
}

#resource_index_terms_chzn ul.chzn-results li.no-results:after {
  background: url("/images/spinners/spinner_000000_16px.gif") no-repeat scroll 5px -1.5px transparent;
  color: #F4F4F4;
  content: "spacer";
}

ul.chzn-results {
  max-height: 450px !important;
}
#results {
  max-width: 1200px;
}
#resource_links {
  /*float: left;*/
  /*height: 100%;*/
  margin: 20px 0;
}
.resource_image {
  float: right;
  margin: -15px 0 10px 10px;
  text-align: right;
  width: 250px;
}
.record_count {
  font-size: small;
  color: #234979;
  padding-left: 15px;
  vertical-align: middle;
  position: absolute;
  left: 300px;
  text-align: right;
  width: 100px;
}
.record_count_header {
  font-weight: bold;
  left: 300px;
  margin-top: -1.3em;
  padding-left: 15px;
  position: absolute;
  text-align: right;
  width: 100px;
}
.resource_details {
  /*margin-left: 260px;*/
  padding: 20px;
  border: thick solid #17932A;
  margin: 0 10px 25px;
}
.clearing {
  clear: both;
}
.mgrepContext,
.mgrepContext .mappingContext,
.mappingContext .mgrepContext,
.mgrepContext .isaContext,
.isaContext .mgrepContext {
  background-color: #B0C4DE !important;
  font-weight: bold;
}
.mappingContext {
  background-color: #7ABA7A;
  font-weight: bold;
}
.isaContext {
  background-color: #F2BFC5;
  font-weight: bold;
}
.element_result, .element_result a {
  font-size: 105%;
  margin-bottom: 15px;
}
.element_info {
  padding-left: 3px;
}
.element_info a {
  font-size: 90%;
}
.element_results {
  padding: 0 10px;
  margin-bottom: 2em;
}
.element_results .pagination {
  font-size: 115%;
  font-weight: bold;
}
.element_text {
  padding: 7px 3px 0;
}
.element_text h2, h3, h4 {
  font-size: 110%;
  font-weight: bold;
}
div#resource_results div.element_results h4 {
  font-weight: bold;
}
div#resource_results div.resource_results h2 {
  font-size: 180%;
}
.highlighting {
  color: gray;
  font-style: oblique;
  padding-left: 10px;
  font-weight: bold;
}
#search_button {
  float: right;
  margin-left: 445px;
  position: absolute;
}
.ri_legend {
  border: 1px solid #ccc;
  padding: 5px 5px 5px 25px;
  margin: -10px auto 10px;
  width: 270px;
  height: 17px;
}
.ri_legend div {
  float: left;
}
.highlight_box {
  float: left;
  margin-left: 5px;
  margin-right: 15px;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
}

</style>


<div style="padding: 1em;">
  <h1>Search Resource Index</h1>
  <p>
	  <% intro_text = "Search biomedical resources for a term"%>
	  <%=t('home.resources.intro').nil? || t('home.resources.intro').empty? ? "#{intro_text}  #{help_icon("/help#Resource_Index_Tab")}" : t('home.resources.intro')%>
  </p>

  <div style="padding-bottom: 1em;">
<!--
    <div style="width: 610px;">
      <a href="javascript:void(0);" id="insert_text_link" style="font-size: 8pt; text-decoration: none; float: right; margin-bottom: 3px;">insert sample text</a>
    </div>
 -->
    <div style="width: 432px;">
      <div id="search_button">
        <input type="button" id="resource_index_button" value="Search Resource Index" class="link_button">
        <span id="resource_index_spinner" style="display: none;"><img src="/images/spinners/spinner_000000_16px.gif" style="vertical-align: text-bottom;"></span>
      </div>

      <% textarea_title = "Start typing to find terms to search the index with" %>
      <%=select_tag :resource_index_terms, "", :multiple => 'true', "data-placeholder".to_sym => textarea_title, :title => textarea_title, :class => "help_text", :style => "width: 432px;" %>

      <div style="float: right; font-size: smaller;">
        <a id="ont_select_adv_href" href="javascript:void(0)">select ontologies to search</a>
      </div>
    </div>

    <!-- hidden form input to use for tracking ontologies selected for filtering -->
    <div style="position: absolute; left: -9999999999999px;"><%= render :partial => "shared/ontology_picker", :locals => { :sel_text => "Ontologies", :custom_ontologies => @ri_ontologies }%></div>
    <%=render_advanced_picker(nil, @ri_ontologies, "resource_index_terms_chzn")%>

    <span style='color: red;' id="resource_index_error" class='resource_index_error'></span>
  </div>
</div>

<div id="results_container" style="padding: 0 13px; margin: 0 0 2em; height: 100%;" data-bp_rest_server="<%=$REST_DOMAIN%>">
  <div style="float: right; font-style: oblique; color: gray;" id="result_counts"></div>

  <h2 style="margin-bottom: 0;">
    <!-- Resource Index Search Results -->
    <div id="filter_list" style="font-size: 9pt; color: gray; display: none; clear: both; margin: -15px 0 5px">
      <span id="filter_title">Results are filtered by:</span>&nbsp;
      <span id="filter_names"></span>
    </div>
  </h2>

  <div id="results_error" style="color: red; margin-bottom: 7px;"></div>

  <div id="results">
    <%= render :partial => "resources"%>

    <div id="download_links" style="margin-top: 1.5em;">
  <!--     <table border=0 style="border: 0; margin-bottom: .5em;">
        <tr>
          <td style="padding: 0 3px 0 0;"><b>Format Results As </b></td>
          <td id="download_links_text" style="padding: 3px;"></td>
          <td id="download_links_tabdelimited" style="padding: 3px;"></td>
          <td id="download_links_xml" style="padding: 3px;"></td>
        </tr>
      </table>
      <span style="font-size: 8pt;">To reproduce these results use the following parameters:
        <br/>
        <span id="resource_index_parameters" style="color: gray; font-weight: bold;"></span>
        <br/>
        Additional parameters are documented at the <a href="http://www.bioontology.org/wiki/index.php/Resource_Index_REST_Web_Service_User_Guide" target="_blank">Resource Index Web Service User Guide</a>
      </span>
   -->
    </div>
  </div>
</div>


