<%@title = "Resources Search"%>

<script type="text/javascript">
<%ont_acronyms = []%>
<%@onts_and_views.each {|ont| ont_acronyms << "#{ont.ontologyId}: '#{ont.abbreviation.nil? ? ont.displayLabel : ont.abbreviation}'"}%>
<%ont_names = {}%>
<%@onts_and_views.each {|ont| ont_names[ont.ontologyId] = ont.displayLabel}%>
<%ri_ontology_ids = []%>
<%@ri_ontologies.each {|ont| ri_ontology_ids << ont.ontologyId}%>
var ont_acronyms = { <%=ont_acronyms.join(", ")%> };
var ont_names = <%=ont_names.to_json%>;
var ri_ontology_ids = [ <%=ri_ontology_ids.join(", ")%> ];
var resources = <%=@resources_hash.to_json%>;
var orgSite = <%=$ORG_SITE.to_json%>
</script>

<%=javascript_include_tag 'JqueryPlugins/chosen/chosen.jquery.js'%>
<%=javascript_include_tag 'JqueryPlugins/ajax-chosen/ajax-chosen.js'%>
<%=javascript_include_tag 'history/jquery.history.js'%>
<%=javascript_include_tag "JqueryPlugins/datatables/js/jquery.dataTables.js"%>
<%=javascript_include_tag "JqueryPlugins/datatables/plugins/datatables.formatted.number.js"%>
<script src="/javascripts/bp_resource_index.js?1338489986" type="text/javascript" charset="ISO-8859-1"></script>

<div style="padding: 1em;">
  <h1>Search Resource Index</h1>
  <p>
	  <% intro_text = "Search biomedical resources"%>
	  <%=t('home.resources.intro').nil? || t('home.resources.intro').empty? ? "#{intro_text}  #{help_icon("/help#Resource_Index_Tab")}" : t('home.resources.intro')%>
  </p>

  <div style="padding-bottom: 1em;">
<!--
    <div style="width: 610px;">
      <a href="javascript:void(0);" id="insert_text_link" style="font-size: 8pt; text-decoration: none; float: right; margin-bottom: 3px;">insert sample text</a>
    </div>
 -->
    <div style="width: 432px;">
      <div id="search_button">
        <input type="button" id="resource_index_button" value="Search Resource Index" class="link_button">
        <span id="resource_index_spinner" style="display: none;"><img src="/images/spinners/spinner_000000_16px.gif" style="vertical-align: text-bottom;"></span>
      </div>

      <% textarea_title = "Start typing to find terms to search the index with" %>
      <%=select_tag :resource_index_terms, "", :multiple => 'true', "data-placeholder".to_sym => textarea_title, :title => textarea_title, :class => "help_text", :style => "width: 432px;" %>

      <div style="float: right; font-size: smaller;">
        <a id="ont_select_adv_href" href="javascript:void(0)">select ontologies to search</a>
      </div>
    </div>

    <!-- hidden form input to use for tracking ontologies selected for filtering -->
    <div style="position: absolute; left: -99999px;">
      <%= render :partial => "shared/ontology_picker", :locals => { :sel_text => "Ontologies", :custom_ontologies => @ri_ontologies }%>
    </div>
    <%=render_advanced_picker(nil, @ri_ontologies, "resource_index_terms_chzn")%>

    <span style='color: red;' id="resource_index_error" class='resource_index_error'></span>
  </div>
</div>

<div id="results_container" style="padding: 0 13px; margin: 0 0 2em; height: 100%;" data-bp_rest_server="<%=$REST_DOMAIN%>">
  <div id="results_error" style="color: red; margin-bottom: 7px;"></div>
  <div id="results"></div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function(){
    pageInit();
  });
</script>

