- @title = "Search Resource Resources"

%div{:style => "padding: 1em;"}
  %h1 Search Resource Index
  %p
    = t('resource_index.intro').html_safe
    = link_to(help_path(anchor: "Resource_Index_Tab"), id: "resource-index-help", aria: {label: "View resource index help"}) do
      %i.fas.fa-question-circle.fa-lg{aria: {hidden: "true"}, style: "margin-left: .25em"}

  %div{:style => "padding-bottom: 1em;"}
    %div{:style => "width: 432px;"}
      #resource_index_search_button
        %input#resource_index_button.link_button{:type => "button", :value => "Search Resource Index"}
        %span#resource_index_spinner{:style => "display: none;"}
          %img{:src => asset_path('spinners/spinner_000000_16px.gif'), :style => "vertical-align: text-bottom;"}
      = select_tag("resource_index_classes", nil, multiple: true, style: "width: 432px;")
      #advanced_options_container
        %a#resource_index_advanced_options{:href => "javascript:void(0);"}
          %span#hide_advanced_options.not_visible> hide&nbsp;
          advanced options
      #hierarchy_options{:style => "padding-top: .6em; clear: both;"}
        %div{style: "margin-top: 1em;"}
          %h2{:style => "font-size: 10pt; !important; margin-bottom: 3px;"} Hierarchy Expansion
          Find documents containing: &nbsp;
          %input{type: "radio", id: "expand_hierarchy_true", name: "expand_hierarchy", value: "false"}
          %label{for: "expand_hierarchy_true"} Class(es) &nbsp;
          %input{type: "radio", id: "expand_hierarchy_false", name: "expand_hierarchy", value: "true", checked: true}
          %label{for: "expand_hierarchy_false"} Class(es) and descendants
      #search_options.not_visible{:style => "padding-top: .6em; clear: both;"}
        %div{style: "margin-top: 1em;"}
          %h2{:style => "font-size: 10pt; !important; margin-bottom: 3px;"} Boolean Options
          Matched documents must contain: &nbsp;
          %input{type: "radio", id: "boolean_operator_and", name: "boolean_operator", value: "and", checked: true}
          %label{for: "boolean_operator_and"} All classes &nbsp;
          %input{type: "radio", id: "boolean_operator_or", name: "boolean_operator", value: "or"}
          %label{for: "boolean_operator_or"} Any class
        %div
          #ontology_picker_options{:style => "margin-top: 1em;"}
            = render :partial => "shared/ontology_picker", :locals => { :sel_text => "Only Show Autocomplete Results From" }

    %span#resource_index_error.resource_index_error{:style => "color: red;"}

#results_container{:style => "padding: 0 13px; margin: 0 0 2em; height: 100%;"}
  #results_error{:style => "color: red; margin-bottom: 7px;"}
  #initial_resources
    = render :partial => "resources_info"
  #results

:javascript
  var ont_acronyms = #{@ont_acronyms.to_json};
  var ont_names = #{@ont_names.to_json};
  var ont_ids = #{@ont_ids.to_json};
  var resources = #{@resources_hash.to_json};
  var orgSite = #{$ORG_SITE.to_json};

  jQuery(document).ready(function(){
    pageInit();
  });

  // Show/Hide advanced options
  jQuery("#advanced_options").click(function(event) {
    jQuery("#search_options").toggleClass("not_visible");
    jQuery("#hide_advanced_options").toggleClass("not_visible");
  });
