- require 'cgi'
%div.hide-if-loading
  %div.card
    %table.concepts-content
      = header
  %div.my-3
  .accordion.concepts-raw-data{id: "accordion-#{@id}"}
    %div{id: "heading-#{@id}"}
      %h2.mb-0.text-right
        .concepts-raw-title{"data-target" => "#collapse-#{@id}", "data-toggle" => "collapse"}
          %div Raw data
          %img{src: asset_path("arrow-down.svg")}
    .collapse{id: "collapse-#{@id}", "data-parent" => "#accordion-#{@id}"}
      %table#concepts-content.concepts-content
        - top_set, leftover_set, bottom_set = filter_properties(@top_keys, @bottom_keys, @exclude_keys, @concept_properties)
        = render_properties(top_set, @acronym)
        = render_properties(leftover_set, @acronym)
        - sections&.each do |section|
          = section
        = render_properties(bottom_set, @acronym)
