= render TurboFrameComponent.new(id: agent_frame_id(agent, parent_id)) do
  %div.d-flex
    - if agent.id
      = hidden_field_tag agent_field_name(:id, name_prefix), agent.id

    = text_field_tag '', display_agent(agent, link: false), class: "form-control", disabled: true

    - if current_user_admin? || agent.creator.eql?(current_user&.id.to_s)
      - if edit_on_modal
        = link_to_agent_edit_modal(agent, parent_id)
      - else
        = link_to_agent_edit(agent, parent_id)