= agent_alert_container(@agent, params[:parent_id])
%table.form.w-100{data:{ controller: 'form-options-display',  'form-options-display-hidden-class-value': 'd-none'}}
  %colgroup
    %col
    %col{style: "width: 100%"}

  = hidden_field_tag :parent_id, params[:parent_id] if params[:parent_id]
  = hidden_field_tag :name_prefix, params[:name_prefix] if params[:name_prefix]
  = hidden_field_tag agent_field_name(:id, name_prefix), agent.id if agent.id

  - if affiliation?(agent) &&  params[:parent_id]
    = hidden_field_tag agent_field_name(:agentType, name_prefix), agent.agentType
  - else
    %tr
      %th
        Type
        %span.asterik *
      %td.top
        %div.d-flex
          %div.custom-control.custom-radio.mx-1
            = radio_button_tag agent_field_name(:agentType, name_prefix), :person, agent.agentType.eql?('person'), class: 'custom-control-input', 'data-action': "change->form-options-display#showOption1"
            = label_tag :agentType_person, "Person",  class: 'custom-control-label'
          %div.custom-control.custom-radio.mx-1
            = radio_button_tag agent_field_name(:agentType, name_prefix), :organization,!agent.agentType.eql?('person'), class: 'custom-control-input', 'data-action': "change->form-options-display#showOption2"
            = label_tag :agentType_organization, "Organization",  class: 'custom-control-label'
  %tr
    %th
      Name
      %span.asterik *
    %td.top
      = text_field_tag agent_field_name(:name, name_prefix), agent.name, class: "form-control"
  %tr{'data-form-options-display-target':"option1",  class: affiliation?(agent) && 'd-none'}
    %th
      Email
      %span.asterik
    %td.top
      = email_field_tag agent_field_name(:email, name_prefix), agent.email, class: "form-control"
  %tr{'data-form-options-display-target':"option2",  class: !affiliation?(agent) && 'd-none'}
    %th
      Acronym
      %span.asterik
    %td.top
      = text_field_tag agent_field_name(:acronym, name_prefix), agent.acronym,class: "form-control"
  %tr{'data-form-options-display-target':"option2",  class: !affiliation?(agent) && 'd-none'}
    %th
      Homepage
    %td.top
      = url_field_tag agent_field_name(:homepage, name_prefix), agent.homepage, class: "form-control"
  %tr.d-none
    %th
      Creator
    %td.top
      = text_field_tag  agent_field_name(:creator, name_prefix), agent.creator,  class: "form-control"
  %tr
    %th
      Identifiers
    %td.top
      %div
        = render NestedFormInputsComponent.new do |c|
          - c.template do
            %div.d-flex{id: 'NEW_RECORD'}
              %div.w-100
                = hidden_field_tag agent_identifier_name('NEW_RECORD' , :creator, name_prefix), session[:user].id
                = text_field_tag agent_identifier_name('NEW_RECORD' , :notation, name_prefix), '', class: "form-control"
              %div{style:'width: 15%'}
                - values = %w[ORCID ROR ISNI GRID]
                = render SelectInputComponent.new(id: "agent_identifiers_schemaAgency_NEW_RECORD", name: agent_identifier_name('NEW_RECORD', :schemaAgency, name_prefix), values: values, selected: 'ORCID')
          - c.empty_state do
            = hidden_field_tag agent_field_name('',  name_prefix+"[#{Array(agent.identifiers).size}]")
          - Array(agent.identifiers).each_with_index do |identifier, i|
            - c.row do
              %div.d-flex{id: identifier.id}
                %div.w-100
                  = hidden_field_tag agent_identifier_name(i.to_s.upcase, :creator, name_prefix), session[:user].id
                  = text_field_tag agent_identifier_name(i.to_s.upcase, :notation, name_prefix), identifier.notation, class: "form-control"
                %div{style:'width: 15%'}
                  - values = %w[ORCID ROR ISNI GRID]
                  = render SelectInputComponent.new(id: "#{name_prefix}_identifiers_schemaAgency_#{i.to_s.upcase}", name: agent_identifier_name(i.to_s.upcase, :schemaAgency, name_prefix), values: values, selected: identifier.schemaAgency)
  - if show_affiliations
    %tr
      %th
        Affiliations
      %td.top.agents-affiliations.agents-inputs
        = render NestedAgentSearchInputComponent.new(agents: agent.affiliations, agent_type: 'organization',
                                                     name_prefix: '[affiliations]', parent_id:  agent_id(agent))
%div.mt-2
  = submit_tag 'Save', class: "btn btn-primary mr-sm-2 group-form-accept"