%tr.human{:id => (agent.id || '').split('/').last}
  %td
    = agent.name
  %td
    = display_identifiers(agent.identifiers)
  %td
    = agent.affiliations.map{|i| "#{i["name"]} ( #{display_identifiers(i["identifiers"])} )"}.join(', ')
  %td
    = agent.agentType
  %td{:class => 'delete_mappings_column'}
    - if agent.id && !agent.id.empty? && session[:user] && session[:user].admin?
      %div.d-flex
        = link_to_modal("Edit", edit_agent_path(agent.id.split('/').last), class: "btn btn-link", data: { show_modal_title_value: "Edit agent #{agent.id}"})
        = button_to "Delete", CGI.unescape(agent_path(agent.id.split('/').last)), method: :delete, class:'btn btn-link',  form: {data: { turbo: true, turbo_confirm: "Are you sure?", turbo_frame: '_top'}}
