.container.d-flex.flex-column.py-4{ style: "width: 1248px;" }
  .d-flex.justify-content-between
    = render PageHeaderComponent.new(title: "Agents" , description: t('agents.description', portalName: $SITE))
    .d-flex.align-items-center
      - link, target = api_button_link_and_target(agents_rest_url)
      = render RoundedButtonComponent.new(link: link, target: target, size: 'medium', title: t("components.go_to_api"))
      - if session[:user]
        .span.m-2
        = agents_create_button
  = render_alerts_container(AgentsController)
  - columns_names = ['name', 'acronym', 'affiliations', 'usages']
  - if session[:user] && session[:user].admin?
    - columns_names << 'actions'
  = render TableComponent.new(id: 'agents-table', borderless: true, outline: true, paging: true, searching: true, sort_column: '0', server_side: true, ajax_url: '/ajax/agents/list', search_placeholder: t('agents.index.search_placeholder'), columns: columns_names, ordering: false) do |t|
    - t.header do |h|
      - h.th {t("agents.form.name")}
      - h.th {t("agents.form.acronym")}
      - h.th {t("agents.form.affiliations")}
      - h.th {t("agents.index.usages")}
      - if current_user_admin?
        - h.th {t("agents.index.actions")}
    %tr.empty-state
      %td.text-center{:colspan => "6"}= t("agents.index.no_agents")