:javascript
  $(document).ready(function() {
    jQuery("#ontology_submission_form").validate();
  });


  function onMetadataChange(){
    let frame = document.getElementById('metadata_by_ontology')
    let properties = document.getElementById('search_metadata')
    let required = document.getElementById('filter-required-only')
    let selectedProperties = Array.from(properties.selectedOptions).map(({ value }) => value).join(',')
    frame.src = "?properties=" + selectedProperties + "&required=" + required.checked + "&show_sections=true"
  }

- unless @errors.nil?
  %div.form-group.row
    %div.col-sm-8.offset-sm-2.enable-lists{style: "color:red;"}
      %strong Errors On Form
      %ul
        - for error in @errors
          %li
            = error          

%div#editMetadataDiv
  %div{:style => "width: 50%;margin: 3em auto;"}
    %p{:style => "text-align: center;"}
      To understand the ontologies metadata:
      %a{:href => "https://github.com/agroportal/documentation/wiki/Ontology-metadata", :target => "_blank"} see the Wiki
    %div{:style => "text-align: center;"}
      %span.asterik * fields are required
      %br
      = extractable_metadatum_tooltip({ text: 'Metadata that can be extracted from the ontology' , content: "Extractable metadatum"})

%div.d-flex.align-items-center.justify-content-between{onchange: "onMetadataChange()"}
  %div.w-75.mt-3
    = render MetadataSelectorComponent.new(label: 'Filter properties to show', values: submission_editable_properties , selected:  nil, inline: true)
  %div
    = render SwitchInputComponent.new(id:"filter-required-only", name: "required-only", label: "Required only")


= render partial: 'form_content', locals: {id: 'metadata_by_ontology', acronym: @ontology.acronym, submissionId: @submission.submissionId}

%div.form-group.row
  %div.col-12.text-center
    %label.col-form-label.font-italic.asterik * Fields marked with an asterisk are required.

%div.form-group.row
  %div.col-6
    = submit_tag button_text, class: "btn btn-primary"
  %div.col-6.text-right
    = link_to "Cancel", :back, class: "btn btn-warning"
