:javascript
  $(document).ready(function() {
    jQuery("#ontology_submission_form").validate();
  });


  function ontologyFormatChange(format){
    var selected = jQuery("#submission_hasOntologyLanguage option:selected");

    switch(selected.val()){
      case 'OWL':
        jQuery(".format_options").optionsOut("fast");
        jQuery("#owl_options").optionsIn("fast");
        break;
      case 'SKOS':
        jQuery(".format_options").optionsOut("fast");
        jQuery("#skos_options").optionsIn("fast");
        break;
      case 'OBO':
        jQuery(".format_options").optionsOut("fast");
        jQuery("#obo_options").optionsIn("fast");
        break;
      case 'UMLS':
        jQuery(".format_options").optionsOut("fast");
        jQuery("#umls_options").optionsIn("fast");
        break;
      default:
        jQuery(".format_options").optionsOut("fast");
    }

- unless @errors.nil?
  %div.form-group.row
    %div.col-sm-8.offset-sm-2.enable-lists{style: "color:red;"}
      %strong Errors On Form
      %ul
        - for error in @errors
          %li
            = error          

%div#editMetadataDiv
  %div{:style => "width: 50%;margin: 3em auto;"}
    %p{:style => "text-align: center;"}
      To understand the ontologies metadata:
      %a{:href => "https://github.com/agroportal/documentation/wiki/Ontology-metadata", :target => "_blank"} see the Wiki
    %div{:style => "text-align: center;"}
      %span.asterik * fields are required
      %br
      = extractable_metadatum_tooltip({ text: 'Metadata that can be extracted from the ontology' , content: "Extractable metadatum"})

= hidden_field :submission, :ontology, value: @ontology.id

%div.card.mt-4
  %div.card-header.bg-success General
  %div.card-body
    %div.card-text
      -# Format
      %div.form-group.row
        %label.col-sm-4.col-form-label{for: "submission_hasOntologyLanguage"}
          Format
          %span.asterik *
        %div.col-sm-8
          - ont_formats = ["OBO", "OWL", "UMLS", "SKOS"].sort
          - selected = @submission.hasOntologyLanguage ? @submission.hasOntologyLanguage : "OWL"

= render partial: 'form_content', locals: {id: 'metadata_by_ontology'}

%div.form-group.row
  %div.col-12.text-center
    %label.col-form-label.font-italic.asterik * Fields marked with an asterisk are required.

%div.form-group.row
  %div.col-6
    = submit_tag button_text, class: "btn btn-primary"
  %div.col-6.text-right
    = link_to "Cancel", :back, class: "btn btn-warning"
