= render TurboFrameComponent.new(id:id) do
  = hidden_field object_name, :ontology, value: acronym
  = hidden_field object_name, :id, value: submissionId
  %div#general-card.mt-4
    = metadata_section('general', 'General', collapsed: false) do
      = attribute_container('format', required: true) do
        = turbo_frame_tag  "#{object_name(acronym, submissionId)}Format_from_group_input" do
          = render partial: 'submissions/submission_format_form'
      = attribute_text_field_container('version')

      = attribute_form_group_container('status', required: true) do |c|
        - selected_status = c.value ? c.value : "alpha"
        - status_options = %w[alpha beta production retired]
        = select c.name,  c.method_name, status_options, {selected: selected_status, required: true}, class: "form-control"

      = attribute_form_group_container('location', required: true) do
        = render partial: 'submissions/submission_location_form'

    %div#key-properties-card.mt-4
      = metadata_section('key-properties', 'Key properties', collapsed: false) do
        = form_group_attribute("URI")
        = form_group_attribute("deprecated")
        = form_group_attribute("hasOntologySyntax") do
          %p
            Properties taken from
            = link_to "W3C URIs for file format", "https://www.w3.org/ns/formats/", target: "_blank"

        = form_group_attribute("hasFormalityLevel") do
          %p
            Properties taken from
            = link_to "DCMI KOS type vocabularies", "http://wiki.dublincore.org/index.php/NKOS_Vocabularies#KOS_Types_Vocabulary", target: "_blank"

        = form_group_attribute("isOfType")
        = form_group_attribute("naturalLanguage") do
          %p
            Consider using a
            = link_to "Lexvo URI", "http://www.lexvo.org", target: "_blank"
            with ISO639-3 code
            %br
            e.g.: http://lexvo.org/id/iso639-3/eng

    %div#description-card.mt-4
      = metadata_section('description', 'Description', collapsed: !@required_only || !@submission.id.nil?) do
        -# Description
        = attribute_form_group_container('description', required: true) do |c|
          = text_area c.name, c.method_name, rows: 5, value: @submission.description, required: true, class: "form-control"

        -# Home page
        = attribute_text_field_container('homepage') do |c|
          - c.help do
            Enter a URL for the main page of your ontology.

        -# Documentation page
        = attribute_text_field_container('documentation') do |c|
          - c.help do
            Enter a URL for a page that provides ontology documentation.

        -# Publications page
        = attribute_text_field_container('publication') do |c|
          - c.help do
            Enter a URL for a page that lists publications about your ontology.

        -# Used ontology engineering tool
        = form_group_attribute("usedOntologyEngineeringTool")

      = metadata_section('more-description-details', 'More description details', parent_id: "description-card") do
        - for attr_name in %w[abstract notes keywords alternative identifier]
          = form_group_attribute(attr_name)

      - data = sections

      - data.each do |d|
        = metadata_section(d[0], d[1], parent_id: "description-card") do
          - for attr in @metadata.select { |m| m['display'] == d[2] }
            = form_group_attribute(attr["attribute"])

    %div#ontology-dates-card.mt-4
      = metadata_section('ontology-dates', 'Dates', collapsed: !@required_only  || !@submission.id.nil?) do
        = form_group_attribute("released", default: Date.today, required: true)
        = form_group_attribute("modificationDate")
      = metadata_section('more-dates', 'More dates', parent_id: "ontology-dates-card") do
        - for attr in @metadata.select { |m| m['display'] == 'dates' }
          = form_group_attribute(attr["attribute"])

    %div#licenses-card.mt-4
      = metadata_section('licenses', 'Licenses') do
        = form_group_attribute("hasLicense") do
          %p
            Consider using a
            = link_to "URI to describe your License", "http://rdflicense.appspot.com", target: "_blank"
          %p
            Consider using
            = link_to "INRIA licentia", "http://licentia.inria.fr/", target: "_blank"
            to choose your license

      = metadata_section('more-licensing-info', 'More licensing information', parent_id: "licenses-card") do
        - for attr in @metadata.select { |m| m['display'] == 'license' }
          = form_group_attribute(attr["attribute"])

    %div#community.mt-4
      = metadata_section('contacts-panel', 'Contacts', parent_id: "community", collapsed: !@required_only  || !@submission.id.nil?) do
        -# Contact(s)
        = attribute_form_group_container('contact' ,required: true) do |c|
          - @submission.contact = [] unless @submission.contact && @submission.contact.size > 0
          = render NestedFormInputsComponent.new do |c|
            - c.template do
              = render partial: "submissions/submission_contact_form", locals: {contact: nil, index: 'NEW_RECORD'}
            - @submission.contact.each_with_index do |contact, i|
              - c.row do
                = render partial: "submissions/submission_contact_form", locals: {contact: contact, index: i}

        = form_group_attribute("hasContributor")
        = form_group_attribute("hasCreator")

      = metadata_section('more-community-info', 'More community information', parent_id: "community") do
        - for attr in @metadata.select { |m| m['display'] == 'community' }
          = form_group_attribute(attr["attribute"])

      = metadata_section('more-people-info', 'More people information', parent_id: "community") do
        - for attr in @metadata.select { |m| m['display'] == 'people' }
          = form_group_attribute(attr["attribute"])

    %div#ontology-relations-more.mt-4
      = metadata_section('ontology-relations', 'Ontology relations', parent_id: "ontology-relations-more") do
        = form_group_attribute("useImports")
        = form_group_attribute("hasPriorVersion")
        = form_group_attribute("isAlignedTo")
        = form_group_attribute("ontologyRelatedTo")

      = metadata_section('more-relations', 'More relations', parent_id: "ontology-relations-more") do
        - for attr in @metadata
          - if attr["display"].eql?("relations")
            = form_group_attribute(attr["attribute"])

    %div#ontology-content-metrics.mt-4
      = metadata_section('ontology-content', 'Ontology content', parent_id: "ontology-content-metrics") do
        = form_group_attribute("preferredNamespacePrefix")
        = form_group_attribute("preferredNamespaceUri")

      = metadata_section('more-informations', 'More content informations', parent_id: "ontology-content-metrics") do
        - for attr in @metadata.select { |m| m['display'] == 'content' }
          = form_group_attribute(attr["attribute"])

      = metadata_section('more-metrics-informations', 'More metrics informations', parent_id: "ontology-content-metrics") do
        - for attr in @metadata.select { |m| m['display'] == 'metrics' }
          = form_group_attribute(attr["attribute"])