= turbo_frame_tag id do
  - return "" if @ontology.metadata_only?

  - more_colspan = 7
  - more_colspan = 6 if @ont_restricted

  %div.click_versions_collapse.p-1
    = render_alerts_container(AdminController)
    = render TableComponent.new(id: 'ontology_versions', stripped: false, borderless: true) do |t|
      - t.header do |header|
        - if @ontology.admin?(session[:user])
          - header.th do
            %div.align-middle
              ID
        - header.th do
          %div.align-middle
            Version
        - header.th do
          = attr_label("modificationDate", "Modified", show_tooltip: false)
        - header.th do
          = attr_label("creationDate", "Uploaded", show_tooltip: false)
        - unless @ont_restricted
          - header.th do
            %div.align-middle
              Downloads
        - if @ontology.admin?(session[:user])
          - header.th do
            %div.align-middle
              Actions

      - begin
        - submission_ready = @ontology.explore.latest_submission({:include_status => 'ready', display: 'submissionId'})
        - submission_readyId = submission_ready.submissionId unless submission_ready.nil?
      - rescue
        - submission_readyId = -1
      - @submissions.each_with_index do |sub, index|
        - hidden_row_class = index >= 5 ? "hidden_ont hidden_select" : ""
        - t.row(id:"submission_#{sub.submissionId}" , class_css: hidden_row_class) do |r|

          - if @ontology.admin?(session[:user])
            - r.td { raw sub.submissionId }
          - r.td do
            = render SubmissionStatusComponent.new(sub, sub.submissionId==submission_readyId) 
          - r.td {  xmldatetime_to_date(sub.modificationDate) unless sub.modificationDate.nil? }
          - r.td {  xmldatetime_to_date(sub.creationDate) unless sub.creationDate.nil? }

          - unless @ont_restricted
            - r.td do
              %div.dropdown
                %button.btn.btn-outline-primary.rounded-pill.dropdown-toggle{type:"button", 'data-toggle':"dropdown", 'aria-expanded': "false", style:'white-space: nowrap'}
                  Download
                  %span.sr-only Toggle Dropdown
                .dropdown-menu
                  - links = download_link(sub,@ontology)
                  - links.each do |value|
                    - link,label = value.values               
                    %a.dropdown-item{ href: link }= label
                
              -# = raw download_link(sub, @ontology)
          - if @ontology.admin?(session[:user])
            - r.td do
              %div.d-flex
                %a.btn.btn-sm.btn-link{:href => "/ontologies/#{@ontology.acronym}/submissions/#{sub.submissionId}/edit", 'data-turbo-frame':"_top"}
                  %span Edit
                - unless index.zero?
                  - alert_text = "Are you sure you want to delete submission <span style='color:red;font-weight:bold;'>" + sub.submissionId.to_s + "</span> for ontology <span style='color:red;font-weight:bold;'>" + @ontology.acronym + "</span>?<br/><b>This action CAN NOT be undone!!!</b>"
                  = button_to "Delete", "/admin/ontologies/#{@ontology.acronym}/submissions/#{sub.submissionId}?turbo_stream=true", method: :delete, class:'btn btn-sm btn-link',  form: {data: { turbo: true, turbo_confirm: alert_text, turbo_frame: '_top'}}

      - if @submissions.length > 5
        - t.row(class_css: "show_more_subs") do |r|
          - r.td(colspan: more_colspan) do
            %a#version_toggle{:href => ""} more...

  :javascript
    jQuery(document).ready(() => {
      jQuery("#version_toggle").click( (event) => {
          event.preventDefault();
          jQuery("#ontology_versions tr.hidden_select").toggleClass("hidden_ont")
          const oldText = event.target.innerHTML
          switch (oldText) {
            case 'more...':
              event.target.innerHTML = 'less...'
              break
            case 'less...':
              event.target.innerHTML = 'more...'
              break
          }
      })
    })