= turbo_frame_tag id do
  - return "" if @ontology.metadata_only?

  - more_colspan = 7
  - more_colspan = 6 if @ont_restricted

  %div.click_versions_collapse.p-1
    = render_alerts_container(AdminController)
    = render TableComponent.new(id: 'ontology_versions', stripped: false, borderless: true) do |t|
      - t.header do |header|
        - if @ontology.admin?(session[:user])
          - header.th do
            %div.align-middle
              = t('submissions.id')
        - header.th do
          %div.align-middle
            = t('submissions.version')
        - header.th do
          = attr_label("modificationDate", t('submissions.modified'), show_tooltip: false)
        - header.th do
          = attr_label("creationDate", t('submissions.submitted'), show_tooltip: false)
        - unless @ont_restricted
          - header.th do
            %div.align-middle{style: 'text-align: center; margin-right: 33px;'}
              = t('submissions.actions')

      - @submissions.each_with_index do |sub, index|
        - hidden_row_class = index >= 5 ? "hidden_ont hidden_select" : ""
        - t.row(id:"submission_#{sub.submissionId}" , class_css: hidden_row_class) do |r|
          - if @ontology.admin?(session[:user])
            - r.td { raw sub.submissionId }
          - r.td do
            = render SubmissionStatusComponent.new(sub, sub.submissionId==submission_ready?(sub)) 
          - r.td {  render DateTimeFieldComponent.new(value: sub.modificationDate) unless sub.modificationDate.nil? }
          - r.td {  render DateTimeFieldComponent.new(value: sub.creationDate) unless sub.creationDate.nil? }


          - unless @ont_restricted
            - r.td do
              %div.d-flex
                %div.dropdown
                  %button.btn.btn-outline-primary.rounded-pill.dropdown-toggle{type:"button", 'data-toggle':"dropdown", 'aria-expanded': "false", style:'white-space: nowrap; width: 94%;font-size: small;'}
                    = t('submissions.download')
                    %span.sr-only= t('submissions.toggle_dropdown')
                  .dropdown-menu
                    - links = download_link(sub,@ontology)
                    - links.each do |value|
                      - link,label,target = value.values               
                      %a.dropdown-item{ href: link, target: target }= label
                 
                -# = raw download_link(sub, @ontology)
                - if @ontology.admin?(session[:user])
                  %div.d-flex
                    %div{style: 'margin-right: 10px;'}
                      = service_button(link: "#{@ontology.id}/submissions/#{sub.submissionId}?display=all", title: t('submissions.go_to_api'))
                    = edit_button(link: "/ontologies/#{@ontology.acronym}/submissions/#{sub.submissionId}/edit", title: t('submissions.edit_button'))
                    - unless index.zero?
                      - alert_text = t('submissions.delete_submission_alert.content_1') + sub.submissionId.to_s + t('submissions.delete_submission_alert.content_2') + @ontology.acronym + t('submissions.delete_submission_alert.content_3')
                      = button_to "/admin/ontologies/#{@ontology.acronym}/submissions/#{sub.submissionId}?turbo_stream=true", method: :delete, class: 'btn btn-sm btn-link', form: {data: { turbo: true, turbo_confirm: alert_text, turbo_frame: '_top'}} do
                        = inline_svg_tag('icons/delete.svg')

      - if @submissions.length > 5
        - t.row(class_css: "show_more_subs") do |r|
          - r.td(colspan: more_colspan) do
            %a#version_toggle{:href => ""} more...

  :javascript
    jQuery(document).ready(() => {
      jQuery("#version_toggle").click( (event) => {
          event.preventDefault();
          jQuery("#ontology_versions tr.hidden_select").toggleClass("hidden_ont")
          const oldText = event.target.innerHTML
          switch (oldText) {
            case 'more...':
              event.target.innerHTML = 'less...'
              break
            case 'less...':
              event.target.innerHTML = 'more...'
              break
          }
      })
    })