:javascript
  $(document).ready(function() {

    // Properly display the information for 'File Location' based on radio button
    if (jQuery("#submission_isRemote_0").is(":checked")) {
      location_toggle("upload");
    }
    if (jQuery("#submission_isRemote_1").is(":checked")) {
      location_toggle("remote");
    }

    // Select default 'File Location' radio button
    if (!jQuery("#submission_isRemote_0").is(":checked") && !jQuery("#submission_isRemote_1").is(":checked") && !jQuery("#submission_isRemote_2").is(":checked")) {
      jQuery("#submission_isRemote_0").attr("checked", "checked")
    }
  });

  // Show/hide location inputs
  function location_toggle(input_div) {
    jQuery('.hidden_field').hide();
    jQuery('.hidden_field input').attr("disabled", true);
    jQuery('#' + input_div + " input").removeAttr("disabled");
    jQuery('#' + input_div).show();
  }


- if !@masterFileOptions
  %div.form-check
    - checked = @ontology.summaryOnly
    = radio_button(object_name, :isRemote, 3, :onclick=>"$('.hidden_field').hide();", checked: checked, aria: {describedBy: "metadataHelpBlock"}, class: "form-check-input")
    %label.form-check-label{for: "submission_isRemote_3"}
      Metadata only
    %small.form-text.text-muted#metadataHelpBlock Allow users to view and search your ontology metadata, but not its classes and properties.
  %div.form-check
    - checked = !(@submission.pullLocation.nil? || @submission.pullLocation.empty?)
    = radio_button(object_name, :isRemote, 1, :onclick=>"location_toggle('remote');", checked: checked, aria: {describedBy: "loadFromURLHelpBlock"}, class: "form-check-input")
    %label.form-check-label{for: "submission_isRemote_1"}
      Load from URL
    %small.form-text.text-muted#loadFromURLHelpBlock New versions loaded on a nightly basis.
    - display = (checked and "" or "display:none;")
    %div.hidden_field#remote{style: display}
      = text_field(object_name, :pullLocation, value: @submission.pullLocation, aria: {describedBy: "enterURLHelpBlock"}, class: "form-control")
      %small.form-text.text-muted#enterURLHelpBlock Enter a URL, including the name of your ontology source file, e.g., http://www.example.com/my_ontology.owl.
  %div.form-check
    - checked = (!@ontology.summaryOnly) && @submission.pullLocation.nil?
    = radio_button(object_name, :isRemote, 0, :onclick=>"location_toggle('upload');", checked: checked, class: "form-check-input")
    %label.form-check-label{for: "submission_isRemote_0"}
      Upload local file
    - display = (checked and "" or "display:none;")
    %div.hidden_field#upload{style: display}
      = file_field(object_name, :filePath, class: "mt-2")
- else
  -# TODO: Has this section of code actually been tested?
  = radio_button object_name, :isRemote, 0, :onclick=>"location_toggle('upload');", checked: true
  Upload Local File
  %br/
  %span{:style => "font-size:11px;"} (choose a file on your local file system to upload)
  - display = (checked and "" or "display:none;")
  %div#upload{style: display}
    = file_field object_name, :filePath, required: true
    = select(object_name, "masterFileName", @masterFileOptions, { include_blank: "Select primary file from zip contents", required: true}, {style: "border-color: red;"})
