<script src="/javascripts/fcbklistselection.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
<!--
<script src="/javascripts/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
-->

<link rel="stylesheet" href="/stylesheets/layout/fcbklistselection.css" type="text/css" media="screen" title="no title" charset="utf-8">

<!-- Override the bioportal.css for .required to avoid red text in the input fields.  -->
<style type="text/css">
	.required {
	    color: black;
	}
</style>


<div style="padding:10px">

	<table class="form" width="60%">
		<tr>
			<th>Project Name:*</th>
			<td class="top"><%=text_field :project, :name, :class=>"required", :tabindex=>1 %></td>
		</tr>
		<tr>
			<th>Institution:</th><td><%=text_field :project, :institution, :tabindex=>2 %></td>
		</tr>
		<tr>
			<th>People:</th><td><%=text_field :project, :people, :tabindex=>3 %></td>
		</tr>
		<tr>
			<th>
				Homepage:* <br/>
				<span class="default_owl">
					Example: <a target="_blank" href="http://en.wikipedia.org/wiki/SNOMED_CT">http://en.wikipedia.org/wiki/SNOMED_CT</a>
				</span>
			</th>
			<td><%=text_field :project, :homepage, :class=>"required url", :tabindex=>4 %></td>
		</tr>
		<tr>
			<th>Description:*</th><td><%=text_area :project, :description, :rows=>6, :class=>"required", :tabindex=>5 %></td>
		</tr>
	</table>
	
	<h2>Select Ontologies Used</h2>
	<ul id="fcbklist">
		<%for ontology in @ontologies%>
		    <li>        
		        <strong><%=ontology.displayLabel%></strong><br /> 
		        <span class="fcbkitem_text"></span>
		        <input type="hidden"  value="<%=ontology.ontologyId%>" <%if !@usedOntologies.nil? && @usedOntologies.include?(ontology.ontologyId.to_i)%> checked="checked" <%end%>/>       
		    </li>
		<%end%>
	</ul>

</div>

<script type="text/javascript" language="JavaScript">

	var fcbklist;
	
	$(document).ready(function() {
		//id(ul id),width,height(element height),row(elements in row)
		fcbklist = $.fcbkListSelection("#fcbklist","800","50","5");
		$("#form").submit(function(){gatherValues();})
		// Initialize jquery.validate for the project form fields.
		$("#form").validate();
		// Start the form field for "Homepage" with "http://", only 
		// when it is already empty.
		var homepage = $("input#project_homepage").val();
		if (homepage == null || homepage == ""){
			homepage = "http://"
		}
		$("input#project_homepage").val(homepage);
	});
	
	function gatherValues(){
		eval("values = "+$("#fcbklist_values").val());
		for(val in values){
			$("#form").append("<input type='hidden' name='ontologies[]' value='"+values[val]+"'/>")
		}
	}
</script>