
<table>
	<tr>
		<td>Project Name:*</td><td><%=text_field :project, :name%></td>
	</tr>
	<tr>
		<td>Institution:</td><td><%=text_field :project, :institution%></td>
	</tr>
	<tr>
		<td>People:</td><td><%=text_field :project, :people%></td>
	</tr>
	<tr>
		<td>Homepage:*</td><td><%=text_field :project, :homepage%></td>
	</tr>
	<tr>
		<td>Description:*</td><td><%=text_area :project, :description%></td>
	</tr>
</table>

<span class="blueButton"><%=link_to_prototype_dialog( "Select Ontologies Used","ontologies",'form', {:title => "Add Ontologies To Project", :width =>600,:height=>400})%></span>
<div id="ontologies" style="display:none;">
<div style="height:350px;overflow:auto;border-bottom:1px solid black;">
	<table>
<%count = 1%>

<%for ontology in @ontologies%>
	<%if count==1%>
		<tr>
	<%end%>		
	
		<td style="border:1px solid gray;cursor:pointer;" onmouseover="hover_on_BG(this);" onmouseout="hover_off_BG(this);" onclick="this.firstChild.click();toggleBG(this,'#DDFFDD');"><input type="checkbox" name="ontologies[<%=ontology.name%>]" onchange="updateOntologyList(this);" ><%=ontology.name%></td>
	
	<%if count==3%>
		</tr>		
		
	<% count = 1
	else
	count = count +1
		end%>
<%end%>		
	</table>	
</div>
<br>
<input type="button" value="Finished" onclick="updateContent();Dialog.cancelCallback();" class="blueButton">
<br>
</div>

<ul id="ontologieslist">
	<%for use in @project.uses%>
		<li id="id_<%=use.ontology%>"><%=use.ontology%></li>
		<input type="hidden" id="hid_<%=use.ontology%>" name="ontologies[<%=use.ontology%>]" value=1>
	<%end%>
</ul>
