<%@title = "Project Listing"%>

<h1 class="tab_header">Projects</h1>
<p class="tab_description">
<% intro_text = "Browse a selection of projects that use #{$SITE} resources"%> 
  <%=t('projects.intro').nil? || t('projects.intro').empty? ? "#{intro_text}  #{help_icon("/help#Projects_Tab")}" : t('projects.intro')%>
</p>

<div style="padding:10px;">

<%if session[:user].nil?%>
  <%=button_to "Create New Project", "/login", :method => :get%>
<%else%>
  <span><%=button_to "Create New Project", new_project_path, :method => :get%></span>
<%end%>
</div>

<br>
<br>
<table class="zebra" width="98%" style="border:0px;margin-left:10px;" cellpadding="0" cellspacing="0">
	<%for project in @projects%>
		<tr width="100%" style="border:none; margin:0px; padding:0px;">
			<td colspan="4" height="5px" style="font-size:1%; border-right:none; border-left:none; margin:0px; padding:0px;">&nbsp;</td>
		</tr>
		<tr width="100%" style="padding-top:5px;padding-bottom:5px;">
			<td class="pheader" width="30%" style="vertical-align:top;">
				<strong><%= link_to project.name, project, :style=>"text-decoration:none;"%></strong>
				<br>
				<span style="font-size:75%; vertical-align:bottom;">
					<%= link_to "Home Page", project.homepage %>&nbsp;&nbsp;
					<%if isOwner?(project.id)%>
						<%= link_to "Edit Project", edit_project_path(project)%>&nbsp;&nbsp;
						<%= link_to 'Delete Project', project, :confirm => 'Are you sure?', :method => :delete %>
					<%end%>
				</span>
			</td>
			<td align="left" width="50%" style="vertical-align:top;background-color:#EFEFEF;">
		        <%if ! project.description.nil? %>
		            <%descLength = 250%>
		            <%if project.description.length < descLength%>
		                <%= project.description%>
		            <%else%>
		                <%descShort = smart_truncate(project.description, :words => 20) %>
		                <span title="<%= project.description%>" style="cursor:help;"><%= descShort%></span>
		            <%end%>
		        <%end%>
			</td>
			<td align="left" width="10%" style="vertical-align:top;background-color:#EFEFEF;">
				<%= project.people%>
			</td>
			<td align="left" width="10%" style="vertical-align:top;background-color:#EFEFEF;">
				<%= project.institution%>
			</td>
		</tr>
	<%end%>
	
	<tr width="100%" style="border:none; margin:0px; padding:0px;">
		<td colspan="4" height="5px" style="font-size:1%; border-right:none; border-left:none; margin:0px; padding:0px;">&nbsp;</td>
	</tr>
</table>

</div>
