<%@title = "Project Listing"%>

<h1 class="tab_header">Projects</h1>
<p class="tab_description">
<% intro_text = "Browse a selection of projects that use #{$SITE} resources"%> 
  <%=t('projects.intro').nil? || t('projects.intro').empty? ? "#{intro_text}  #{help_icon("/help#Projects_Tab")}" : t('projects.intro')%>
</p>

<div style="padding:10px;">

<%if session[:user].nil?%>
  <%=button_to "Create New Project", "/login", :method => :get%>
<%else%>
  <span><%=button_to "Create New Project", new_project_path, :method => :get%></span>
<%end%>
</div>

<br>
<br>
<table class="zebra" style="border:0px;margin-left:12px;" width="90%" cellpadding="0" cellspacing="0">
  <%for project in @projects%>
  <tr>
    <td colspan="2" class="pheader"><strong><%=link_to project.name, project,:style=>"text-decoration:none;"%></strong> <span style="font-size: 75%; vertical-align: middle; padding-left: 1em;"><%if isOwner?(project.id)%><%=link_to "Edit Project",edit_project_path(project)%>&nbsp;&nbsp;<%= link_to 'Delete Project', project, :confirm => 'Are you sure?', :method => :delete %><%end%></span></td>
  </tr>
  <tr style="background-color:#EFEFEF">
    <td  colspan="2" style="padding:10px;border-bottom:1px solid #9F9F9F"><%=project.description%></td>
  </tr>
  <tr>
    <th style="width:100px;text-align:left;padding:5px;">People:</th><td align="left"style="padding-top:5px;width:100%;"><%=project.people%></td>
  </tr>
  <tr>
    <th style="width:100px;text-align:left;padding:5px;">Institution:</th><td align="left"style="padding-top:5px;width:100%;"><%=project.institution%></td>
  </tr>
  <tr>
    <th style="width:100px;text-align:left;padding:5px;">Homepage:</th><td align="left"style="padding-top:5px;width:100%;"><%=link_to project.homepage, project.homepage%></td>
  </tr>
  
  <tr style="border: none;">
    <td colspan="2" style="width:100%; margin-bottom:15px; border: none;">&nbsp;</td>
  </tr>
  <%end%>
</table>

</div>
