<% require 'ostruct' %>

<%@title = "Ontology Recommender"%>

<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery("#recommender_button").click(getRecommendations);
  });

  function getRecommendations() {
    jQuery("#not_enough_text_error").html("");
    jQuery(".recommender_error").html("");
    jQuery(".recommender_spinner").show();

    var params = {};

    var ont_select = jQuery("#ontology_ontologyId");

    var ontology_ids = (ont_select.val() == null) ? "" : ont_select.val().join(",");

    params["ontology_ids"] = ontology_ids;
    params["text"] = jQuery("#recommendation_text").val();
    params["hierarchy"] = jQuery("[name='hierarchy']:checked").val() == "none" ? "" : jQuery("[name='hierarchy']:checked").val();
    params["normalization"] = jQuery("[name='normalization']:checked").val() == "none" ? "" : jQuery("[name='normalization']:checked").val();

    jQuery.ajax({
          type: "POST",
          url: "/recommender",
          data: params,
          dataType: "json",
          success: function(data) {
            jQuery(".recommender_spinner").hide();

            // Really dumb, basic word counter. Counts spaces.
            if (jQuery("#recommendation_text").val().match(/ /g) == null || jQuery("#recommendation_text").val().match(/ /g).length < 50) {
              jQuery("#not_enough_text_error").html("Please use more than 50 words for accurate results");
            }

            var links = [];
            links.push('<thead><tr><th style="padding-right: 6px; text-align: right;">Rank</th><th>Ontology</th><th style="padding-right: 6px">Terms Matched</th></tr></thead>');

            var resultCount = 1;
            if (jQuery.isEmptyObject(data)) {
              links.push("<tr><td>No recommendations found</td></tr>");
            } else {
              jQuery(data).each(function(){
                var rec = this;
                links.push("<tr><td style='text-align: right; padding-right: 10px;'>"+resultCount+"</td><td style='padding: 6px 12px 6px 12px;'><a href='/ontologies/"+rec.virtualOntologyId+"'>"+rec.name+"</a></td><td style='text-align: right;'>"+rec.nbAnnotation+" of "+rec.ontologySize+"</td></tr>");
                resultCount++;
              });
            }

            jQuery("#recommendations").html(links.join(""));
            jQuery("#recommendations_container").show();
          },
          error: function(data) {
            jQuery("#recommendations_container").hide();
            jQuery(".recommender_spinner").hide();
            jQuery(".recommender_error").html(" Problem getting recommendations, please try again");
          }
    });
  }
</script>

<div style="padding: 1em;">
  <h1>Ontology Recommender</h1>

  <p style="max-width:850px;">
    Receive recommendations on which ontologies are most relevant for a corpus
    <%=help_icon("/help#Recommender_Tab")%>
  </p>

  <div style="padding-bottom: 1em;">
    <% textarea_title = "Please paste at least a paragraph (50 words or more) of text to use in calculating ontology recommendations" %>
    <%=text_area :recommendation, :text, :title => textarea_title, :rows => 15, :style => "box-shadow: 0 0 3px gray; padding: 5px; width: 600px;", :class => "help_text" %>

    <br style="margin-bottom: 10px;"/>

    <%=render :partial => "shared/ontology_picker"%>

    <!-- Options used for testing on stage UI -->
    <h2>Hierarchy</h2><%=radio_button_tag :hierarchy, "0"%> <%=label_tag :hierarchy_0, "0"%>&nbsp;&nbsp;&nbsp;<%=radio_button_tag :hierarchy, 5, true%> <%=label_tag :hierarchy_5, "5"%><br/><br/>
    <h2>Normalization</h2><%=radio_button_tag :normalization, "0", true%> <%=label_tag :normalization_0, "None"%>&nbsp;&nbsp;&nbsp;<%=radio_button_tag :normalization, "1", true%> <%=label_tag :normalization_1, "Size of ontology"%>&nbsp;&nbsp;&nbsp;<%=radio_button_tag :normalization, "2"%> <%=label_tag :normalization_2, "log10(size of ontology)"%><br/>
    <!-- -->

    <input type="button" id="recommender_button" value="Get Recommendations" style="margin-top: 10px;" class="link_button">
    <span class="recommender_spinner" style="display: none;"><img src="/images/spinners/spinner_000000_16px.gif" style="vertical-align: text-bottom;"></span>
    <span style='color: red;' class='recommender_error'></span>
  </div>
</div>

<div id="recommendations_container" style="display: none; padding: 0 13px; margin: 0 0 2em;">
  <h2 style="margin-bottom: 0;">Ontology Recommendations</h2>
  <div id="not_enough_text_error" style="color: red; margin-bottom: 7px;"></div>
  <table id="recommendations" style="display: inline-block;" class="zebra"></table>
</div>


