%div.container-fluid

  %div.row
    %div.col-xs-12
      %h1 Ontology Recommender
      %p
        = t('recommender.intro').html_safe
        = link_to(help_path(anchor: "Recommender_Tab"), id: "recommender-help", target: "_blank") do
          %i.fa.fa-question-circle.fa-lg{aria: {hidden: true}, style: "margin-left: .5em"}

  %div.row
    %div.col-xs-12
      %form

        %h4 Input
        %label.radio-inline
          %input#radioItText{name: "input_type", type: "radio", value: "1", checked: "checked"} Text
        %label.radio-inline
          %input#radioItKeywords{name: "input_type", type: "radio", value: "2"} Keywords (separated by commas)

        %h4{style: "margin-top: 25px"} Output
        %label.radio-inline
          %input#radioOtSingle{name: "output_type", type: "radio", value: "1", checked: "checked"} Ontologies
        %label.radio-inline
          %input#radioOtSets{name: "output_type", type: "radio", value: "2"} Ontology sets

        %div.form-group{style: "margin-top: 25px"}
          = text_area_tag("inputText", nil, rows: 10, class: "form-control default", placeholder: "Paste a paragraph of text or some keywords to use in calculating ontology recommendations")
          %div#inputTextHighlighted.well
          %p.help-block
            %a#insertInputLink{href: "javascript:void(0);"} insert sample input

        %a#advancedOptionsLink{:href => "javascript:void(0);"} Show advanced options >>
          
        / Advanced options
        %div#advancedOptions.optionsBox
          / Weights
          %label Weights configuration
          %div.row
            %div.form-group
              %div.col-xs-2
                %div.input-group
                  %span#coverage-addon.input-group-addon Coverage:
                  = number_field_tag("input_wc", "0.55", min: "0", step: "1", class: "form-control", aria: {describedby: "coverage-addon"})
              %div.col-xs-2
                %div.input-group
                  %span#acceptance-addon.input-group-addon Acceptance:
                  = number_field_tag("input_wa", "0.15", min: "0", step: "1", class: "form-control", aria: {describedby: "acceptance-addon"})              
              %div.col-xs-2
                %div.input-group
                  %span#knowledge-addon.input-group-addon Knowledge detail:
                  = number_field_tag("input_wd", "0.15", min: "0", step: "1", class: "form-control", aria: {describedby: "knowledge-addon"})              
              %div.col-xs-2
                %div.input-group
                  %span#specialization-addon.input-group-addon Specialization:
                  = number_field_tag("input_ws", "0.15", min: "0", step: "1", class: "form-control", aria: {describedby: "specialization-addon"})
          / Ontology sets
          %div.optionsBox
            %label Ontology sets    
            %div.row
              %div.form-group
                %div.col-xs-2
                  %div.input-group
                    %span#sets-addon.input-group-addon Maximum ontologies per set:
                    = number_field_tag("input_max_ontologies", "3", in: 2...5, class: "form-control", aria: {describedby: "sets-addon"})
          /Ontology picker
          %div#ontologyPicker.optionsBox
            = render(partial: "shared/ontology_picker")
  
        %div{style: "margin-top: 25px;"}
          = submit_tag("Get Recommendations", id: "recommenderButton", type: "button", class: "btn btn-primary")
          = submit_tag("Edit Input", id: "editButton", type: "button", style: "display: none;", class: "btn btn-primary")
          = content_tag(:span, class: "recommenderSpinner") do
            = image_tag("spinners/spinner_000000_16px.gif", style: "vertical-align: middle;")
  
  %div.row
    %div.col-xs-12
      %br
      %br
      %span.notTextError
        Please paste a paragraph of text or some keywords to use in calculating ontology recommendations.
        %br/
      %span.sumWeightsError
        The sum of the weights must be greater than zero.
        %br/
      %span.rangeWeightsError
        All the weights must be greater or equal to zero.
        %br/
      %span.invalidWeightsError
        All the weights must be valid numeric values.
        %br/
      %span.invalidMaxOntError
        The maximum ontologies per set must be a valid integer value.
        %br/
      %span.maxOntologiesError
        The maximum ontologies per set must be a number between 2 and 4.
        %br/
      %span.generalError
        Problem getting recommendations, please try again.
        %br/
      %span#noResults{:style => "margin-left: 3px; display:none"}
        No recommendations found.
        %br/
      %span#noResultsSets{:style => "margin-left: 3px; display:none"}
        There are no ontology sets recommended for the input provided. Please try the "Ontologies" output.
        %br/
      %span.inputSizeError
        Please use less than 500 words. If you need to annotate larger pieces of text you can use the Recommender Web Service

  %div.row#resultsDisplay
    %div.col-xs-12
      %h2#resultsHeader
      #recommender-results
