<% require 'ostruct' %>

<%=stylesheet_link_tag "/javascripts/JqueryPlugins/facebox/facebox.css"%>
<%=javascript_include_tag "JqueryPlugins/facebox/facebox.js"%>

<%@title = "Ontology Recommender"%>
<style type="text/css">
  .found_concepts {
    display: none;
  }
</style>

<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery("#recommender_button").click(getRecommendations);
    jQuery("#insert_text_link").click(insertSampleText);
    jQuery("#insert_keywords_link").click(insertSampleKeywords);
  });

  function insertSampleText() {
    var text = 'Primary treatment of DCIS now includes 3 options: lumpectomy without lymph node surgery plus whole breast radiation (category 1); total mastectomy with or without sentinel node biopsy with or without reconstruction (category 2A); lumpectomy without lymph node surgery without radiation (category 2B). Workup for patients with clinical stage l, llA, llB, or T3,N1,M0 disease was reorganized to distinguish optional additional studies from those recommended for all of these patients. Recommendation for locoregional treatment for patients with clinical stage l, llA, llB, or T3,N1,M0 disease with 1-3 positive axillary nodes following total mastectomy was changed from "Consider" to "Strongly consider" postmastectomy radiation therapy. For patients with hormone receptor-positive, HER2-negative tumors that are 0.6-1.0 cm and moderately/poorly differentiated or with unfavorable features, or > 1 cm, the recommendation for use of a 21-gene RT-PCR assay (category 2B) was added to the systemic adjuvant treatment decision pathway as an option for guiding chemotherapy treatment decisions. Systemic adjuvant treatment for patients with tubular or colloid tumors that are hormone receptor-positive and node-positive was changed from "adjuvant hormonal therapy + adjuvant chemotherapy" to "adjuvant hormonal therapy adjuvant chemotherapy". For hormone receptor-positive, node negative tubular/colloid tumors that are 1 cm, the recommendation for use or consideration of adjuvant chemotherapy was removed. The heading for workup for patients with locally advanced invasive cancer was modified to specify "Noninflammatory" disease and reorganized to distinguish optional additional studies from those recommended for all of these patients.';
    jQuery("#recommendation_text").focus();
    jQuery("#recommendation_text").val(text);
  }

  function insertSampleKeywords() {
    var text = "fibroepithelial neoplasm \nsyndrome \ncarcinoma in situ \nDNA Damage \nhereditary disease \nRecruitment \nRetinal Neovascularization \nCerebrovascular accident \nhereditary Wilms' cancer \ncarcinoma \nAlzheimer's disease \nosteosarcoma \nmelanoma \nadenovirus infectious disease \nHypoalbuminemia \nAtaxia \nneurodegenerative disorder \ndisease \nobesity \ngenetic disorder \nRetinal degeneration \nBardet-Biedl syndrome \ndisorder \nGlaucoma \nprogressive multifocal leukoencephalopathy \nprimary biliary cirrhosis \ndisease by infectious agent \nviral infectious disease \ncancer \nrenal cell carcinoma \nlymphoma \nhepatitis B \nWithdrawal \nZellweger syndrome \nsevere mental retardation IQ 20-34 \ngroup B streptococcal pneumonia \nEmery-Dreifuss muscular dystrophy \ncardiomyopathy \ncutaneous mastocytosis \nmuscular atrophy \nIntestines \ncolon carcinoma \nHalo nevus \nleukemia \nacute myeloid leukemia \nepilepsy \nbreast carcinoma \nprimary carcinoma of the liver cells \nmalignant neoplasm of breast \ncontagious pustular dermatitis \nbasal cell carcinoma \nhypersensitivity \nretinoblastoma \nmyeloid leukemia \nheart defects, congenital \nlocally Advanced malignant neoplasm \naortic valve insufficiency \nnephroblastoma \nglioma \nglioblastoma \nanaplastic astrocytoma \nbrain edema \ndiabetes mellitus \nhypertension \nprogeria \nMuscle Rigidity \nBulla \nnephrotic syndrome \nLiver Cirrhosis \nInsulin Resistance \nKlinefelter's syndrome \nDependence \nmicrocytic anemia \nanemia \nT-cell leukemia \nretinitis pigmentosa \ncleft palate \nShprintzen syndrome \nDiGeorge syndrome \nHypocalcemia result \nbenign prostatic hypertrophy \ninfertility \novarian small cell carcinoma \ngiant cell tumor of bone \nDuchenne muscular dystrophy \nhereditary breast ovarian cancer \nataxia telangiectasia \nDental Plaque \nglycogen storage disease \nnasal polyps \nscleroderma \nsystemic scleroderma \nmalignant neoplasm of ovary \nSeborrheic keratosis \nactinic keratosis \nsquamous cell carcinoma \ncardiovascular system infectious disease \nAtherosclerosis \nmammary cancer \nPre-Eclampsia \n";
    jQuery("#recommendation_text").focus();
    jQuery("#recommendation_text").val(text);
  }

  function getRecommendations() {
    jQuery("#not_enough_text_error").html("");
    jQuery(".recommender_error").html("");
    jQuery(".recommender_spinner").show();

    var params = {};

    var ont_select = jQuery("#ontology_ontologyId");

    var ontology_ids = (ont_select.val() == null) ? "" : ont_select.val().join(",");

    params["ontology_ids"] = ontology_ids;
    params["text"] = jQuery("#recommendation_text").val();
    params["hierarchy"] = jQuery("[name='hierarchy']:checked").val() == "none" ? "" : jQuery("[name='hierarchy']:checked").val();
    params["normalization"] = jQuery("[name='normalization']:checked").val() == "none" ? "" : jQuery("[name='normalization']:checked").val();

    jQuery.ajax({
          type: "POST",
          url: "/recommender",
          data: params,
          dataType: "json",
          success: function(data) {
            jQuery(".recommender_spinner").hide();

            // Really dumb, basic word counter. Counts spaces.
            if (jQuery("#recommendation_text").val().match(/ /g) == null || jQuery("#recommendation_text").val().match(/ /g).length < 50) {
              jQuery("#not_enough_text_error").html("Please use more than 50 words for accurate results");
            }

            var links = [];
            links.push('<thead><tr><th style="padding-right: 6px; text-align: right;">Rank</th><th>Ontology</th><th style="padding-right: 6px">Terms Matched</th></tr></thead>');

            var resultCount = 1;
            if (jQuery.isEmptyObject(data)) {
              links.push("<tr><td>No recommendations found</td></tr>");
            } else {
              jQuery(data).each(function(){
                var rec = this;

                var found_concepts = [];
                jQuery.each(rec.annotatingConcepts, function(){
                  found_concepts.push("<a href='/ontologies/"+rec.virtualOntologyId+"?p=classes&conceptid="+encodeURIComponent(this.fullId)+"'>"+this.preferredName+"</a>");
                });

                var found_concepts_html = "<div id='found_concepts_"+resultCount+"' class='found_concepts'><h2 style='margin-top: -2em;'>Matched Terms</h2>" + found_concepts.join("<br/>") + "</div>";

                links.push("<tr><td style='text-align: right; padding-right: 10px;'>"+resultCount+"</td><td style='padding: 6px 12px 6px 12px;'><a href='/ontologies/"+rec.virtualOntologyId+"'>"+rec.name+"</a></td><td style='text-align: right;'><a href='#found_concepts_"+resultCount+"' rel='facebox'>"+rec.nbAnnotatingConcept+" of "+rec.ontologySize+"</a>"+found_concepts_html+"</td></tr>");

                resultCount++;
              });
            }

            jQuery("#recommendations").html(links.join(""));

            // Wire concept modal dialog
            jQuery("a[rel*=facebox]").facebox();

            jQuery("#recommendations_container").show();
          },
          error: function(data) {
            jQuery("#recommendations_container").hide();
            jQuery(".recommender_spinner").hide();
            jQuery(".recommender_error").html(" Problem getting recommendations, please try again");
          }
    });
  }
</script>

<div style="padding: 1em;">
  <h1>Ontology Recommender</h1>

  <p style="max-width:850px;">
    Get recommendations for the most relevant ontologies based on an excerpt from a biomedical text that you provide
    <%=help_icon("/help#Recommender_Tab")%>
  </p>

  <div style="padding-bottom: 1em;">
    <div style="width: 610px;">
      <a href="javascript:void(0);" id="insert_text_link" style="font-size: 8pt; text-decoration: none; float: right; margin: 0 0 3px 5px;">insert sample text</a>
      <a href="javascript:void(0);" id="insert_keywords_link" style="font-size: 8pt; text-decoration: none; float: right; margin: 0 5px 3px;">insert sample keywords</a>
    </div>

    <% textarea_title = "Please paste at least a paragraph (50 words or more) of text to use in calculating ontology recommendations" %>
    <%=text_area :recommendation, :text, :title => textarea_title, :rows => 15, :style => "box-shadow: 0 0 3px gray; padding: 5px; width: 600px;", :class => "help_text" %>

    <br style="margin-bottom: 10px;"/>

    <%=render :partial => "shared/ontology_picker"%>

    <input type="button" id="recommender_button" value="Get Recommendations" style="margin-top: 10px;" class="link_button">
    <span class="recommender_spinner" style="display: none;"><img src="/images/spinners/spinner_000000_16px.gif" style="vertical-align: text-bottom;"></span>
    <span style='color: red;' class='recommender_error'></span>
  </div>
</div>

<div id="recommendations_container" style="display: none; padding: 0 13px; margin: 0 0 2em;">
  <h2 style="margin-bottom: 0;">Ontology Recommendations</h2>
  <div id="not_enough_text_error" style="color: red; margin-bottom: 7px;"></div>
  <table id="recommendations" style="display: inline-block;" class="zebra"></table>
</div>


