.upload-ontology-input-field-container
  = ontology_name_input
.upload-ontology-input-field-container
  = ontology_acronym_input

.upload-ontology-input-field-container
  = ontology_visibility_input
.upload-ontology-input-field-container
  = ontology_administered_by_input
.upload-ontology-input-field-container
  = ontology_categories_input
.upload-ontology-field-container
  = ontology_groups_input
.upload-ontology-input-field-container.mt-2
  = ontology_view_of_input
