.upload-ontology-input-field-container
  = text_input(name: 'ontology[name]', value: @ontology.name)
.upload-ontology-input-field-container
  = text_input(name: 'ontology[acronym]', value: @ontology.acronym, disabled: @is_update_ontology)
  = hidden_field_tag 'ontology[acronym]', @ontology.acronym if @is_update_ontology

.upload-ontology-input-field-container#visibilityContainer
  = select_input(label: "Visibility", name: "ontology[viewingRestriction]", values: %w[public private], selected: @ontology.viewingRestriction )
.upload-ontology-input-field-container#visibility-group{style: 'display: none'}
  = select_input(label: "Add or remove accounts that are allowed to view classes in this ontology using the account name", name: "ontology[acl]", values: @user_select_list, selected: @ontology.acl, multiple: true)

.upload-ontology-input-field-container
  = select_input(label: "Administrator", name: "ontology[administeredBy]", values: @user_select_list, selected: @ontology.administeredBy || session[:user].id, multiple: true)
.upload-ontology-input-field-container
  = render Input::InputFieldComponent.new(name: '', label:'Categories') do
    %div.upload-ontology-chips-container
      = hidden_field_tag 'ontology[hasDomain][]'
      - @categories.each do |category|
        = check_input(name: "ontology[hasDomain][]", id: category[:acronym] , label: category[:acronym], value: category[:id], checked: @ontology.hasDomain&.any?{|x| x.eql?(category[:id])})
.upload-ontology-field-container
  = render Input::InputFieldComponent.new(name: '', label:'Groups') do
    %div.upload-ontology-chips-container
      = hidden_field_tag "ontology[group][]"
      - @groups.each do |group|
        = check_input(name: "ontology[group][]", id: group[:acronym] , label: group[:acronym], value: group[:id], checked: @ontology.group&.any?{|x| x.eql?(group[:id])})

.upload-ontology-input-field-container.mt-2
  %span.d-flex
    = switch_input(id: 'ontology_isView', name: 'ontology[isView]', label: 'Is a view of another ontology?', checked: @ontology.view?)
  %div#ontology_viewOf{style: "display: #{ !@ontology.view? ? 'none' : 'block'}"}
    = render partial: "shared/ontology_picker_single", locals: {placeholder: "", field_name: "viewOf", selected: @ontology.viewOf}
:javascript

  function showPrivateAclSelect() {
    const visibilityGroupDiv = document.getElementById('visibility-group');
    // Get the selected value from the select element
    const selectElement = document.getElementById('select_ontology[viewingRestriction]');
    const selectedValue = selectElement.value;


    // Check if the selected value is "private"
    if (selectedValue === 'private') {
      // If it's "private", show the visibility-group div
      visibilityGroupDiv.style.display = 'block';
    } else {
      // If it's not "private", hide the visibility-group div
      visibilityGroupDiv.style.display = 'none';
    }
  }
  const parentDiv = document.getElementById('visibilityContainer');
  parentDiv.addEventListener('change', () => { showPrivateAclSelect() });


  jQuery("#ontology_isView").live("click", function(){
      if (jQuery("#ontology_isView").is(":checked")) {
        jQuery("#ontology_viewOf").removeAttr('disabled').show();
      } else {
        jQuery("#ontology_viewOf").attr('disabled', true).hide();
      }
  });