%div.ont-metadata

  -# Details pane
  %section.border.rounded.ont-metadata-card.ont-details-card
    %header.font-weight-bold Details
    %div{style: "padding: 24px 36px;"}
      %dl
        %dt Acronym
        %dd= @ontology.acronym

        %dt Visibility
        %dd= strip_links(visibility_link(@ontology))
       
        - unless @ontology.summaryOnly
          %dt Links
          - if $PURL_ENABLED
            %dd
              %ul
                %li= link_to("#{$SITE} PURL".strip, @ontology.purl, class: "card-link")
                - unless @submission_latest.nil?
                  %li= link_to("Homepage", @submission_latest.homepage, target: "_blank") unless @submission_latest.homepage.nil?
                  %li= link_to("Documentation", @submission_latest.documentation, target: "_blank") unless @submission_latest.documentation.nil?
                  %li= link_to("Publications", @submission_latest.publication, target: "_blank") unless @submission_latest.publication.nil?

        - if @ontology.viewing_restricted?
          %dt Viewing restriction
          %dd= @ontology.viewingRestriction.capitalize

        - unless @ontology.viewOf.nil?
          %dt View of ontology
          %dd
            - ont_parent_acronym = @ontology.viewOf.split('/').last
            - if $PURL_ENABLED
              - ont_url = @ontology.purl.sub(@ontology.acronym, ont_parent_acronym)
            - else
              - ont_url = @ontology.links['ui'].sub(@ontology.acronym, ont_parent_acronym)
            = link_to(ont_parent_acronym, ont_url)

        - unless @submission_latest.nil?
          %dt Status
          %dd= @submission_latest.status.capitalize unless @submission_latest.status.nil?
          %dt Format
          %dd= @submission_latest.hasOntologyLanguage
          %dt Contact
          %dd= raw @submission_latest.contact.map {|c| [c.name, c.email].join(", ") if c.member?(:name) && c.member?(:email)}.join("<br/>")
        
        - categories_hash = LinkedData::Client::Models::Category.all_to_hash
        - categories = @ontology.hasDomain
        - unless categories.empty?
          %dt Categories
          %dd= categories.map {|c| categories_hash[c].name}.sort.join(", ")
        - groups_hash = LinkedData::Client::Models::Group.all_to_hash
        - groups = @ontology.group
        - unless groups.empty?
          %dt Groups
          %dd= groups.map {|g| groups_hash[g].name}.sort.join(", ")
        = raw additional_details

  -# Metrics pane
  %section.border.rounded.ont-metadata-card.ont-metrics-card
    %header.font-weight-bold 
      Metrics
      = link_to("http://www.bioontology.org/wiki/index.php/Ontology_Metrics", target: "_blank", aria: {label: "View individual metrics definitions"}, title: "View individual metrics definitions") do
        %i.fas.fa-lg.fa-question-circle{aria: {hidden: "true"}, style: "margin-left: .25em"}
    %div{style: "padding: 24px 36px;"}
      - if @metrics.nil? || (@metrics.is_a?(Array) && @metrics.empty?) || (@metrics.respond_to?(:status) && @metrics.status == 404)
        %p.font-italic= "We have not yet calculated metrics for #{@ontology.acronym}"
      - else
        %table.table.table-sm.table-hover
          %tr
            %td{style: "border-top: none;"} Classes
            %td{style: "border-top: none;"}= @metrics.classes
          %tr
            %td Individuals
            %td= @metrics.individuals
          %tr
            %td Properties
            %td= @metrics.properties
          %tr
            %td Maximum depth
            %td= @metrics.maxDepth
          %tr
            %td Maximum number of children
            %td= @metrics.maxChildCount
          %tr
            %td Average number of children
            %td= @metrics.averageChildCount
          %tr
            %td Classes with a single child
            %td= @metrics.classesWithOneChild
          %tr
            %td Classes with more than 25 children
            %td= @metrics.classesWithMoreThan25Children
          %tr
            %td Classes with no definition
            %td= @metrics.classesWithNoDefinition

  -# Submissions pane
  - unless @submissions.empty?
    %section.border.rounded.ont-metadata-card.ont-subs-card
      %header.font-weight-bold Submissions
      = render partial: "submissions"

  -# Analytics pane
  %section.border.rounded.ont-metadata-card.ont-analytics-card
    %header.font-weight-bold
      Analytics
      - if visits_data
        = link_to(@ontology.links["analytics"] + "?apikey=#{get_apikey}&format=csv", aria: {label: "Download as CSV"}, title: "Download as CSV") do
          %i.fas.fa-lg.fa-download{aria: {hidden: "true"}, style: "margin-left: .25em"}
    %div{style: "padding: 15px 15px;"}
      = render partial: "visits"

  -# Views pane (don't show if the ontology is a view - we don't allow views of views).
  - unless @ontology.view?
    %section.border.rounded.ont-metadata-card.ont-views-card
      %header.font-weight-bold= "Views of #{@ontology.acronym}"
      %div{style: "padding: 24px 36px;"}
        - if @views.empty?
          %p.font-italic= "No views of #{@ontology.acronym} available"
        - else
          %dl
            - for view in @views
              - next unless view.access?(session[:user])
              %dt= link_to(view.name, ontology_path(view.acronym))
              -# TODO: Can we put this code in the controller?
              - view_submissions = view.explore.submissions.sort {|a,b| b.released <=> a.released } || [] rescue []
              - view_sub_latest = view.explore.latest_submission({:include_status => 'ready'}) rescue view.explore.latest_submission({:include_status => 'ready', include: ""})
              - view_sub_latest ||= view_submissions.first
              - begin
                - view_description = view_sub_latest.description
              - rescue
                - view_description = nil
              - unless view_description.nil?
                %dd
                  %div= view_description
        
        - ont_id_esc = CGI.escape(@ontology.id)
        -# TODO: I don't think we should have brackets in the URL parameters.
        - if session[:user].nil?
          %a{href: "/login?redirect=#{URI.escape("/ontologies/new?ontology[viewOf]=#{ont_id_esc}", Regexp.new("[^#{URI::PATTERN::UNRESERVED}]"))}", role: "button", class: "btn btn-outline-secondary mt-4"} Create new view
        - else
          %a{href: "/ontologies/new?ontology[viewOf]=#{ont_id_esc}", role: "button", class: "btn btn-outline-secondary mt-4"} Create new view      

  -# Projects pane
  %section.border.rounded.ont-metadata-card.ont-projects-card
    %header.font-weight-bold= "Projects using #{@ontology.acronym}"
    %div{style: "padding: 24px 36px;"}
      - if @projects.empty?
        %p.font-italic= "No projects using #{@ontology.acronym}"
      - elsif @projects.size == 1
        %p= link_to(@projects.first.name, project_path(@projects.first.acronym))
      - else
        %ul
          - for project in @projects
            %li= link_to(project.name, project_path(project.acronym))
      = link_to("Create new project", new_project_path(), role: "button", class: "btn btn-outline-secondary mt-4")
