%div{:style => "padding: 1em;"}
  %div{:style => "float: right; width: 40%"}
    %div{style: "padding-left: 1em;"}
      - if !@submission_latest.nil?
        %a{:href => "#{@submission_latest.id}?display=all", :class => "btn btn-primary",
        :style => "margin-top: 1em; margin-left: 1em;"} Go to the REST API JSON entry
        %h2{:style => "margin-left: 1em;"} Get my metadata back
        %button{:id => "getMetadataBackNquadsBtn", :class => "btn btn-primary",
        :style => "margin-bottom: 1em; margin-left: 1em;"} N-Triple
        %button{:id => "getMetadataBackJsonldBtn", :class => "btn btn-primary",
        :style => "margin-bottom: 1em; margin-left: 1em;"} Json-LD
        %button{:id => "getMetadataBackXmlBtn", :class => "btn btn-primary",
        :style => "margin-bottom: 1em; margin-left: 1em;"} RDF/XML
        -# Listener in bp_ontology_viewer.js.erb
      - else
        %a{:href => "#{@ontology.id}?display=all", :class => "btn btn-primary",
        :style => "margin-top: 1em; margin-left: 1em;"} Go to the REST API JSON entry
      = render :partial => 'metrics'
      = render :partial => 'visits'
      = raw display_data_catalog(@submission_latest)
      = raw display_logo(@submission_latest)

  %div{style: "width: 60%;"}
    = render :partial => 'details'
    = render :partial => 'reviews'
    = render :partial => 'submissions'
    = render :partial => 'views'
    %div{:style => "clear: both;"}
    = render :partial => 'projects'
    %div{:style => "clear: both;"}
