- return "" if (@submission.respond_to?(:status) && @submission.status == 404) || @ontology.summaryOnly
#metrics_content{:style => "margin-left: 1em;"}
  %div{:style => "clear:both;"}
  %div{:style => "width: 400px;"}
    %h2
      %span{:style => "font-size: x-large;"} Metrics
      = help_icon("http://www.bioontology.org/wiki/index.php/Ontology_Metrics", { :title => "View individual metrics definitions", :style => "margin-top: -7px;" })
  /
    <p style="border: 1px solid rgb(239, 239, 239); margin: 10px; padding: 10px;">
    <haml:loud>t('ontologies.metrics.intro')</haml:loud>
    </p>
  - if @metrics.nil? || (@metrics.is_a?(Array) && @metrics.empty?)
    %h2{:style => "padding-left: 1em;"} We have not yet calculated metrics for this ontology.
  - else
    - if @old_metrics
      %h3
        Metrics are not available for the most recent version of this ontology. The metrics displayed below are for the
        %a{:href => "/visualize/#{@old_metrics.id}"}= @old_ontology.displayLabel + " " + @old_ontology.versionNumber.to_s
        version.
    :css
      .metrics_table td {
        text-align: right;
      }
    %table.form.metrics_table{:style => "width: 400px;"}
      %tr
        %th Number of classes:
        %td.top= @metrics.classes
      %tr
        %th Number of individuals:
        %td= @metrics.individuals
      %tr
        %th Number of properties:
        %td= @metrics.properties
      %tr
        %th Maximum depth:
        %td= @metrics.maxDepth
      %tr
        %th Maximum number of children:
        %td= @metrics.maxChildCount
      %tr
        %th Average number of children:
        %td= @metrics.averageChildCount
      %tr
        %th{:style => "vertical-align: top;"} Classes with a single child:
        %td
          = @metrics.classesWithOneChild
      %tr
        %th{:style => "vertical-align: top;"} Classes with more than 25 children:
        %td
          = @metrics.classesWithMoreThan25Children
      %tr
        %th{:style => "vertical-align: top;"} Classes with no definition:
        %td
          = @metrics.classesWithNoDefinition
