
%div.ont-metadata
  -# Details pane
  %section.ont-metadata-card.ont-details-card
    %header.pb-2.font-weight-bold Details
    %table.table.table-sm
      %tr
        %td Acronym
        %td= @ontology.acronym
      %tr
        %td Visibility
        %td= strip_links(visibility_link(@ontology))
      - if @ontology.viewing_restricted?
        %tr
          %td Viewing restriction
          %td= @ontology.viewingRestriction.capitalize
      - unless @ontology.viewOf.nil?
        %tr
          %td View of ontology
          %td
            - ont_parent_acronym = @ontology.viewOf.split('/').last
            - if $PURL_ENABLED
              - ont_url = @ontology.purl.sub(@ontology.acronym, ont_parent_acronym)
            - else
              - ont_url = @ontology.links['ui'].sub(@ontology.acronym, ont_parent_acronym)
            = link_to(ont_parent_acronym, ont_url)
      - unless @submission_latest.nil?
        %tr
          %td Description
          %td= sanitize(@submission_latest.description)
        %tr
          %td Status
          %td= @submission_latest.status.capitalize unless @submission_latest.status.nil?
        %tr
          %td Format
          %td= @submission_latest.hasOntologyLanguage
        %tr
          %td Contact
          %td= raw @submission_latest.contact.map {|c| [c.name, c.email].join(", ") if c.member?(:name) && c.member?(:email)}.join("<br/>")
      - categories_hash = LinkedData::Client::Models::Category.all_to_hash
      - categories = @ontology.hasDomain
      - unless categories.empty?
        %tr
          %td Categories
          %td= categories.map {|c| categories_hash[c].name}.sort.join(", ")
      - groups_hash = LinkedData::Client::Models::Group.all_to_hash
      - groups = @ontology.group
      - unless groups.empty?
        %tr
          %td Groups
          %td= groups.map {|g| groups_hash[g].name}.sort.join(", ")
      = raw additional_details


  -# Additional Metadata pane
  %section.ont-metadata-card.ont-additional-metadata-card
    %header.pb-2.font-weight-bold Additional Metadata
    %table.table.table-sm
      = raw additional_metadata(@submission_latest) unless @submission_latest.nil?

  -# Submissions pane
  %section.ont-metadata-card.ont-subs-card
    %div.ont-section-toolbar
      %header.pb-2.font-weight-bold Submissions
      - if @ontology.admin?(session[:user])
        = link_to(new_ontology_submission_path(@ontology.acronym), "aria-label": "Add submission", title: "Add submission") do
          %i.fas.fa-lg.fa-plus-circle{"aria-hidden": "true", style: "margin-left: 0.75rem;"}
        - unless (@submission_latest.nil? || (@submission_latest.respond_to?(:status) && @submission_latest.status == 404))
          = link_to(edit_ontology_submission_path(@ontology.acronym, @submission_latest.submissionId), "aria-label": "Edit latest submission", title: "Edit latest submission") do
            %i.fas.fa-user-edit{"aria-hidden": "true", style: "margin-left: 0.5rem;"}
    = render partial: "submissions"

  -# Views pane (don't show if the ontology is a view - we don't allow views of views).
  - unless @ontology.view?
    %section.ont-metadata-card.ont-views-card
      %div.ont-section-toolbar
        %header.pb-2.font-weight-bold= "Views of #{@ontology.acronym}"
        - ont_id_esc = CGI.escape(@ontology.id)
        -# TODO: I don't think we should have brackets in the URL parameters.
        - if session[:user].nil?
          %a{href: "/login?redirect=#{URI.escape("/ontologies/new?ontology[viewOf]=#{ont_id_esc}", Regexp.new("[^#{URI::PATTERN::UNRESERVED}]"))}", "aria-label": "Create new view", title: "Create new view"}
            %i.fas.fa-lg.fa-plus-circle{"aria-hidden": "true", style: "margin-left: 0.5rem;"}
        - else
          %a{href: "/ontologies/new?ontology[viewOf]=#{ont_id_esc}"}
            %i.fas.fa-lg.fa-plus-circle{"aria-hidden": "true", style: "margin-left: 0.5rem;"}
      - if @views.empty?
        %p.font-italic= "No views of #{@ontology.acronym} available"
      - else
        %div.border-top
          %dl
            - @view_decorators.each do |view_decorator|
              %dt= view_decorator.linked_name
              %dd= view_decorator.description

  %div.right-hand-content
    
    -# Misc links pane
    %section.ont-metadata-card.ont-links-card
      %div.ont-section-toolbar
        %header.pb-2.font-weight-bold Links
      %a{:href => "#{(@submission_latest || @ontology).id}?display=all", :target => '_blank', :class => "btn btn-primary"} Go to the REST API JSON entry
    
    -# Metadata links pane
    %section.ont-metadata-card.ont-metadatalinks-card
      %div.ont-section-toolbar
        %header.pb-2.font-weight-bold Get my metadata back
      %div
        - unless @submission_latest.nil?
          =javascript_include_tag "jsonld"
          %button{:id => "getMetadataBackNquadsBtn", :class => "btn btn-primary"} N-Triple
          %button{:id => "getMetadataBackJsonldBtn", :class => "btn btn-primary"} Json-LD
          %button{:id => "getMetadataBackXmlBtn", :class => "btn btn-primary"} RDF/XML
          -# Listener in bp_ontology_viewer.js.erb
    -# Fair score pane
    - if fairness_service_enabled?
      %section.ont-metadata-card.ont-fair-score-card#fair-summary
        %div.ont-section-toolbar
          %header.pb-2.font-weight-bold
            = render partial: "fair_score/fair_service_header"
        %div#fair-score-charts-container
          = render partial: "fairs_score"

    -# Metrics pane
    %section.ont-metadata-card.ont-metrics-card
      %div.ont-section-toolbar
        %header.pb-2.font-weight-bold Metrics
        = link_to("http://www.bioontology.org/wiki/index.php/Ontology_Metrics", target: "_blank", "aria-label": "View individual metrics definitions", title: "View individual metrics definitions") do
          %i.fas.fa-lg.fa-question-circle{"aria-hidden": "true", style: "margin-left: 0.5rem"}
      - if @metrics.nil? || (@metrics.is_a?(Array) && @metrics.empty?) || (@metrics.respond_to?(:status) && @metrics.status == 404)
        %p.font-italic= "We have not yet calculated metrics for #{@ontology.acronym}"
      - else
        %table.table.table-sm
          %tr
            %td Classes
            %td{style: "text-align: right"}= number_with_delimiter(@metrics.classes)
          %tr
            %td Individuals
            %td= number_with_delimiter(@metrics.individuals)
          %tr
            %td Properties
            %td= number_with_delimiter(@metrics.properties)
          %tr
            %td Maximum depth
            %td= number_with_delimiter(@metrics.maxDepth)
          %tr
            %td Maximum number of children
            %td= number_with_delimiter(@metrics.maxChildCount)
          %tr
            %td Average number of children
            %td= number_with_delimiter(@metrics.averageChildCount)
          %tr
            %td Classes with a single child
            %td= number_with_delimiter(@metrics.classesWithOneChild)
          %tr
            %td Classes with more than 25 children
            %td= number_with_delimiter(@metrics.classesWithMoreThan25Children)
          %tr
            %td Classes with no definition
            %td= number_with_delimiter(@metrics.classesWithNoDefinition)

    -# Visits pane
    %section.ont-metadata-card.ont-analytics-card.statistics_container
      %div.ont-section-toolbar
        %header.pb-2.font-weight-bold Visits
        - if visits_data(@ontology)
          = link_to(@ontology.links["analytics"] + "?apikey=#{get_apikey}&format=csv", "aria-label": "Download as CSV", title: "Download as CSV") do
            %i.fas.fa-lg.fa-download{"aria-hidden": "true", style: "margin-left: 0.5rem"}
      = render partial: "visits"

    -# Included in data catalog pane
    = raw display_data_catalog(@submission_latest) unless @submission_latest.nil?

    -# Logo & depiction
    = raw display_logo(@submission_latest) unless @submission_latest.nil?

    -# Projects pane
    %section.ont-metadata-card.ont-projects-card
      %div.ont-section-toolbar
        %header.pb-2.font-weight-bold= "Projects using #{@ontology.acronym}"
        = link_to(new_project_path(), "aria-label": "Create new project", title: "Create new project") do
          %i.fas.fa-lg.fa-plus-circle{"aria-hidden": "true", style: "margin-left: 0.5rem"}
      - if @projects.empty?
        %p.font-italic= "No projects using #{@ontology.acronym}"
      - else
        %div.border-top
          - for project in @projects
            %p= link_to(project.name, project_path(project.acronym))
