<div id="metrics_content" style="display:none; margin: 1em 0;" class="tab_content">
	<div style="clear:both;"></div>
	<p style="border: 1px solid rgb(239, 239, 239); margin: 10px; padding: 10px;">
		BioPortal calculates the metrics on the salient properties of the ontology, including statistics and quality-control
		and quality-assurance metrics. Each ontology may have all, some, or no values filled in for its metrics and only metrics
		for the most recent version are reflected. The metrics currently do not distinguish between the terms defined directly in
		this ontology and imported terms (for OWL) or referenced terms (for OBO).
		<%= link_to "See metrics descriptions", "http://www.bioontology.org/wiki/index.php/Ontology_Metrics" %>
	</p>
	<% if @metrics.nil? || @metrics.empty? %>
		<h2 style="padding-left: 1em;">We have not yet calculated metrics for this ontology.</h2>
	<% else %>
		<% if @old_metrics %>
			<h3>Metrics are not available for the most recent version of this ontology. The metrics displayed below are for the <a href="/visualize/<%=@old_metrics.id%>"><%=@old_ontology.displayLabel + " " + @old_ontology.versionNumber.to_s%></a> version.</h3>
		<% end %>
		<table class="form">
			<!-- not calculated currently
			<tr>
				<th>Number of axioms:</th><td class="top"><%=@metrics.numberOfAxioms%></td>
			</tr>
			-->
			<tr>
				<th>Number of classes:</th><td class="top"><%=@metrics.numberOfClasses%></td>
			</tr>
			<tr>
				<th>Number of individuals:</th><td><%=@metrics.numberOfIndividuals%></td>
			</tr>
			<tr>
				<th>Number of properties:</th><td><%=@metrics.numberOfProperties%></td>
			</tr>
			<tr>
				<th>Maximum depth of the class hierarchy:</th><td><%=@metrics.maximumDepth%></td>
			</tr>
			<tr>
				<th>Maximum number of siblings in the class hierarchy:</th><td><%=@metrics.maximumNumberOfSiblings%></td>
			</tr>
			<tr>
				<th>Average number of siblings in the class hierarchy:</th><td><%=@metrics.averageNumberOfSiblings%></td>
			</tr>
			<tr>
				<th style="vertical-align: top;">Classes with a single subclass:</th>
				<td>
					<%= class_list_info(@metrics, "classesWithOneSubclass", "have only one subclass", "Classes with a single subclass") %>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">Classes with large number of subclasses:</th>
				<td>
					<%= class_list_info(@metrics, "classesWithMoreThanXSubclasses", "have more than 25 subclasses", "Classes with large number of subclasses") %>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">Classes with no author:</th>
				<td>
					<%= class_list_info(@metrics, "classesWithNoAuthor", "have no author property specified or no values for the author property", "Classes with no author") %>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">Classes with no definition:</th>
				<td>
					<%= class_list_info(@metrics, "classesWithNoDocumentation", "have no definition property specified or no values for the definition property", "Classes with no documentation") %>
				</td>
			</tr>
			<!-- not calculated currently
			<tr>
				<th style="vertical-align: top;">Classes with more than one property value:</th>
				<td>
					<%= class_list_info(@metrics, "classesWithMoreThanOnePropertyValue", "have more than one property value", "Classes with more than one property value") %>
				</td>
			</tr>
			-->
		</table>
	<% end %>
</div>

