%div{:style => "padding: 1em;"}
  %div{:style => "float: right; width: 40%"}
    %div{style: "padding-left: 1em;"}
      = render :partial => 'metrics'
      = render :partial => 'visits'
  %div{style: "width: 60%;"}
    = render :partial => 'details'
    = render :partial => 'submissions'
    = render :partial => 'views'
    %div{:style => "clear: both;"}
    = render :partial => 'projects'
    %div{:style => "clear: both;"}
