<div style="padding: 1em;">
  <div>
    <div style="float: right; width: 40%"><%= render :partial => 'metrics' %></div>
    <%= render :partial => 'details' %>
  </div>
  <div style="clear: both;"></div>
  <%= render :partial => 'reviews' %>
  <%= render :partial => 'versions' %>
  <%= render :partial => 'views' %>
  <div style="clear: both;"></div>
  <%= render :partial => 'projects' %>
  <div style="clear: both;"></div>
</div>
