%div{:style => "padding: 1em;"}
  %div{:style => "float: right; width: 40%"}
    %div{style: "padding-left: 1em;"}
      = render :partial => 'metrics'
  %div{style: "width: 60%;"}
    = render :partial => 'details'
  %div{:style => "clear: both;"}
  = render :partial => 'reviews'
  %div{:style => "clear: both;"}
  = render :partial => 'submissions'
  %div{:style => "clear: both;"}
  = render :partial => 'views'
  %div{:style => "clear: both;"}
  = render :partial => 'projects'
  %div{:style => "clear: both;"}
