- begin
  - if @projects.nil?
    - @projects = @ontology.explore.projects.sort {|a,b| a.name.downcase <=> b.name.downcase }
- rescue
  - @projects = []

:javascript
  jQuery(document).ready(function(){
    jQuery(".untruncate").click(function(event){
      event.preventDefault();
      var text = jQuery(this).parent().parent().children(".untruncated_text").html();
      jQuery(this).parent().parent().children(".original_text").html(text);
    });
  });

#projects_content
  %h2{:style => "margin: 2em 0 0"}
    %span{:style => "font-size: x-large; margin-right: 1.5em;"} Projects Using This Ontology
    - if session[:user].nil?
      %a{:href => "/login?redirect=#{URI.escape("/projects/new", Regexp.new("[^#{URI::PATTERN::UNRESERVED}]"))}"} Create new project
    - else
      %a{:href => "/projects/new"} Create new project
  - if @projects.length == 0
    No projects available.
  - else
    %table.zebra{:cellpadding => "0", :cellspacing => "0", :style => "border:0px;float:left;"}
      %thead
        %th Project
        %th Description
        %th People
        %th Institution
      %tbody
        - for project in @projects
          %tr
            %td
              = link_to project.name, project.homePage
              %br{:style => "margin-bottom: 5px;"}
              - if false #TODO_REV: Enable project editing isOwner?(project.creator)
                %span{:style => "font-size: x-small;"}
                  (#{link_to "edit", edit_project_path(project)} |
                  \#{link_to 'delete', project, :confirm => 'Are you sure?', :method => :delete})
            %td{:style => "width: 200px;"}
              .original_text= raw(truncate(project.description, length: 100, separator: " ", omission: "<a class='untruncate' href=''>...</a>", escape: false))
              .untruncated_text{:style => "display: none;"}= raw project.description
            %td
              .original_text= raw(truncate(project.contacts, length: 100, separator: " ", omission: "<a class='untruncate' href=''>...</a>", escape: false))
              .untruncated_text{:style => "display: none;"}= raw project.contacts
            %td
              = raw project.institution
