<% return "" if @ontology.metadata_only? %>

<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery(".click_versions_collapse").click(function(){
      var collapse = "#" + jQuery(this).parent().attr("id") + "_collapsible";
      var icon = "#" + jQuery(this).parent().attr("id") + "_icon";
      jQuery(icon).toggleClass("ui-icon-triangle-1-e");
      jQuery(icon).toggleClass("ui-icon-triangle-1-s");
      jQuery(collapse).toggle();
    });

    jQuery("#version_toggle").click(function(event){
      event.preventDefault();
      jQuery("#ontology_versions tr.hidden_select").toggleClass("hidden_ont");
    });

    jQuery("#version_toggle").toggle(function() {
      jQuery(this).text("less...");
    }, function() {
      jQuery(this).text("more...");
    });

  });
</script>

<% # Don't display any downloads for ontologies with license restrictions %>
<% restrict_downloads = ["CPT","ICD10","ICNP","ICPC2P","MDDB","MEDDRA","MSHFRE","MSHSPA_1","NDDF","NDFRT","NIC","RCD","SCTSPA","SNOMEDCT","WHO-ART"] %>
<% ont_restricted = restrict_downloads.include? @ontology.acronym %>
<% more_colspan = 4 %>
<% more_colspan = 3 if ont_restricted %>

<div id="versions_content" class="click_versions_collapse" style="padding-top: 1em;">
  <h2 style="font-size: x-large;">Submissions</h2>
  <table id="ontology_versions" class="zebra" cellpadding="0" cellspacing="0" width="60%">
    <thead>
        <tr>
            <th>Submission</th>
            <th>Release Date</th>
            <th>Upload Date</th>
            <% unless ont_restricted %>
                <th>Downloads</th>
            <% end %>
        </tr>
    </thead>
    <% submission_ready = @ontology.explore.latest_submission({:include_status => 'ready'}) %>
    <% submission_readyId = -1 %>
    <% submission_readyId = submission_ready.submissionId unless submission_ready.nil? %>
    <% @submissions.each_with_index do |sub, index| %>
        <% hidden_row_class = index >= 5 ? "hidden_ont hidden_select" : "" %>
        <tr <%= cycle("class='#{hidden_row_class}'", "class='alt #{hidden_row_class}'") %> class="<%=hidden_row_class%>">
          <td> <%= status_link(sub, sub.submissionId==submission_readyId) %> </td>
          <td> <%= xmldatetime_to_date(sub.released) %> </td>
          <td> <%= xmldatetime_to_date(sub.creationDate) %> </td>
          <% unless ont_restricted %>
              <td> <%= download_link(sub) %> </td>
          <% end %>
        </tr>
    <% end %>
    <% if @submissions.length >= 5 %>
      <tr>
        <td colspan="<%=more_colspan%>" style="text-align: right;"><a href="" id="version_toggle">more...</a></td>
      </tr>
    <% end %>
  </table>
</div>
