- return "" if @ontology.metadata_only?

- more_colspan = 4
- more_colspan = 3 if @ont_restricted

%div.click_versions_collapse
  %table#ontology_versions.table.table-sm.table-striped
    %thead
      %tr
        %th Version
        %th Released
        %th Uploaded
        - unless @ont_restricted
          %th Downloads
    - begin
      - submission_ready = @ontology.explore.latest_submission({:include_status => 'ready'})
      - submission_readyId = submission_ready.submissionId unless submission_ready.nil?
    - rescue
      - submission_readyId = -1
    - @submissions.each_with_index do |sub, index|
      - hidden_row_class = index >= 5 ? "hidden_ont hidden_select" : ""
      %tr{class: "#{hidden_row_class}"}
        %td
          = raw status_link(sub, sub.submissionId==submission_readyId)
        %td
          = xmldatetime_to_date(sub.released) unless sub.released.nil?
        %td
          = xmldatetime_to_date(sub.creationDate)
        - unless @ont_restricted
          %td
            = raw download_link(sub)
    - if @submissions.length >= 5
      %tr
        %td{colspan: more_colspan, style: "text-align: right; background-color: white;"}
          %a#version_toggle{:href => ""} more...
