- return "" if @ontology.metadata_only?

:javascript
  jQuery("#version_toggle").click(function(event){
    event.preventDefault();
    jQuery("#ontology_versions tr.hidden_select").toggleClass("hidden_ont");
  });

  jQuery("#version_toggle").toggle(
    function() {
      jQuery(this).text("less...");
    },
    function() {
      jQuery(this).text("more...");
    }
  );



- more_colspan = 4
- more_colspan = 3 if @ont_restricted

%div.click_versions_collapse
  %table#ontology_versions.table.table-sm.table-striped
    %thead
      %tr
        %th.align-middle Version
        %th
          = generate_attribute_text("released", "Released")
        %th
          = generate_attribute_text("modificationDate", "Modified")
        %th
          = generate_attribute_text("creationDate", "Uploaded")
        - unless @ont_restricted
          %th.align-middle Downloads
    - begin
      - submission_ready = @ontology.explore.latest_submission({:include_status => 'ready'})
      - submission_readyId = submission_ready.submissionId unless submission_ready.nil?
      - rescue
      - submission_readyId = -1
    - @submissions.each_with_index do |sub, index|
      - hidden_row_class = index >= 5 ? "hidden_ont hidden_select" : ""
      %tr{class: "#{hidden_row_class}"}
        %td
          = raw status_link(sub, sub.submissionId==submission_readyId)
        %td
          = xmldatetime_to_date(sub.released) unless sub.released.nil?
        %td
          = xmldatetime_to_date(sub.modificationDate) unless sub.modificationDate.nil?
        %td
          = xmldatetime_to_date(sub.creationDate) unless sub.creationDate.nil?
        - unless @ont_restricted
          %td
            = raw download_link(sub, @ontology)
    - if @submissions.length >= 5
      %tr
        %td{colspan: more_colspan, class: "show_more_subs"}
          %a#version_toggle{:href => ""} more...

:javascript
  jQuery(document).ready(() => {
    jQuery("#version_toggle").click( (event) => {
        event.preventDefault();
        jQuery("#ontology_versions tr.hidden_select").toggleClass("hidden_ont")
        const oldText = event.target.innerHTML
        switch (oldText) {
          case 'more...':
            event.target.innerHTML = 'less...'
            break
          case 'less...':
            event.target.innerHTML = 'more...'
            break
        }
    })
  })