<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery(".click_view_collapse").click(function(){
      var collapse = "#" + jQuery(this).parent().attr("id") + "_collapsible";
      var icon = "#" + jQuery(this).parent().attr("id") + "_icon";
      jQuery(icon).toggleClass("ui-icon-triangle-1-e");
      jQuery(icon).toggleClass("ui-icon-triangle-1-s");
      jQuery(collapse).toggle();
    });

    jQuery("#expand_views").click(function(){
      jQuery(".view_collapsible").show();
      jQuery(".click_view_collapse_icon").removeClass("ui-icon-triangle-1-e");
      jQuery(".click_view_collapse_icon").addClass("ui-icon-triangle-1-s");
    });

    jQuery("#collapse_views").click(function(){
      jQuery(".view_collapsible").hide();
      jQuery(".click_view_collapse_icon").removeClass("ui-icon-triangle-1-s");
      jQuery(".click_view_collapse_icon").addClass("ui-icon-triangle-1-e");
    });
  });
</script>

<div style="clear: both;"></div>
<div id="views_content">
  <h2 style="margin: 2em 0 0">
    <span style="font-size: x-large; margin-right: 1.5em;">Views</span>
    <% if session[:user].nil? %>
        <a href="/login?redirect=<%=URI.escape("/ontologies/view/new?version_id=#{@ontology.id}")%>">Create new view</a>
    <% else %>
        <a href="/ontologies/view/new?version_id=<%=@ontology.id%>">Create new view</a>
    <% end %>
  </h2>

  <div style="float:left;">
      <% if @views.empty? || @views.length < 1 %>
          <h1>No views available.</h1>
      <% else %>

        <style type="text/css">
            #view_head .lead {
                color: #708090;
                font-weight: bold;
            }
            .view_collapsible {
                margin: 0 1em;
            }
            .click_view_collapse:hover {
                text-decoration: underline;
            }
        </style>

        <h4 style="margin-top: .5em;">
          <a href="javascript:void(0);" id="expand_views">Expand All</a>  |
          <a href="javascript:void(0);" id="collapse_views">Collapse All</a>
        </h4>

        <% viewsURL = "/ontologies/#{@ontology.acronym}/views/" %>
        <% @views.each_with_index do |view, index| %>
          <% viewN = "view_#{index}" %>
          <% viewName = view.name %>
          <!-- TODO: add UI support for view submission browsing
            See this ticket about support for per-submission view/ontology browsing:
            https://bmir-jira.stanford.edu/browse/NCBO-145
          -->
          <% viewURL4data = view.id %>
          <% viewURL4ui = view.links['ui'] %>
          <% viewAdmin = view.admin?(session[:user]) %>
          <% if viewAdmin %>
            <!-- TODO: Check these URIs exist in the UI (they are not REST API URIs). -->
            <% viewEditURL = "/ontologies/view/edit/#{view.id}" # edit view %>
            <% viewSubmitURL = "/ontologies/view/new/#{view.id}?version_id=#{@ontology.id}" # submit new view %>
          <% end %>

          <% view_submissions = view.explore.submissions.sort {|a,b| a.released <=> b.released }.reverse %>
          <% view_description = view_submissions[0].description %>
          <% view_definition = view_submissions[0].definition %>
          <% view_language = nil # TODO: view_submissions[0].naturalLanguage  # ????? %>
          <% view_contacts = [] %>
          <% view_submissions[0].contact.each {|c| view_contacts << "#{c.name}, #{c.email}" } %>

          <div id="<%=viewN%>" class="view_title" style="margin: 1em 0 .5em; cursor: pointer;" >
            <span id="<%=viewN%>_icon" class="ui-icon ui-icon-triangle-1-e click_view_collapse click_view_collapse_icon" style="float: left;">
            </span>
            <span class="click_view_collapse" style="font-size: 120%; font-weight: bold;">
              <%= viewName %>
            </span>
            <span style="font-size: 90%;">
              <% if viewAdmin %>
                  <span style="padding-left: 1em; vertical-align: text-bottom;">
                    (<%= link_to "Edit Metadata", viewEditURL %>)
                  </span>
              <% end %>
            </span>
          </div>
          <div id="<%=viewN%>_collapsible" class="view_collapsible" style="margin: 0 1em .5em; display: none;">
            <div id="view_head" style="margin: 0 0 .5em;" class="enable-lists">
              <ul>
                <li> <span class="lead">Description:</span> <%= view_description %> </li>
                <% unless view_definition.nil? %>
                    <li> <span class="lead">Definition:</span> <%= view_definition %> </li>
                <% end %>
                <% unless view_language.nil? %>
                    <li> <span class="lead">Definition Language:</span> <%= view_language %> </li>
                <% end %>
                <li> <span class="lead">Created By:</span> <%= view_contacts.join('; ') %> </li>
              </ul>
            </div> <!-- view_head -->
            <table class="zebra" cellpadding="0" cellspacing="0" width="100%">
              <thead>
                  <tr>
                    <th>Version</th>
                    <th>Ontology Version</th>
                    <th>Release Date</th>
                    <th>Upload Date</th>
                    <!-- TODO: enable downloads
                    <th>Downloads</th>
                    -->
                  </tr>
              </thead>
                  <% view_submissions.each_with_index do |view_sub, view_index|  %>
                      <tr>
                          <%#= debug view %>
                          <td>
                            <a href="<%=view_sub.ontology.links['ui']%>"><%= view_sub.version %></a>
                          </td>
                          <td>
                            <a href="<%=view_sub.ontology.links['ui']%>"><%= view_sub.ontology.acronym %></a>
                          </td>
                          <td> <%= view_sub.released %> </td>
                          <td> <%= view_sub.creationDate %> </td>
                          <!-- TODO: code REST API for downloads, see https://bmir-jira.stanford.edu/browse/NCBO-143
                          <td>
                              <a href="<%#=DataAccess.download(view.id)%>" target="_blank">Ontology View</a>
                          </td>
                          -->
                      </tr>
                  <% end %>
              <% if viewAdmin %>
                <tr>
                  <td colspan=7>
                    <h3 style="margin-bottom: 0;">
                      <a href="<%viewSubmitURL%>">Submit New View Version</a>
                    </h3>
                  </td>
                </tr>
              <% end %>
            </table>
          </div> <!-- collapsible div -->
        <% end %> <!-- @views.each -->
      <% end %> <!-- if views ... -->
  </div> <!-- float left -->
</div> <!-- views_content -->
