
<%unless @errors.nil?%>
<div style="color:red;">
Errors On Form
<ul>

<%for error in @errors%>
<li><%=error%></li>
<%end%>


</ul>
</div>
<%end%>


<% form_for(:ontology, :url => ontology_path(@ontology.id), :html => { :method => :put }) do |f| %>

<h1> Edit Metadata</h1>

<%=hidden_field :ontology, :ontologyId%>
<%=hidden_field :ontology, :userId%>
<%=hidden_field :ontology, :isManual%>
<table >
	<tr>
		<td>Ontology Name: </td><td><%=text_field :ontology, :displayLabel%></td>
	</tr>
	<tr>
		<td>Ontology Format: </td><td><%=text_field :ontology, :format%></td>
	</tr>	
	<tr>
		<td>Ontology Version: </td><td><%=text_field :ontology, :versionNumber%></td>
	</tr>	
	<tr>
		<td>Date Released: </td><td><%= calendar_date_select_tag "ontology[dateReleased]", "#{@ontology.dateReleased}", :popup => :force %></td>
	</tr>	
	
	 <%=hidden_field  :ontology,:isRemote%>
	<%if @ontology.isRemote%>
	<tr>
		<td>Location URL</td><td><%=text_field :ontology,:urn%></td>
	</tr>
	<%else%>
		<%=hidden_field  :ontology,:urn%>
	<%end%>
	<tr>
		<td>Categories:</td><td></td>
	</tr>
	<tr>
		<td>Contact Name</td><td><%=text_field :ontology, :contactName%></td>
	</tr>
	<tr>
		<td>Contact Email</td><td><%= text_field :ontology, :contactEmail%></td>
	</tr>
	<tr>
		<td>Home Page</td><td><%= text_field :ontology, :homepage%></td>
	</tr>
	<tr>
		<td>Documentation Page</td><td><%= text_field :ontology, :documentation%></td>
	</tr>
	<tr>
		<td>Publications page</td><td><%= text_field :ontology, :publication%></td>
	</tr>

	
	
	
	
</table>

<%=submit_tag "Update"%>






<%end%>