<script src="/javascripts/ui.core.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/ui.datepicker.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/stylesheets/layout/ui.core.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/layout/ui.datepicker.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/layout/ui.theme.css" type="text/css" media="screen" title="no title" charset="utf-8">

<script type="text/javascript">
$(function() {
		$("#datepicker").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true});
	});

</script>
<div  style="margin:10px;">

<%@title = "Editing #{@ontology.displayLabel}"%>
<%unless @errors.nil?%>
<div style="color:red;">
Errors On Form
<ul>

<%for error in @errors%>
<li><%=error%></li>
<%end%>


</ul>
</div>
<%end%>


<% form_for(:ontology, :url => ontology_path(@ontology.id), :html => { :method => :put }) do |f| %>

<h1> Edit Metadata</h1>

<%=hidden_field :ontology, :ontologyId%>
<%=hidden_field :ontology, :userId%>
<%=hidden_field :ontology, :isManual%>
<br/>
<table  class="form" width="90%">
	<tr>
		<td  class="top">Ontology Name: </td><td  class="top"><%=text_field :ontology, :displayLabel%></td>
	</tr>
	<tr>
		<td>Ontology Description:</td><td><%= text_area :ontology, :description,:rows=>6%></td>
	</tr>
	<tr>
		<td>Ontology Abbreviation:</td><td><%= text_field :ontology, :abbreviation%></td>
	</tr>
	
	<tr>
		<td>Ontology Format: </td><td><%=text_field :ontology, :format%></td>
	</tr>	
	<tr>
		<td>Ontology Version: </td><td><%=text_field :ontology, :versionNumber%></td>
	</tr>	
	<tr>
		<td>Date Released: </td><td><%= text_field :ontology, :dateReleased,:id=>"datepicker"%></td>
	</tr>	
	
	 <%=hidden_field  :ontology,:isRemote%>
	<%if @ontology.isRemote%>
	<tr>
		<td>Location URL</td><td><%=text_field :ontology,:urn%></td>
	</tr>
	<%else%>
		<%=hidden_field  :ontology,:urn%>
	<%end%>
	
	<tr>
		<td>Prefered Name Slot (Owl Only)</td><td><%=text_field :ontology,:preferredNameSlot%></td>
	</tr>
	
	<tr >
		<td>Synonym Slot (Owl Only)</td><td><%=text_field :ontology,:synonymSlot%></td>
	</tr>
	
	
	<tr>
		<td>Categories:</td><td><select name="ontology[categoryId][]" multiple="multiple" size="6">
				<%cats = @categories.values.sort{|a,b| a[:name] <=> b[:name]}%>
				<%for cat in cats%>

				<option value="<%=cat[:id]%>" <%if !@ontology.categories.nil? && @ontology.categories.include?(cat[:id])%>selected <%end%>><%=cat[:name]%></option>
				<%end%>
			</select></td>
	</tr>
	<tr>
		<td>Contact Name</td><td><%=text_field :ontology, :contactName%></td>
	</tr>
	<tr>
		<td>Contact Email</td><td><%= text_field :ontology, :contactEmail%></td>
	</tr>
	<tr>
		<td>Home Page</td><td><%= text_field :ontology, :homepage%></td>
	</tr>
	<tr>
		<td>Documentation Page</td><td><%= text_field :ontology, :documentation%></td>
	</tr>
	<tr>
		<td>Publications page</td><td><%= text_field :ontology, :publication%></td>
	</tr>

	
	
	
	
</table>

<%=submit_tag "Update"%>






<%end%>
</div>