<%@title = "Editing #{@ontology.displayLabel}" %>

<%=javascript_include_tag "bp_user_acl.js"%>

<script type="text/javascript">
  jQuery(function(){
      $("#datepicker").datepicker({
          showOn: 'button',
          buttonImage: '/images/calendar.gif',
          buttonImageOnly: true
      });
  });

  // Show/hide location inputs
  function location_toggle(input_div) {
    jQuery('.hidden_field').hide();
    jQuery('.hidden_field input').attr("disabled", true);
    jQuery('#' + input_div + " input").removeAttr("disabled");
    jQuery('#' + input_div).show();
  }
            
</script>

<script type="text/javascript">
    // Used to provide default text in fields
    jQuery(document).ready(function(){
      jQuery(".defaultText").each(function(){
        if ($(this).val() == this.title) {
          jQuery(this).addClass("defaultTextActive");
          jQuery(this).val(jQuery(this)[0].title);
        } else {
          jQuery(this).removeClass("defaultTextActive");
        }
      });
      
      jQuery(".defaultText").focus(function(srcc){
        if ($(this).val() == $(this)[0].title) {
          $(this).removeClass("defaultTextActive");
          $(this).val("");
        }
      });
      
      jQuery(".defaultText").blur(function(){
        if ($(this).val() == "") {
          $(this).addClass("defaultTextActive");
          $(this).val($(this)[0].title);
        }
      });
      
      jQuery(".defaultText").blur();
      
      // Properly display the information for 'File Location' based on radio button
      if (jQuery("#ontology_isRemote_0").is(":checked")) {
        location_toggle("upload");
      }

      if (jQuery("#ontology_isRemote_1").is(":checked")) {
        location_toggle("remote");
      }

      // Select default 'File Location' radio button
      if (!jQuery("#ontology_isRemote_0").is(":checked") && !jQuery("#ontology_isRemote_1").is(":checked") && !jQuery("#ontology_isRemote_2").is(":checked")) {
        jQuery("#ontology_isRemote_0").attr("checked", "checked")
      }
      
      // Wire up options for restriction how an ontology is viewed
      jQuery("#ontology_viewingRestriction").change(function(){
      	var select = jQuery(this);
      	if (select.val() == "private") {
      		jQuery("#ontology_useracl").removeAttr("disabled");
      		jQuery("#viewingRestrictionsPrivate").show();
      	} else if (select.val() == "") {
      		jQuery("#viewingRestrictionsPrivate").hide();
	    		jQuery("#ontology_useracl").attr("disabled", "disabled");
      	}
      });
    });
    
    jQuery("form").submit(function(){
      jQuery(".defaultText").each(function(){
          if ($(this).val() == this.title) {
              $(this).val("");
          }
      });
    });
</script>


<div style="margin:10px;">
    <%@title = "Editing #{@ontology.displayLabel}" %>
    <%unless @errors.nil? %>
    <div style="color:red;" class="enable-lists">
        <strong>Errors On Form</strong>
        <ul>
            <%for error in @errors %>
            <li>
                <%=error %>
            </li>
            <%end %>
        </ul>
    </div>
    <%end %>
    <% form_for(:ontology, :url => ontology_path(@ontology.id), :html => { :method => :put }) do |f| %>
    <h1>Edit Metadata</h1>
    <%=hidden_field :ontology, :ontologyId %>
    <%=hidden_field :ontology, :userId %>
    <%=hidden_field :ontology, :isManual %>
    <br/>
    <table class="form" width="90%">
        <tr>
            <th class="top">
                Ontology Name <span class="asterik">*</span>
            </th>
            <td class="top">
                <%=text_field :ontology, :displayLabel %>
            </td>
        </tr>
        <tr>
            <th>
                Ontology Description <span class="asterik">*</span>
            </th>
            <td>
                <%= text_area :ontology, :description,:rows=>6 %>
            </td>
        </tr>
        <tr>
            <th>
                Ontology Abbreviation <span class="asterik">*</span>
            </th>
            <td>
                <%= text_field :ontology, :abbreviation %>
            </td>
        </tr>
        <tr>
            <th>
                Ontology Format <span class="asterik">*</span>
            </th>
            <td>
                <%=@ontology.format %>
                <%=hidden_field :ontology, :format %>
            </td>
        </tr>
        <tr>
            <th>
                Ontology Version 
            </th>
            <td>
                <%=text_field :ontology, :versionNumber %>
            </td>
        </tr>
        <tr>
            <th>
                Status
            </th>
            <td>
                <% status_options = ["alpha", "beta", "production", "retired"] %>
                <%= select :ontology, :versionStatus, status_options, { :include_blank => true } %>
            </td>
        </tr>
        <tr>
            <th>
                Ontology Release Date <span class="asterik">*</span>
            </th>
            <td>
                <%= text_field :ontology, :dateReleased,:id=>"datepicker" %>
            </td>
        </tr>

        <tr>
            <th>
                Ontology Location <span class="asterik">* </span>
            </th>
            <td id="location_options">
              <script type="text/javascript">
                // Show/hide location inputs
                function location_toggle(input_div) {
                  jQuery('.hidden_field').hide();
                  jQuery('.hidden_field input').attr("disabled", true);
                  jQuery('#' + input_div + " input").removeAttr("disabled");
                  jQuery('#' + input_div).show();
                }
              </script>
            
            
              <%=radio_button :ontology, :isRemote, 0, :onclick=>"location_toggle('upload');" %> Upload Local File
              <br/>
              <span style="font-size:11px;">(choose a file on your local file system to upload)</span>
              <div class="hidden_field" id="upload"<%if @ontology.isRemote.to_i.eql?(1) || @ontology.isRemote.to_i.eql?(3) %>style="display:none;"<%end%>>
                <%=file_field :ontology, :filePath %>
              </div>
              
              <hr/><%=radio_button :ontology, :isRemote, 1, :onclick=>"location_toggle('remote');" %> Load from URL 
              <br/>
              <span style="font-size:11px;">(new versions loaded daily)</span>
              <div class="hidden_field" id="remote"<%if !@ontology.isRemote.to_i.eql?(0) || !@ontology.isRemote.to_i.eql?(3) %>style="display:none;"<%end%>>
                URL: <%=text_field :ontology, :downloadLocation, :size => 100 %>
              </div>
              
              <hr/><%=radio_button :ontology, :isRemote, 3, :onclick=>"$('.hidden_field').hide();" %> Metadata Only 
              <br/>
              <span style="font-size:11px;">(choose this option if you want users to search and view only the <em>metadata</em> for your ontology, but not its classes and properties) </span>
            </td>
        </tr>
        
		<!-- Ontology format-specific fields -->
		
		<%if @ontology.format.include?("OWL") || @ontology.format.include?("PROTEGE") %>
          <tr>
              <th>
                  Prefered Name Property
                  <br/><span class="default_owl">default: <a target="_blank" href="http://www.w3.org/2000/01/rdf-schema#label">http://www.w3.org/2000/01/rdf-schema#label</a></span>
              </th>
              <td>
                  <%=text_field :ontology, :preferredNameSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
              </td>
          </tr>
          <tr>
              <th>
                  Synonym Property
                  <br/><span class="default_owl">default: <a target="_blank" href="http://www.w3.org/2004/02/skos/core#altLabel">http://www.w3.org/2004/02/skos/core#altLabel</a></span>
              </th>
              <td>
                  <%=text_field :ontology, :synonymSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
              </td>
          </tr>
          <tr>
              <th>
                  Definition Property
                  <br/><span class="default_owl">default: <a target="_blank" href="http://www.w3.org/2004/02/skos/core#definition">http://www.w3.org/2004/02/skos/core#definition</a></span>
              </th>
              <td>
                  <%=text_field :ontology, :documentationSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
              </td>
          </tr>
          <tr>
              <th>
                  Author Property
                  <br/><span class="default_owl">default: <a target="_blank" href="http://purl.org/dc/elements/1.1/creator">http://purl.org/dc/elements/1.1/creator</a></span>
              </th>
              <td>
                  <%=text_field :ontology, :authorSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
              </td>
          </tr>
          <tr>
              <th>
                  Root of obsolete term branch (root is not obsolete)
              </th>
              <td>
                <%=text_field :ontology, :obsoleteParent, :class => "defaultText" %>
              </td>
          </tr>
          <tr>
              <th>
                  Property to check for obsolete status
              </th>
              <td>
                <%=text_field :ontology, :obsoleteProperty, :class => "defaultText" %>
              </td>
          </tr>
        <%end %>
		
		<% if @ontology.format.include?("RRF") %>
	        <tr>
	            <th>
	                Target Terminologies (RRF Only)
	            </th>
	            <td>
	                <%=text_field :ontology,:targetTerminologies, :title => 'Target Terminologies' %>
	            </td>
	        </tr>
		<% end %>
        <tr>
            <th>
                Ontology Viewing Restrictions
            </th>
            <td>
            		<%view_restiction_options = [["Private", "private"]]%>
            		<%selected = @ontology.private? ? "private" : ""%>
            		<%display_private = @ontology.private? ? "" : "display: none;"%>
                
                <%=select :ontology, :viewingRestriction, view_restiction_options, { :include_blank => "", :selected => selected }%>
                
                <div id="viewingRestrictionsPrivate" style="padding: .5em; border: thin solid #C1DAD7; margin: .5em; <%=display_private%>">
                	<h3>Add or remove accounts that are allowed to view terms in this ontology using the account name</h3> 
                	<%=text_field :useracl, :user_acl_add, :title => "enter account name", :class => "defaultText"%>
                	&nbsp;<input type="button" id="user_acl_add_button" value="Add Account">
                	<span class="user_acl_add_spinner" style="display: none;"><img src="/images/spinners/spinner_000000_16px.gif" style="vertical-align: text-bottom;"></span>
                	<span style='color: red;' class='user_acl_add_error'></span>

									<% disabled = @ontology.private? ? {} : {:disabled => "true"} %>
                	<%=select :ontology, :useracl, @ontology.useracl_select, {  }, { :multiple => true }.merge(disabled)%>
              	</div>
            </td>
        </tr>
        <tr>
            <th>
                Categories
            </th>
            <td>
                <select name="ontology[categoryId][]" multiple="multiple" size="6">
                    <%cats = @categories.values.sort{|a,b| a[:name] <=> b[:name]} %>
                    <%for cat in cats %>
                    <option value="<%=cat[:id]%>"<%if !@ontology.categories.nil? && @ontology.categories.include?(cat[:id]) %>selected<%end %>><%=cat[:name] %></option>
                    <%end %>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                Contact Name
            </th>
            <td>
                <%=text_field :ontology, :contactName %>
            </td>
        </tr>
        <tr>
            <th>
                Contact Email <span class="asterik">*</span>
            </th>
            <td>
                <%= text_field :ontology, :contactEmail %>
            </td>
        </tr>
        <tr>
            <th>
                Home Page
            </th>
            <td>
                <%= text_field :ontology, :homepage %>
            </td>
        </tr>
        <tr>
            <th>
                Documentation Page
            </th>
            <td>
                <%= text_field :ontology, :documentation %>
            </td>
        </tr>
        <tr>
            <th>
                Publications page
            </th>
            <td>
                <%= text_field :ontology, :publication %>
            </td>
        </tr>
        <tr>
            <td colspan=2 align="right">
                <%=submit_tag "Update" %>
            </td>
        </tr>
    </table>
    <%end %>
</div>
