<%@title = "Submit new ontology" %>
<script src="/javascripts/ui.core.js" type="text/javascript" charset="utf-8">
</script>
<script src="/javascripts/ui.datepicker.js" type="text/javascript" charset="utf-8">
</script>
<link rel="stylesheet" href="/stylesheets/layout/ui.core.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/layout/ui.datepicker.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/layout/ui.theme.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript">
    jQuery(function(){
        jQuery("#datepicker").datepicker({
            showOn: 'button',
            buttonImage: '/images/calendar.gif',
            buttonImageOnly: true
        });
    });
</script>
<script type="text/javascript">
    // Used to provide default text in fields
    jQuery(document).ready(function(){
        jQuery(".defaultText").each(function(){
            if ($(this).val() == this.title) {
                jQuery(this).addClass("defaultTextActive");
                jQuery(this).val(jQuery(this)[0].title);
            }
            else {
                jQuery(this).removeClass("defaultTextActive");
            }
        });
        
        jQuery(".defaultText").focus(function(srcc){
            if ($(this).val() == $(this)[0].title) {
                $(this).removeClass("defaultTextActive");
                $(this).val("");
            }
        });
        
        jQuery(".defaultText").blur(function(){
            if ($(this).val() == "") {
                $(this).addClass("defaultTextActive");
                $(this).val($(this)[0].title);
            }
        });
        
        jQuery(".defaultText").blur();
    });
    
    jQuery("form").submit(function(){
        jQuery(".defaultText").each(function(){
            if ($(this).val() == this.title) {
                $(this).val("");
            }
        });
    });
</script>
<script type="text/javascript">
    // Handles showing/hiding options for a particular ontology format
    jQuery(document).ready(function(){
        jQuery("#ontology_format").change(ontologyFormatChange);
        
        // Check to see if owl is selected, show options if so
        ontologyFormatChange()
    });
    
    function ontologyFormatChange(format){
        var selected = jQuery("#ontology_format option:selected");

		switch(selected.val()){
			case 'OWL':
			case 'OWL-DL':
			case 'OWL-FULL':
			case 'OWL-LITE':
				jQuery(".format_options").optionsOut("fast");				
				jQuery("#owl_options").optionsIn("fast");
				break;
			case 'RRF':
				jQuery(".format_options").optionsOut("fast");				
				jQuery("#rrf_options").optionsIn("fast");
				break;
			default:
				jQuery(".format_options").optionsOut("fast");				
		}
    }
    
    jQuery.fn.optionsIn = function(speed, easing, callback){
        jQuery("#format_spacing").css("margin", "1em 0");
        this.fadeIn(speed);
    };
    
    jQuery.fn.optionsOut = function(speed, easing, callback){
        this.css("display", "none");
        jQuery("#format_spacing").css("margin", "0");
    };
</script>
<div style="margin:10px;">
    <%form_tag("/ontologies", {:multipart => true, :id => 'new_ontology'}) do %>
    <%unless @errors.nil? %>
    <div style="color:red;">
        Errors On Form
        <ul>
            <%for error in @errors %>
            <li>
                <%=error %>
            </li>
            <%end %>
        </ul>
    </div>
    <%end %>
    <div style="width:500px">
        <span class="asterik" style="float:right;">* fields are required</span>
        <%if @ontology.ontologyId.nil? %>
        <h1>Submit New Ontology</h1>
        <%else %>
        <h1>Submit New Version</h1>
        <%end %>
    </div>
    <%=hidden_field :ontology, :ontologyId %>
    <%=hidden_field :ontology, :userId %>
    <table class="form" id="new_ontology" width="90%">
        <tr>
            <th>
                Ontology Name: <span class="asterik">*</span>
            </th>
            <td class="top">
                <%=text_field :ontology, :displayLabel %>
            </td>
        </tr>
        <tr>
            <th>
                Ontology Description: <span class="asterik">*</span>
            </th>
            <td>
                <%= text_area :ontology, :description,:rows=>5 %>
            </td>
        </tr>
        <tr>
            <th>
                Ontology Abbreviation: <span class="asterik">*</span>
            </th>
            <td>
                <%= text_field :ontology, :abbreviation %>
            </td>
        </tr>
        <%if @ontology.ontologyId.nil? %>
        <tr>
            <th>
                Ontology Format: <span class="asterik">*</span>
            </th>
            <td>
                <select name="ontology[format]" id="ontology_format" style="width:200px">
                    <option value="LEXGRID-XML">LEXGRID-XML</option>
                    <option value="OBO">OBO</option>
                    <option value="OWL" SELECTED>OWL</option>
                    <option value="OWL-DL">-&nbsp;&nbsp;OWL-DL</option>
                    <option value="OWL-FULL">-&nbsp;&nbsp;OWL-FULL</option>
                    <option value="OWL-LITE">-&nbsp;&nbsp;OWL-LITE</option>
                    <option value="PROTEGE">PROTEGE</option>
                    <option value="RRF">RRF</option>
                </select>
                <div id="format_spacing">
                </div>
                <table id="format_specific_options">
                    <tbody id="owl_options" class="format_options">
                        <tr>
                            <th>
                                Prefered Name Property (Owl Only) (default: <a target="_blank" href="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a>)
                            </th>
                            <td>
                                <%=text_field :ontology, :preferredNameSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Synonym Property (Owl Only) (default: <a target="_blank" href="http://www.w3.org/2004/02/skos/core#altLabel">skos:altLabel</a>)
                            </th>
                            <td>
                                <%=text_field :ontology, :synonymSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Definition Property (Owl Only) (default: <a target="_blank" href="http://www.w3.org/2004/02/skos/core#definition">skos:definition</a>)
                            </th>
                            <td>
                                <%=text_field :ontology, :documentationSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Author Property (Owl Only) (default: <a target="_blank" href="http://purl.org/dc/elements/1.1/creator">dc:creator</a>)
                            </th>
                            <td>
                                <%=text_field :ontology, :authorSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
                            </td>
                        </tr>
                    </tbody>
					<tbody id="rrf_options" class="format_options">
				        <tr>
				            <th>
				                Target Terminologies (RRF Only)
				            </th>
				            <td>
				                <%=text_field :ontology, :targetTerminologies, :title => 'Target Terminologies' %>
				            </td>
				        </tr>
					</tbody>
                </table>
            </td>
        </tr>
        <%else %>
        <tr>
            <th>
                Ontology Format:
            </th>
            <td>
                <%=@ontology.format %>
                <%=hidden_field :ontology, :format %>
                <div id="format_spacing">
                </div>
                <table id="format_specific_options">
                    <tbody id="owl_options">
                        <tr>
                            <th>
                                Prefered Name Property (Owl Only) (default: <a target="_blank" href="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a>)
                            </th>
                            <td>
                                <%=text_field :ontology,:preferredNameSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Synonym Property (Owl Only) (default: <a target="_blank" href="http://www.w3.org/2004/02/skos/core#altLabel">skos:altLabel</a>)
                            </th>
                            <td>
                                <%=text_field :ontology,:synonymSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Definition Property (Owl Only) (default: <a target="_blank" href="http://www.w3.org/2004/02/skos/core#definition">skos:definition</a>)
                            </th>
                            <td>
                                <%=text_field :ontology,:documentationSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Author Property (Owl Only) (default: <a target="_blank" href="http://purl.org/dc/elements/1.1/creator">dc:creator</a>)
                            </th>
                            <td>
                                <%=text_field :ontology,:authorSlot, :class => 'defaultText defaultTextActive', :title => 'use default' %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <%end %>
        <tr>
            <th>
                Ontology Version: <span class="asterik">*</span>
            </th>
            <td>
                <%=text_field :ontology, :versionNumber %>
            </td>
        </tr>
        <tr>
            <th>
                Date Released: <span class="asterik">*</span>
            </th>
            <td>
                <%= text_field :ontology, :dateReleased,:id=>"datepicker" %>
            </td>
        </tr>
        <tr>
            <th>
                File Location <span class="asterik">* </span>
            </th>
            <td>
                <%=radio_button :ontology,:isRemote,0,:onclick=>"$('.hidden_field').hide();$('#upload').show();" %>Upload 
                <br/>
                <span style="font-size:11px;">(choose this option if you want users to be able to explore and search
                    your ontology in BioPortal)</span>
                <br/>
                <hr/><%=radio_button :ontology,:isRemote,1,:onclick=>"$('.hidden_field').hide();$('#remote').show();" %>Remote 
                <br/>
                <span style="font-size:11px;">(choose this option if you want users to search and view only the
                    *metadata* for your ontology (but not its classes and properties)</span>
                <br/>
            </td>
        </tr>
        <tr class="hidden_field" id="remote"<%if !@ontology.isRemote.to_i.eql?(1) %>style="display:none;"<%end %>>
            <th>
                Location URL: <span class="asterik">*</span>
            </th>
            <td>
                <%=text_field :ontology,:urn %>
            </td>
        </tr>
        <tr class="hidden_field" id="upload"<%if @ontology.isRemote.to_i.eql?(1) %>style="display:none;"<%end %>>
            <th>
                File: <span class="asterik">*</span>
            </th>
            <td>
                <%=file_field :ontology,:filePath %>
            </td>
        </tr>
        <tr>
            <th>
                Categories:
                <br/>
                (use Ctrl or Cmd to select more than one)
            </th>
            <td>
                <select name="ontology[categoryId][]" multiple="multiple" size="6">
                    <%cats = @categories.values.sort{|a,b| a[:name] <=> b[:name]} %>
                    <%for cat in cats %>
                    <option value="<%=cat[:id]%>"<%if !@ontology.categories.nil? && @ontology.categories.include?(cat[:id]) %>selected<%end %>><%=cat[:name] %></option>
                    <%end %>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                Contact Name:
            </th>
            <td>
                <%=text_field :ontology, :contactName %>
            </td>
        </tr>
        <tr>
            <th>
                Contact Email: <span class="asterik">*</span>
            </th>
            <td>
                <%= text_field :ontology, :contactEmail %>
            </td>
        </tr>
        <tr>
            <th>
                Home Page:
            </th>
            <td>
                <%= text_field :ontology, :homepage %>
            </td>
        </tr>
        <tr>
            <th>
                Documentation Page:
            </th>
            <td>
                <%= text_field :ontology, :documentation %>
            </td>
        </tr>
        <tr>
            <th>
                Publications Page:
            </th>
            <td>
                <%= text_field :ontology, :publication %>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <%=submit_tag "Submit" %>
            </td>
        </tr>
    </table>
    <%end %>
</div>
