- @title = "Submit New Ontology"

%div{:style => "margin:10px;"}
  = form_for :ontology, url: {action: "create"}, html: {id: "ontologyForm", multipart: true} do
    .upload-ontology-container
      %div{style: 'width: 589px'}
        = error_message_alert
        .upload-ontology-card
          .upload-ontology-center
            .Upload-ontology-title
              %div
                = @is_update_ontology ? "Upload new update" : "Upload ontology"
              %hr
            .upload-ontology-progress
              = render Layout::ProgressPagesComponent.new(pages_title: ['Details', 'General metadata', 'Dates contacts']) do |c|
                - c.page do
                  = render partial: 'ontologies/form'
                - c.page do
                  .upload-ontology-desc
                    = metadata_help_link
                  .upload-ontology-input-field-container
                    = attribute_input('URI', label: 'URI')
                  .upload-ontology-input-field-container
                    = attribute_input('description', long_text: true)
                  - if @is_update_ontology
                    .upload-ontology-input-field-container
                      = attribute_input("notes", label: 'Change notes')
                  .upload-ontology-field-container
                    = select_input(label: "Format", name: "submission[hasOntologyLanguage]", values: ["OBO", "OWL", "SKOS", "UMLS"], selected: @submission.hasOntologyLanguage)
                  .upload-ontology-desc.hide
                    %div
                      SKOS vocabularies submitted to BioPortal must contain a minimum of one concept scheme and top concept assertion. Please
                      refer to the NCBO wiki for a more
                      %a{:href => "#seethewiki"}
                        detailed explanation
                        %svg{:fill => "none", :height => "8", :viewbox => "0 0 8 8", :width => "8", :xmlns => "http://www.w3.org/2000/svg"}
                          %path{:d => "M5.77776 8H1.33333C0.977156 8 0.642334 7.8613 0.390512 7.60946C0.138689 7.35762 0 7.02278 0 6.66666V2.22222C0 1.86607 0.138704 1.53124 0.390527 1.27942C0.64235 1.0276 0.977172 0.888894 1.33334 0.888894H3.11111C3.35659 0.888894 3.55556 1.08787 3.55556 1.33334C3.55556 1.57881 3.35659 1.77779 3.11111 1.77779H1.33333C1.2146 1.77779 1.10301 1.82402 1.01907 1.90795C0.935144 1.99188 0.888894 2.1035 0.888894 2.22222V6.66666C0.888894 6.78538 0.935129 6.89698 1.01907 6.98094C1.10301 7.06486 1.2146 7.11111 1.33333 7.11111H5.77775C5.89647 7.11111 6.00807 7.06487 6.09202 6.98091C6.17595 6.89698 6.22218 6.78537 6.22218 6.66664V4.88889C6.22218 4.64341 6.42117 4.44445 6.66664 4.44445C6.91212 4.44445 7.11111 4.64343 7.11111 4.88889V6.66666C7.11111 7.02281 6.9724 7.35762 6.72056 7.60947C6.46872 7.8613 6.13389 8 5.77776 8ZM3.11111 5.33332C2.99736 5.33332 2.88362 5.28994 2.79685 5.20315C2.62329 5.02959 2.62329 4.74816 2.79685 4.5746L6.48254 0.888894H4.88889C4.64341 0.888894 4.44445 0.68992 4.44445 0.444447C4.44445 0.198974 4.64341 0 4.88889 0H7.55555C7.61702 0 7.67556 0.0124825 7.72882 0.0350409C7.77851 0.0560624 7.82518 0.0865233 7.86602 0.126439L7.86605 0.12647C7.86634 0.126765 7.86664 0.127045 7.86692 0.12734C7.86699 0.127417 7.8671 0.127511 7.86718 0.127588C7.8674 0.127805 7.86765 0.128038 7.86786 0.128271C7.86802 0.128427 7.86816 0.128566 7.86831 0.128721C7.86848 0.128892 7.86867 0.129079 7.86881 0.129218C7.86912 0.129529 7.86946 0.129855 7.86977 0.130181C7.87008 0.130491 7.87042 0.130833 7.87074 0.131143C7.87091 0.131299 7.87109 0.131501 7.87122 0.13164C7.87139 0.131796 7.87151 0.131935 7.87167 0.132091C7.87191 0.132323 7.87213 0.132541 7.87235 0.132789C7.87243 0.132851 7.87254 0.13296 7.8726 0.133038C7.87289 0.133333 7.87319 0.133628 7.87347 0.133923L7.8735 0.133954C7.9134 0.174817 7.94388 0.221486 7.96488 0.271167C7.98744 0.32442 7.99994 0.382951 7.99994 0.444431V3.1111C7.99994 3.35657 7.80095 3.55555 7.55548 3.55555C7.31 3.55555 7.11104 3.35657 7.11104 3.1111V1.51744L3.4253 5.20317C3.33859 5.28995 3.22485 5.33332 3.11111 5.33332Z", :fill => "#31B404"}
                      with examples.
                  .upload-ontology-field-container.mt-3
                    = attribute_input("status")
                  .upload-ontology-field-container
                    = render partial: 'ontologies/submission_location_form'

                - c.page do
                  .upload-ontology-input-field-container
                    - if @is_update_ontology
                      = attribute_input('modificationDate', label: 'Modification date (dd/mm/yy)')
                    - else
                      = attribute_input('released',  label: 'Date of original creation (dd/mm/yy)')
                  .upload-ontology-contact
                    = contact_input(show_help: false)
