<script src="/javascripts/ui.core.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/ui.datepicker.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/stylesheets/layout/ui.core.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/layout/ui.datepicker.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/layout/ui.theme.css" type="text/css" media="screen" title="no title" charset="utf-8">

<script type="text/javascript">
$(function() {
		$("#datepicker").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true});
	});

</script>


<div  style="margin:10px;">

<%form_tag ("/ontologies", {:multipart => true}) do%>


<%unless @errors.nil?%>
<div style="color:red;">
Errors On Form
<ul>

<%for error in @errors%>
<li><%=error%></li>
<%end%>


</ul>
</div>
<%end%>

<%if @ontology.ontologyId.nil?%>
        <h1>Submit New Ontology</h1>
<%else%>
<h1> Submit New Version</h1>
<%end%>
<%=hidden_field :ontology, :ontologyId%>
<table class="form" width="70%">
	<tr>
		<th>Ontology Name: </th><td class="top"><%=text_field :ontology, :displayLabel%></td>
	</tr>
	<tr>
		<th>Ontology Description:</th><td><%= text_area :ontology, :description,:rows=>5%></td>
	</tr>
	<tr>
		<th>Ontology Abbreviation:</th><td><%= text_field :ontology, :abbreviation%></td>
	</tr>
	
	
	<%if @ontology.ontologyId.nil?%>
	<tr>
		<th>Ontology Format: </th><td><select name="ontology[format]" style="width:200px" >			
			<option value="OBO">OBO</option>
			<option value="OWL">OWL</option>
			<option value="OWL-DL">-&nbsp;&nbsp;OWL-DL</option>
			<option value="OWL-FULL">-&nbsp;&nbsp;OWL-FULL</option>
			<option value="OWL-LITE">-&nbsp;&nbsp;OWL-LITE</option>
			<option value="PROTEGE">PROTEGE</option>
			<option value="LEXGRID_XML">LEXGRID_XML</option>
			<option value="RRF">RRF</option>
			</select>
			</td>
	</tr>	
	<%else%>
	<tr>
		<th>Ontology Format:</th><td> <%=@ontology.format%>
			<%=hidden_field :ontology, :format%></td>
	</tr>
	<%end%>
	
	<tr>
		<th>Ontology Version: </th><td><%=text_field :ontology, :versionNumber%></td>
	</tr>	
	<tr>
		<th>Date Released: </th><td><%= text_field :ontology, :dateReleased,:id=>"datepicker"%></td>
	</tr>	
	<tr>
		<th>File Location</th><td><%=radio_button :ontology,:isRemote,0%>Upload (choose this option if you want users to be able to explore and search
		your ontology in BioPortal)
		 <br><%=radio_button :ontology,:isRemote,1%>Remote (choose this option if you want users to search and view only the
		*metadata* for your ontology (but not its classes and properties)

		 </td>
	</tr>
	<tr>
		<th>Location URL</th><td><%=text_field :ontology,:urn%></td>
	</tr>
	<tr >
		<th>File</th><td><%=file_field :ontology,:filePath%></td>
	</tr>
	
	<tr >
		<th>Prefered Name Slot (Owl Only) (e.g. rdfs:label)</th><td><%=text_field :ontology,:preferredNameSlot%></td>
	</tr>
	
	<tr >
		<th>Synonym Slot (Owl Only) (e.g. rdfs:label)</th><td><%=text_field :ontology,:synonymSlot%></td>
	</tr>
	
	<tr>
		<th>Categories:</th><td><select name="ontology[categoryId][]" multiple="multiple" size="6">
			<%cats = @categories.values.sort{|a,b| a[:name] <=> b[:name]}%>
			<%for cat in cats%>
			
			<option value="<%=cat[:id]%>" <%if !@ontology.categories.nil? && @ontology.categories.include?(cat[:id])%>selected <%end%>><%=cat[:name]%></option>
			<%end%>
			</select></td>
	</tr>
	<tr>
		<th>Contact Name:</th><td><%=text_field :ontology, :contactName%></td>
	</tr>
	<tr>
		<th>Contact Email:</th><td><%= text_field :ontology, :contactEmail%></td>
	</tr>
	<tr>
		<th>Home Page:</th><td><%= text_field :ontology, :homepage%></td>
	</tr>
	<tr>
		<th>Documentation Page:</th><td><%= text_field :ontology, :documentation%></td>
	</tr>
	<tr>
		<th>Publications Page:</th><td><%= text_field :ontology, :publication%></td>
	</tr>
	
	
	<tr>
		<td colspan="2" align="right"><%=submit_tag "Upload"%></td>
	</tr>
	
</table>







<%end%>
</div>