

<%form_tag ("/ontologies", {:multipart => true}) do%>


<%unless @errors.nil?%>
<div style="color:red;">
Errors On Form
<ul>

<%for error in @errors%>
<li><%=error%></li>
<%end%>


</ul>
</div>
<%end%>

<%if @ontology.ontologyId.nil?%>
        <h1>Submit New Ontology</h1>
<%else%>
<h1> Submit New Version</h1>
<%end%>
<%=hidden_field :ontology, :ontologyId%>
<table >
	<tr>
		<td>Ontology Name: </td><td><%=text_field :ontology, :displayLabel%></td>
	</tr>
	<tr>
		<td>Ontology Description:</td><td><%= text_field :ontology, :description%></td>
	</tr>
	<tr>
		<td>Ontology Abbreviation:</td><td><%= text_field :ontology, :abbreviation%></td>
	</tr>
	
	<tr>
		<td>Ontology Format: </td><td><select name="ontology[format]" style="width:200px" >			
			<option value="OBO">OBO</option>
			<option value="OWL">OWL</option>
			<option value="OWL-DL">-&nbsp;&nbsp;OWL-DL</option>
			<option value="OWL-FULL">-&nbsp;&nbsp;OWL-FULL</option>
			<option value="OWL-LITE">-&nbsp;&nbsp;OWL-LITE</option>
			<option value="PROTEGE">PROTEGE</option>
			<option value="LEXGRID_XML">LEXGRID_XML</option>
			</select>
			</td>
	</tr>	
	<tr>
		<td>Ontology Version: </td><td><%=text_field :ontology, :versionNumber%></td>
	</tr>	
	<tr>
		<td>Date Released: </td><td><%= calendar_date_select_tag "ontology[dateReleased]", "", :popup => :force %></td>
	</tr>	
	<tr>
		<td>File Location</td><td><%=radio_button :ontology,:isRemote,0%>Upload (choose this option if you want users to be able to explore and search
		your ontology in BioPortal)
		 <br><%=radio_button :ontology,:isRemote,1%>Remote (choose t his option if you want users to search and view only the
		*metadata* for your ontology (but not its classes and properties)

		 </td>
	</tr>
	<tr>
		<td>Location URL</td><td><%=text_field :ontology,:urn%></td>
	</tr>
	<tr >
		<td>File</td><td><%=file_field :ontology,:filePath%></td>
	</tr>
	
	<tr >
		<td>Prefered Name Slot (Owl Only)</td><td><%=text_field :ontology,:preferredNameSlot%></td>
	</tr>
	
	<tr >
		<td>Synonym Slot (Owl Only)</td><td><%=text_field :ontology,:synonymSlot%></td>
	</tr>
	
	<tr>
		<td>Categories:</td><td><select name="ontology[categoryId][]" multiple="multiple" size="6">
			<%for key in @categories.keys%>
			<option value="<%=@categories[key][:id]%>" <%if !@ontology.categories.nil? && @ontology.categories.include?(key)%>selected <%end%>><%=@categories[key][:name]%></option>
			<%end%>
			</select></td>
	</tr>
	<tr>
		<td>Contact Name:</td><td><%=text_field :ontology, :contactName%></td>
	</tr>
	<tr>
		<td>Contact Email:</td><td><%= text_field :ontology, :contactEmail%></td>
	</tr>
	<tr>
		<td>Home Page:</td><td><%= text_field :ontology, :homepage%></td>
	</tr>
	<tr>
		<td>Documentation Page:</td><td><%= text_field :ontology, :documentation%></td>
	</tr>
	<tr>
		<td>Publications Page:</td><td><%= text_field :ontology, :publication%></td>
	</tr>
	
	
	
	
</table>

<%=submit_tag "Upload"%>






<%end%>