<%@title = "Submit new ontology"%>
<script src="/javascripts/ui.core.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/ui.datepicker.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/stylesheets/layout/ui.core.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/layout/ui.datepicker.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/layout/ui.theme.css" type="text/css" media="screen" title="no title" charset="utf-8">

<script type="text/javascript">
$(function() {
		$("#datepicker").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true});
	});

</script>


<div  style="margin:10px;">

<%form_tag ("/ontologies", {:multipart => true}) do%>


<%unless @errors.nil?%>
<div style="color:red;">
Errors On Form
<ul>

<%for error in @errors%>
<li><%=error%></li>
<%end%>


</ul>
</div>
<%end%>
<div style="width:500px">
	<span class="asterik" style="float:right;">* fields are required</span>

<%if @ontology.ontologyId.nil?%>
        <h1>Submit New View</h1>
<%else%>
<h1> Submit New View</h1>

<%end%>

</div>
<%=hidden_field :ontology, :ontologyId%>
<%=hidden_field :ontology, :userId%>
<%=hidden_field :ontology, :isView%>
<%=hidden_field :ontology, :isRemote, :value=>0%>
<style>
th{
	width:30%;
}
input{
	width:300px;
}
textarea{
	width:400px;
}
</style>

<table class="form" width="90%">
	<tr>
		<th>View Name: <span class="asterik"> *</span></th><td class="top"><%=text_field :ontology, :displayLabel%></td>
	</tr>
	<tr>
		<th>View Description: <span class="asterik"> *</span></th><td><%= text_area :ontology, :description,:rows=>5%></td>
	</tr>
	<tr>
		<th>View Abbreviation: <span class="asterik"> *</span></th><td><%= text_field :ontology, :abbreviation%></td>
	</tr>
	
	
	<%if @ontology.ontologyId.nil?%>
	<tr>
		<th>View Format: <span class="asterik"> *</span></th><td><select name="ontology[format]" style="width:200px" >			

			<option value="OWL">OWL</option>
			<option value="OWL-DL">-&nbsp;&nbsp;OWL-DL</option>
			<option value="OWL-FULL">-&nbsp;&nbsp;OWL-FULL</option>
			<option value="OWL-LITE">-&nbsp;&nbsp;OWL-LITE</option>
			<option value="OBO">OBO</option>
			<option value="PROTEGE">PROTEGE</option>
			<option value="LEXGRID_XML">LEXGRID_XML</option>
			<option value="RRF">RRF</option>
			</select>
			</td>
	</tr>	
	<%else%>
	<tr>
		<th>View Format:</th><td> <%=@ontology.format%>
			<%=hidden_field :ontology, :format%></td>
	</tr>
	<%end%>
	
	<tr>
		<th>View Version: <span class="asterik"> *</span></th><td><%=text_field :ontology, :versionNumber%></td>
	</tr>	
	<tr>
		<th>Date Released: <span class="asterik"> *</span></th><td><%= text_field :ontology, :dateReleased,:id=>"datepicker"%></td>
	</tr>	
	<tr class="hidden_field" id="upload">
		<th>File: <span class="asterik"> *</span></th><td><%=file_field :ontology,:filePath%></td>
	</tr>
	
	<tr >
		<th>Prefered Name Slot (Owl Only) (e.g. rdfs:label)</th><td><%=text_field :ontology,:preferredNameSlot%></td>
	</tr>
	
	<tr >
		<th>Synonym Slot (Owl Only) (e.g. SKOS:altLabel)</th><td><%=text_field :ontology,:synonymSlot%></td>
	</tr>
	
	<tr>
		<th>Categories:<br/>(use Ctrl or Cmd to select more than one)</th><td><select name="ontology[categoryId][]" multiple="multiple" size="6">
			<%cats = @categories.values.sort{|a,b| a[:name] <=> b[:name]}%>
			<%for cat in cats%>
			
			<option value="<%=cat[:id]%>" <%if !@ontology.categories.nil? && @ontology.categories.include?(cat[:id])%>selected <%end%>><%=cat[:name]%></option>
			<%end%>
			</select></td>
	</tr>
	<tr>
		<th>Contact Name:</th><td><%=text_field :ontology, :contactName%></td>
	</tr>
	<tr>
		<th>Contact Email: <span class="asterik"> *</span></th><td><%= text_field :ontology, :contactEmail%></td>
	</tr>
	<tr>
		<th>Home Page:</th><td><%= text_field :ontology, :homepage%></td>
	</tr>
	<tr>
		<th>Documentation Page:</th><td><%= text_field :ontology, :documentation%></td>
	</tr>
	<tr>
		<th>Publications Page:</th><td><%= text_field :ontology, :publication%></td>
	</tr>
	<tr>
		<th>View Definition:</th><td><%=text_area :ontology, :viewDefinition%></td>
	</tr>
    	
    <tr>
		<th>View Definition Language:</th>
		<td>
    		<SELECT id="viewDefinitionLanguage" name="ontology[viewDefinitionLanguage]">
				<OPTION selected value="Manual">Manual</OPTION>
				<OPTION value="ARQ">ARQ</OPTION>
				<OPTION value="RDQL">RDQL</OPTION>
				<OPTION value="RQL">RQL</OPTION>
				<OPTION value="RVL">RVL</OPTION>
				<OPTION value="SPARQL">SPARQL</OPTION>
				<OPTION value="vSPARQL">vSPARQL</OPTION>
			</SELECT>	
		</td>
	</tr>
	<tr>
		<th>View Generation Engine:</th>
		<td><SELECT id="viewGenerationEngine" name="ontology[viewGenerationEngine]">
			<OPTION selected value=""></OPTION>
			<OPTION value="Jena/ARQ">Jena/ARQ</OPTION>
			<OPTION value="Pellet">Pellet</OPTION>
			<OPTION value="Redland/Rasqal">Redland/Rasqal</OPTION>
			<OPTION value="Sesame/SPARQL Engine">SPARQL Engine</OPTION>
			<OPTION value="Virtuoso SPARQL">Virtuoso SPARQL</OPTION>
		</SELECT>	
		</td>
	</tr>
	
	
	<tr>
		<td colspan="2" align="right"><%=submit_tag "Submit"%></td>
	</tr>
	
</table>







<%end%>
</div>