<%unless request.xhr?%>

<h1><%=@ontology.display_label%></h1>

<ul class="topnav" id="subnav">
		<li id="meta"class="selected"><%=link_to_remote "<em>MetaData</em>",:update=>'ontology_content',:method=>'GET',:url=>ontology_url(:ontology => @ontology),:complete=>"selectTab('subnav','meta')"%></li>
		<li id="proj"><%=link_to_remote "<em>Projects</em>",:update=>'ontology_content',:method=>'GET',:url=>projects_path(:ontology=>@ontology),:complete=>"selectTab('subnav','proj')"%></li>
    	<li id="rev"><%=link_to_remote "<em>Reviews</em>",:update=>'ontology_content',:method=>'GET',:url=>reviews_path(:ontology=>@ontology),:complete=>"selectTab('subnav','rev')"%></li>
	</ul>  
	<div style="clear:both;"/>
<div id="ontology_content">
<%end%>
<h3>Ontology MetaData</h3>

<table class="metadata" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<ul>
			<li><label>Ontology Name:</label><%=@ontology.display_label%></li>
			<li><label>Format:</label> <%if @ontology.format.eql?("OBO")%><%=@ontology.format+"F"%><%else%><%=@ontology.format%><%end%></li>
			<li><label>Categories:</label></li>
			</ul>
			
		</td>
		<td>
			<ul>
			<li><label>Contact(s):</label><%=@ontology.contact_name%></li>
			<li><label>Home Page:</label><%=@ontology.homepage%></li>
			<li><label>Documentation Page:</label><%=@ontology.documentation%> </li>
			<li><label>Publications Page:</label><%=@ontology.publication%> </li>
			</ul>

		</td>
	</tr>
</table>
</fieldset>

<h3>Versions</h3>
	<table class="versions" cellpadding="0" cellspacing="0">
		<tr>
			<th>Version Number</th>
			<th>Release Date</th>
			<th>Status</th>
			<th></th>
			<th></th>
		</tr>
		<%for version in @versions%>
		<tr>
			<td><%=version.version_number%></td>
			<td><%=version.date_released%></td>
			<td><%=version.version_status%></td>
			<td><a href="<%=version.file_path%>">Download</a></td>
			<td><%=link_to "Explore",visualize_url(:ontology => version)%></td>
		</tr>
		<%end%>
	</table>
<%unless request.xhr?%>
</div>
<%end%>