<h1><%=@ontology.name%></h1>

<li>Core Format: <%=@ontology.coreFormat%></li>
<li>Current Version: <%=@ontology.currentVersion%></li>
<li>Download Path: <%=@ontology.downloadPath%></li>
<li>Metadata Path: <%=@ontology.metadataPath%></li>
<li>Release Date:<%=@ontology.releaseDate%></li>