<%unless request.xhr?%>

<h1><%=@ontology.name%></h1>

<ul class="topnav" id="subnav">
		<li id="meta"class="selected"><%=link_to_remote "<em>MetaData</em>",:update=>'ontology_content',:method=>'GET',:url=>ontology_url(:ontology => @ontology),:complete=>"selectTab('subnav','meta')"%></li>
		<li id="proj"><%=link_to_remote "<em>Projects</em>",:update=>'ontology_content',:method=>'GET',:url=>projects_path(:ontology=>@ontology),:complete=>"selectTab('subnav','proj')"%></li>
    	<li id="rev"><%=link_to_remote "<em>Reviews</em>",:update=>'ontology_content',:method=>'GET',:url=>reviews_path(:ontology=>@ontology),:complete=>"selectTab('subnav','rev')"%></li>
	</ul>  
	<div style="clear:both;"/>
<div id="ontology_content">
<%end%>
<h3>Ontology MetaData</h3>

<table class="metadata" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<ul>
			<li><label>Ontology Name:</label><%=@ontology.name%></li>
			<li><label>Content Location:</label> </li>			
			<li><label>Format:</label> <%if @ontology.coreFormat.eql?("OBO")%><%=@ontology.coreFormat+"F"%><%else%><%=@ontology.coreFormat%><%end%></li>
			<li><label>Categories:</label></li>
			<li><label>Keywords:</label></li>
			<li><label>Key Classes/Types:</label></li>
			<li><label>Intended Application:</label></li>
			</ul>
			
		</td>
		<td>
			<ul>
			<li><label>Contact(s):</label></li>
			<li><label>Home Page:</label></li>
			<li><label>Documentation Page:</label> </li>
			<li><label>Publications Page:</label> </li>
			<li><label>Supported Languages:</label> </li>
			<li><label>Example Use:</label></li>
			<li><label>Description:</label></li>
			</ul>

		</td>
	</tr>
</table>
</fieldset>

<h3>Versions</h3>
	<table class="versions" cellpadding="0" cellspacing="0">
		<tr>
			<th>Version Number</th>
			<th>Release Date</th>
			<th>Status</th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td><%=@ontology.currentVersion%></td>
			<td><%=@ontology.releaseDate%></td>
			<td></td>
			<td><a href="<%=@ontology.downloadPath%>">Download (100.00KB)</a></td>
			<td><%=link_to "Explore",visualize_url(:ontology => @ontology)%></td>
		</tr>
	</table>
<%unless request.xhr?%>
</div>
<%end%>