<%@title = "#{@ontology.displayLabel}" %>
<script src="/javascripts/jquery.rating.pack.js" type="text/javascript" charset="utf-8">
</script>
<link rel="stylesheet" href="/stylesheets/layout/jquery.rating.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="/javascripts/JqueryPlugins/tagcloud/jquery.tagcloud.min.js" type="text/javascript" charset="utf-8">
</script>
<script src="/javascripts/JqueryPlugins/tagcloud/jquery.tinysort.min.js" type="text/javascript" charset="utf-8">
</script>
<script type="text/javascript">
            	function meta_tab_clicked(content,tab){
            		jQuery(".tab_content").hide();
            		jQuery(content).show();
            		jQuery(".tab").removeClass("selected");
            		jQuery(tab).parent().addClass("selected");
            		return false;
            		
            	}
            	
            	jQuery(document).ready(function()  {
            		<%if @notes.size>0%>
            			jQuery("#notes").tagcloud({type:"list",sizemin:10,colormin:"#3C46FF",colormax:"#3C46FF",sizemax:14});
            		<%end%>
            		<%if @mappings.size >0%>
            			jQuery("#mappings").tagcloud({type:"list",sizemin:10,colormin:"#3C46FF",colormax:"#3C46FF",sizemax:14});
            		<%end%>
            
            		//Auto loads the correct tab
            	    loc = new String(document.location);
            	    if(loc.search("#")>=0) {
            	        jQuery("#metadata_content").hide();
            	        id = "#" + loc.split("#")[1];
            			// The actual content to hide/show is in id_content
            			id_content = id + "_content";
            	        jQuery(id_content).show();
            	        jQuery(".tab").removeClass("selected");
            	        jQuery(id+"_top").addClass("selected");
            	        tab_li = jQuery(jQuery("a[href='"+id+"']").parents().get(0));
            	        tab_li.addClass("selected");
            	        var a = jQuery("a[href='"+id+":']");
            	        eval(a.attr("alt"));
            	    }
            
            	});
</script>

<div style="padding:5px;">
    <h1><%=@ontology.displayLabel %>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/syndication/rss?ontologies=<%=@ontology.ontologyId%>" style="text-decoration:none;font-size:14px;"><img src="/images/feed-icon.png" height=16 width=16 border=0> Subscribe to updates</a></h1><%if !session[:user].nil? && (session[:user].id.to_i.eql?(@ontology.userId.to_i) || session[:user].admin?) %>
    <table class="form">
        <tr>
            <td class="top">
                <%=link_to "Submit New Version",new_ontology_path(:id=>@ontology.ontologyId) %>
            </td>
            <td class="top">
                <%=link_to "Edit Ontology Information",edit_ontology_path(:id=>@ontology.id) %>
            </td>
        </tr>
    </table>
    <%end %>
    <div class="tabs" style="margin-top:5px;margin-bottom:10px;border-top:1px solid #CFCFCF;">
        <ul>
            <li id="#metadata" class="selected tab">
                <a href="#metadata" onclick="meta_tab_clicked('#metadata_content',this)">Metadata</a>
            </li>
            <li id="#views" class="tab">
                <a href="#views" onclick="meta_tab_clicked('#views_content',this)">Views (<%=@ontology.views.size %>)</a>
            </li>
            <li id="#projects" class="tab">
                <a href="#projects" onclick="meta_tab_clicked('#projects_content',this)">Projects (<%=@projects.size %>)</a>
            </li>
            <li id="#reviews" class="tab">
                <a href="#reviews" onclick="meta_tab_clicked('#reviews_content',this)">Reviews (<%=@reviews.size %>)</a>
            </li>
            <li id="#metrics" class="tab">
                <a href="#metrics" onclick="meta_tab_clicked('#metrics_content',this)">Metrics</a>
            </li>
            <li id="#widgets" class="tab">
                <a href="#widgets" onclick="meta_tab_clicked('#widgets_content',this)">Ontology Widgets</a>
            </li>
        </ul>
    </div>
    <%= render :partial => 'details' %>
    <%= render :partial => 'projects' %>
    <%= render :partial => 'reviews' %>
    <%= render :partial => 'widgets' %>
    <%= render :partial => 'metrics' %>
    <%= render :partial => 'views' %>
</div>