<%@title = "#{@ontology.displayLabel} Ontology"%>

<script src="/javascripts/jquery.rating.pack.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/stylesheets/layout/jquery.rating.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="/javascripts/JqueryPlugins/tagcloud/jquery.tagcloud.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/JqueryPlugins/tagcloud/jquery.tinysort.min.js" type="text/javascript" charset="utf-8"></script>


<script type="text/javascript">
	function meta_tab_clicked(content,tab){
		jQuery(".tab_content").hide();
		jQuery(content).show();
		jQuery(".tab").removeClass("selected");
		jQuery(tab).parent().addClass("selected");
		return false;
		
	}
	
	jQuery(document).ready(function()  {
		<%if @notes.size>0%>
		$("#notes").tagcloud({type:"list",sizemin:10,colormin:"#3C46FF",colormax:"#3C46FF",sizemax:14})
		<%end%>
		<%if @mappings.size >0%>
		$("#mappings").tagcloud({type:"list",sizemin:10,colormin:"#3C46FF",colormax:"#3C46FF",sizemax:14})
		<%end%>
		
	});

</script>


<div style="padding:5px;">
<%if flash[:notice]%>
<div style="padding:5px;border:1px solid gray;font-size:14px; background-color:#ffffcc;">
<p><%=flash[:notice]%></p>
</div>
<%end%>

<h1><%=@ontology.displayLabel%></h1> <a href="/syndication/rss?ontologies=<%=@ontology.ontologyId%>" style="text-decoration:none;"><img src="/images/feed-icon.png" height=16 width=16 border=0 > Subscribe</a>
<%if !session[:user].nil? && (session[:user].id.to_i.eql?(@ontology.userId.to_i) || session[:user].admin?)%>
<table class="form">
	<tr>
			<td class="top"><%=link_to "Submit New Version",new_ontology_path(:id=>@ontology.ontologyId)%></td>
			<td class="top"><%=link_to "Edit Ontology Information",edit_ontology_path(:id=>@ontology.id)%></td>
	</tr>
</table>
<%end%>

<div class="tabs" style="margin-top:5px;margin-bottom:10px;border-top:1px solid #CFCFCF;">
	<ul >
		<li id="meta" class="selected tab"><a href="#" onclick="meta_tab_clicked('#metadata',this)">Metadata</a></li>
		<li id="proj" class="tab"><a href="#" onclick="meta_tab_clicked('#projects',this)">Projects (<%=@projects.size%>)</a></li>
    	<li id="rev" class="tab"><a href="#" onclick="meta_tab_clicked('#reviews',this)">Reviews (<%=@reviews.size%>)</a></li>
		<li id="widget" class="tab"><a href="#" onclick="meta_tab_clicked('#widgets',this)">Ontology Widgets</a></li>
	</ul>  
</div>

<div id="metadata" class="tab_content" >
<div style="width:100%;min-width:900px">
<div style="float:left;width:60%;overflow:hidden;min-width:550px">
<br/>
<table class="form" width="100%">
	<tr>
			<th>Ontology Name:</th><td class="top"><%=@ontology.displayLabel%></td> <th>Contact(s):</th><td class="top"><%=@ontology.contactName%></td>
	</tr>
	<tr>
			<th>Ontology Id:</th><td><%=@ontology.ontologyId%></td> <th>Home Page:</th><td><%=auto_link("#{@ontology.homepage}", :all, :target => "_blank")%></td>
	</tr>
	<tr>
			<th>Format:</th><td><%if @ontology.format.eql?("OBO")%><%=@ontology.format+"F"%><%else%><%=@ontology.format.split("-")[0]%><%end%></td><th> Documentation Page:</th><td><%=auto_link("#{@ontology.documentation}", :all, :target => "_blank")%></td>
	</tr>
	<tr>
			<th>Categories:</th><td><%for cat in @ontology.categories%><%=@categories[cat.to_s][:name]%><br/> <%end%></td> <th>Publications Page:</th><td><%=auto_link("#{@ontology.publication}", :all, :target => "_blank")%></td>
	</tr>
	<tr>
			<th>Contact Email:</th><td><%=@ontology.contactEmail%></td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>
	<tr>
		<th >Description:</th><td colspan=3><%=@ontology.description%></td>
	</tr>
</table>

<br/>
<br/>
	<table class="zebra" cellpadding="0" cellspacing="0" width="100%">
		<thead>
		<tr>
			<th>Version Number</th>
			<th>Release Date</th>
			<th>Ontology File</th>
			<th>Visualize</th>
			<th>Download Diff File</th>			
		</tr>
		</thead>
		<%for version in @versions.reverse%>
		
		<tr <%=cycle("","class='alt'")%>>
			<td><%=version.versionNumber%></td>
			<td><%=version.dateReleased%></td>			
			<td><% if version.isRemote.to_i.eql?(1)%><a href="<%=@ontology.homepage%>"><%else%><a href="<%=DataAccess.download(version.id)%>" target="_blank">Download Ontology</a><%end%></td>
			<td><%if version.statusId.to_i.eql?(3)%><%=link_to "Explore", visualize_url(:ontology => version)%><%elsif version.statusId.to_i.eql?(1)%>Parsing Ontology<%else%><%end%></td>
			<td >
				<% for diff in @diffs%>
					<%if diff[1].to_i.eql?(version.id.to_i)%>
						Download Diff with previous version <br/>( <a href="http://ncbo-core-stage1.stanford.edu/bioportal/diffs/download/<%=diff[0]%>/<%=diff[1]%>?format=txt">Txt</a> | <a href="http://ncbo-core-stage1.stanford.edu/bioportal/diffs/download/<%=diff[0]%>/<%=diff[1]%>?format=rdf">RDF</a> )
					<%end%>
				<%end%>
				&nbsp;
			</td>
		</tr>
		<%end%>
	</table>
	
</div>
<br/>
	<div style="float:left;width:300px;padding-left:10px;" id="tag_clouds">
		<h2>Notes</h2>
		<%if @notes.size <1%>
		No Notes Created yet
		<%end%>
		<ul id="notes" style="border-top:1px solid #C1DAD7;border-bottom:1px solid #C1DAD7;width:300px;padding:10px">
		<%for note in @notes%>
			<li value="<%=note[1]%>"><a href="/visualize/<%=@ontology.id%>/<%=note[0]%>#t_tab3:"><%=note[0]%></a></li>
		<%end%>
		</ul>
		<br/>
		<h2>Mappings</h2>
		<%if @mappings.size <1%>
		No Mappings Created yet
		<%end%>
		<ul id="mappings" style="border-top:1px solid #C1DAD7;border-bottom:1px solid #C1DAD7;width:300px;padding:10px">
		<%for mapping in @mappings%>
			<li value="<%=mapping[1]%>"><a href="/visualize/<%=@ontology.id%>/<%=mapping[0]%>#t_tab4:"><%=mapping[0]%></a></li>
		<%end%>
		</ul>
	</div>

<div style="clear:both;"></div>
</div>
</div>

<div id="projects" style="display:none;" class="tab_content">

	<br>
	<table class="zebra" style="border:0px;"width="60%" cellpadding="0" cellspacing="0">

		<%for project in @projects%>
		<tr>
			<td colspan="2" class="pheader"><%=link_to project.name, project,:style=>"text-decoration:none;"%> <%if isOwner?(project.id)%><%=link_to "Edit Project",edit_project_path(project)%> <%= link_to 'Delete Project', project, :confirm => 'Are you sure?', :method => :delete %><%end%></td>
		</tr>
		<tr style="background-color:#EFEFEF">
			<td  colspan="2" style="padding:10px;border-bottom:1px solid #9F9F9F"><%=project.description%></td>
		</tr>
		<tr>
			<th style="width:100px;text-align:left;padding:5px;">People:</th><td align="left"style="padding-top:5px;width:100%;"><%=project.people%></td>
		</tr>
		<tr>
			<th style="width:100px;text-align:left;padding:5px;">Institution:</th><td align="left"style="padding-top:5px;width:100%;"><%=project.institution%></td>
		</tr>
		<tr>
			<th style="width:100px;text-align:left;padding:5px;">Homepage:</th><td align="left"style="padding-top:5px;width:100%;"><%=link_to project.homepage, project.homepage%></td>
		</tr>

		<tr>
			<td colspan="2" style="width:100%;margin-bottom:15px;"><hr></td>
		</tr>
		<%end%>
	</table>
</div>
<div id="reviews" style="display:none;" class="tab_content">
<%if session[:user].nil? %>
	<br>
		<a href="/login?redirect=/ontologies/<%=@ontology.id%>">Review This Ontology</a>
<%else%>
<h2><a href="/reviews/new?ontology=<%=@ontology.ontologyId%>&height=500&width=600" title="Review For <%=@ontology.displayLabel%>" class="thickbox">Review This Ontology</a></h2>
<%end%>
	<br>
	<table class="zebra" cellpadding="0" cellspacing="0" width="60%">
	
	<% for review in @reviews %>

		<thead>
		<tr>

			<th>Review By <%=review.user.username%> <%unless review.project.nil?%> From Project <%=link_to review.project.name,project_path(review.project)%><%end%><%if isOwner?(review.user_id)%> <%=link_to "Edit Review",edit_review_path(review)%> <%end%></th>
		</tr>
		</thead>

		<tr>
				<td><div class="star_ratings">
				<%for rating in review.ratings%>				
				<li>
						<%if rating.value.eql?(0)%>
						<span style="float:left;">Not Rated</span>
						<%else%>
						<input name="star_<%=rating.id%>" type="radio" class="star" value="1" <% if rating.value.to_i.eql?(1)%> checked="checked" <%end%> disabled="disabled" /> 
						<input name="star_<%=rating.id%>" type="radio" class="star" value="2" <% if rating.value.to_i.eql?(2)%> checked="checked" <%end%>disabled="disabled" /> 
						<input name="star_<%=rating.id%>" type="radio" class="star" value="3" <% if rating.value.to_i.eql?(3)%> checked="checked" <%end%>disabled="disabled" /> 
						<input name="star_<%=rating.id%>" type="radio" class="star" value="4" <% if rating.value.to_i.eql?(4)%> checked="checked" <%end%>disabled="disabled" /> 
						<input name="star_<%=rating.id%>" type="radio" class="star" value="5" <% if rating.value.to_i.eql?(5)%> checked="checked" <%end%>disabled="disabled" />


						<%end%>
					<b>&nbsp;<%=rating.rating_type.name%></b>
				</li>

				<%end%>
				</div>
				<p><%=review.review%></p>

			</td>
		</tr>
		<tr>
			<td id="<%=@ontology.ontologyId%>_review"></td>
		</tr>
	<% end %>
</table>
</div>

<div id="widgets" style="display:none;" class="tab_content">
<table class="minimal" style="float:left;" >
	<%if false%>
	<tr>
		<td align="center"><h2>Quick Jump Widget for <%=@ontology.displayLabel%></h2>
		<fieldset>
		<script type="text/javascript">
		var BP_ontology_id = "<%=@ontology.ontologyId%>"
		</script>
		<script src="/javascripts/widgets/quick_jump.js" type="text/javascript" charset="utf-8"></script>
		</fieldset>
		<br/>
		<br/>
				<b>Copy the code below and paste on your website to add the widget for this ontology.</b><br/><br/>
		<textarea rows=4 cols=70>
<script type="text/javascript">
var BP_ontology_id = "<%=@ontology.ontologyId%>"
</script>
<script src="http://stage.bioontology.org/javascripts/widgets/quick_jump.js" type="text/javascript" charset="utf-8"></script>
		</textarea>
		</td>
	</tr>
	<%end%>
		<tr>
			<td align="center"><h2>Feed Widget for <%=@ontology.displayLabel%></h2>
			<fieldset>
			<script type="text/javascript">
			var BP_ontology_id = "<%=@ontology.ontologyId%>"
			</script>
			<script src="/javascripts/widgets/feed_widget.js" type="text/javascript" charset="utf-8"></script>
			</fieldset>
			<br/>
			<br/>
					<b>Copy the code below and paste on your website to add the widget for this ontology.</b><br/><br/>
			<textarea rows=4 cols=70>
	<script type="text/javascript">
	var BP_ontology_id = "<%=@ontology.ontologyId%>"
	</script>
	<script src="http://stage.bioontology.org/javascripts/widgets/feed_widget.js" type="text/javascript" charset="utf-8"></script>
			</textarea>
			</td>
		</tr>
	</tr>
		<tr>
			<td align="center"><h2>Visualize Widget for <%=@ontology.displayLabel%></h2>
			
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
						id="FlexoViz" width="300px" height="300px"
						codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
						<param name="movie" value="http://keg.cs.uvic.ca/ncbo/flexviz/FlexoViz.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="allowScriptAccess" value="always" />
						<embed src="http://keg.cs.uvic.ca/ncbo/flexviz/FlexoViz.swf" bgcolor="#ffffff"
							width="100%" height="100%" name="FlexoViz" align="middle"
							play="true"
							loop="false"
							quality="high"
							allowScriptAccess="always"
							type="application/x-shockwave-flash"
							flashVars="widget=true&ontology=<%=@ontology.id%>&server=http://ncbo-core-stage1.stanford.edu/bioportal/"
							pluginspage="http://www.adobe.com/go/getflashplayer">
						</embed>
				</object>
			<br/>
			<br/>
					<b>Copy the code below and paste on your website to add the widget for this ontology.</b><br/><br/>
			<textarea rows=4 cols=70>
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
						id="FlexoViz" width="100%" height="100%"
						codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
						<param name="movie" value="http://keg.cs.uvic.ca/ncbo/flexviz/FlexoViz.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="allowScriptAccess" value="always" />
						<embed src="http://keg.cs.uvic.ca/ncbo/flexviz/FlexoViz.swf" bgcolor="#ffffff"
							width="100%" height="100%" name="FlexoViz" align="middle"
							play="true"
							loop="false"
							quality="high"
							allowScriptAccess="always"
							type="application/x-shockwave-flash"
							flashVars="widget=true&ontology=<%=@ontology.id%>&server=http://rest.bioontology.org/bioportal/"
							pluginspage="http://www.adobe.com/go/getflashplayer">
						</embed>
				</object>
			</textarea>
			</td>
		</tr>	
	
</table>
<div style="clear:both;"></div>
</div>


	

