:javascript
  $(document).ready(function() {
    const ontology_acronym = "#{@ontology.acronym}"
    let data = #{raw @instance_details.to_json} || null

    if(data && Object.keys(data).length !== 0){
      $.facebox({ajax: `/ontologies/${ontology_acronym}/instances/${encodeURIComponent(data["@id"])}`})
    }
    let schemes_select =  jQuery("#schemes_select")
    schemes_select.chosen({width: '100%'})
    schemes_select.chosen().change((e) => {
      let ids = Array.from(e.currentTarget.selectedOptions).map(x => x.value)
      if(ids.length === 0){
         document.getElementById("sd_content").innerHTML = "Please select a scheme to display"
      }else {
        showLoader()
        getTreeView(ids)
      }
    })
  })


- unless @error
  - @title = "#{@ontology.name} - #{@concept.prefLabel}"
  - @new_term_request_ontologies
  - @enable_ontolobridge = !$NEW_TERM_REQUEST_ONTOLOGIES.nil? && $NEW_TERM_REQUEST_ONTOLOGIES.include?(@ontology.acronym)
  - concept_name =  concept_label_to_show(submission: @submission)
  %div.tooltip
  %div#bd_content.bd_content.explore
    %div.sidebar.d-flex.flex-column.pr-2
      - if @submission.hasOntologyLanguage === 'SKOS'
        - if @submission.URI.nil? || @submission.URI.empty?
          %div.alert.alert-warning.mx-2.text-wrap
            no main scheme defined in the attribute URI
        %div#schemes.d-flex.pb-2
          %div.input-group-prepend
            %span.input-group-text Schemes
          %div.flex-grow-1
            - schemes_labels,selected_label = get_schemes_labels(@schemes, @submission.URI)
            - schemes_labels.map!{ |s| [s["prefLabel"], s["@id"]]}
            - selected_label = [[selected_label["prefLabel"], selected_label["@id"]]]
            = select(:schemes,nil, schemes_labels, {selected: selected_label[0]},{multiple: true, id: "schemes_select", class:"form-control"})
            = hidden_field(:schemes_value,nil, {value: selected_label[0], id: "schemes_select_empty_select_hack", name: "schemes"})
      -# Search box for class tree
      %div#qsearch.input-group.pb-2
        %div.input-group-prepend
          %span.input-group-text Jump to:
        = text_field_tag("search_box", nil, class: "form-control rounded-right", aria: {label: "Jump to:"})
        = hidden_field_tag("jump_to_concept_id")
      -# Class tree
      %div#class-tree-loader
        = loading_spinner(true)
      %div#sd_content

    - if @concept.id.eql?("bp_fake_root")
      / When we have an ontology with a flat hierarchy, we initially disable the tabs because we don't have a class to display
      .cls-info-container
        #fake_tabs.tabs
          %ul
            %li#details_top.selected.first{:onclick => "return false;"}
              %a{:href => "#details", :onclick => "return false;", :style => "color: gray;"} Details
            - unless @submission.hasOntologyLanguage === 'SKOS'
              %li#instances_top{:onclick => "return false;"}
                %a{:href => "#instances", :onclick => "return false;", :style => "color: gray;"}
                  Instances (
                  %span#instances_count= 0
                  )
            %li#visualization_top{:onclick => "return false;"}
              %a{:href => "#visualization", :onclick => "return false;", :style => "color: gray;"} Visualization
            %li#notes_top{:onclick => "return false;"}
              %a{:href => "#notes", :onclick => "return false;", :style => "color: gray;"}
                Notes
                %span#note_count_wrapper
                  (
                  %span#note_count
                  )
            %li#mappings_top{:onclick => "return false;"}

              %a{:href => "#mappings", :onclick => "return false;", :style => "color: gray;"}
                Class Mappings (
                %span#mapping_count= #TODO_REV: Support mapping counts for concepts @concept.mapping_count
                )
          - if @enable_ontolobridge
            %li#request_term_top{:onclick => "return false;"}
              %a{:href => "#request_term", :onclick => "return false;", :style => "color: gray;"}
                New Term Requests
        #non_fake_tabs.tabs{:style => "display: none;"}
          %ul
            %li#details_top.selected.tab.first
              %a{:href => "#details"} Details
            %li#visualization_top.tab
              %a{:href => "#visualization"} Visualization

            %li#notes_top.tab
              %a{:href => "#notes"}
                Notes
                %span#note_count_wrapper
                  (
                  %span#note_count>
                  )
            %li#mappings_top.tab
              %a{:href => "#mappings"}
                Class Mappings (
                %span#mapping_count>= @concept.mapping_count
                )
          - if @enable_ontolobridge
            %li#request_term_top.tab
              %a{:href => "#request_term"}
                New Term Requests
        #contents
          #details_content.tab_container
            %div{:style => "padding: 100px 0; font-size: larger; font-weight: bold; text-align: center;"} Use the "Jump To" to find a class and display details, visualization, notes, and mappings
          - unless @submission.hasOntologyLanguage === 'SKOS'
            #instances_content.tab_container.not_visible= render :partial =>'instances' , locals: {id: "class-instances-data-table"}
          #visualization_content.tab_container.not_visible
          #notes_content.tab_container.not_visible
          #mappings_content.tab_container.not_visible
          #request_term_content.tab_container.not_visible
    - else
      .cls-info-container
        .tabs
          %ul
            %li#details_top.selected.tab.first
              %a{:href => "#details"} Details
            - unless @submission.hasOntologyLanguage === 'SKOS'
              %li#instances_top.tab
                %a{:href => "#instances"}
                  Instances (
                  %span#instances_count= 0
                  )
            %li#visualization_top.tab
              %a{:href => "#visualization"} Visualization
            %li#notes_top.tab
              %a{:href => "#notes"}
                Notes
                %span#note_count_wrapper
                  (
                  %span#note_count= @notes.length
                  )
            %li#mappings_top.tab
              %a{:href => "#mappings"}
                Class Mappings (
                %span#mapping_count=  #TODO_REV: Support mapping counts for concepts @concept.mapping_count
                )
            %li#restlink_top.tab
              %a{:href => "#{@ontology.id}/classes/", :style => "margin-bottom: 1em; margin-left: 1em;", :target => "_blank"} Access #{concept_name} JSON
          - if @enable_ontolobridge
            %li#request_term_top.tab
              %a{:href => "#request_term"}
                New Term Requests
          - if $PURL_ENABLED
            = link_to("#classPermalinkModal", class: "class-permalink", title: "Get a permanent link to this class", aria: {label: "Get a permanent link to this class"}, data: {toggle: "modal", current_purl: "#{@current_purl}"}) do
              %i{class: "fas fa-link", aria: {hidden: "true"}}
        #contents
          #details_content.tab_container= render :partial =>'/concepts/details'
          - unless @submission.hasOntologyLanguage === 'SKOS'
            #instances_content.tab_container.not_visible= render :partial =>'instances' , locals: {id: "class-instances-data-table"}
          #visualization_content.tab_container.not_visible= render :partial =>'/concepts/biomixer'
          #notes_content.tab_container.not_visible= render :partial =>'/notes/list'
          #mappings_content.tab_container.not_visible= render :partial => '/mappings/concept_mappings'
          - if @enable_ontolobridge
            #request_term_content.tab_container.not_visible= render :partial =>'/concepts/request_term'
  - form_for(:search, :url => {:controller =>'search',:action=>'fetch_results'},:html=>{:id=>'search_form'}) do |f|
    %input{:name => "search[ontologies][]", :type => "hidden", :value => @ontology.acronym}/
    = hidden_field :search, :search_type, :value=>"contains"
    = hidden_field :search, :keyword, :value=>"",:id=>"search_keyword"
- else # found an error
  = "<div id=\"error\"><h2>#{@error}</h2></div>"