= turbo_frame_tag 'classes' do
  - unless @error
    - @title = "#{@ontology.name} - #{@concept.prefLabel}"
    - @new_term_request_ontologies
    - @enable_ontolobridge = !$NEW_TERM_REQUEST_ONTOLOGIES.nil? && $NEW_TERM_REQUEST_ONTOLOGIES.include?(@ontology.acronym)
    %div.tooltip
    %div#bd_content.bd_content.explore{data:{controller: 'container-splitter'}}
      %div.sidebar.d-flex.flex-column.pr-2{data:{'container-splitter-target': 'container'}}
        -# Search box for class tree
        %div#qsearch.input-group.pb-2
          %div.input-group-prepend
            %span.input-group-text Jump to:
          = text_field_tag("search_box", nil, class: "form-control rounded-right", aria: {label: "Jump to:"},
          data: {controller: 'class-search', 'class-search-ontology-acronym-value': @ontology.acronym,
                 'class-search-spinner-src-value': asset_path("jquery.simple.tree/spinner.gif")})
          = hidden_field_tag("jump_to_concept_id")
        -# Class tree
        %div#sd_content.card.p-1
          = turbo_frame_tag 'concepts_tree_view' , src: "/ajax/classes/treeview?ontology=#{@ontology.acronym}&conceptid=#{escape(@concept.id)}" do
            = loading_spinner(true)
      %div#concept_content.d-flex.flex-column.card.p-1.ml-2{data:{'container-splitter-target': 'container'}}
        = render partial: 'concepts/show'

    - form_for(:search, :url => {:controller =>'search',:action=>'fetch_results'},:html=>{:id=>'search_form'}) do |f|
      %input{:name => "search[ontologies][]", :type => "hidden", :value => @ontology.acronym}/
      = hidden_field :search, :search_type, :value=>"contains"
      = hidden_field :search, :keyword, :value=>"",:id=>"search_keyword"
  - else # found an error
    = "<div id=\"error\"><h2>#{@error}</h2></div>"

  :javascript




