<% unless @error %>	

	<%@title = "#{@ontology.displayLabel} - #{@concept.name}"%>
	<link rel="stylesheet" href="/javascripts/JqueryPlugins/autocomplete/jquery.autocomplete.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/javascripts/JqueryPlugins/autocomplete/crossdomain_autocomplete.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/jquery.tools.min.js"type="text/javascript"></script>
	<script src="/javascripts/JqueryPlugins/splitter/splitter.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/JqueryPlugins/datatables/js/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
	

	<style>
		/* simple css-based tooltip */ 
	    div.tooltip { 
		    background-color:#000; 
		    border:1px solid #fff; 
		    padding:10px 15px; 
		    width:200px; 
		    display:none; 
		    color:#fff; 
		    text-align:left; 
		    font-size:12px;
			  z-index: 999;
		 
		    /* outline radius for mozilla/firefox only */ 
		    -moz-box-shadow:0 0 10px #000;
		    -webkit-box-shadow:0 0 10px #000;
			
	    }

		/* used for vertical split bar */
		.vsplitbar {
			width: 5px;
			background: #DADDE0 url(/javascripts/JqueryPlugins/splitter/img/vgrabber.gif) no-repeat scroll center center;
		}
		.vsplitbar:hover {
			cursor: ew-resize !important;
		}
	</style>
	
	<script type="text/javascript">
		var searchbox;
		
		// Called when the "Go" button on the Jump To form is clicked
		function jumpToValue(li){
			if( li == null ){
				// User performs a search	
				var search = confirm("Term could not be found.\n\nPress OK to go to the Search page or Cancel to continue browsing");
				
				if(search){
					jQuery("#search_keyword").val(jQuery("#search_box").val())
					jQuery("#search_form").submit()
					return
				}
			}
	
			// Appropriate value selected
			if( !!li.extra ){
				var sValue = jQuery("#jump_to_concept_id").val();
				document.location="/visualize/<%=@ontology.id%>/?conceptid="+encodeURIComponent(sValue)+"&jump_to_nav=true";
				jQuery.blockUI({ message: '<h1><img src="/images/tree/spinner.gif" /> Loading Term...</h1>' }); 
				return;
			}
		}
		
		// Sets a hidden form value that records the concept id when a concept is chosen in the jump to
		// This is a workaround because the default autocomplete search method cannot distinguish between two
		// concepts that have the same preferred name but different ids.
		function jumpToSelect(li){
			jQuery("#jump_to_concept_id").val(li.extra[0]);
		}
		
		// Formats the Jump To search results
		function formatItem(row) {
		 	return row[0] + " <span style='font-size:9px;color:blue;' >(" + row[2] + ")</span>";
		}
		
		jQuery(document).ready(function(){
			jQuery("#search_box").autocomplete("/search/json_search/<%=@ontology.ontologyId%>", {
				lineSeparator: "~!~",
				matchSubset: 0,
				minChars: 3,
				maxItemsToShow: 20,
				onFindValue: jumpToValue,
				onItemSelect: jumpToSelect,
				formatItem: formatItem
			});
			searchbox = jQuery("#search_box")[0].autocompleter;
		
		    <%if !@ontology.is_latest? %>
			    // This shows a tooltip on the disabled for elements when ontology isn't the newest (ie missing from index)
		        jQuery("#qsearch").children().filter(":input").each(
		            function(){
						jQuery(this).attr("readonly", true);
					}
		        );
				
				// Set up a hovertip on the qsearch input element
				jQuery("#qsearch").attr("style", "color: grey;");
		        jQuery("#qsearch :input").attr("title", "\"Jump To\" works only with most recent version of this ontology");
				jQuery("#qsearch :input").tooltip({
					position: "bottom",
		    	    tip: '.tooltip',
					opacity: 0.7
				});
		    <%end%>
		});
	</script>
	
	<div class="tooltip"></div> 
	
	<div id="bd_hd">
		<%if @ontology.isView=='true'%>
			<h1><%=link_to @ontology.displayLabel, ontology_url(:id => @ontology.viewOnOntologyVersionId)%>
				<br/>
				(View for <%=@ontology.getOntologyFromView().displayLabel%>) 
			</h1>
		<%else%>
			<h1><%=link_to @ontology.displayLabel, ontology_url(:id => @ontology.id)%></h1>
		<%end%>
		
		<h3>Version <%=@ontology.versionNumber%></h3>
	
		<h1 id="name_label" style="margin-left:100px;border:1px #AFAFAF dashed;background-color:#f5fafa;padding-left:15px;padding-right:15px;" > <%=@concept.name%><span id="link_label" > |<%=link_to " Link Here", "/visualize/#{@ontology.to_param}/?conceptid=#{@concept.to_param}" %> | <a href="/syndication/rss?ontologies=<%=@ontology.ontologyId%>" style="text-decoration:none;font-size:14px;"><img src="/images/feed-icon.png" height=16 width=16 border=0 > Subscribe</a></span></h1>
		<br style="clear:all;" />
	</div>
	
	<div id="bd_content" class="explore">
		<div id="sidebar">
			<div id="sd_hd">
					<%if @ontology.isView=='true'%>
						<h2><%=link_to "View Ontology Summary", ontology_url(:id => @ontology.viewOnOntologyVersionId)%></h2>
					<%else%>
						<h2><%=link_to "View Ontology Summary", ontology_url(:id => @ontology.id)%></h2>
					<%end%>
			</div>
			<div id="qsearch" >
				Jump To:
					<input type="textbox" id="search_box" size="30"/>
					<input type="button" value="Go" onclick="searchbox.findValue()"/>
					<input type="hidden" id="jump_to_concept_id">
				
				&nbsp;<a class="thickbox" href ="#TB_inline?height=300&width=300&inlineId=legend"> Legend <img src="/stylesheets/layout/images/help.png" width="16" height="16" alt="Help"></a>
			</div>		
			<div id="sd_content">
				<%=render :partial => '/ontologies/treeview'%>
			</div>
			
			<div style="clear:both;"></div>
		</div>
		
		<div id="container">
			<div class="tabs">
				<ul>
						<li class="selected tab first" id="details_top"><a href="#details">Details</a></li>
						<li class="tab" id="visualization_top"><a href="#visualization">Visualization</a></li>
			        	<li class="tab" id="notes_top"><a href="#notes">Notes (<span id="note_count"><%=@concept.note_count%></span>)</a></li>
						<li class="tab" id="mappings_top"><a href="#mappings">Mappings (<span id="mapping_count"><%=@concept.mapping_count%></span>)</a></li>				
						<li class="tab" id="resource_index_top" onclick="callTab('resource_index','/resources/@ontology@/@concept@');"><a href="#resource_index" alt="callTab('resource_index','/resources/<%=@ontology.id%>/<%=@concept.id%>')">Resource Index</a></li>
				</ul>
			</div>
			<div id="contents">
      			<div style="display:block;" class="tab_container" id="details_content"><%=render :partial =>'/concepts/details'%></div>
				<div class="tab_container" id="visualization_content"><%=render :partial =>'/concepts/images'%></div>
				<div class="tab_container" id="notes_content"><%=render :partial =>'/notes/list'%></div>
				<div class="tab_container" id="mappings_content"><%=render :partial =>'/mappings/concept_mappings'%></div>
				<div class="tab_container" id="resource_index_content"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		jQuery(document).ready(function() {
			// Auto loads the correct tab
			var loc = new String(document.location);
			if (loc.search("#") >= 0) {
				jQuery(".tab_container").hide();
				id = "#" + loc.split("#")[1].replace(":","")
				// The actual content to hide/show is in id_content
				id_content = id + "_content";
				jQuery(id_content).show();
				jQuery(".tab").removeClass("selected");
				jQuery(id+"_top").addClass("selected");
				tab_li = jQuery(jQuery("a[href='"+id+"']").parents().get(0));
				tab_li.addClass("selected");
				var a = jQuery("a[href='"+id+":']");
				// Run code found in the alt attribute (this was being used to load the 
				// resource index tab, I'm not sure it needs to be left in but we can
				// address when we handle tab history down the road).
				eval(a.attr("alt"));
				// If we're on the resource index tab, load that specially
		        loc = new String(document.location);
		        if (loc.search("#resource_index") >= 0 && loc.split("#")[1] == "resource_index") {
		            callTab("resource_index", '/resources/@ontology@/@concept@');
		        }
			}
			
			// The tab system
			jQuery(".tab").click(function(){
				jQuery(".tab_container").hide();
				// Get the target content area
				target = jQuery(this).children("a:first").attr("href") + "_content"
				jQuery(target).show();
				jQuery(".tab").removeClass("selected");
				jQuery(this).addClass("selected");
			});
			
			// Override the side of the bd_content div to avoid problems with
      // the window resizing, which can sometimes cause the right-hand content div to drop down
      var bd_content_width = jQuery(window).width();
      jQuery("#bd_content").width(bd_content_width);
			
			// Split bar
			jQuery(function() {
				jQuery("#bd_content").splitter({
					sizeLeft: 300,
					resizeToWidth: true
				});
			});
			
		});
		
		function callTab(tab_name,url){
				if(getCache(getConcept() + tab_name) != null) {
			        document.getElementById(tab_name + "_content").innerHTML=getCache(getConcept() + tab_name);
			    }else{
					jQuery("#" + tab_name + "_content").html('<h1><img src="/images/tree/spinner.gif" /> Loading Resources...</h1>');
		    		jQuery.get(url.replace("@ontology@",getOntology()).replace("@concept@",getConcept()),function(data){
						jQuery("#" + tab_name + "_content").html(data);
						setCache(getConcept() + tab_name,data);
						jQuery.unblockUI();	
						tb_init('a.thickbox, area.thickbox, input.thickbox');
					});
				}
		}
		
		
		
		// actions for interacting with the graph
		
		// gets the flash application
		function getApp() {
			// first try the basic flexviz
			var app = document.getElementById("BasicFlexoViz");
			if (app == null) {
				// try the full version
				app = document.getElementById("FlexoViz");
			}
			return app;
		}
		
		/** 
		 * Selects on the node with the given id
		 * @param id the id of the node to focus on
		 */
		function selectNodeByID(id) {
			var app = getApp();
			if (app) {
				if (app.selectNodeByID) {
					app.selectNodeByID(id);
				} else {
					alert("Could not select the term with ID '" + id + "'.");
				}
			} else {
				alert("Could not get Flash object, JavaScript/Flex communication failed.");
			}
		}
		
		/** 
		 * Focusses on the node with the given id
		 * @param id the id of the node to focus on
		 * @param option the graph view setting (optional), one of "Neighborhood", "Hierarchy To Root", "Parents", or "Children"
		 *		defaults to "Neighborhood"
		 */
		function searchByID(id, option) {
			var app = getApp();
			if (app) {
				if (app.searchByID) {
					app.searchByID(id);
				} else {
					alert("Could not search for the term with ID '" + id + "'.");
				}
			} else {
				alert("Could not get Flash object, JavaScript/Flex communication failed.");
			}
		}
		
		/** 
		 * Performs a search on the given text and shows
		 * the appropriate graph - either the neighborhood, or the hierarchy to root
		 * @param searchText the text to search for
		 * @param option the graph view setting (optional), one of "Neighborhood", "Hierarchy To Root", "Parents", or "Children"
		 *		defaults to "Neighborhood"
		 */
		function searchByName(searchText, option) {
			var app = getApp();
			if (app) {
				if (app.searchByName) {
					app.searchByName(searchText);
				} else {
					alert("Could not search for the term with nane '" + id + "'.");
				}
			} else {
				alert("Could not get Flash object, JavaScript/Flex communication failed.");
			}
		}
		
		/**
		 * The basic version of FlexViz calls this function when a node is double clicked.
		 */
		
		function flexVizNodeClicked(id,currentNode) {
			if (jQuery("#"+id).size()==0){
				
				jQuery("#"+currentNode+" .trigger").trigger('click');
			
				setTimeout('tryClick("'+id+'")',1000);
			}else{	
			jQuery("#"+id+" span").trigger('click');
			}
		}
		
		function tryClick(id)
		{
		
			if(jQuery("#"+id+" span").size()>0)
				jQuery("#"+id+" span").trigger('click');
			else
				setTimeout('tryClick("'+id+'")',1000)
		}
		
	</script>
	
	<style>
		.tab_container {
			display: none;
		}
	</style>
	
	<% form_for(:search, :url => {:controller =>'search',:action=>'fetch_results'},:html=>{:id=>'search_form'}) do |f| %>
		<input type="hidden" name="search[ontologies][]" value="<%=@ontology.ontologyId%>">
		<%=hidden_field :search, :search_type, :value=>"contains"%>
		<%=hidden_field :search, :keyword, :value=>"",:id=>"search_keyword"%>
	<%end%>
	
	<div id="legend" style="display:none;">
		<style>
		.icon_legend li{
			border:1px solid #efefef;
			margin:10px;
			padding:10px;
		}
		</style>
		<ul class="icon_legend">
			<h3>Icon Legend</h3>
			<li><img src="/images/notes_icon.png"> : Term has Marginal Notes</li>
			<li><img src="/images/map_icon.png"> : Term has Mappings</li>
			<li><img src="/images/is_a.gif"> : Relationship is "IS_A"</li>
			<li><img src="/images/part_of.gif"> : Relationship is "PART_OF"</li>
		</ul>
	</div>

<% else # found an error %>
	<%= "<div id=\"error\"><h2>#{@error}</h2></div>" %>
<% end %>