
<div id="leftbar" class="leftbar">
<%=render :partial => '/ontologies/treeview'%>

</div>
<div id="dragSpot"></div>

<div  id="centerContent" class="content">
<h1 id="name_label"><%=@concept.name%></h1>

	<div id="tabframe" class="yui-navset">
    	<ul class="yui-nav">
        	<li class="selected"><a href="#tab1"><em>Visualization</em></a></li>
        	<li ><a href="#tab2"><em>Details</em></a></li>
        	<li><a href="#tab3"><em>Marginal Notes</em></a></li>
			<li><a href="#tab4"><em>Mappings</em></a></li>		
			<li><a href="#tab5"><em>Resources</em></a></li>			
    	</ul> 
		   
		        
    	<div class="yui-content" id = "content" >
        	<div id="tab1"><%=render :partial =>'/concepts/images'%></div>
        	<div id="tab2"><%=render :partial =>'/concepts/details'%></div>
			<div id="tab3"><%=render :partial =>'/margin_notes/show'%></div>
			<div id="tab4"><%=render :partial =>'/mappings/concept_mappings'%></div>
			<div id="tab5"><%=render :partial =>'/concepts/resources'%></div>
    	</div>
	</div>
</div>

<script type="text/javascript">
	

	
	


YAHOO.util.Event.onDOMReady(buildTabs); 
</script>

		






