- unless @error
  - @title = "#{@ontology.name} - #{@concept.prefLabel}"

  .tooltip
  #bd_content.bd_content.explore
    .sidebar
      #qsearch
        Jump To:
        %input#search_box{:size => "30", :type => "textbox"}/
        %input#jump_to_concept_id{:type => "hidden"}/
        / TODO_REV: Flat ontology support
        -# if @ontology.flat?
        /  #flat_help{:style => "padding: 5px; background-color: #DADDE0; color: black;"}
        /    This ontology cannot be displayed as a tree. You can use the "Jump To" field to search for and display classes.
      #sd_content.sd_max_height
        = loading_spinner(true)
      %div{:style => "clear:both;"}

    - if @concept.id.eql?("bp_fake_root")
      / When we have an ontology with a flat hierarchy, we initially disable the tabs because we don't have a class to display
      .clsContainer
        #fake_tabs.tabs
          %ul
            %li#details_top.selected.first{:onclick => "return false;"}
              %a{:href => "#details", :onclick => "return false;", :style => "color: gray;"} Details
            %li#visualization_top{:onclick => "return false;"}
              %a{:href => "#visualization", :onclick => "return false;", :style => "color: gray;"} Visualization
            %li#notes_top{:onclick => "return false;"}
              %a{:href => "#notes", :onclick => "return false;", :style => "color: gray;"}
                Notes
                %span#note_count_wrapper
                  (
                  %span#note_count
                  )
            %li#mappings_top{:onclick => "return false;"}
              %a{:href => "#mappings", :onclick => "return false;", :style => "color: gray;"}
                Class Mappings (
                %span#mapping_count= #TODO_REV: Support mapping counts for concepts @concept.mapping_count
                )
            - unless !$RESOURCE_INDEX_DISABLED.nil? && $RESOURCE_INDEX_DISABLED
              %li#resource_index_top{:onclick => "return false;"}
                %a{:href => "", :onclick => "return false;", :style => "color: gray;"} Class Resources

        #non_fake_tabs.tabs{:style => "display: none;"}
          %ul
            %li#details_top.selected.tab.first
              %a{:href => "#details"} Details
            %li#visualization_top.tab
              %a{:href => "#visualization"} Visualization
            %li#notes_top.tab
              %a{:href => "#notes"}
                Notes
                %span#note_count_wrapper
                  (
                  %span#note_count>
                  )
            %li#mappings_top.tab
              %a{:href => "#mappings"}
                Class Mappings (
                %span#mapping_count>= @concept.mapping_count
                )
            - unless !$RESOURCE_INDEX_DISABLED.nil? && $RESOURCE_INDEX_DISABLED
              - if !@ontology.isView.eql?('true')
                %li#resource_index_top.tab{:onclick => "callTab('resource_index','/resource_index/resources_table?conceptids=#{@ontology.ontologyId}/#{CGI.escape(@concept.id)}');"}
                  %a{:alt => "callTab('resource_index','/resource_index/resources_table?conceptids=#{@ontology.ontologyId}/#{CGI.escape(@concept.id)}')", :href => "#resource_index"} Class Resources
          - if @ontology.isView=='true'
            %li#resource_index_top{:onclick => "return false;"}
              %a{:href => "", :onclick => "return false;", :style => "color: gray;"} Resource Index

        #contents
          #details_content.tab_container
            %div{:style => "padding: 100px 0; font-size: larger; font-weight: bold; text-align: center;"} Use the "Jump To" to find a class and display Details, Visualization, Notes, Mappings, and Resources
          #visualization_content.tab_container.not_visible
          #notes_content.tab_container.not_visible
          #mappings_content.tab_container.not_visible
          #resource_index_content.tab_container.not_visible.resource_index_embed
    - else
      .clsContainer
        .tabs
          %ul
            %li#details_top.selected.tab.first
              %a{:href => "#details"} Details
            %li#visualization_top.tab
              %a{:href => "#visualization"} Visualization
            %li#notes_top.tab
              %a{:href => "#notes"}
                Notes
                %span#note_count_wrapper
                  (
                  %span#note_count= @notes.length
                  )
            %li#mappings_top.tab
              %a{:href => "#mappings"}
                Class Mappings (
                %span#mapping_count=  #TODO_REV: Support mapping counts for concepts @concept.mapping_count
                )
            %li#restlink_top.tab
              %a{:href => "#{@ontology.id}/classes/", :style => "margin-bottom: 1em; margin-left: 1em;", :target => "_blank"} Access Class JSON
            /- unless !$RESOURCE_INDEX_DISABLED.nil? && $RESOURCE_INDEX_DISABLED
            /  - if !@ontology.isView.eql?('true')
            /    %li#resource_index_top.tab{:onclick => "callTab('resource_index','/resource_index/resources_table?conceptids=#{@ontology.ontologyId}/#{CGI.escape(@concept.id)}');"}
            /      %a{:alt => "callTab('resource_index','/resource_index/resources_table?conceptids=#{@ontology.ontologyId}/#{CGI.escape(@concept.id)}')", :href => "#resource_index"} Class Resources
            /  - else
            /    %li#resource_index_top{:onclick => "return false;"}
            /      %a{:href => "", :onclick => "return false;", :style => "color: gray;"} Resource Index
            - if $PURL_ENABLED
              %span{:style => "float: right;"}
                %a#class_permalink{:href => @current_purl, :style => "padding: 0;", :title => "Get a permanent link to this class"}
                  %img{:src => asset_path("link_icon.png"), :style => "height: 14px; padding: 5px;"}/
        #contents
          #details_content.tab_container= render :partial =>'/concepts/details'
          #visualization_content.tab_container.not_visible= render :partial =>'/concepts/biomixer'
          #notes_content.tab_container.not_visible= render :partial =>'/notes/list'
          #mappings_content.tab_container.not_visible= render :partial => '/mappings/concept_mappings'
          - unless !$RESOURCE_INDEX_DISABLED.nil? && $RESOURCE_INDEX_DISABLED
            #resource_index_content.tab_container.not_visible.resource_index_embed
          - if $PURL_ENABLED
            #purl_link_container.class_permalink{:style => "display: none;"}
              %h2 Permanent link to this class
              %a#close_permalink.ui-dialog-titlebar-close.ui-corner-all{:href => "javascript:void(0);", :role => "button", :style => "-moz-user-select: none; position: absolute; right: 5px; top: 5px;", :unselectable => "on"}
                %span.ui-icon.ui-icon-closethick{:style => "-moz-user-select: none;", :unselectable => "on"} close
              %input#purl_input{:style => "width: 380px;", :type => "textfield", :value => @current_purl}/
  - form_for(:search, :url => {:controller =>'search',:action=>'fetch_results'},:html=>{:id=>'search_form'}) do |f|
    %input{:name => "search[ontologies][]", :type => "hidden", :value => @ontology.acronym}/
    = hidden_field :search, :search_type, :value=>"contains"
    = hidden_field :search, :keyword, :value=>"",:id=>"search_keyword"
  %div{:style => "clear: both;"}
  / Create mapping UI
  #create_mapping{:style => "left: -99999px; position: absolute;"}
    =# TODO_REV: Mappings support (create mapping) render :partial => '/mappings/new_form', :locals => { :ontology_from => @ontology.id, :concept_from => @concept.fullId }
- else # found an error
  = "<div id=\"error\"><h2>#{@error}</h2></div>"

