<% form_for(:user, :url => {:controller => 'login',:action=>'create'}) do |f| %>
<%unless @errors.nil?%>
<div style="color:red;">
Errors On Form
<ul>

<%for error in @errors%>
<li><%=error%></li>
<%end%>

</ul>
</div>
<%end%>
			 <table >
			     <tr>
			         <td nowrap align="right" >User Name:</td>
			         <td><%= text_field 'user','username',:size=>15%></td>
			     </tr>
			     <tr>
			         <td nowrap align="right" >Password:</td>
			         <td><%= password_field 'user','password',:size=>15%></td>
			     </tr>
			     <tr>
			         <td colspan="2" align="right"><%= submit_tag "Login"%></td>
			     </tr>
			 </table>
			 <span style="font-size:1.2em;">Not Registered Yet?  <%=link_to "Sign Up",new_user_path%></span><br><br>
			<span style="font-size:1.2em;"><%=link_to "Lost Password",'/lost_pass'%></span><br><br>

	
<% end %>