%h5{style: "font-size: 10pt !important"} Choose an ontology
= select(:search, :ont, options_for_select(@selected_ontologies_to_edit), {},style: "width: 432px", data: {controller: "modal",action: "change->modal#showNewContent"})
%br
%ul#mychangeTab.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    %a#ChangeForAll-tab.nav-link.active{"aria-controls" => "ChangeForAll", "aria-selected" => "true", "data-toggle" => "tab", href: "#ChangeForAll", role: "tab"} Change for all
  %li.nav-item
    %a#ChangeForEach-tab.nav-link{"aria-controls" => "ChangeForEach", "aria-selected" => "false", "data-toggle" => "tab", href: "#ChangeForEach", role: "tab"} Change for each
%br

#myTabContent.tab-content
  #ChangeForAll.tab-pane.show.active{"aria-labelledby" => "home-tab", role: "tabpanel"} 
    = @check

  #ChangeForEach.tab-pane{"aria-labelledby" => "profile-tab", role: "tabpanel"}
    = @check

= turbo_frame_tag("metadata_by_ontology", src: "ontologies_metadata_curator/show_metadata_by_ontology/" + @ontology.acronym, loading: :lazy) do
  .text-center
    .spinner-border{role: "status"}
      %span.sr-only Loading...

= submit_tag button_text, class: "btn btn-primary"   