%div.mt-5.d-flex
  %div.mx-auto.w-75
    = form_tag("/ontologies_metadata_curator/result", method: "post", data: { turbo: true, turbo_frame: 'selection_metadata_form'}) do
      %div
        %div.mx-1.pt-3
          - init_ontology_picker(nil, @ontologies_ids)
          = select_input(label: 'Ontologies', name: "ontology[ontologyId]", values: @onts_for_select, selected: @ontologies_ids, multiple: true, data: {placeholder: t("select_ontologies")})
      %div.d-flex.align-items-center.mb-5
        %div.mx-1{style: 'width: 65%'}
          = submission_metadata_selector
        %div.mx-1.mt-3{style: 'width: 15%'}
          = render SwitchInputComponent.new(id:"show_submissions", name: "show_submissions", label: "Include all submissions")
        %div.mt-3.flex-shrink-0
          %button{type: "submit", class: "btn btn-success"}
            Get values
        %div.mt-3.flex-shrink-0.flex-fill.d-flex.align-items-center
          = turbo_frame_tag "edit_metadata_btn"

= render TurboFrameComponent.new(id: 'selection_metadata_form') do
  %div.alert.alert-light.text-center
    select ontologies and the metadata properties


