= render TurboFrameComponent.new(id: 'selection_metadata_form') do
  :javascript
    function showEditForm(event) {
      event.preventDefault()
      document.getElementById('show_bulk_edit_from_btn').click()
    }

  = form_tag("/ontologies_metadata_curator/edit", id: "properties_result_form", method: "post", data: { turbo: true, turbo_frame: 'application_modal_content' }) do
    = hidden_field_tag :all_metadata, @metadata_sel
    = submit_to_modal("Edit metadata values" , id:"show_bulk_edit_from_btn", class: "d-none",
      data: { show_modal_title_value: "Metadata curator editor", show_modal_size_value: 'modal-xl' })
    = render TableComponent.new(id: 'metadata-curator-table', custom_class: 'border rounded p-1') do |t|
      - t.header do |h|
        - h.th {'Ontologies'}
        - @metadata_sel.each do |meta|
          - h.th do
            %div
              - attr_metadata = attr_metadata(meta)
              - if attr_metadata
                %h6{style:'margin-top: 0.2rem'}=attr_label(meta, attr_metadata: attr_metadata)
              - else
                %h6{style:'margin-top: 0.2rem'}=meta

      - @hash.each do |acronym, data|
        - ontology = data[:ontology]
        - submissions = data[:submissions] || []
        - submissions.each do |submission|
          - submission_id = submission.submissionId
          - id = ontology_submission_id_label(acronym, submission_id)
          %tr{id: id+'_row'}
            %th{scope:"row", style: 'width: 5%'}
              %div
                %h6{style:'margin-top: 0.2rem'}
                  = link_to(acronym, "/ontologies/#{acronym}", target: "_blank")
                  = "##{submission_id}"
            - @metadata_sel.each do |meta|
              %td{style: "width: #{95 / @metadata_sel.size}%; vertical-align: top; word-break: break-word;"}
                = render partial: "ontologies_metadata_curator/attribute", locals: { attribute: meta, submission: submission , ontology: ontology}