= turbo_frame_tag("metadata_by_ontology") do
  .card.bg-light.mb-3{style: "max-width: 50rem;"}
    .card-header= @acronym
    - @selected_metadata_to_edit.each do |meta|
      - if meta == "contact"
        .card-body.text
          - if @submission.contact && @submission.contact.size > 0
            - @submission.contact.each_with_index do |contact, i|
              .card-title= meta
              - if i == 0
                %div#contacts{:data=> {controller: "contact", "contact-target": "contacts"}}
                  %div.contact{"data-contact-target": "currentContact"}
                    %label Name
                    %p.card-text= text_field "submission[#{@ontology.acronym}_onto_#{@submission.submissionId}]", :"contact[#{0}][name]", value: contact["name"], class: "form-control flex-grow-1 mx-2",  "data-contact-target": "contactName"
                    %label Email
                    %p.card-text= text_field "submission[#{@ontology.acronym}_onto_#{@submission.submissionId}]", :"contact[#{0}][email]", value: contact["email"], class: "form-control flex-grow-1 mx-2", "data-contact-target": "contactEmail"  
                    %button.btn.btn-success.add-contact{:data=> {action:"click->contact#addContact"}}
                      %i{class: "fas fa-plus fa-lg", aria: {hidden: "true"}}
              - else
                %div#contacts{:data=> {controller: "contact", "contact-target": "contacts"}}
                  %div.contact{"data-contact-target": "currentContact"}
                    %label Name
                    %p.card-text= text_field "submission[#{@ontology.acronym}_onto_#{@submission.submissionId}]", :"contact[#{i}][name]", value: contact["name"], class: "form-control flex-grow-1 mx-2", "data-contact-target": "contactName"
                    %label Email
                    %p.card-text= text_field "submission[#{@ontology.acronym}_onto_#{@submission.submissionId}]", :"contact[#{i}][email]", value: contact["email"], class: "form-control flex-grow-1 mx-2",  "data-contact-target": "contactEmail"
                    %button.btn.btn-success.add-contact{:data=> {controller: "contact", action:"click->contact#addContact"}}
                      %i{class: "fas fa-plus fa-lg", aria: {hidden: "true"}}
                    %button.btn.btn-danger.ml-1.remove-contact{:data=> {controller: "contact", action:"click->contact#removeContact"}}
                      %i{class: "fas fa-minus fa-lg", aria: {hidden: "true"}}
          - else
            %div#contacts{:data=> {controller: "contact", "contact-target": "contacts"}}
              %divcontact{"data-contact-target": "currentContact"}
                %label Name
                %p.card-text= text_field "submission[#{@ontology.acronym}_onto_#{@submission.submissionId}]", "", value: "", class: "form-control flex-grow-1 mx-2", "data-contact-target": "contactName"
                %label Email
                %p.card-text= text_field "submission[#{@ontology.acronym}_onto_#{@submission.submissionId}]", "", value: "", class: "form-control flex-grow-1 mx-2",  "data-contact-target": "contactEmail"
                %button.btn.btn-success.add-contact{:data=> {controller: "contact", action:"click->contact#addContact"}}
                  %i{class: "fas fa-plus fa-lg", aria: {hidden: "true"}}        

      - elsif meta == "description"
        .card-body.text
          .card-title Description
          %p.card-text= text_area "submission[#{@ontology.acronym}_onto_#{@submission.submissionId}]", :description, rows: 5, value: @submission.description, required: true, class: "form-control" 
      - elsif meta == "ontology"
        .card-body.text
          .card-title Ontology
          %p.card-text= text_field "submission[#{@ontology.acronym}_onto_#{@submission.submissionId}]", :ontology, value: @submission.ontology.acronym, required: true, class: "form-control"
      - else
        .card-body.text
          .card-title= generate_attribute_label(meta)
          %p.card-text= generate_attribute_input(meta)
      
