= render SummarySectionComponent.new(title: "Metrics" , link: Rails.configuration.settings.links[:metrics], link_title: "Information and evolution diagrams about metrics and other measurements of the ontology.", show_card: false) do
  - if @metrics.nil? || (@metrics.is_a?(Array) && @metrics.empty?) || (@metrics.respond_to?(:status) && @metrics.status == 404)
    = empty_state_message("We have not yet calculated metrics for #{@ontology.acronym}")
  - else
    .metrics-container.metrics
      - %w[classes individuals properties].each do |metric|
        = link_to_modal nil, ontology_path(@ontology.acronym) + "/metrics_evolution?metrics_key=#{metric}",
                        class: "metrics-item", data: { show_modal_title_value: "Evolution of the number of #{@metrics.send(metric)} in #{@ontology.acronym} per submissions."} do
          %hr
          %div
            %h4
              = @metrics.send(metric)
            %p
              = render PopupLinkTextComponent.new(text: metric.humanize)

