- unless @ontology_relations_data.nil? || @ontology_relations_data.empty?
  = render SummarySectionComponent.new(title: 'Ontology relations network') do
    %div.d-flex.flex-column.justify-content-center{data: {controller: "ontology-relations-network", "ontology-relations-network-data-value": @ontology_relations_data.to_json.html_safe }}
      %button.btn.btn-link.m-2{'data-toggle': "collapse",'data-target': "#ontologyRelations"}
        %span= t("landscape.filter_network")
        %i.fas.fa-chevron-down
      %div#ontologyRelations.collapse.flex-row.flex-wrap.px-2.my-1.fade{'data-action': "change->ontology-relations-network#build"}
        - values = @relations_array.map{|relation| ["#{attr_label(relation.split(':').last, show_tooltip: false)}(#{relation})", relation]}
        = render SelectInputComponent.new(id:'relation-network', name: 'selectedRelations[]', values: values, selected:@relations_array , multiple: true)

      %div{:style => "width: 100%;"}
        %div#networkContainer{:style => "height: 465px; width: 100%;", "data-ontology-relations-network-target": "container" }
          %div#ontologyNetwork