<div>

  <div class="container text-center my-5">
    <h1>Project Team</h1>
    <ul>
      <% @members.each do |m| %>
        <li class="jumbotron d-inline-block mx-2 team-member-container col-5" style="min-height: 500px;">
          <h3 class="team-member-name mb-2"><%= m[:name] %></h3>
          <img class="team-member-avatar mb-2" src="<%= m[:avatar] %>" alt="Member: <%= m[:name] %>">
          <p class="team-member-description"><%= m[:description] %></p>
          <div>
            <a href="<%= m[:link] %>" target="_blank">
              <button class="btn btn-success team-member-link">See more</button>
            </a>
            <a href="mailto:<%= m[:email] %>" target="_blank"><h6 class="btn btn-warning my-0">Contact</h6></a>
          </div>
          <!--Show only Pro emails-->
          <% if m[:isEmailPro] %>
            <h6 id="pro_email" class="btn btn-light mt-2" onclick="copyToClipBoard('<%= m[:email] %>')"><%= m[:email] %></h6>
          <% end %>

          <% if !m[:isEmailPro] %>
            <h6 id="pro_email" class="btn btn-light mt-2" onclick="copyToClipBoard('<%= m[:email] %>')">email</h6>
          <% end %>

        </li>
      <% end %>
    </ul>

  </div>

  <!--Contributors part-->
  <h3 class="my-2">Contributors</h3>
  <% if @contributors.empty? %>
    <p>ongoing...</p>
  <% else %>
    <ul id="contributors" class="mx-2" style="list-style-type: none;">
      <% @contributors.each do |c| %>
        <li>- <strong><%= c[:full_name] %></strong>,  <%= c[:position] %> at <%= c[:works_at] %></li>
      <% end %>
    </ul>
  <% end %>


  <script>
      <!--Copies the email value into clipboard-->
      async function copyToClipBoard(email) {
          /* Get the text field */
          var proEmail = document.getElementById("pro_email");

          /* Copy the text inside the text field */
          if (proEmail != null) {

              if (navigator.clipboard && window.isSecureContext) {
                  // navigator clipboard api method'
                  navigator.clipboard.writeText(email);
                  alert("Copied member E-mail: " + email);

              } else {
                  // text area method
                  let textArea = document.createElement("textarea");
                  textArea.value = email;
                  // make the textarea out of viewport
                  textArea.style.position = "fixed";
                  textArea.style.left = "-999999px";
                  textArea.style.top = "-999999px";
                  document.body.appendChild(textArea);
                  textArea.focus();
                  textArea.select();
                  return new Promise((res, rej) => {
                      // here the magic happens
                      document.execCommand('copy') ? res() : rej();
                      textArea.remove();
                      alert("Copied member E-mail: " + email);
                  });
              }
          }
      }
  </script>

</div>