- sub = @submission_latest
- details_available = true
- if sub.nil? || (sub.respond_to?(:status) && sub.status == 404)
  - details_available = false
- date = DateTime.parse(@submission_latest.modificationDate)
- last_update_date = date.strftime("%B %d, %Y")

-# A header of sorts to display ontology name and subset of details.
.ontology-details-header-container
  .ontology-details-path
    %a{href: "/ontologies"} ontologies
    %img{src: asset_path("arrow-right-outlined.svg")}/
    %div 
      = @ontology.acronym
  .ontology-details-header-sub-container
    .ontology-details-header-left-container
      .ontology-details-name-bar
        %div
          = @ontology.name
          %span 
            = "("+ @ontology.acronym+")"
        .ontology-details-licence
          %div CC-BY IGO 3.0
          = inline_svg_tag "open-popup.svg"
      - if (details_available && !sub.released.nil?)
        .ontology-details-last-update
          %img{src: asset_path("update.svg")}/
          %div 
            = "Last update on "+last_update_date
    .ontology-details-header-right-container
      - if @ontology.admin?(session[:user])
        %a.ontology-details-edit-button{href: edit_ontology_path(@ontology.acronym)}
          = inline_svg_tag "edit.svg"
      - if session[:user].nil?
        %a.ontology-details-watch-button{href: "/login?redirect=/watch-lorem-ipsum"}
          = inline_svg_tag "eye.svg"
          %div Watch (12)
      - else 
        %a.ontology-details-watch-button{href: "/watch-lorem-ipsum"}
          = inline_svg_tag "eye.svg"
          %div Watch (12)
