- sub = @submission_latest
- details_available = true
- if sub.nil? || (sub.respond_to?(:status) && sub.status == 404)
  - details_available = false

-# A header of sorts to display ontology name and subset of details.
.ontology-details-header-container
  .ontology-details-path
    %a{href: "/ontologies"} ontologies
    %img{src: asset_path("arrow-right-outlined.svg")}/
    %div
      = @ontology.acronym
  .ontology-details-header-sub-container
    .ontology-details-header-left-container{style:'width: 70%'}
      .ontology-details-name-bar
        %div{style:'max-width: 60%'}
          = @ontology.name
          %span
            = "("+ @ontology.acronym+")"
        - unless sub.hasLicense.nil?
          .ontology-details-licence
            %div
              = link_to_modal(nil, "/ajax/submission/show_licenses/#{@ontology.acronym}",data: { show_modal_title_value: "More licenses", show_modal_size_value: 'modal-xl' }) do
                = attribute_enforced_values('hasLicense')[sub.hasLicense] || sub.hasLicense
                = inline_svg_tag "icons/popup-link.svg"
      - if details_available && !sub.creationDate.nil?
        .ontology-details-last-update
          %img{src: asset_path("update.svg")}/
          %div
            = t('ontology_details.header.last_uploaded')
            = render DateTimeFieldComponent.new(value: sub.creationDate)
    .ontology-details-header-right-container.justify-content-end{style: 'min-width: 20%;'}
      %a.mx-1.ontology-details-edit-button{href: "#{(@submission_latest || @ontology).id}?display=all", :target => '_blank'}
        = inline_svg_tag "json.svg"
      - if @ontology.admin?(session[:user])
        %a.mx-1.ontology-details-edit-button{href: edit_ontology_path(@ontology.acronym)}
          = inline_svg_tag "edit.svg"
      = subscribe_button(@ontology.id)
