- sub = @submission_latest
- details_available = true
- if sub.nil? || (sub.respond_to?(:status) && sub.status == 404)
  - details_available = false

-# A header of sorts to display ontology name and subset of details.
.ontology-details-header-container
  .ontology-details-path
    %a{href: "/ontologies"} ontologies
    %img{src: asset_path("arrow-right-outlined.svg")}/
    %div 
      = @ontology.acronym
  .ontology-details-header-sub-container
    .ontology-details-header-left-container{style:'width: 80%'}
      .ontology-details-name-bar
        %div{style:'max-width: 60%'}
          = @ontology.name
          %span 
            = "("+ @ontology.acronym+")"
        .ontology-details-licence
          %div CC-BY IGO 3.0
          = inline_svg_tag "open-popup.svg"
      - if (details_available && !sub.released.nil?)
        .ontology-details-last-update
          %img{src: asset_path("update.svg")}/
          %div 
            = t('ontology_details.header.last_uploaded')
            = l(Date.parse(sub.creationDate), format: :monthfull_day_year)
    .ontology-details-header-right-container.justify-content-end{style: 'min-width: 20%;'}
      - if @ontology.admin?(session[:user])
        %a.ontology-details-edit-button{href: edit_ontology_path(@ontology.acronym)}
          = inline_svg_tag "edit.svg"
      - link = session[:user].nil?  ? "/login?redirect=/watch-lorem-ipsum" : "/watch-lorem-ipsum"
      %a.ontology-details-watch-button{href: link}
          = inline_svg_tag "eye.svg"
          %div Watch (12)
