- sub = @submission_latest


-# A header of sorts to display ontology name and subset of details.
.ontology-details-header-container
  .ontology-details-path
    %a{href: "/ontologies"} ontologies
    %img{src: asset_path("arrow-right-outlined.svg")}/
    %div
      = @ontology.acronym
  .ontology-details-header-sub-container
    .ontology-details-header-left-container{style:'width: 70%'}
      .ontology-details-name-bar
        %div{style:'max-width: 60%'}
          = @ontology.name
          %span
            = "("+ @ontology.acronym+")"
        - unless sub.hasLicense.nil?
          .ontology-details-licence
            %div
              = link_to_modal(nil, "/ajax/submission/show_licenses/#{@ontology.acronym}",data: { show_modal_title_value: "More licenses", show_modal_size_value: 'modal-xl' }) do
                = attribute_enforced_values('hasLicense')[sub.hasLicense] || sub.hasLicense
                = inline_svg_tag "icons/popup-link.svg"
      - unless sub.creationDate.nil?
        .ontology-details-last-update
          %img{src: asset_path("update.svg")}/
          %div
            = t('ontology_details.header.last_uploaded')
            = render DateTimeFieldComponent.new(value: sub.creationDate)
    .ontology-details-header-right-container.justify-content-end{style: 'min-width: 20%;'}
      %span.mx-1
        = submission_json_button
      %span
        = ontology_edit_button
      = subscribe_button(@ontology.id)
