
<table class="annotations" cellpadding=0 cellspacing=0 width="100%">
<% if @details.first.nil? %>
No data available for this version of the ontology.
<%else%>

<%  # Set triggers for each class type
    mgrep_first = true
    isa_first = true
    mapping_first = true
	  reported_first = true
%>

    <%
    unless @details["obs.common.beans.mgrepContext"].nil?
	   @details["obs.common.beans.mgrepContext"].each do |key, detail|
    %>
		<%if mgrep_first%>
		    <thead>
		        <tr>
		            <th class="superhead">Concept recognition on given text: <strong><%=detail[:termName]%></strong></th>
		        </tr>
		    </thead>
			<%mgrep_first = false%>
		<%end%>
		<tr>
			<td class="annot_text_head"><%=detail[:contextNameDisplay]%></td>
		</tr>
		<tr>
            <td class="annot_text">
		      <div class="annot_info">Is direct: <%=detail[:isDirect]%> / Full results: <%=link_to "xml", @details[:rest_url]%></div>
			  <%=detail[:contextString]%>
			</td>
		</tr>
    <%
        end # hash each
    end # error checking
    %>

    <%
    unless @details["obs.common.beans.reportedContext"].nil?
	   @details["obs.common.beans.reportedContext"].each do |key, detail|
    %>
		<%if reported_first%>
		    <thead>
		        <tr>
		            <th class="superhead">Reported annotations</th>
		        </tr>
		    </thead>
			<%reported_first = false%>
		<%end%>
		<tr>
			<td class="annot_text_head"><%=detail[:contextNameDisplay]%></td>
		</tr>
		<tr>
            <td class="annot_text">
		      <div class="annot_info">Is direct: <%=detail[:isDirect]%> / Full results: <%=link_to "xml", @details[:rest_url]%></div>
			  <%=detail[:contextString]%>
			</td>
		</tr>
    <%
        end # hash each
    end # error checking
    %>

    <%
	unless @details["obs.common.beans.isaContext"].nil?
        @details["obs.common.beans.isaContext"].each do |key, detail|
    %>
		<%if isa_first%>
		    <thead>
			    <tr>
			        <th colspan=4 class="superhead">is_a transitive closures</th>
			    </tr>
		    </thead>
		<%isa_first = false%>
		<%end%>
        <tr>
            <td class="annot_text_head"><%=detail[:contextNameDisplay]%></td>
        </tr>
        <tr>
            <td class="annot_text">
              <div class="annot_info">Is direct: <%=detail[:isDirect]%> / Child Concept: <%= link_to detail[:childConceptID], "/visualize/#{detail[:childConceptID]}"%> / Full results: <%=link_to "xml", @details[:rest_url]%></div>
              <%=detail[:contextString]%>
            </td>
        </tr>
	<%
        end # hash each
    end # error checking
    %>

    <%
    unless @details["obs.common.beans.mappingContext"].nil?
        @details["obs.common.beans.mappingContext"].each do |key, detail|
    %>
		<%if mapping_first%>
		    <thead>
			    <tr>
			        <th colspan=4 class="superhead">Mappings</th>
			    </tr>
		    </thead>
		<%mapping_first = false%>
		<%end%>
		<tr>
        <tr>
            <td class="annot_text_head"><%=detail[:contextNameDisplay]%></td>
        </tr>
        <tr>
            <td class="annot_text">
              <div class="annot_info">Is direct: <%=detail[:isDirect]%> / Mapped Concept: <%= link_to detail[:mappedConceptID], "/visualize/#{detail[:mappedConceptID]}"%> / Full results: <%=link_to "xml", @details[:rest_url]%></div>
              <%=detail[:contextString]%>
            </td>
    <%
        end # hash each
    end # error checking
    %>
	
</table>
<%end #end of if/else for nill result %>