
<table class="minimal" cellpadding=0 cellspacing=0 width="100%">


<%	case @details.first[:class]
	when "obs.common.beans.MgrepContextBean"%>
	<thead>
		<tr>
		<th>Class</th>
		<th>Is direct</th>
		<th>Term ID</th>
		<th>Term Name</th>
		<th>From</th>
		<th>To</th>
		</tr>
	</thead>
	<%when "obs.common.beans.IsaContextBean"%>
	<thead>
	<tr>
		<th>Class</th>
		<th>Is Direct</th>
		<th>Child Concept</th>
		<th>Level</th>
	</tr>
	</thead>
	<%when "obs.common.beans.MappingContextBean"%>
	<thead>
	<tr>
		<th>Class</th>
		<th>Is Direct</th>
		<th>Mapped Concept</th>
		<th>Mapping Type</th>
	</tr>
	</thead>
	<%end%>


	<%for detail in @details%>
	
	
		<%case detail[:class]
		when "obs.common.beans.MgrepContextBean"%>
		<tr>
			<td><%=detail[:context_name]%></td>
			<td><%=detail[:isDirect]%></td>
			<td><%=detail[:termID]%></td>
			<td><%=detail[:termName]%></td>
			<td><%=detail[:from]%></td>
			<td><%=detail[:to]%></td>
	
		</tr>
		<%when "obs.common.beans.IsaContextBean"%>
		<tr>
			<td><%=detail[:contextName]%></td>
			<td><%=detail[:isDirect]%></td>
			<td><%=detail[:childConceptID]%></td>
			<td><%=detail[:level]%></td>
		</tr>
		<%when "obs.common.beans.MappingContextBean"%>
		<tr>
			<td><%=detail[:contextName]%></td>
			<td><%=detail[:isDirect]%></td>
			<td><%=detail[:mappedConceptID]%></td>
			<td><%=detail[:mappingType]%></td>
		</tr>
	
		<%end%>
	<%end%>
	
</table>
