<% require 'cgi' %>

<% class_uid = Time.now.to_f.to_s.gsub("\.","") %>

<script type="text/javascript" charset="utf-8">
	// We need to fire the thickbox init since we're bringing in new content to the page
	tb_init('a.<%=class_uid%>');
</script>

<table class="annotations" cellpadding=0 cellspacing=0 width="100%">
  <tr>
    <th class="top" style="padding:3px; background: #234979; color: #FFFFFF;""><%=params[:resource_main_context].gsub(/.+?_/,"").capitalize%></th>
    <th class="top" style="padding:3px; background: #234979; color: #FFFFFF;">ElementId</th>
  </tr>
        
     <% for annotation in @resource.annotations%>
     <% # Generate a link to the Resource Element Service
        resource_element_link = $RESOURCE_INDEX_REST_URL + "/element/" + params[:resource] + "?elementid=" + annotation.local_id
     %>
	 <%color = cycle("","alt") %>
       <tr class="<%=color%>" >
          <td style="padding:3px;">
            <a class="thickbox <%=class_uid%>" href="<%= generate_details_link(params[:version_id], params[:resource], annotation.local_id, params[:concept]) %>&TB_iframe=true&height=600&width=800"><%=annotation.description || "No description available"%></a>
          </td>
   	      <td style="padding:3px;">
   	        <a target="_blank" href="<%=resource_element_link%>"><%=CGI.unescape(annotation.local_id)%></a>
 	        </td>
	   </tr>
      
	  <%end%>
	<tr>
		<td colspan="2" align="right">
			<%if params[:start].to_i > 0%>
			<a href="#" onclick="jQuery('#innerannot<%=params[:index]%>').load('/respage/?ontology=<%=params[:ontology]%>&latest=<%=params[:latest]%>&version_id=<%=params[:version_id]%>&concept=<%=params[:concept]%>&resource=<%=params[:resource]%>&resource_element_url=<%=params[:resource_element_url]%>&resource_main_context=<%=params[:resource_main_context]%>&start=<%=params[:start].to_i-10%>&end=<%=params[:start]%>&index=<%=params[:index]%>&total=<%=params[:total]%>');return false;">&lt;&lt; Previous Page</a>
		<%end%>
		 &nbsp;&nbsp; 
		<%if params[:end].to_i <= params[:total].to_i+10%>
				<a href="#" onclick="jQuery('#innerannot<%=params[:index]%>').load('/respage/?ontology=<%=params[:ontology]%>&latest=<%=params[:latest]%>&version_id=<%=params[:version_id]%>&concept=<%=params[:concept]%>&resource=<%=params[:resource]%>&resource_element_url=<%=params[:resource_element_url]%>&resource_main_context=<%=params[:resource_main_context]%>&start=<%=params[:end]%>&end=<%=params[:end].to_i+10%>&index=<%=params[:index]%>&total=<%=params[:total]%>');return false;">Next Page &gt;&gt;</a>
		<%end%>
		</td>
	</tr>
</table>
