= turbo_frame_tag 'summary', target:"_top" do
  .summary-page-center
    .summary-page-first-row
      = render partial: 'ontologies/sections/metadata/ontology_description_section'
      = render partial: 'ontologies/sections/metadata/ontology_fairness_section'
      = render partial: 'ontologies/sections/metadata/ontology_relations_network'
      = render partial: 'ontologies/sections/metadata/ontology_submissions_section'
      = render partial: 'ontologies/sections/metadata/ontology_metrics_section'
    .summary-page-second-row
      = ontology_depiction_card
      = properties_card('Identifiers','Principal identifiers of the ontology.', @identifiers) do |values|
        = horizontal_list_container(values) do |v|
          = render LinkFieldComponent.new(value: v)

      = properties_dropdown('dates','Dates','', @dates_properties) do |values|
        = horizontal_list_container(values) do |v|
          = render DateTimeFieldComponent.new(value: v)

      = properties_dropdown('person_and_organization','Persons and organizations','', @agents_properties) do |values|
        = horizontal_list_container(values) do |v|
          = render ChipButtonComponent.new(type: "static",'data-controller':' tooltip', title: '', class: 'text-truncate', style: 'max-width: 280px; display:block; line-height: unset') do
            = display_agent(v, link: false)


      = properties_dropdown('link','Other links','Metadata properties that highlight the links enabling access to datasets, downloading semantic resources, etc', @links_properties) do |values|
        = horizontal_list_container(values) do |v|
          = render LinkFieldComponent.new(value: v, raw: true)

      = properties_dropdown('projects_section','Projects and usage information','Details pertaining to the utilization of the ontology.', nil) do |c|
        - c.row do
          = render FieldContainerComponent.new do |f|
            - f.label do
              Projects using #{@ontology.acronym}
              = new_element_link('Create new project', new_project_path)

            - if @projects.empty?
              = empty_state_message("No projects using #{@ontology.acronym}")
            - else
              = horizontal_list_container(@projects) do |project|
                = render ChipButtonComponent.new(url: project_path(project.acronym), text: project.name, type: "clickable")
        - properties_list_component(c, @projects_properties)

      = properties_dropdown('methodology','Methodology and provenance', 'Metadata properties primarily encompass the design, methods, and actions to create the ontology. This includes elements such as the tools and software employed by the creator of the ontology during its configuration.', @methodology_properties)

      = render Layout::CardComponent.new do |c|
        - c.header do  |h|
          - h.text do
            Visits
            - if visits_data(@ontology)
              = link_to(@ontology.links["analytics"] + "?apikey=#{get_apikey}&format=csv", title: "Download as CSV") do
                = inline_svg("summary/download.svg", width: '30px', height: '20px')

        = render Layout::ListComponent.new do |l|
          - l.row do
            = render partial: "visits"

      - unless @ontology.view?
        = render Layout::CardComponent.new do |d|
          - d.header do |h|
            - h.text do
              Views of #{@ontology.acronym}
              = new_element_link('Create new view', new_view_path(@ontology.id))
          = render Layout::ListComponent.new do |l|
            - l.row do
              = render partial: 'ontology_views'

      - unless @submission_latest.nil?
        = javascript_include_tag("jsonld")
        = metadata_formats_buttons