= turbo_frame_tag 'summary', target:"_top" do
  = not_ready_submission_alert(submission: @submission_latest)
  .summary-page-center
    .summary-page-first-row
      = render partial: 'ontologies/sections/metadata/ontology_description_section'
      = render partial: 'ontologies/sections/metadata/ontology_metrics_section'
      = render partial: 'ontologies/sections/metadata/ontology_fairness_section'
      = render partial: 'ontologies/sections/metadata/ontology_relations_network'
      = render partial: 'ontologies/sections/metadata/ontology_submissions_section'
    .summary-page-second-row
      = ontology_depiction_card
      = properties_card(t('ontologies.sections.identifiers'),t("ontologies.sections.identifiers"), @identifiers) do |values|
        = horizontal_list_container(values) do |v|
          - generate_htaccess = v.eql?(@identifiers["ontology_portal_uri"]&.first)
          = render LinkFieldComponent.new(value: v, acronym: @ontology.acronym, raw: true, check_resolvability: true, generate_link: false, generate_htaccess: generate_htaccess)

      = properties_dropdown('dates',t("ontologies.sections.dates"),'', @dates_properties) do |values|
        - Array(values).sort.map do |v|
          %div
            = render DateTimeFieldComponent.new(value: v)

      = properties_dropdown('person_and_organization',t("ontologies.sections.person_and_organization"),'', @agents_properties) do |values|
        = horizontal_list_container(values) do |v|
          = agent_chip_component(v)

      = properties_dropdown('link',t("ontologies.sections.other_links"), t("ontologies.sections.info_tooltip_links") , @links_properties) do |values|
        = horizontal_list_container(values) do |v|
          = render LinkFieldComponent.new(value: v, raw: true)
      = properties_dropdown('projects_section',t("ontologies.sections.projects_and_usage_information"),t("ontologies.sections.info_tooltip_projects"), nil) do |c|
        - c.row do
          = projects_field(@projects)
        - properties_list_component(c, @projects_properties)
      :javascript
        var projectsUrl = document.location.hash
        if (projectsUrl ==  "#projects_section"){
            document.querySelector("[data-target='#projects_section']")?.click()
        }
      = properties_dropdown('methodology',t("ontologies.sections.methodology_and_provenance"), t("ontologies.sections.info_tooltip_properties_dropdown"), @methodology_properties)
      = properties_dropdown('community',t("ontologies.sections.community"), t("ontologies.sections.info_tooltip_community_dropdown", site: portal_name), nil ) do |c|
        - properties_list_component(c, @community_properties, truncate: false)
        - unless Array(@ontology.group).empty?
          - c.row do
            = render FieldContainerComponent.new(label: t("ontologies.sections.label_groups")) do
              = horizontal_list_container(@ontology.group) do |v|
                = render ChipButtonComponent.new(text: show_group_name(v), type: "static", tooltip: show_group_name(v))

      = properties_dropdown('content',t("ontologies.sections.content"), t("ontologies.sections.info_tooltip_properties_dropdown", site: portal_name), nil) do |c|
        - properties_list_component(c, @content_properties.reject{|k, v| %w[keyClasses metadataVoc].include?(k.to_s)})
        - c.row do
          = render FieldContainerComponent.new(label: attr_label('metadataVoc', attr_metadata: attr_metadata("metadataVoc"), show_tooltip: false)) do
            = Array(@content_properties['metadataVoc']).map{|x| metadata_vocabulary_display(x)}.join.html_safe
      = render Layout::CardComponent.new do |c|
        - c.header do  |h|
          = t("ontologies.sections.visits")
          - if visits_data(@ontology)
            - analytics_link, analytics_target = api_button_link_and_target(@ontology.links["analytics"] + "?format=csv")
            = link_to(analytics_link, title: t("ontologies.sections.download_as_csv"), target: analytics_target) do
              = inline_svg("summary/download.svg", width: '30px', height: '20px')

        = render Layout::ListComponent.new do |l|
          - l.row do
            = render partial: "visits"

      - unless @ontology.view?
        = render Layout::CardComponent.new do |d|
          - d.header do |h|
            = t("ontologies.sections.views", acronym: @ontology.acronym)
            = new_element_link(t("ontologies.sections.create_new_view"), new_view_path(@ontology.id))
          = render Layout::ListComponent.new do |l|
            - l.row do
              = render partial: 'ontology_views'


      = admin_block do
        = properties_dropdown('configuration',t("ontologies.sections.configuration_metadata"), t("ontologies.sections.info_tooltip_configuration"), @config_properties)
