= turbo_frame_tag 'classes' do
  - unless @error
    - @title = "#{@ontology.name} - #{@concept.prefLabel}"
    - @new_term_request_ontologies
    - @enable_ontolobridge = !$NEW_TERM_REQUEST_ONTOLOGIES.nil? && $NEW_TERM_REQUEST_ONTOLOGIES.include?(@ontology.acronym)
    %div.tooltip
    %div#bd_content.bd_content.explore{data:{controller: 'container-splitter'}}
      %div.sidebar.d-flex.flex-column.mr-2.card{data:{'container-splitter-target': 'container'}}
        = render partial: 'ontologies/concepts_browsers/concepts_browser'
      %div#concept_content.d-flex.flex-column.card.p-1.ml-2{data:{'container-splitter-target': 'container'}}
        = render partial: 'concepts/show'

    - form_for(:search, :url => {:controller =>'search',:action=>'fetch_results'},:html=>{:id=>'search_form'}) do |f|
      %input{:name => "search[ontologies][]", :type => "hidden", :value => @ontology.acronym}/
      = hidden_field :search, :search_type, :value=>"contains"
      = hidden_field :search, :keyword, :value=>"",:id=>"search_keyword"
  - else # found an error
    = "<div id=\"error\"><h2>#{@error}</h2></div>"

  :javascript
      $(document).ready(function() {
        const ontology_acronym = "#{@ontology.acronym}"
        let data = #{raw @instance_details.to_json} || null

        if(data && Object.keys(data).length !== 0){
          $.facebox({ajax: `/ontologies/${ontology_acronym}/instances/${encodeURIComponent(data["@id"])}`})
        }
      })



