=  render TurboFrameComponent.new(id: "classes", data: {"turbo-frame-target": "frame"} ) do
  - unless @error || @concept.nil?
    - @title = "#{@ontology.acronym} - #{@concept.prefLabel}"
    %div.tooltip
    %div#bd_content.bd_content.explore{data:{controller: 'container-splitter'}}
      %div.sidebar{data:{'container-splitter-target': 'container'}}
        = render partial: 'ontologies/concepts_browsers/concepts_browser'
      %div#concept_content.d-flex.flex-column{data:{'container-splitter-target': 'container'}}
        = render partial: 'concepts/show'

  - else
    = render Display::AlertComponent.new(type: 'danger') do
      =  @concept.nil? ? t("ontologies.sections.no_class_concept_found") : @error
