- output =""
- for child in @children
  - icons = child.relation_icon(@concept)
  - output << "<li id='#{short_uuid}'><a id='#{CGI.escape(child.id)}' href='/ontologies/#{child.explore.ontology.acronym}/?p=classes&conceptid=#{CGI.escape(child.id)}&lang=#{request_lang(@submission)}'> #{child.prefLabel}</a> #{icons}"

  - if child.hasChildren
    - output << "<ul class='ajax'><li id='#{short_uuid}'><a id='#{CGI.escape(child.id)}' href='/ajax_concepts/#{child.explore.ontology.acronym}/?conceptid=#{CGI.escape(child.id)}&callback=children&lang=#{request_lang(@submission)}'>#{child.prefLabel}</a></li></ul>"
  - output << "</li>"
= raw output
