- output =""
- for child in @children
  - relation = child.relation_icon
  - output << "<li id='#{short_uuid}'><a id='#{CGI.escape(child.id)}' href='/ontologies/#{child.explore.ontology.acronym}/?p=terms&conceptid=#{CGI.escape(child.id)}'> #{relation} #{child.prefLabel}</a>"
  - if child.childrenCount && child.childrenCount > 0
    - output << "<ul class='ajax'><li id='#{short_uuid}'><a id='#{CGI.escape(child.id)}' href='/ajax_concepts/#{child.explore.ontology.acronym}/?conceptid=#{CGI.escape(child.id)}&callback=children&child_size=#{child.childrenCount}'>#{child.prefLabel}</a></li></ul>"
  - output << "</li>"
= output
