= turbo_frame_tag(params[:modal] ? 'application_modal_content' : 'concept_details', class: 'd-block p-2') do
  = render ConceptDetailsComponent.new(id:'concept-details', acronym: @ontology.acronym, concept_id: @concept.id,
                properties: @concept.properties,
                top_keys: %w[description comment],
                bottom_keys: %w[disjoint subclass is_a has_part]) do |c|

    - c.header(stripped: true) do |t|
      - t.add_row({th: t('ontology_details.concept.id')}, {td:link_to_with_actions(@concept.id, acronym: @ontology.acronym)})
      - t.add_row({th: t('ontology_details.concept.preferred_name')}) do |h|
        - h.td do
          = display_in_multiple_languages(@concept.prefLabel)

      - unless @concept.synonym.nil? || @concept.synonym.empty?
        - t.add_row({th: t('ontology_details.concept.synonyms')}) do |h|
          - h.td do
            %div.d-flex
              = display_in_multiple_languages(@concept.synonym, style_as_badge: true, show_max: 5)
              %div.synonym-change-request
                = add_synonym_button
                = remove_synonym_button


      - unless @concept.definition.nil? || @concept.definition.empty?
        - t.add_row({th: t('ontology_details.concept.definitions')}, {td: display_in_multiple_languages(@concept.definition)})

      - if @concept.obsolete?
        - t.add_row({th: t('ontology_details.concept.obsolete')}, {td: 'true'})

      - t.add_row({th: t('ontology_details.concept.type')} , {td: @concept.type})
