= turbo_frame_tag(params[:modal] ? 'application_modal_content' : 'concept_details', class: 'd-block p-2') do
  %div.p-1
    %div#change-request-notice
    - if change_requests_enabled?(@ontology.acronym)
      = render 'ontologies/add_proposal'
  %div
    = render ConceptDetailsComponent.new(id:'concept-details', acronym: @ontology.acronym, concept_id: @concept.id,
                  properties: @concept.properties,
                  top_keys: %w[description comment label prefLabel altLabel],
                  bottom_keys: %w[disjoint subclass is_a has_part],
                  exclude_keys: %w[definition]) do |c|


      - c.header(stripped: true) do |t|
        - t.add_row({th: t('ontology_details.concept.id')}, {td:link_to_with_actions(@concept.id, acronym: @ontology.acronym)})
        - t.add_row({th: t('ontology_details.concept.preferred_name')}) do |h|
          - h.td do
            = display_in_multiple_languages(@concept.prefLabel)

        - unless @concept.definition.nil? || @concept.definition.empty?
          - t.add_row({th: t('ontology_details.concept.definitions')}, {td: display_in_multiple_languages(@concept.definition)})

        - if change_requests_enabled?(@ontology.acronym) || !@concept.synonym.empty?
          - t.add_row({th: t('ontology_details.concept.synonyms')}) do |h|
            - h.td do
              %div.d-flex.justify-content-between.alingn-items-center
                = display_in_multiple_languages(@concept.synonym, show_empty_alert: false, style_as_badge: true)
                %div.change-request-buttons
                  = add_synonym_button
                  = remove_synonym_button

        - if @concept.obsolete?
          - t.add_row({th: t('ontology_details.concept.obsolete')}, {td: 'true'})

        - t.add_row({th: t('ontology_details.concept.type')} , {td: @concept.type})

      - c.add_sections(['definition']) do |v|
        %div.d-flex.justify-content-between.align-items-center
          %div.d-flex.flex-column
            %div= display_in_multiple_languages(v.is_a?(Array) ? [v].to_h : v)
            %div
              %div.w-100{'data-controller': 'change-requests', turbo_frame: '_top'}
                %div{id: 'editDefinitionFormDiv', 'data-change-requests-target': 'proposalForm'}
          %div.change-request-buttons
            - if change_requests_enabled?(@ontology.acronym)
              = edit_definition_button(Array(v).first)
