= render TurboFrameComponent.new(id: 'concept_show', data: { turbo: false }) do
  - if @concept.id.eql?("bp_fake_root")
    %div{:style => "padding: 100px 0; font-size: larger; font-weight: bold; text-align: center;"}
      Use the "Jump To" to find a class and display details, visualization, notes, and mappings
  - else
    %div
      %ul.nav.nav-tabs.tabs
        %li#details_top.nav-item
          %button.nav-link.active.py-1{:href => "#details" , data:{'bs-toggle': 'tab', 'bs-target': '#details_content'}} Details
        %li#visualization_top.nav-item
          %button.nav-link.py-1{:href => "#visualization", data:{'bs-toggle': 'tab', 'bs-target': '#visualization_content'}} Visualization
        %li#notes_top.nav-item
          %button.nav-link.py-1{:href => "#notes", data:{'bs-toggle': 'tab', 'bs-target': '#notes_content'}}
            Notes
            %span#note_count_wrapper
              (
              %span#note_count= @notes.length
              )
        %li#mappings_top.nav-item
          %button.nav-link.py-1{:href => "#mappings", data:{'bs-toggle': 'tab', 'bs-target': '#mappings_content'}}
            Class Mappings (
            %span#mapping_count= @mappings.size
            )
        - if $PURL_ENABLED
          = link_to("#classPermalinkModal", class: "class-permalink nav-link", title: "Get a permanent link to this class", aria: {label: "Get a permanent link to this class"}, data: {toggle: "modal", current_purl: "#{@current_purl}"}) do
            %i{class: "fas fa-link", aria: {hidden: "true"}}
      #contents.tab-content
        #details_content.tab-pane.active.show
          = render :partial =>'/concepts/details'
        #visualization_content.tab-pane
          = render :partial =>'/concepts/biomixer'
        #notes_content.tab-pane
          = render :partial =>'/notes/list'
        #mappings_content.tab-pane
          = render :partial => '/mappings/concept_mappings'

:javascript
  jQuery(document).ready(function(){

    jQuery("#classPermalinkModal").on("shown.bs.modal", function (e) {
      var currentPurl = jQuery("a.class-permalink").data("current-purl");
      jQuery("#purl_input").val(currentPurl);
    })

    jQuery("#purl_input").on("click", function () {
      jQuery(this).select();
    });
  });
