= render TurboFrameComponent.new(id: 'concept_show') do
  - if @concept.id.eql?("bp_fake_root")
    = render Display::AlertComponent.new do
      = t('concepts.use_jump_to')
  - else
    %div{'data-controller': 'concepts-json', 'data-action': 'click->concepts-json#update'}
      = ontology_object_tabs_component(ontology_id: @ontology.acronym, objects_title: "classes", object_id: @concept.id) do |c|
        - apikey = "apikey=#{get_apikey}"
        - baseClassUrl = "#{@ontology.id}/classes/#{escape(@concept.id)}"
        - tab_item_component(container_tabs: c, title: t('concepts.details'), path: '#details', selected: true, json_link: "#{baseClassUrl}?#{apikey}&display=all") do
          = render :partial =>'/concepts/details'

        - tab_item_component(container_tabs: c, title: t('concepts.visualization'), path: '#visualization') do
          = render :partial =>'/concepts/biomixer'


        - count_span = content_tag(:span, "#{t('concepts.notes')} (#{content_tag(:span, @notes.length, id: 'note_count')})".html_safe)
        - tab_item_component(container_tabs: c, title: count_span, path: '#notes', json_link: "#{baseClassUrl}/notes?#{apikey}") do
          = render :partial =>'/notes/list'


        - count_span = content_tag(:span, "#{t('concepts.mappings')} (#{content_tag(:span, concept_mappings_loader(ontology_acronym: @ontology.acronym, concept_id: @concept.id))})".html_safe, class: "d-flex")
        - tab_item_component(container_tabs: c, title: count_span, path: '#mappings', json_link: "#{baseClassUrl}/mappings?#{apikey}") do
          = render TurboFrameComponent.new(id:'concept_mappings',
          src:"/ajax/mappings/get_concept_table?ontologyid=#{@ontology.acronym}&conceptid=#{CGI.escape(@concept.id)}")


  :javascript
    jQuery(document).ready(function(){
      jQuery("#classPermalinkModal").on("shown.bs.modal", function (e) {
        var currentPurl = jQuery("#classPermalink").data("current-purl");
        jQuery("#purl_input").val(currentPurl);
      })

      jQuery("#purl_input").on("click", function () {
        jQuery(this).select();
      });
    });
