= render TurboFrameComponent.new(id: 'concept_show', data: {controller:'labels-ajax-container', 'action': 'turbo:before-fetch-request->labels-ajax-container#abortAll', 'labels-ajax-container-label-ajax-outlet': '#concept_show a[data-controller="label-ajax"]'}) do
  - if @concept.id.eql?("bp_fake_root")
    %div{:style => "padding: 100px 0; font-size: larger; font-weight: bold; text-align: center;"}
      Use the "Jump To" to find a class and display details, visualization, notes, and mappings
  - else
    = render TabsContainerComponent.new(type:'outline') do |c|

      - c.pinned_right do
        - if $PURL_ENABLED
          %div.mx-1
            = link_to("#classPermalinkModal", class: "class-permalink nav-link", title: "Get a permanent link to this class", aria: {label: "Get a permanent link to this class"}, data: {toggle: "modal", current_purl: "#{@current_purl}"}) do
              %i{class: "fas fa-link", aria: {hidden: "true"}}
        %div
          = render RoundedButtonComponent.new(link: "#{@ontology.id}/classes/#{escape(@concept.id)}?display=all&apikey=#{get_apikey}", target:'_blank')

      - c.item(title: 'Details', path: '#details', selected: true)

      - unless skos?
        - c.item(id: 'instances', path: '#instances') do
          Instances
          (
          %span#instances_count
          )

      - c.item(title: 'Visualization', path: '#visualization')

      - c.item(id: 'notes', path: '#notes') do
        Notes
        %span#note_count_wrapper
          (
          %span#note_count= @notes.length
          )

      - c.item(id: 'mappings', path: '#mappings') do
        #{concept_label_to_show(submission: @submission)} Mappings (
        %span#mapping_count= 'loading'
        )

      - if @enable_ontolobridge
        - c.item(title: ' New Term Requests', path: '#request_term')

      - c.item_content do
        = render :partial =>'/concepts/details'

      - unless skos?
        - c.item_content do
          = render :partial =>'instances/instances' , locals: {id: "class-instances-data-table"}
      - c.item_content do
        = render :partial =>'/concepts/biomixer'

      - c.item_content do
        = render :partial =>'/notes/list'

      - c.item_content do
        = render TurboFrameComponent.new(id:'concept_mappings',
        src:"/ajax/mappings/get_concept_table?ontologyid=#{@ontology.acronym}&conceptid=#{CGI.escape(@concept.id)}")

      - if @enable_ontolobridge
        - c.item_content do
          = render :partial =>'/concepts/request_term'

  :javascript
    jQuery(document).ready(function(){

    jQuery("#classPermalinkModal").on("shown.bs.modal", function (e) {
    var currentPurl = jQuery("a.class-permalink").data("current-purl");
    jQuery("#purl_input").val(currentPurl);
    })

    jQuery("#purl_input").on("click", function () {
    jQuery(this).select();
    });
    });
