- new_record = @category.acronym.nil?

:javascript
  function validateCategoryForm() {
    var acronymField = document.getElementById('category_acronym');
    var nameField = document.getElementById('category_name');
    var errorAcronym = document.getElementById('error-category-acronym');
    var errorName = document.getElementById('error-category-name');

    errorAcronym.innerText = '';
    errorName.innerText = '';

    var isValid = true;

    if (acronymField.value.trim() === '') {
      errorAcronym.innerText = 'Please enter an acronym';
      isValid = false;
    }

    if (nameField.value.trim() === '') {
      errorName.innerText = 'Please enter a name';
      isValid = false;
    }

    return isValid;
  }

%div.alert-box.error{style: @errors.nil? ? 'display: none' : nil }
  %ul
    - unless @errors.nil?
      - for error in @errors
        %li
          = error
%div{:style => "width:500px"}
  %span.asterik{:style => "float:right;"} * fields are required
  %h3 #{title_text}
  %table#category_form.form
    %colgroup
      %col
      %col{style: "width: 100%"}
    %tr
      %th
        Acronym
        %span.asterik *
      %td.top
        - if new_record
          = f.text_field :acronym, class: "form-control", id: "category_acronym"
          %div#error-category-acronym.groupFormError
        - else
          = f.text_field :acronym, class: "form-control", readonly: true
    %tr
      %th
        Name
        %span.asterik *
      %td.top
        = f.text_field :name, class: "form-control", id: "category_name"
        %div#error-category-name.groupFormError
    %tr
      %th
        Description
      %td.top
        = f.text_area :description, class: "form-control"
    - unless new_record
      %tr
        %th
          Created
        %td.top
          = f.text_field :created, readonly: true, class: "form-control"
      %tr
        %th
          Ontologies
        %td.top
          = render SelectInputComponent.new(id: "category_ontologies", name: "category[ontologies]", values: @ontologies_category, selected: @category.ontologies, multiple: true, open_to_add_values: true)
          %div.d-flex.mt-1{:style => "display: none;"}
  %div.mt-2
    %input{type: "submit", value: button_text, class: "btn btn-primary mr-sm-2 group-form-accept", onclick: "return validateCategoryForm();"}
    %a{href: "javascript:;", class: "btn btn-primary dismiss-dialog"} Cancel