= turbo_frame_tag 'categories-list' do
  .d-flex
    = link_to_modal(t('admin.categories.index.create_a_new_category'),
                    new_admin_category_path,
                    id: "new_category_btn",
                    class: "btn btn-default mb-3",
                    data: { show_modal_title_value: t('admin.categories.index.create_a_new_category')})

    = rounded_button_component("#{$REST_URL}/categories?display=all")
  %div.my-1.border-radius-0
    = render_alerts_container
  = render TableComponent.new(id: 'admin_categories', custom_class: 'border rounded p-1') do |t|
    - t.header do |h|
      - h.th {t('admin.categories.form.name')}
      - h.th {t('admin.categories.form.description')}
      - h.th {t('admin.categories.form.created')}
      - h.th {t('admin.categories.index.id')}
      - h.th {t('admin.categories.index.count')}
      - h.th {t('admin.categories.index.actions')}
    = render partial: 'admin/categories/category', collection: @categories
    %tr.empty-state
      %td.text-center{:colspan => "6"}=t('admin.categories.index.no_categories')
  :javascript
    $.fn.dataTable.ext.errMode = 'none';
    $("#admin_categories").dataTable()

