- @title = "Login"

= form_with scope: :user, url: login_index_path, method: :post do |f|
  - unless @errors.nil?
    %div{:style => "color:red;"}
      Errors On Form
      %ul
        - for error in @errors
          %li= error
  %center
    %table.form{:style => "margin-top:30px", :width => "400px"}
      %tr
        %th{:align => "right", :nowrap => "nowrap"} Account Name:
        %td.top= f.text_field :username, :size => 25
      %tr
        %th{:align => "right", :nowrap => "nowrap"} Password:
        %td= f.password_field :password, :size => 25, :autocomplete => "off"
      %tr
        %td{:align => "right", :colspan => "2"}= submit_tag "Login"
    %span{:style => "font-size:1.2em;"}
      Not Registered Yet?  #{link_to "Sign Up", new_user_path}
    %br/
    %br/
    %span{:style => "font-size:1.2em;"}= link_to "Lost Password", '/lost_pass'
