%div.password-reset
  = form_with scope: :user , url: login_send_pass_path do |f|
    %h3 Forgot your password?
    %p.text-muted.mb-5
      = "Enter your email and #{$SITE} username to receive a password reset link."
    %div.mb-3
      = f.label :email, 'Email', class: 'form-label'
      = f.email_field :email, class: 'form-control'
    %div.mb-3
      = f.label :account_name, 'Username', class: 'form-label'
      = f.text_field :account_name, class: 'form-control'
    %div
      = submit_tag 'Reset password', class: 'btn btn-primary'
