<%if @source_counts.empty? && @dest_counts.empty?%>
<h1>No Mappings Found</h1>
<%else%>

<table class="zebra" cellpadding="0" cellspacing="0" width="90%">
	<%unless @source_counts.empty?%>
	<thead>
	<tr>
		<th>Ontology Mapped To</th>
		<th class="last">Mapping Count</th>
	</tr>
	</thead>
	<%for mapping in @source_counts%>
	<tr>
		<td><a href="#" onclick="jQuery.blockUI({ message: '<h1><img src=\'/images/tree/spinner.gif\' /> Loading Mappings...</h1>' }); jQuery('#mappings').load('/mappings/show/<%=@ontology_id%>?target=<%=mapping['destination_ont']%>',function(){jQuery.unblockUI();});return false;"><%= mapping['destination_ont_name']%></a></td><td class="last"><%=mapping['count']%></td>
	</tr>
	<%end%>	
	<%end%>
	<%unless @dest_counts.empty?%>
	<thead>
	<tr>
		<th>Ontology Mapped From</th>
		<th class="last">Mapping Count</th>
	</tr>
	</thead>
	<%for mapping in @dest_counts%>
	<tr>
		<td><a href="#" onclick="jQuery.blockUI({ message: '<h1><img src=\'/images/tree/spinner.gif\' /> Loading Mappings...</h1>' }); jQuery('#mappings').load('/mappings/show/<%=mapping['source_ont']%>?target=<%=@ontology_id%>',function(){jQuery.unblockUI();})"><%= mapping['source_ont_name']%></a></td><td class="last"><%=mapping['count']%></td>
	</tr>
	<%end%>
	<%end%>
</table>
<%end%>