%table#mapping_count_table{:width => "50%"}
  %td{:valign => "top"}
    %table.zebra{:cellpadding => "0", :cellspacing => "0", :style => "margin: 20px 0;", :width => "90%"}
      %thead
        %tr
          %th Ontology
          %th{:style => "text-align: right;"} Mappings Count
      - if @ontologies_mapping_count.nil? || @ontologies_mapping_count.length == 0
        %td{:colspan => "2"} There are no mappings to or from this ontology
      - else
        - for ontology in @ontologies_mapping_count
          %tr
            %td{:style => "text-align: left;"}
              %a.facebox{:href => "/mappings/show/#{@ontology_id}?target=#{ontology['ontology'].id}&height=600&width=800", :title => "Mappings for #{@ontology_label} to #{ontology['ontology'].name}"}= ontology['ontology'].name
            %td.last{:style => "text-align: right;"}= number_with_delimiter(ontology['count'], delimiter: ",")
:javascript
  // We need to fire the thickbox init since we're bringing in new content to the page
  // tb_init('a.thickbox, area.thickbox, input.thickbox');
  jQuery(".facebox").facebox();
