<script type="text/javascript" charset="utf-8">
    // We need to fire the thickbox init since we're bringing in new content to the page
    tb_init('a.thickbox, area.thickbox, input.thickbox');
</script>

<table width="50%" id="mapping_count_table">
  <td valign="top">
    <table class="zebra" cellpadding="0" cellspacing="0" width="90%" style="margin: 20px;">
    	<thead>
	      	<tr>
	  	    	<th>Ontology</th>
				<th>Mappings To</th>
	      		<th class="last">Mappings From</th>
	      	</tr>
    	</thead>
    	<%for ontology in @ontologies_mapping_count%>
	      	<tr>
	      		<td><a class="thickbox" title="Mappings for <%= @ontology_label %> to <%= ontology['ontology'].displayLabel%>" href="/mappings/show/<%=@ontology_id%>?target=<%=ontology['ontologyId']%>&height=600&width=800"><%= ontology['ontology'].displayLabel%></a></td>
	        	<td><%=ontology['sourceMappings']%></td>
	      		<td class="last"><%=ontology['targetMappings']%></td>
	      	</tr>
    	<%end%>	
    </table>
  </td>
</table>
