- ontology_from_id = @ontology_from.acronym.nil? ? "all" : @ontology_from.acronym
:javascript
  var BP_INTERNAL_SEARCH_SERVER = "#{$UI_URL}";

%div.row
  %div.col-6
    %div.form-group
      %h4 Mapping from Class
      = text_field_tag(:map_from, @concept_from.prefLabel, class: "bp_internal_form_complete-#{ontology_from_id}-name search_autocomplete form-control", placeholder: "Start typing to select a class")
      = hidden_field_tag :external_mapping, 'true'
      = hidden_field_tag :map_from_bioportal_full_id, @concept_from.id
      = hidden_field_tag :map_from_bioportal_ontology_id, @ontology_from.acronym
    %div.form-group
      %label{for: "map_from_concept_details_table"} Details
      %div#map_from_concept_details_table.form-control
  
  %div.col-6
    %div.form-group#mapping_to_content
      %h4 To External Class
      %p{style: "padding-left: 10px; margin-bottom: 0;", id: "display_options"}
        %input{type: "radio", name: "mapping_radio", class: "mapping_radio", value: "interportal", id: "interportal_form", autocomplete: "off"}
          %label{for: "interportal_form"} Interportal
        %input{type: "radio", name: "mapping_radio", class: "mapping_radio", value: "external", id: "external_form", autocomplete: "off"}
          %label{for: "external_form"} External
      %div{:id => "interportal_form", :class => "mapping_form", :style => "display: none;"}
        %h5{:style => "margin-top: 5px;"} InterPortal
        - options = @interportal_options
        = select_tag :map_to_interportal, options_for_select(options, 0), class: "form-control"
        %h5{:style => "margin-top: 5px;"} Ontology (acronym)
        = text_field_tag :map_to_interportal_ontology, nil, placeholder: 'Enter the ontology ACRONYM', class: "form-control"
        %h5{:style => "margin-top: 5px;"} Class
        = text_field_tag :map_to_interportal_class, nil, placeholder: 'Enter the class URI', class: "form-control"
      %div{:id => "external_form", :class => "mapping_form", :style => "display: none;"}
        %h5{:style => "margin-top: 5px;"} Ontology
        = text_field_tag :map_to_external_ontology, nil, placeholder: 'Enter the ontology URI', class: "form-control"
        %h5{:style => "margin-top: 5px;"} Class
        = text_field_tag :map_to_external_class, nil, placeholder: 'Enter the class URI', class: "form-control"

%div.row
  %div.col-12
    %div.form-group
      %label{for: "mapping_comment"} Comment
      = text_area(:mapping, :comment, rows: 5, class: "form-control")

%div.row
  %div.col-12
    %div.form-group
      %label{for: "mapping_relation"} Mapping relation type
      = select("mapping", "relation", options_for_select(@mapping_relation_options, @mapping_relation_options.first), {}, class: "form-control")

%div.row
  %div.col-12
    %span#create_mapping_spinner
      = loading_spinner
    #create_mapping_error
    #create_mapping_success_messages

:javascript
  bp_internal_formComplete_setup_functions();
