%div#mapping_to_content.form-group.my-3
  %div.form-group
    %lable Mapping type
    %div#display_options.mb-3
      %div.form-group
        %div.custom-control.custom-radio.custom-control-inline
          = radio_button "mapping_type", nil,  "internal", {checked: type?('internal'), id: 'internal_form_radio', class:'mapping_radio custom-control-input',data: {target:"#internal_form"}}
          %label.custom-control-label{for: "internal_form_radio"} Internal
        %div.custom-control.custom-radio.custom-control-inline
          = radio_button "mapping_type", nil,  "interportal", {checked: type?('interportal'), id: 'interportal_form_radio', class:'mapping_radio custom-control-input',data: {target:"#interportal_form"}}
          %label.custom-control-label{for: "interportal_form_radio"} Interportal
        %div.custom-control.custom-radio.custom-control-inline
          = radio_button "mapping_type", nil,  "external", {checked: type?('external'), id: 'external_form_radio', class:'mapping_radio custom-control-input', data: {target:"#external_form"}}
          %label.custom-control-label{for: "external_form_radio"} External


    %div#internal_form.mapping_form{style: "display: #{type?('internal') ? 'block':'none'}"}
      %div.form-group
        %label{for: "map_to"} Target class
        = render partial: 'shared/concept_picker', locals: {name: :map_to, concept_label: concept_to.label, ontology_acronym: 'all' , include_definition: true}
      %div.form-group
        %label{for: "map_to_concept_details_table"} Details
        %div#map_to_concept_details_table.form-control
    %div#interportal_form.mapping_form{style: "display: #{type?('interportal') ? 'block':'none'}"}
      %div.form-group
        %label{for: :map_to_interportal} InterPortal
        - options = interportal_options
        = select_tag :map_to_interportal, options_for_select(options, 0), class: "form-control"
      %div.form-group
        %label{for:  :map_to_interportal_ontology} Ontology (acronym)
        = text_field_tag :map_to_interportal_ontology, nil, placeholder: 'Enter the ontology ACRONYM', class: "form-control"
      %div.form-group
        %label{for:  :map_to_interportal_class} Class
        = text_field_tag :map_to_interportal_class, nil, placeholder: 'Enter the class URI', class: "form-control"

    %div#external_form.mapping_form{style: "display: #{type?('external') ? 'block':'none'}"}
      %div.form-group
        %label{for: :map_to_external_ontology} Ontology
        = text_field_tag :map_to_external_ontology, nil, placeholder: 'Enter the ontology URI', class: "form-control"
      %div.form-group
        %label{for: :map_to_external_class} Class
        = text_field_tag :map_to_external_class, nil, placeholder: 'Enter the class URI', class: "form-control"

:javascript
    jQuery(".mapping_radio").live("click", function() {
    var mapping_type = jQuery(this).data('target')
    jQuery("div.mapping_form").hide()
    jQuery(mapping_type).show()
  });