= render_in_modal do
  .d-flex.justify-content-end.mb-2
    - link, target = api_button_link_and_target(mappings_rest_url(@ontologies_param))
    = render RoundedButtonComponent.new(link: link, target: target, size: 'medium', title: t("components.go_to_api"))
  #mappings.paginate_ajax{:style => "overflow: auto; max-height: 600px;"}
    #mapping_results
      .mappings-table-pagination
        = will_paginate @page_results, :update => 'mappings', :params => { :target => params[:target] }
      - if @mappings.nil? or @mappings.empty?
        = t("mappings.show.no_mappings_found")
      - else            
        %table.table-content.table-content-stripped
          %thead
            %th #{@ontology_name}
            %th #{@target_ontology_name}
            %th Source
          - for map in @mappings
            %tr
              - map.classes.each do |cls|
                %td
                  - if internal_mapping?(cls)
                    = ajax_to_internal_cls(cls)
                  - else
                    = ajax_to_external_cls(cls)
              %td
                #{map.source} #{(map.process || {})[:source_name]}
      .mappings-table-pagination
        = will_paginate @page_results, :update => 'mappings', :params => { :target => params[:target] }
