- type, type_tooltip = mapping_type_tooltip(map)
- cls_link, ont_link, source_tooltip = mapping_links(map, concept)
- map_id = map.id.to_s.split("/").last

%tr.human{:id => map_id, class: map.source}
  %td.mappings-table-mapping-to
    = cls_link
  %td.mappings-table-mapping-to
    = ont_link
  %td
    = render ChipButtonComponent.new(class: 'chip_button_small mr-1', text: type, tooltip:"#{source_tooltip} mapping of type #{type_tooltip}")

  - if current_user_admin?
    %td{:class => 'delete_mappings_column'}
      - if map.id && !map.id.empty? && session[:user] && (session[:user].id.to_i == map.creator || session[:user].admin?) && map.source.eql?('REST')
        %div.d-flex.mappings-table-actions
          = link_to_modal(nil,
                  mapping_path(map_id, {conceptid_from: @concept.id}),
                  class: 'btn btn-link p-0 mr-1',
                  data: { show_modal_title_value: t("mappings.show_line.edit_mapping", preflabel: @concept.prefLabel)},
                  ) do
            = inline_svg_tag "edit.svg", width: '15px', height: '15px'
          = button_to inline_svg_tag('icons/delete.svg', width: '16px', heigth: '16px'), CGI.unescape(mapping_path(map.id)), class: 'btn btn-link p-0', method: :delete,  form: {data: { turbo: true, turbo_confirm: t("mappings.show_line.turbo_confirm"), turbo_frame: '_top'}}
