<!-- Container div to hold mapping filter results -->
<div id="mappings" style="text-align:center;overflow:hidden;">
	<div style="float: right; margin: 5px; line-height: 12px; width: 200px; text-align: left;">
		<input type="button" value="Export Current Results To RDF" class="blueButton" onclick="window.location='/mappings/show/<%=@ontology.ontologyId%>?target=<%=@target_ontology.ontologyId%>&user=<%=params[:user]%>&map_source=<%=params[:map_source]%>&rdf=rdf'">
		<% if @mapping_pages.total_mappings > 10000 %><span style="font-size: x-small; color: grey;"><strong>Note:</strong> This export option will only return the first 10000 mappings of the <%=@mapping_pages.total_mappings%> in the result set. To retrieve all the mappings, please see the <a href="http://www.bioontology.org/wiki/index.php/BioPortal_Mappings_Service">Mappings REST Service</a>.</span><%end%>
	</div>
	<% form_for :mapping, nil, :url => "/mappings/show/#{@ontology}", :html => { :id=>'filter',:onsubmit => 'ajaxForm(this,"#mappings",null);return false;' } do |f| %>
	<input type="hidden" name="target" value="<%=@destination_ont%>">
	<table class="form" style="margin: 5px;">
	    <thead>
	    	<tr><th colspan=2>Filter By</th></tr>
	    </thead>
		<tr>
			<th>User:</th><td class="top" align="left"><select name="user"style="min-width:200px;">
				<option value="">Any</option>
				<%=options_from_collection_for_select(@users, "id", "username",params[:user].to_i)%>	
			</select></td>
		</tr>
		<tr>
			<th>Source:</th>
			<td  align="left">
				<select name="map_source" style="min-width:200px;">
					<option value="" >Any</option>
					<%=options_for_select(@map_sources,params[:map_source])%>	
				</select>
			</td>
		</tr>
	
		<tr>	
		<td   colspan="2" align="right"><%= submit_tag "Filter", :class=>'blueButton'%> </td>
	</tr>
	
	
	
	<% end %>
	</table>
	
    <div id="mapping_results">
		<%= will_paginate @page_results,:update=>'mappings',:params=>{:target=>params[:target],:user=>params[:user],:map_source=>params[:map_source]} %>
		
		<table class="zebra" cellpadding="0" cellspacing="0" style="margin: 5px;">
			<thead>
			<tr>
				<th>Term</th>
				<th>Maps To</th>
			</tr>
			</thead>
			<%for mapping in @mappings%>
				<%begin%>
				<tr >
					<td class="map_source" align="right"> <%=link_to "#{mapping[1][0][:source_ont_name]} : #{mapping[1][0][:source_name]} -->",  :controller => 'visualize', :action => 'virtual', :id => to_param(params[:id]), :conceptid => encode_param(mapping[0]) %></td>
					<td align="left">
						<%for map in mapping[1]%>
						<div class="map_target" style="border:1px solid #C1DAD7;background-color:#e2ebf0;color:#234979;padding:5px;margin-bottom:4px;">				
							<%=link_to "#{map[:destination_ont_name]} : #{map[:destination_name]} (#{map[:count]})", :controller => 'visualize', :action => 'virtual', :id => map[:destination_ont].to_s, :conceptid => encode_param(map[:destination_id]) %>
							<span class="mapped_by">Mapped By <%for user in map[:users]%> <%=user%> <%unless user.eql?map[:users].last%>,<%end%>  <%end%></span>
						</div>
			
						<%end%>
			
					</td>
				</tr>
				<%rescue Exception=>e%>
				<%end%>
			<%end%>
		
		</table>
	    <%= will_paginate @page_results,:update=>'mappings',:params=>{:target=>params[:target],:user=>params[:user],:map_source=>params[:map_source]} %>
    </div>
</div>
