<br>
<h1><%=flash[:notice]%></h1>

<%= form_tag ("/process/mapping", {:multipart => true}) do %>
    <label for="file">File:</label> 
    <%= file_field_tag "file" %>
<br>

	<label for="user">User:</label>
	<select name="user">
		<%=options_from_collection_for_select(@users, "id", "username", selected = nil)%>	
	</select>

<br>
	<label for="source">Source Ontology:</label>
	<select name="source">
		<%=options_from_collection_for_select(@ontologies, "displayLabel", "id", selected = nil)%>
	</select>
	<br>
	<label for="dest">Destination Ontology:</label>
	<select name="dest">
		<%=options_from_collection_for_select(@ontologies, "displayLabel", "id", selected = nil)%>
	</select>
 	<br>
	<label for="names">Uses Names?</label>
		<input type="checkbox" name="names" value="true">
	<br>
	<label for="source_position">Source Position</label>
	<input type="text" name="source_position">
	<br>
	<label for="dest_position">Destination Position</label>
	<input type="text" name="dest_position">
	<br>
	<br>
	<label for="dest_position">Comment Position</label>
	<input type="text" name="comment">
	<br>
	<label for="map_source">Map Source</label>
	<input type="text" name="map_source">
	<br>
	<label for="relationship">Relationship</label>
	<input type="text" name="relationship">
	<br>
	<label for="delimiter">Delimiter use , or t for tab</label>
	<input type="text" name="delimiter">	
	<br>
    <%= submit_tag  "Upload" %>
<% end %>