<% require 'ostruct' %>

<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>

<%@title = "Ontology Recommender"%>
<style type="text/css">
  .found_concepts {
    display: none;
  }
</style>

<div style="padding: 1em;">
  <h1>Ontology Recommender</h1>

  <p style="max-width:850px;">
    Get recommendations for the most relevant ontologies based on an excerpt from a biomedical text that you provide
    <%=help_icon("/help#Recommender_Tab").html_safe%>
  </p>

  <div style="padding-bottom: 1em;">
    <div style="width: 610px;">
      <a href="javascript:void(0);" id="insert_text_link" style="font-size: 8pt; text-decoration: none; float: right; margin: 0 0 3px 5px;">insert sample text</a>
      <a href="javascript:void(0);" id="insert_keywords_link" style="font-size: 8pt; text-decoration: none; float: right; margin: 0 5px 3px;">insert sample keywords</a>
    </div>

    <% textarea_title = "Please paste at least a paragraph (50 words or more) of text to use in calculating ontology recommendations" %>
    <%=text_area :recommendation, :text, :title => textarea_title, :rows => 15, :style => "box-shadow: 0 0 3px gray; padding: 5px; width: 600px;", :class => "help_text" %>

    <br style="margin-bottom: 10px;"/>

    <%=render :partial => "shared/ontology_picker"%>

    <input type="button" id="recommender_button" value="Get Recommendations" style="margin-top: 10px;" class="link_button">
    <span class="recommender_spinner" style="display: none;"><img src="/images/spinners/spinner_000000_16px.gif" style="vertical-align: text-bottom;"></span>
    <span style='color: red;' class='recommender_error'></span>
  </div>
</div>

<div id="recommendations_container" style="display: none; padding: 0 13px; margin: 0 0 2em;">
  <h2 style="margin-bottom: 0;">Ontology Recommendations</h2>
  <div id="not_enough_text_error" style="color: red; margin-bottom: 7px;"></div>
  <table id="recommendations" style="display: inline-block;" class="zebra"></table>
</div>


