- new_record = @group.acronym.nil?
%div.alert-box.error{style: @errors.nil? ?  "display: none" : nil }
  %ul
    - unless @errors.nil?
      - for error in @errors
        %li
          = error
%div{:style => "width:500px"}
  %span.asterik{:style => "float:right;"} * fields are required
  %h3 #{title_text}
  %table#group_form.form
    %colgroup
      %col
      %col{style: "width: 100%"}
    %tr
      %th
        Acronym
        %span.asterik *
      %td.top
        - if new_record
          = f.text_field :acronym, class: "form-control"
        - else
          = f.text_field :acronym, class: "form-control", readonly: true
    %tr
      %th
        Name
        %span.asterik *
      %td.top
        = f.text_field :name, class: "form-control"
    %tr
      %th
        Description
      %td.top
        = f.text_area :description, class: "form-control"
    - unless new_record
      %tr
        %th
          Created
        %td.top
          = f.text_field :created, readonly: true, class: "form-control"
      %tr
        %th
          Ontologies
        %td.top
          = render SelectInputComponent.new(id: "group_ontologies", name: "group[ontologies]", values: @ontologies_group , selected: @group.ontologies , multiple: true, hide: true)
  %div.mt-2
    = f.submit button_text, class: "btn btn-primary mr-sm-2 group-form-accept"
    = link_to "Cancel", "javascript:;", class: "btn btn-primary dismiss-dialog"