%div.nested-form-input-container{data: {controller: "nested-form"}}
  %template{'data-nested-form-target':"template"}
    %div.d-flex.align-items-center.nested-form-wrapper.my-1{'data-new-record': 'true'}
      %div{style: 'width: 90%'}
        = template
      %div.d-flex.justify-content-end{style: 'width: 10%'}
        %div.delete{data: {action:"click->nested-form#remove"}}
          = inline_svg 'icons/delete.svg'
  %div.titles
    = header
  - rows.each_with_index  do |row , index|
    %div.d-flex.align-items-center.nested-form-wrapper.my-1{'data-new-record': 'true'}
      %div{style: 'width: 90%'}
        = row
      %div.d-flex.justify-content-end{style: 'width: 10%'}
        %div.delete{data: {action:"click->nested-form#remove"}}
          = inline_svg 'icons/delete.svg'

  %div{'data-nested-form-target': "target"}
  %div.add-another-object{data: {action:"click->nested-form#add"}}
    = inline_svg 'icons/plus.svg'
    %div
      Add another #{@object_name}