.dropdown-container
  .dropdown-title-bar{"data-toggle" => "collapse", "data-target" => "##{@id}"}
    = render Display::HeaderComponent.new(text: @title, tooltip: @tooltip)
    = image_tag("summary/arrow-down.svg", class: 'ml-2')

  .collapse{id: @id}
    - if content && !content.empty?
      = content
    - else
      = render Layout::ListComponent.new do |l|
        - l.row do  
          = empty_state || 'no data'
