<script type="text/javascript">
  editReview = function() {
    tb_remove();
    jQuery('input.star').rating();
  }

  jQuery(document).ready(function(){
    jQuery('input.star').rating();
  });
</script>

<% form_for(:review, :url=>review_path(@review), :html=>{:onsubmit=>"ajaxForm(this, '#review_table_container_#{@review.id}', editReview); return false;"}) do  %>

<input type="hidden" value="put" name="_method"/>
<%=hidden_field :review,:ontology_id%>
<%=hidden_field :review,:project_id%>
<%=hidden_field :review,:user_id%>
<fieldset>
	<legend><b>Review For <%=@review.ontology.displayLabel%></b></legend>
<table>
	<tr>
		<td>Ratings<br>
			<%rating_count = 0%>
			<%for rating in @review.ratings%>
			<div style="padding:2px;border-top:1px solid gray;">
				<input name="star_<%=rating.id%>" type="radio" class="star" value="1" <%if rating.value.eql?(1)%>checked="checked"<%end%> />
				<input name="star_<%=rating.id%>" type="radio" class="star" value="2" <%if rating.value.eql?(2)%>checked="checked"<%end%> />
				<input name="star_<%=rating.id%>" type="radio" class="star" value="3" <%if rating.value.eql?(3)%>checked="checked"<%end%> />
				<input name="star_<%=rating.id%>" type="radio" class="star" value="4" <%if rating.value.eql?(4)%>checked="checked"<%end%> />
				<input name="star_<%=rating.id%>" type="radio" class="star" value="5" <%if rating.value.eql?(5)%>checked="checked"<%end%> />

			<b>&nbsp;<%=rating.rating_type.name%></b>

			<%rating_count += 1%>
			</div>
			<%end%>

			</td>
	</tr>
	<tr>
		<td><%=text_area :review, :review,:cols=>80,:rows=>5%></td>
	</tr>
</table>
</fieldset>



    <%=submit_tag "Submit Reviews",:class=>"blueButton"%>
  </p>
<%end%>

<script>
  // Do this after the HTML above loads
  jQuery('input.star').rating();
</script>

