<%@title = "Reviews of the #{@ontology.displayLabel}"%>

<br>
<%if session[:user].nil?%>
	<input type="button" class ="blueButton" value="Review Ontology" onclick ="window.location='/login'">
<%else%>
<span class="blueButton"><%=link_to "Review Ontology",new_review_path(:ontology=>@ontology.ontologyId)%></span>
<%end%>


<br><br>
<h1>Reviews for <%=@ontology.displayLabel%></h1>
<table class="zebra" cellpadding="0" cellspacing="0" width="70%">

<% for review in @reviews %>
	<thead>
	<tr>

		<th>Review By <%=review.user.username%> <%unless review.project.nil?%> From Project <%=link_to review.project.name,project_path(review.project)%><%end%><%if isOwner?(review.user_id)%> <%=link_to "Edit Review",edit_review_path(review)%> <%end%></th>
	</tr>
	</thead>

	<tr>
			<td><div class="star_ratings">
			<%for rating in review.ratings%>
			<li>
					<%if rating.value.eql?(0)%>
					<span style="float:left;">Not Rated</span>
					<%else%>
					<input name="star_<%=rating.id%>" type="radio" class="star" value="1" <% if rating.value.to_i.eql?(1)%> checked="checked" <%end%> disabled="disabled" />
					<input name="star_<%=rating.id%>" type="radio" class="star" value="2" <% if rating.value.to_i.eql?(2)%> checked="checked" <%end%>disabled="disabled" />
					<input name="star_<%=rating.id%>" type="radio" class="star" value="3" <% if rating.value.to_i.eql?(3)%> checked="checked" <%end%>disabled="disabled" />
					<input name="star_<%=rating.id%>" type="radio" class="star" value="4" <% if rating.value.to_i.eql?(4)%> checked="checked" <%end%>disabled="disabled" />
					<input name="star_<%=rating.id%>" type="radio" class="star" value="5" <% if rating.value.to_i.eql?(5)%> checked="checked" <%end%>disabled="disabled" />


					<%end%>
				<b>&nbsp;<%=rating.rating_type.name%></b>
			</li>

			<%end%>
			</div>
			<p><%=review.review%></p>

		</td>
	</tr>

<% end %>
</table>

<script>
  // Do this after the HTML above loads
  jQuery('input.star').rating();
</script>


