<script type="text/javascript">
  jQuery.rloader([
    {type:'css',src:'/stylesheets/layout/jquery.rating.css'},
    {type:'js',src:'/javascripts/jquery.rating.pack.js'}
  ]);

  submitReview = function() {
    tb_remove();
    jQuery('input.star').rating();
    if (jQuery("#reviews_container").children("div:first").length) {
      jQuery("#reviews_container").children("div:first").before(jQuery("#review_data_temp").html());
    } else {
      jQuery("#reviews_container").html(jQuery("#review_data_temp").html());
    }
    jQuery("#review_data_temp").html("");
  }

  jQuery(document).ready(function(){
    jQuery('input.star').rating();
  });
</script>

<% form_for(:review,:url=>reviews_path,:html=>{:onsubmit=>"ajaxForm(this, '#review_data_temp', submitReview); return false;"}) do  %>


<%=hidden_field :review,:ontology_id%>
<%=hidden_field :review,:project_id%>
<%=hidden_field :review,:user_id%>
<fieldset>
	<legend><b>Review For <%=@review.ontology.displayLabel%></b></legend>
<table>
	<tr>
		<td>Ratings<br>
			<%rating_count = 0%>
			<%for rating in @rating_types%>
			<div style="padding:2px;border-top:1px solid gray;">
				<input name="star_<%=rating.id%>" type="radio" class="star" value="1" />
				<input name="star_<%=rating.id%>" type="radio" class="star" value="2" />
				<input name="star_<%=rating.id%>" type="radio" class="star" value="3" />
				<input name="star_<%=rating.id%>" type="radio" class="star" value="4" />
				<input name="star_<%=rating.id%>" type="radio" class="star" value="5" />

			<b>&nbsp;<%=rating.name%></b>

			<%rating_count += 1%>
			</div>
			<%end%>

			</td>
	</tr>
	<tr>
		<td><%=text_area :review, :review,:cols=>80,:rows=>5%></td>
	</tr>
</table>
</fieldset>



    <%=submit_tag "Submit Review",:class=>"blueButton"%>
  </p>
<%end%>

<script>
  // Do this after the HTML above loads
  jQuery('input.star').rating();
</script>


