= form_for(:review, :url => reviews_path, :remote => true, :id => "new_review_form") do |f|
  = f.hidden_field :ontologyReviewed, value: @review.ontologyReviewed
  = f.hidden_field :creator, value: @review.creator
  %fieldset
    %legend
      %b
        Review For #{@ontology.name}
    %table
      %tr
        %td
          Ratings
          %br/
          - for rating in @rating_types
            %div{:style => "padding:2px;border-top:1px solid gray;"}
              - (1..5).each do |i|
                = f.radio_button rating, i, class: "star"
              &nbsp;#{rating.to_s.chomp("Rating").capitalize}
      %tr
        %td= f.text_area :body, value: @review.body, cols: 80, rows: 5
  = submit_tag "Submit Review", class: "blueButton"

:javascript
  // Do this after the HTML above loads
  jQuery('input.star').rating();
