
<script type="text/javascript" language="javascript" src="/javascripts/ratingsys.js"></script>  

<h1>New review</h1>


<% form_tag('/reviews',:method => 'post') do  %>

<%count = 0%>
<%for review in @reviews%>

<%=hidden_field_tag "review#{count}[ontology]",review.ontology%>
<%=hidden_field_tag "review#{count}[project_id]",review.project_id%>
<fieldset>
	<legend><b>Review For <%=review.ontology%></b></legend>
<table>
	<tr>
		<td>Ratings<br>
			<%rating_count = 0%>
			<%for rating in @rating_types%>
			<%=hidden_field_tag "review#{count}[ratings#{rating_count}][value]","0",:id=>"review#{count}[ratings#{rating_count}[value]]"%>
			<%=hidden_field_tag "review#{count}[ratings#{rating_count}][rating_type_id]",rating.id%>
			<div style="padding:2px;border-top:1px solid gray;">
			
			<div class="rateMe" title="Rate Me...">
			    <a onclick="rateIt(this)" id="<%="review#{count}[ratings#{rating_count}[value]]_1"%>" title="ehh..." onmouseover="rating(this)" onmouseout="off(this)"></a>
			    <a onclick="rateIt(this)" id="<%="review#{count}[ratings#{rating_count}[value]]_2"%>" title="Not Bad" onmouseover="rating(this)" onmouseout="off(this)"></a>
			    <a onclick="rateIt(this)" id="<%="review#{count}[ratings#{rating_count}[value]]_3"%>" title="Pretty Good" onmouseover="rating(this)" onmouseout="off(this)"></a>
			    <a onclick="rateIt(this)" id="<%="review#{count}[ratings#{rating_count}[value]]_4"%>" title="Pretty Good" onmouseover="rating(this)" onmouseout="off(this)"></a>
			    <a onclick="rateIt(this)" id="<%="review#{count}[ratings#{rating_count}[value]]_5"%>" title="Pretty Good" onmouseover="rating(this)" onmouseout="off(this)"></a>
			</div>
			<b>&nbsp;<%=rating.name%></b>
			
			<%rating_count += 1%>
			</div>
			<%end%>
			
			</td>
	</tr>
	<tr>
		<td><%=text_area_tag "review#{count}[review]",{},:cols=>80,:rows=>5%></td>
	</tr>
</table>
</fieldset>
<%count = count +1%>
<%end%>



    <%=submit_tag "Submit Reviews",:class=>"blueButton"%>
  </p>
<% end %>


