<%@title = "Annotator"%>

<%=javascript_include_tag "JqueryPlugins/datatables/js/jquery.dataTables.js"%>
<%=javascript_include_tag "bp_annotator.js"%>

<div style="padding: 1em;">
  <h1>Annotator</h1>
  <p>
    <%=t('home.annotate.intro').nil? || t('home.annotate.intro').empty? ? "Get annotations for biomedical text with terms from the ontologies #{help_icon("/help#Annotator_Tab")}" : t('home.annotate.intro')%>
  </p>

  <div style="padding-bottom: 1em;">
    <div style="width: 610px;">
      <a href="javascript:void(0);" id="insert_text_link" style="font-size: 8pt; text-decoration: none; float: right; margin-bottom: 3px;">insert sample text</a>
    </div>

    <% textarea_title = "Enter or paste text to be annotated" %>
    <%=text_area :annotation, :text, :title => textarea_title, :rows => 15, :style => "box-shadow: 0 0 3px gray; padding: 5px; width: 600px;", :class => "help_text" %>

    <br style="margin-bottom: 10px;"/>

    <%=render :partial => "shared/ontology_picker", :locals => { :custom_ontologies => @annotator_ontologies }%>

    <b>Select UMLS Semantic Types</b><br/>
    <%= select_tag :semanticTypes, options_for_select(@semantic_types_for_select), :multiple => 'true', "data-placeholder".to_sym => "Type here to select UMLS semantic types", :style => "margin-bottom: 15px; width: 433px;", :class => "help_text" %><br/>

    <br/>
    <p>

      <!-- TODO: When the REST API supports different mapping types, revise this section of the UI.
        <b>Include Mappings:</b>&nbsp;&nbsp;
        <%#=check_box_tag :mappings, :automatic, false, :id => "mappings_automatic"%> <%#=label_tag :mappings_automatic, "Automatic"%>&nbsp;&nbsp;
        <%#=check_box_tag :mappings, :manual, false, :id => "mappings_manual"%> <%#=label_tag :mappings_manual, "Manual"%><br/>
      -->
      <%=check_box_tag :mappings, :all, false, :id => "mappings_all"%> <%=label_tag :mappings_all, "Include Mappings"%><br/>
    </p>

    <p>
      <b>Include Ancestors Up To Level:</b>&nbsp;&nbsp;
      <%=select_tag :max_level, "<option selected='selected' value='0'>None</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='999'>All</option>", :style => "width: 70px;"%>
    </p>

    <!-- annotator_button calls 'get_annotations' in bp_annotator.js -->
    <input type="button" id="annotator_button" value="Get Annotations" style="margin-top: 15px;" class="link_button">
    <span class="annotator_spinner" style="display: none;"><img src="/images/spinners/spinner_000000_16px.gif" style="vertical-align: text-bottom;"></span>
    <span style='color: red;' id="annotator_error" class='annotator_error'></span>
  </div>
</div>

<div id="annotations_container" style="display: none; padding: 0 13px; margin: 0 0 2em;" data-bp_rest_server="<%=$REST_DOMAIN%>">
  <div style="float: right; font-style: oblique; color: gray;" id="result_counts"></div>

  <h2 style="margin-bottom: 0;">
    Annotations
    <div id="filter_list" style="font-size: 9pt; color: gray; display: none; clear: both; margin: -15px 0 5px">
      <span id="filter_title">Results are filtered by:</span>&nbsp;
      <span id="filter_names"></span>
    </div>
  </h2>

  <div id="results_error" style="color: red; margin-bottom: 7px;"></div>

  <table id="annotations" style="display: inline-block; min-width: 700px; width: 100%;" class="zebra">
    <thead>
      <tr>
        <th style="padding-right: 6px;" title="Term">
          Term
          <span class="popup_container" style="padding-left: 1.7em;"><span class="bp_popup_link_container"><a href="javascript:void(0);" id="filter_terms" class="bp_popup_link">filter</a></span><div id="terms_filter_list" class="bp_popup_list" style="display: none;"></div></span>
        </th>
        <th style="padding-right: 6px" title="Ontology">
          Ontology
          <span class="popup_container" style="padding-left: 1.7em;"><span class="bp_popup_link_container"><a href="javascript:void(0);" id="filter_ontologies" class="bp_popup_link">filter</a></span><div id="ontology_filter_list" class="bp_popup_list" style="display: none;"></div></span>
        </th>
        <th style="padding-right: 6px; min-width: 85px;" title="Type">
          Type
          <span class="popup_container" style="padding-left: 1.7em;"><span class="bp_popup_link_container"><a href="javascript:void(0);" id="filter_match_type" class="bp_popup_link">filter</a></span><div id="match_type_filter_list" class="bp_popup_list" style="display: none;"></div></span>
        </th>
        <th>UMLS Sem Type</th>
        <th>Context</th>
        <th style="padding-right: 6px;" title="Matched Term">
          Matched Term
          <span class="popup_container" style="padding-left: 1.7em;"><span class="bp_popup_link_container"><a href="javascript:void(0);" id="filter_matched_terms" class="bp_popup_link">filter</a></span><div id="matched_terms_filter_list" class="bp_popup_list" style="display: none;"></div></span>
        </th>
        <th style="padding-right: 6px; min-width: 200px;" title="Matched Ontology">
          Matched Ontology
          <span class="popup_container" style="padding-left: 1.7em;"><span class="bp_popup_link_container"><a href="javascript:void(0);" id="filter_matched_ontologies" class="bp_popup_link">filter</a></span><div id="matched_ontology_filter_list" class="bp_popup_list" style="display: none;"></div></span>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <div id="download_links" style="margin-top: 1.5em;">
    <p>
      <span style="padding: 0 3px 0 0;"><b>Format Results As: </b></span>&nbsp;
      <span class="link_button ui_button" id="download_links_tabdelimited"></span>&nbsp;
      <span class="link_button ui_button" id="download_links_json"></span>&nbsp;
      <span class="link_button ui_button" id="download_links_text"></span>&nbsp;
      <span class="link_button ui_button" id="download_links_xml"></span>
    </p>

    <span style="font-size: 8pt;">To reproduce these results use the following parameters:
      <br/>
      <span id="annotator_parameters" style="color: gray; font-weight: bold;"></span>
      <br/>
      Additional parameters are documented at <a href="http://stagedata.bioontology.org/documentation#nav_annotator" target="_blank">Annotator Web Service</a>
    </span>
  </div>
</div>

