%h2.card_title
  %span.me-2
    = @title
  - if @link
    %span
      = link_to(@link, target: "_blank") do
        = render Display::InfoTooltipComponent.new(text: @link_title)
  - if show_icon?
    = render IconWithTooltipComponent.new(icon: "json.svg",link: @service_link, target: '_blank', title: t("components.go_to_api"), size:'small', style: 'line-height: 0; margin-top: 3px;margin-left: 6px;')
  - if action_links?
    %span
      = render Layout::HorizontalListComponent.new do |l|
        - action_links.each { |link| l.element { raw link }}

- if show_card?
  = render Layout::CardComponent.new do
    = content
- else
  %div
    = content