</div>
</div>

%footer.footer.pt-4.mt-5
  %div.container
    %div.row
      %div.col-6.col-md
        %h6 PRODUCTS
        %ul.list-unstyled
          %li= link_to('BioPortal', root_path())
          %li= link_to('BioPortal REST API', 'http://data.bioontology.org/documentation', target: '_blank')
          %li= link_to('BioPortal Virtual Appliance', 'https://www.bioontology.org/wiki/index.php/Category:NCBO_Virtual_Appliance', target: '_blank')
          %li= link_to('NCBO Web Widgets', 'http://www.bioontology.org/wiki/index.php/NCBO_Widgets', target: '_blank')      
      %div.col-6.col-md
        %h6 SUPPORT
        %ul.list-unstyled
          %li= link_to('Contact Us', feedback_path(location: encode_param(request.url)), class: 'pop_window')
          %li= link_to('Documentation', 'https://www.bioontology.org/wiki/index.php/BioPortal_Help', target: '_blank')
          %li= link_to('NCBO Wiki', 'https://www.bioontology.org/wiki/', target: '_blank')
      %div.col-6.col-md
        %h6 ABOUT
        %ul.list-unstyled
          %li= link_to('About Us', 'https://www.bioontology.org/about-ncbo', target: '_blank')
          %li= link_to(raw('Mission & Vision'), 'https://www.bioontology.org/mission', target: '_blank')
          %li= link_to('Team', 'https://www.bioontology.org/project-team', target: '_blank')
          %li= link_to('Projects', projects_path())
      %div.col-12.col-md
        %h6 CONNECT
        %ul.list-inline
          %li.list-inline-item= link_to(raw(icon('facebook', class: 'fa-2x')), 'https://www.facebook.com/National-Center-for-Biomedical-Ontology-127444774011153/', target: '_blank')
          %li.list-inline-item= link_to(raw(icon('twitter', class: 'fa-2x')), 'http://twitter.com/bioontology', target: '_blank')
          %li.list-inline-item= link_to(raw(icon('github', class: 'fa-2x')), 'http://github.com/ncbo', target: '_blank')
    %div.row{style: "font-size: 0.9rem;"}
      %div.col
        The 
        %strong National Center for Biomedical Ontology 
        was founded as one of the National Centers for Biomedical Computing, supported by the NHGRI, the NHLBI, and the NIH Common Fund under grant U54-HG004028.
    %div.row.pt-2{style: "font-size: 0.9rem;"}
      %div.col Copyright © 2005‑2018, The Board of Trustees of Leland Stanford Junior University. All rights reserved.
    %div.row.pt-2
      %div.col
        %ul.list-inline
          %li.list-inline-item
            = link_to('CITE US', 'https://www.bioontology.org/wiki/index.php/BioPortal_Help#How_to_cite_NCBO_and_BioPortal', target: '_blank')
          %li.list-inline-item
            %i.fa.fa-ellipsis-v{"aria-hidden" => "true"}
          %li.list-inline-item
            = link_to('PRIVACY POLICY', 'http://www.bioontology.org/privacy.html',  target: '_blank')
          %li.list-inline-item
            %i.fa.fa-ellipsis-v{"aria-hidden" => "true"}
          %li.list-inline-item
            = link_to('TERMS', 'http://www.bioontology.org/terms.html', target: '_blank')

= javascript_include_tag "application"
= render partial: "ga_tracking"
