</div>
</div>

%br
%br/
.footer-container
  %footer
    - footerlinks = $FOOTER_LINKS[I18n.locale] || $FOOTER_LINKS[:en]
    .footer-header
      .footer-logo
        %img{:src => "#{asset_path("logos/ontoportal.svg")}"}
        - logo = $UI_THEME.to_s.capitalize
        - logo.sub! 'portal' , 'Portal'
        %p
          = logo
      .footer-social-media-links
        - footerlinks[:social].each do |link|
          %a{:href => link[:link], :target => "_blank"}
            %img{:src => "#{asset_path(link[:logo])}"}/
    .footer-nav-links
      - footerlinks[:links].each do |footerlink|
        %div
          %h2
            = footerlink[:title]
          %div
            - footerlink[:items].each do |item|
              %a{:href => item[:link], :target => "_blank"}
                = item[:title]
          



= javascript_include_tag "application"
= render partial: "ga_tracking"
