</div>
</div>

%br
%br/
.footer-container
  %footer
    .footer-header
      .footer-logo
        %img{:src => "#{asset_path("logos/ontoportal.svg")}"}
        - logo = $UI_THEME.to_s.capitalize
        - logo.sub! 'portal' , 'Portal'
        %p
          = logo
      .footer-social-media-links
        - $FOOTER_LINKS[:social].each do |link|
          %a{:href => link[:link], :target => "_blank"}
            %img{:src => "#{asset_path(link[:logo])}"}/
    .footer-nav-links
      - $FOOTER_LINKS[:sections].keys.each do |section|
        %div
          %h2
            = t("layout.footer."+section)
          %div
            - $FOOTER_LINKS[:sections][section].keys.each do |item|
              %a{:href => $FOOTER_LINKS[:sections][section][item], :target => "_blank"}
                = t("layout.footer."+section)
          



= javascript_include_tag "application"
= render partial: "ga_tracking"
