-# TODO: Refactor our layouts so that we don't open HTML tags in one file and
-# close them in another. This is confusing / difficult to read.
</div>
</div>
</main>

%footer.footer.mt-auto.py-4
  %div.container
    %div.row
      %div.col-6.col-md
        %h6 PRODUCTS
        %ul.list-unstyled
          %li= link_to('BioPortal', root_path)
          %li= link_to('BioPortal REST API', Rails.configuration.settings.links[:rest_api], target: '_blank')
          %li= link_to('BioPortal Virtual Appliance', Rails.configuration.settings.links[:virtual_appliance], target: '_blank')
          %li= link_to('NCBO Web Widgets', Rails.configuration.settings.links[:widgets], target: '_blank')
      %div.col-6.col-md.footer-support
        %h6 SUPPORT
        %ul.list-unstyled
          %li= link_to('Contact Us', feedback_path, class: 'pop_window')
          %li= link_to('Documentation', Rails.configuration.settings.links[:help], target: '_blank')
          %li= link_to('NCBO Wiki', Rails.configuration.settings.links[:wiki], target: '_blank')
      %div.col-6.col-md
        %h6 ABOUT
        %ul.list-unstyled
          %li= link_to('About Us', Rails.configuration.settings.links[:about], target: '_blank')
          %li= link_to(raw('Mission & Vision'), Rails.configuration.settings.links[:mission], target: '_blank')
          %li= link_to('Team', Rails.configuration.settings.links[:team], target: '_blank')
          %li= link_to('Projects', projects_path)
      %div.col-12.col-md
        %h6 CONNECT
        %ul.list-inline
          %li.list-inline-item
            = link_to(Rails.configuration.settings.links[:facebook], target: '_blank') do
              %i.fab.fa-2x.fa-facebook-f
          %li.list-inline-item
            = link_to(Rails.configuration.settings.links[:twitter], target: '_blank') do
              %i.fab.fa-2x.fa-twitter
          %li.list-inline-item
            = link_to(Rails.configuration.settings.links[:github], target: '_blank') do
              %i.fab.fa-2x.fa-github
    %div.row.legal-text
      %div.col
        = t('.grant_html')
    %div.row.pt-2.legal-text
      %div.col
        = t('.copyright_html')
    %div.row.pt-2
      %div.col
        %ul.list-inline
          %li.list-inline-item
            = link_to('CITE US', Rails.configuration.settings.links[:cite], target: '_blank')
          %li.list-inline-item
            %i.fas.fa-ellipsis-v{"aria-hidden" => "true"}
          %li.list-inline-item
            = link_to('PRIVACY POLICY', Rails.configuration.settings.links[:privacy_policy],  target: '_blank')
          %li.list-inline-item
            %i.fas.fa-ellipsis-v{"aria-hidden" => "true"}
          %li.list-inline-item
            = link_to('TERMS', Rails.configuration.settings.links[:terms], target: '_blank')

= javascript_include_tag "application"
