</div>
</div>

%footer.footer.pt-4.mt-5
  %div.container
    %div.row
      %div.col-6.col-md
        %h6 PRODUCTS
        %ul.list-unstyled
          %li= link_to('IndustryPortal', root_path())
          %li= link_to('IndustryPortal REST API', 'http://data.bioontology.org/documentation', target: '_blank')
          %li= link_to('BioPortal Virtual Appliance', 'https://www.bioontology.org/wiki/index.php/Category:NCBO_Virtual_Appliance', target: '_blank')
          %li= link_to('NCBO Web Widgets', 'http://www.bioontology.org/wiki/index.php/NCBO_Widgets', target: '_blank')
      %div.col-6.col-md.footer-support
        %h6 SUPPORT
        %ul.list-unstyled
          %li= link_to('Contact Us', feedback_path(location: encode_param(request.url)), class: 'pop_window')
          %li= link_to('Documentation', 'https://industryportal.github.io/', target: '_blank')
          %li= link_to('NCBO Wiki', 'https://www.bioontology.org/wiki/', target: '_blank')
      %div.col-6.col-md
        %h6 ABOUT
        %ul.list-unstyled
          %li= link_to('About Us', 'https://www.bioontology.org/about-ncbo', target: '_blank')
          %li= link_to(raw('Mission & Vision'), 'https://www.bioontology.org/mission', target: '_blank')
          %li= link_to('Team', team_path, target: '_blank')
          %li= link_to('Projects', projects_path())
      %div.col-12.col-md
        %h6 CONNECT
        %ul.list-inline
          %li.list-inline-item
            = link_to('http://twitter.com/bioontology', target: '_blank') do
              %i.fab.fa-2x.fa-twitter
          %li.list-inline-item
            = link_to('https://github.com/IndustryPortal', target: '_blank') do
              %i.fab.fa-2x.fa-github
    -#%div.row.legal-text
    -#  %div.col
    -#    = t('.grant_html')
    -#%div.row.pt-2.legal-text
    -#  %div.col
    -#    = t('.copyright_html')
    -#%div.row.pt-2
    -#  %div.col
    -#    %ul.list-inline
    -#      %li.list-inline-item
    -#        = link_to('CITE US', 'https://www.bioontology.org/wiki/index.php/BioPortal_Help#How_to_cite_NCBO_and_BioPortal', target: '_blank')
    -#      %li.list-inline-item
    -#        %i.fas.fa-ellipsis-v{"aria-hidden" => "true"}
    -#      %li.list-inline-item
    -#        = link_to('PRIVACY POLICY', 'https://www.bioontology.org/privacy/',  target: '_blank')
    -#      %li.list-inline-item
    -#        %i.fas.fa-ellipsis-v{"aria-hidden" => "true"}
    -#      %li.list-inline-item
    -#        = link_to('TERMS', 'https://www.bioontology.org/terms/', target: '_blank')

= javascript_include_tag "application"
= render partial: "ga_tracking"

