</div>
</div>

%br
%br/
.footer-container
  %footer
    .footer-header
      .footer-logo
        %img{:src => "#{asset_path("logos/ontoportal.svg")}"}
        - logo = $UI_THEME.to_s.capitalize
        - logo.sub! 'portal' , 'Portal'
        %p
          = logo
      .footer-social-media-links
        - $FOOTER_LINKS[:social].each do |link|
          %a{:href => link[:link], :target => "_blank"}
            = inline_svg(link[:logo], width: "32px", height: "32px")
    .footer-nav-links
      - $FOOTER_LINKS[:sections].each do |key, section_links|
        %div
          %h2
            = t("layout.footer."+key.to_s)
          %div
            - section_links.each do |section , link|
              %a{:href => link, :target => "_blank"}
                = t("layout.footer."+section.to_s)
          



= javascript_include_tag "application"
= render partial: "ga_tracking"
