<%if flash[:notice] %>
  <div style="margin: 13px; padding: 5px; border: 1px solid gray; font-size:14px; background-color: #ffffcc;">
      <p style="text-align: left; margin-bottom: 0;">
          <%=flash[:notice] %>
      </p>
  </div>
<%end %>

<%do_not_display_subdomain_info_here = Set.new(["homeall_resources"])%>
<%if at_slice? && !do_not_display_subdomain_info_here.include?("#{controller.controller_name}#{controller.action_name}")%>
  <div class="subdomain_info" style="margin: 13px; padding: 5px; border: 1px solid gray; font-size:14px; background-color: #ffffcc;">
    <p style="text-align: left; margin-bottom: 0;">
      <% query_string = request.query_string.empty? ? "" : "?#{request.query_string}" %>
      You are viewing the <b><%=@subdomain_filter[:name]%></b> <a target="_blank" href="help?pop=true#slice_definition" class="pop_window"><%=$SITE%> Slice</a> at <b><%=request.host%></b>. To see all of the ontologies in <%=$SITE%> <a href="<%="#{$UI_URL}#{request.path}#{query_string}"%>">visit the full site</a>.
    </p>
  </div>
<%end%>

<div id="bd">
  <% message_name = "" %>
  <% unless $SITE_NOTICE.nil? || $SITE_NOTICE.empty? %>
    <% $SITE_NOTICE.each_key { |k| message_name = k } %>
    <% unless cookies[message_name.to_sym].eql?("true") %>
      <script type="text/javascript">
        function close_message(){
          var exdate = new Date();
          exdate.setDate(exdate.getDate() + 365);
          document.cookie="<%=message_name%>=true; expires="+exdate.toGMTString();
          jQuery("#notice_message").hide();
        }
      </script>
      <div style="padding: 13px 10px 10px; margin: 10px; border:1px solid #EFEFEF; background-color: #FCE7E7;" id="notice_message">
        <%=$SITE_NOTICE[message_name.to_sym]%>&nbsp;&nbsp;<a href="#" onclick="close_message(); return false;" style="font-size: small; color: darkGray;">[close]</a>
      </div>
    <% end %>
  <% end %>
