- if Rails.env.appliance?
  = license_notification(current_license())

- flash.each do |key, message|
  %div{class: "flash alert #{flash_class(key)} alert-dismissible fade show", role: "alert"}
    = message
    %button{type: 'button', class: 'btn-close', 'data-bs-dismiss': 'alert', 'aria-label': 'Close'}

- do_not_display_subdomain_info_here = Set.new(["homeall_resources"])
- if at_slice? && !do_not_display_subdomain_info_here.include?("#{controller.controller_name}#{controller.action_name}")
  %div{class: 'alert alert-warning mt-3'}
    - query_string = request.query_string.empty? ? "" : "?#{request.query_string}"
    You are viewing the
    %b= @subdomain_filter[:name]
    = link_to("#{$SITE} slice", Rails.configuration.settings.links[:help_slice], target: '_blank')
    at
    = succeed "." do
      %b= request.host
    Visit the full
    = link_to("#{$SITE}", "#{$UI_URL}#{request.path}#{query_string}")
    = succeed "." do
      site
#site-notice
  - message_name = ""
  - unless $SITE_NOTICE.nil? || $SITE_NOTICE.empty?
    - $SITE_NOTICE.each_key { |k| message_name = k }
    - unless cookies[message_name.to_sym].eql?("true")
      :javascript
        function close_message(){
          var exdate = new Date();
          exdate.setDate(exdate.getDate() + 365);
          document.cookie="#{message_name}=true; expires="+exdate.toGMTString();
          jQuery("#notice_message").hide();
        }
      = tag.div(id: "notice_message", class: %w(alert alert-info), role: "alert") do
        %div= raw($SITE_NOTICE[message_name])
        %a{href: "#", onclick: "close_message(); return false;", class: "ps-3"} [close]
