- content_section = current_section
- concept_title = @concept.nil? ? "" : " - #{@concept.prefLabel} - Classes"
- @title = "#{@ontology.name}#{concept_title}"

- sub = @submission_latest
- details_available = true
- if sub.nil? || (sub.respond_to?(:status) && sub.status == 404)
  - details_available = false

= render :partial =>'layouts/header'

%div#bd

  :javascript
    // Javascript History HTML5 API
    if ( typeof JSON === 'undefined' ) {
      var
        url = '/javascripts/history/json2.js',
        scriptEl = document.createElement('script');
      scriptEl.type = 'text/javascript';
      scriptEl.src = url;
      document.body.appendChild(scriptEl);
    }

    // Ontology viewer vars
    jQuery(document).data().bp.ont_viewer = {};
    jQuery(document).data().bp.ont_viewer.ontology_id = jQuery(document).data().bp.ontology.acronym;
    jQuery(document).data().bp.ont_viewer.ontology_version_id = jQuery(document).data().bp.submission_latest.submissionId;
    jQuery(document).data().bp.ont_viewer.ontology_name = "#{@ontology.name}";
    jQuery(document).data().bp.ont_viewer.org_site = "#{$ORG_SITE}";
    jQuery(document).data().bp.ont_viewer.concept_id = "#{params[:conceptid] || (@concept ? @concept.id : 'root')}";
    jQuery(document).data().bp.ont_viewer.content_section = "#{sanitize(h(content_section))}";
    jQuery(document).data().bp.ont_viewer.concept_param = "#{"conceptid=\#{params[:conceptid]}" unless params[:conceptid].nil? || params[:conceptid].empty?}";
    jQuery(document).data().bp.ont_viewer.concept_name = "#{@concept.prefLabel unless @concept.nil?}";
    jQuery(document).data().bp.ont_viewer.metadata_only = "#{@ontology.summaryOnly}";
    jQuery(document).data().bp.ont_viewer.purl_prefix = "#{(Rails.configuration.settings.purl[:enabled] ? Rails.configuration.settings.purl[:prefix]+"/"+@ontology.acronym : '')}";
    jQuery(document).data().bp.ont_viewer.concept_name_title = (jQuery(document).data().bp.ont_viewer.concept_name == "") ?
        "" : " - " + jQuery(document).data().bp.ont_viewer.concept_name;
    jQuery(document).data().bp.ont_viewer.lang = "#{request_lang(sub)}";
    jQuery(document).data().bp.ont_viewer.submission_lang = #{submission_languages(sub).to_json.html_safe};
    jQuery(document).data().bp.ont_viewer.lang_sections = #{ontology_data_sections.to_json.html_safe};

  -# Modal dialog for creating a new mapping (must reside in a top-level position in the document to display properly).
  %div#createNewMappingModal{class: "modal fade", tabindex: "-1", "aria-labelledby": "createNewMappingLabel"}
    %div.modal-dialog.modal-lg
      %div.modal-content
        %div.modal-header
          %h4#createNewMappingLabel.modal-title
          %button.btn-close{type: "button", "data-bs-dismiss": "modal", "aria-label": "Close"}
        %div.createNewMappingModalBody.modal-body
        %div.modal-footer
          %button{type: "button", class: "btn btn-secondary", "data-bs-dismiss": "modal"} Close
          = submit_tag("Create Mapping", class: "btn btn-primary", id: "create_mapping_button")

  -# Modal dialog for getting a permanent link to a class (must reside in a top-level position in the document to display properly).
  %div#classPermalinkModal{class: "modal fade", tabindex: "-1", aria: {labelledby: "classPermalinkLabel", hidden: "true"}}
    %div.modal-dialog.modal-dialog-centered.modal-lg
      %div.modal-content
        %div.modal-header
          %h5#classPermalinkLabel.modal-title Link to this page
          %button.btn-close{type: "button", "data-bs-dismiss": "modal", "aria-label": "Close"}
        %div.modal-body
          = text_field_tag("purl_input", nil, class: "form-control")
        %div.modal-footer
          %button.btn.btn-secondary{"data-bs-dismiss": "modal"} Close

  = render partial: 'kgcl_dialogs'

  -# A header of sorts to display ontology name and subset of details.
  %div.row.pt-md-3.pb-md-2
    %div.col
      %div.ont-info-bar.rounded
        %div
          %h4
            = link_to(@ontology.name, ontology_path(@ontology.acronym))
          %div
            - if (details_available && !sub.released.nil?)
              %span.text-muted
                Last uploaded:
                = l(Date.parse(sub.creationDate), format: :monthfull_day_year)
        %div{class: 'ont-info-links d-flex gap-2'}
          = download_button
          - if details_available
            = ontology_admin_button
            = ontology_purl_button(@ontology.purl)
            = homepage_button(sub.homepage)
            = documentation_button(sub.documentation)
            - publication = Array(sub.publication).first
            - if publication
              = publication_button(publication)
            -# = new_submission_button
            -# - if @submission_latest
            -#   = ontology_edit_button

  %div.row.pb-4
    %div.col
      - if content_for?(:viewer_content)
        = yield :viewer_content
      - else
        %div.card.py-3
          = render('layouts/ontology_viewer_tabs') do
            = yield

- if Rails.env.appliance?
  </main>
  = render partial: "footer_appliance"
  = javascript_include_tag "application", "data-turbo-track": "reload"
  = render partial: "ga_tracking"
- else
  = render partial: "layouts/footer"

</body>
</html>
