- content_section = current_section
- concept_title = @concept.nil? ? "" : " - #{@concept.prefLabel} - Classes"
- @title = "#{@ontology.name}#{concept_title}"

- sub = @submission_latest
- details_available = true
- if sub.nil? || (sub.respond_to?(:status) && sub.status == 404)
  - details_available = false

= render :partial =>'layouts/header'
%div#bd
  :javascript
    // Javascript History HTML5 API
    if ( typeof JSON === 'undefined' ) {
      var
        url = '/javascripts/history/json2.js',
        scriptEl = document.createElement('script');
      scriptEl.type = 'text/javascript';
      scriptEl.src = url;
      document.body.appendChild(scriptEl);
    }

    // Ontology viewer vars
    jQuery(document).data().bp.ont_viewer = {};
    jQuery(document).data().bp.ont_viewer.ontology_id = jQuery(document).data().bp.ontology.acronym;
    jQuery(document).data().bp.ont_viewer.ontology_version_id = jQuery(document).data().bp.submission_latest.submissionId;
    jQuery(document).data().bp.ont_viewer.ontology_name = "#{@ontology.name}";
    jQuery(document).data().bp.ont_viewer.org_site = "#{$ORG_SITE}";
    jQuery(document).data().bp.ont_viewer.concept_id = "#{params[:conceptid] || (@concept ? @concept.id : 'root')}";
    jQuery(document).data().bp.ont_viewer.content_section = "#{sanitize(h(content_section))}";
    jQuery(document).data().bp.ont_viewer.concept_param = "#{"conceptid=\#{params[:conceptid]}" unless params[:conceptid].nil? || params[:conceptid].empty?}";
    jQuery(document).data().bp.ont_viewer.concept_name = "#{@concept.prefLabel unless @concept.nil?}";
    jQuery(document).data().bp.ont_viewer.metadata_only = "#{@ontology.summaryOnly}";
    jQuery(document).data().bp.ont_viewer.current_purl = "#{@current_purl}";
    jQuery(document).data().bp.ont_viewer.purl_prefix = "#{($PURL_ENABLED ? $PURL_PREFIX+"/"+@ontology.acronym : '')}";
    jQuery(document).data().bp.ont_viewer.concept_name_title = (jQuery(document).data().bp.ont_viewer.concept_name == "") ?
        "" : " - " + jQuery(document).data().bp.ont_viewer.concept_name;


  = render TurboModalComponent.new(id: 'application_modal')

  -# Modal dialog for getting a permanent link to a class (must reside in a top-level position in the document to display properly).
  %div#classPermalinkModal{class: "modal fade", tabindex: "-1", role: "dialog", aria: {labelledby: "classPermalinkLabel", hidden: "true"}}
    %div.modal-dialog.modal-dialog-centered.modal-lg{role: "document"}
      %div.modal-content
        %div.modal-header
          %h5#classPermalinkLabel.modal-title Permanent link to this class
          %button.close{type: "button", "data-dismiss": "modal", "aria-label": "Close"}
            %span{"aria-hidden": "true"} &times;
        %div.modal-body
          = text_field_tag("purl_input", nil, class: "form-control")
        %div.modal-footer
          %button.btn.btn-secondary{"data-dismiss": "modal"} Close

  -# A header of sorts to display ontology name and subset of details.
  %div.row.pt-md-3.pb-md-2
    %div.col
      %div.ont-info-bar.rounded
        %div
          %h4
            = link_to(@ontology.name, ontology_path(@ontology.acronym))
          %div
            - if (details_available && !sub.released.nil?)
              %span.text-muted
                Last uploaded:
                = l(Date.parse(sub.creationDate), format: :monthfull_day_year)
        %div.ont-info-links
          - unless (@ontology.summaryOnly || @ont_restricted || @submissions.empty?)
            = link_to(@submissions.first.id + "/download?apikey=#{get_apikey}", "aria-label": "Download latest version", title: "Download latest version") do
              %i.fas.fa-lg.fa-download{"aria-hidden": true}
          - if details_available
            - if $PURL_ENABLED
              = link_to(@ontology.purl, "aria-label": "BioPortal PURL", title: "BioPortal PURL", target: "_blank") do
                %i.fas.fa-lg.fa-link{"aria-hidden": true}
            = link_to(sub.homepage, "aria-label": "Ontology home page", title: "Ontology home page", target: "_blank") do
              %i.fas.fa-lg.fa-home{"aria-hidden": true}
            - unless sub.documentation.nil?
              = link_to(sub.documentation, "aria-label": "Ontology documentation", title: "Ontology documentation", target: "_blank") do
                %i.fas.fa-lg.fa-book-reader{"aria-hidden": true}
            - unless sub.publication.nil?
              = link_to(sub.publication, "aria-label": "Ontology publications", title: "Ontology publications", target: "_blank") do
                %i.fas.fa-lg.fa-book{"aria-hidden": true}
          - if @ontology.admin?(session[:user])
            = link_to(edit_ontology_path(@ontology.acronym), "aria-label": "Edit ontology details", title: "Edit ontology details") do
              %i.fas.fa-lg.fa-user-edit

  %div.row.pb-4
    %div.col
      %div.card
        %div.card-header
          - sections  = %w[summary classes properties instances notes mappings widgets]
          -# Tabbed navigation bar for ontology content sections
          %ul.nav.nav-tabs.card-header-tabs{id: "navbar-ontology", role: "tablist"}
            - sections.each do |section|
              - if show_section?(section)
                %li.nav-item
                  = link_to(section_name(section) , ontology_path(@ontology.acronym, p: section),
                        id: "ont-#{section}-tab", class: "nav-link #{selected_section?(section) ? 'active show' : ''}",
                        data: {toggle: "tab", target: "#ont_#{section}_content", 'bp-ont-page': section ,
                        'bp-ont-page-name': ontology_viewer_page_name(@ontology.name, @concept&.prefLabel || '', section) })
        %div.card-body
          %div.tab-content
            - sections.each do |section|
              - if show_section?(section)
                %div.tab-pane{id: "ont_#{section}_content", class: selected_section?(section) ? 'active show' : ''}
                  = lazy_load_section(section) do
                    = yield

  = render partial: "layouts/footer"

</body>
</html>
