:javascript
  jQuery(document).ready(function() {
    jQuery("#version_toggle").click(function(event) {
      event.preventDefault();
      jQuery("#ontology_versions tr.hidden_select").toggleClass("hidden_ont");
    });

    jQuery("#version_toggle").toggle(
      function() {
        jQuery(this).text("less...");
      },
      function() {
        jQuery(this).text("more...");
    });
  });
%h1.tab_header Ontology Submissions for #{@acronym}
- if @ontology.nil?
  %p{:style => "color:red;padding:20px 13px 20px 13px;"}
    Ontology #{@acronym} does not appear to exist in the system. It may have been deleted. Please refresh your browser window.
- else
  %table#ontology_versions.zebra{:cellpadding => "0", :cellspacing => "0", width: "100%"}
    %thead
      %tr
        %th Submission
        %th Release Date
        %th Upload Date
        %th Actions
    - begin
      - submission_ready = @ontology.explore.latest_submission({:include_status => 'ready'})
      - submission_readyId = submission_ready.submissionId unless submission_ready.nil?
    - rescue
      - submission_readyId = -1
    - @submissions.each_with_index do |sub, index|
      - hidden_row_class = index >= 10 ? "hidden_ont hidden_select" : ""
      <tr #{cycle("class='#{hidden_row_class}'", "class='alt #{hidden_row_class}'")} class="#{hidden_row_class}">
      %td
        = raw status_link(sub, sub.submissionId == submission_readyId, target="_blank")
      %td
        = xmldatetime_to_date(sub.released)
      %td
        = xmldatetime_to_date(sub.creationDate)
      %td
        %a{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :onclick => "DeleteSubmission.act('#{@acronym}', #{sub.submissionId});"}
          %span{:class => "ui-button-text"} Delete
    - if @submissions.length >= 10
      %tr
        %td{:colspan => 4, :style => "text-align: right;"}
          %a#version_toggle{:href => "javascript:;"} more...
