- content_section = current_section
- @title = ontology_viewer_page_name(@ontology.acronym, @concept&.prefLabel || '', content_section)


= render :partial =>'layouts/header'
%div#bd.bg-white.ontology-viewer
  :javascript
    // Javascript History HTML5 API
    if ( typeof JSON === 'undefined' ) {
      var
        url = '/javascripts/history/json2.js',
        scriptEl = document.createElement('script');
      scriptEl.type = 'text/javascript';
      scriptEl.src = url;
      document.body.appendChild(scriptEl);
    }

    // Ontology viewer vars
    jQuery(document).data().bp.ont_viewer = {};
    jQuery(document).data().bp.ont_viewer.ontology_id = jQuery(document).data().bp.ontology.acronym;
    jQuery(document).data().bp.ont_viewer.ontology_version_id = jQuery(document).data().bp.submission_latest.submissionId;
    jQuery(document).data().bp.ont_viewer.ontology_name = "#{@ontology.name}";
    jQuery(document).data().bp.ont_viewer.org_site = "#{$ORG_SITE}";
    jQuery(document).data().bp.ont_viewer.concept_id = "#{params[:conceptid] || (@concept ? @concept.id : 'root')}";
    jQuery(document).data().bp.ont_viewer.content_section = "#{sanitize(h(content_section))}";
    jQuery(document).data().bp.ont_viewer.concept_param = "#{"conceptid=\#{params[:conceptid]}" unless params[:conceptid].nil? || params[:conceptid].empty?}";
    jQuery(document).data().bp.ont_viewer.concept_name = "#{@concept.prefLabel unless @concept.nil?}";
    jQuery(document).data().bp.ont_viewer.metadata_only = "#{@ontology.summaryOnly}";
    jQuery(document).data().bp.ont_viewer.current_purl = "#{@current_purl}";
    jQuery(document).data().bp.ont_viewer.purl_prefix = "#{($PURL_ENABLED ? $PURL_PREFIX+"/"+@ontology.acronym : '')}";
    jQuery(document).data().bp.ont_viewer.concept_name_title = (jQuery(document).data().bp.ont_viewer.concept_name == "") ?
        "" : " - " + jQuery(document).data().bp.ont_viewer.concept_name;




  = modal_frame_container

  = render partial: 'concepts/perma_link_modal'

  = render partial: 'kgcl_dialogs'

  %div.pt-md-3.pb-md-2.p-2
    %div.d-flex.w-100.justify-content-center
      = render partial: 'layouts/ontology_viewer/header'

  %div.pb-4.p-2.bg-white{data: {controller: 'ontology-viewer-tabs', 'ontology-viewer-tabs-language-sections-value': ontology_data_sections }}
    %div
      - sections = sections_to_show
      %div.ontologies-tabs-container{data:{action: 'tab-selected->ontology-viewer-tabs#updateLanguageSelector'}}
        = render TabsContainerComponent.new(id: 'ontology_viewer', url_parameter: 'p') do |t|
          - sections.each do |section_title|
            - t.item(title: section_name(section_title),
                     path: ontology_path(@ontology.acronym, p: section_title),
                     selected: selected_section?(section_title),
                     page_name: ontology_viewer_page_name(@ontology.acronym, @concept&.prefLabel || '', section_title))
            - t.pinned_right do
              = language_selector_tag(:language_selector)
            - t.item_content do
              %div.p-1{data: section_data(section_title)}
                = language_selector_hidden_tag(section_title) if ontology_data_section?(section_title)
                = lazy_load_section(section_title) { yield }


  = render partial: "layouts/footer"

</body>
</html>
