- content_section = (params[:p]) ? params[:p] : "summary"
- concept_title = @concept.nil? ? "" : " - #{@concept.prefLabel} - Classes"
- @title = "#{@ontology.name}#{concept_title}"
= render :partial =>'layouts/header'
/[if gt IE 7]
  <style>
  \#admin_ontology .ui-icon-triangle-1-s {
  margin-top: -16px;
  }
  </style>
/[if IE 7]
  <style>
  \#admin_ontology .ui-icon-triangle-1-s {
  margin-top: -16px;
  }

  \#nav_ontology {
  position: absolute;
  padding-top: .5em;
  vertical-align: top !important;
  }
  </style>

:javascript
  // Set the background color for this page only
  jQuery("html").css("background", "#234979");
  jQuery(document.body).css("background", "#234979");
  jQuery("#bd").css("background", "#234979");

  // Javascript History HTML5 API
  if ( typeof JSON === 'undefined' ) {
    var
      url = '/javascripts/history/json2.js',
      scriptEl = document.createElement('script');
    scriptEl.type = 'text/javascript';
    scriptEl.src = url;
    document.body.appendChild(scriptEl);
  }

  // Ontology viewer vars
  jQuery(document).data().bp.ont_viewer = {};
  jQuery(document).data().bp.ont_viewer.ontology_id = jQuery(document).data().bp.ontology.acronym;
  jQuery(document).data().bp.ont_viewer.ontology_version_id = jQuery(document).data().bp.submission_latest.submissionId;
  jQuery(document).data().bp.ont_viewer.ontology_name = "#{@ontology.name}";
  jQuery(document).data().bp.ont_viewer.org_site = "#{$ORG_SITE}";
  jQuery(document).data().bp.ont_viewer.concept_id = "#{params[:conceptid] || (@concept ? @concept.id : 'root')}";
  jQuery(document).data().bp.ont_viewer.content_section = "#{sanitize(h(content_section))}";
  jQuery(document).data().bp.ont_viewer.concept_param = "#{"conceptid=\#{params[:conceptid]}" unless params[:conceptid].nil? || params[:conceptid].empty?}";
  jQuery(document).data().bp.ont_viewer.concept_name = "#{@concept.prefLabel unless @concept.nil?}";
  jQuery(document).data().bp.ont_viewer.metadata_only = "#{@ontology.summaryOnly}";
  jQuery(document).data().bp.ont_viewer.current_purl = "#{@current_purl}";
  jQuery(document).data().bp.ont_viewer.purl_prefix = "#{($PURL_ENABLED ? $PURL_PREFIX+"/"+@ontology.acronym : '')}";
  jQuery(document).data().bp.ont_viewer.concept_name_title = (jQuery(document).data().bp.ont_viewer.concept_name == "") ?
      "" : " - " + jQuery(document).data().bp.ont_viewer.concept_name;

-# Modal dialog for creating a new mapping (must reside in a top-level position in the document to display properly).
%div#createNewMappingModal{class: "modal fade", tabindex: "-1", role: "dialog", "aria-labelledby": "createNewMappingLabel"}
  %div.modal-dialog.modal-lg{role: "document"}
    %div.modal-content
      %div.modal-header
        %button.close{type: "button", "data-dismiss": "modal", "aria-label": "Close"}
          %span{"aria-hidden": "true"} &times;
        %h4#createNewMappingLabel.modal-title
      %div.createNewMappingModalBody.modal-body
      %div.modal-footer
        = submit_tag("Create Mapping", class: "btn btn-default", id: "create_mapping_button")
        %button{type: "button", class: "btn btn-default", "data-dismiss": "modal"} Close

%div{:style => "padding: 1em 2em 0; background: #234979;"}
  %div
    %span{:style => "color: white; font-size: xx-large;"}
      %a#ont_sum_link{:href => "/ontologies/#{@ontology.acronym}"}= @ontology.name

    :css
      #nav_ontology {
        padding-left: 2em;
        font-family: 'Droid Sans', sans-serif;
      }
      #nav_ontology a {
        color: white;
        text-decoration: none;
      }
      #nav_ontology a:hover {
        text-decoration: underline;
      }
      #nav_ontology li {
        display: table-cell;
        padding-right: 1em;
      }
      .ont_sum_link {
        font-family: 'Droid Sans', sans-serif;
      }
    %div#nav_ontology
      %ul
        %li#summary_link.summary_link.nav_link
          %a{"data-bp_ont_page" => "summary", :href => "/ontologies/#{@ontology.acronym}?p=summary"} Summary
        - unless @ontology.summaryOnly
          %li#classes_link.classes_link.nav_link
            %a{"data-bp_ont_page" => "classes", :href => "/ontologies/#{@ontology.acronym}?p=classes"} Classes
          %li#properties_link.properties_link.nav_link
            %a{"data-bp_ont_page" => "properties", :href => "/ontologies/#{@ontology.acronym}?p=properties"} Properties
        %li#notes_link.notes_link.nav_link
          %a{"data-bp_ont_page" => "notes", :href => "/ontologies/#{@ontology.acronym}?p=notes"} Notes
        - unless @ontology.summaryOnly
          %li#mappings_link.mappings_link.nav_link
            %a{"data-bp_ont_page" => "mappings", :href => "/ontologies/#{@ontology.acronym}?p=mappings"} Mappings
          %li#widgets_link.widgets_link.nav_link
            %a{"data-bp_ont_page" => "widgets", :href => "/ontologies/#{@ontology.acronym}?p=widgets"} Widgets
        - if @ontology.admin?(session[:user])
          %li
            = link_to "Edit ontology information",  "/ontologies/#{@ontology.acronym}/edit"
          %li
            = link_to "Add submission", "/ontologies/#{@ontology.acronym}/submissions/new"
          - unless @submission_latest.nil? || (@submission_latest.respond_to?(:status) && @submission_latest.status == 404)
            %li
              = link_to "Edit submission information (#{@submission_latest.version})", "/ontologies/#{@ontology.acronym}/submissions/#{@submission_latest.submissionId}/edit"

  %div{:style => "clear: both; margin-bottom: 1em;"}
  #ontology_content{:style => "background: white;"}
    #ont_classes_content.ontology_viewer_content.hidden
      - if content_section.eql?("classes")
        :javascript
          jQuery("#ont_classes_content").removeClass("hidden");
        = yield
      - else
        = loading_spinner(true)
    #ont_properties_content.ontology_viewer_content.hidden
      - if content_section.eql?("properties")
        :javascript
          jQuery("#ont_properties_content").removeClass("hidden");
        = yield
      - else
        = loading_spinner(true)
    #ont_summary_content.ontology_viewer_content.hidden
      - if content_section.eql?("summary")
        :javascript
          jQuery("#ont_summary_content").removeClass("hidden");
        = yield
      - else
        = loading_spinner(true)
    #ont_mappings_content.ontology_viewer_content.hidden
      - if content_section.eql?("mappings")
        :javascript
          jQuery("#ont_mappings_content").removeClass("hidden");
        = yield
      - else
        = loading_spinner(true)
    #ont_notes_content.ontology_viewer_content.hidden
      - if content_section.eql?("notes")
        :javascript
          jQuery("#ont_notes_content").removeClass("hidden");
        = yield
      - else
        = loading_spinner(true)
    #ont_widgets_content.ontology_viewer_content.hidden
      - if content_section.eql?("widgets")
        :javascript
          jQuery("#ont_widgets_content").removeClass("hidden");
        = yield
      - else
        = loading_spinner(true)
= render :partial =>'layouts/footer'
