%nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom
  = link_to(image_tag("logos/ontoportal-logo.png") + content_tag(:span, $SITE, class: 'site-name'), root_path(), class: "navbar-brand")
  = button_tag(type: "button", class: "navbar-toggler", data: {toggle: "collapse", target: "#topNavigationToggler"}, aria: {controls: "topNavigationToggler", expanded: "false", label: "Toggle navigation"}) do
    %span.navbar-toggler-icon

  %div#topNavigationToggler.navbar-collapse.collapse.justify-content-between
    %ul.navbar-nav
      %li.nav-item
        = link_to("Browse", ontologies_path(), class: "nav-link")
      %li.nav-item
        = link_to("Search", "/search", class: "nav-link")
      %li.nav-item
        = link_to("Mappings", mappings_path(), class: "nav-link")
      %li.nav-item
        = link_to("Recommender", recommender_index_path(), class: "nav-link")
      %li.nav-item
        = link_to("Annotator", annotator_index_path(), class: "nav-link")
      - if $NCBO_ANNOTATORPLUS_ENABLED == true
        %li.nav-item
          = link_to("NCBO Annotator+", '/ncbo_annotatorplus', class: "nav-link")
      %li.nav-item
        = link_to("Projects", projects_path(), class: "nav-link")
      %li.nav-item
        = link_to("Landscape", '/landscape', class: "nav-link")
      -if (!session[:user].nil? && session[:user].admin?)
        %li.nav-item
          = link_to("Admin", admin_index_path(), class: "nav-link")
    %ul.navbar-nav
      - if session[:user].nil?
        %li.nav-item
          = link_to("Login", login_index_path(redirect: request.original_url), class: "btn btn-bp-login mr-md-2")
      - else
        -# Account menu
        %li.nav-item.dropdown
          = link_to("#", id: "accountMenuDropdownLink", class: "nav-link dropdown-toggle", role: "button", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}) do
            = session[:user].username
          %div.dropdown-menu.dropdown-menu-right{aria: {labelledby: "accountMenuDropdownLink"}}
            = link_to("Account Settings", "/account", class: "dropdown-item")
            - unless session[:ontologies].nil?
              %div.dropdown-divider
              %h6.dropdown-header Recently Viewed
              - for ont in session[:ontologies]
                = link_to(ont.ontology_name, "/ontologies/#{ont.ontology_acronym}/?p=classes&conceptid=#{CGI.escape(ont.concept)}", class: "dropdown-item")
              %div.dropdown-divider
            = link_to("Logout", logout_path(), class: "dropdown-item")            
      -# Support menu
      %li.nav-item.dropdown
        = link_to("#", id: "supportMenuDropdownLink", class: "nav-link dropdown-toggle", role: "button", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}) do
          Support
        %div.dropdown-menu.dropdown-menu-right{aria: {labelledby: "supportMenuDropdownLink"}}
          = link_to("Submit Feedback", feedback_path(location: encode_param(request.url)), id: "submitFeedbackMenuItem", class: "dropdown-item pop_window")
          %div.dropdown-divider
          %h6.dropdown-header Documentation
          = link_to("Help", "#{$WIKI_HELP_PAGE}", target: "_blank", class: "dropdown-item")
          = link_to("Release Notes", "#{$RELEASE_NOTES}", target: "_blank", class: "dropdown-item")
          = link_to("Publications", $PUBLICATIONS_URL, target: "_blank", class: "dropdown-item")