<div id="hd">
	<ul>	

		<li><a href="/" title="Home"><img src="/images/layout/nav_logo.png" /></a></li>
		<%if controller.controller_name.eql?('ontologies') || controller.controller_name.eql?('concepts')%>
		<li><a href="/ontologies" title="Browse" ><img name="img10" src="/images/layout/nav_browse_active.png" /></a></li>		
		<%else%>
		<li><a href="/ontologies" title="Browse" ><img name="img10" src="/images/layout/nav_browse.png" /></a></li>
		<%end%>
		<%if controller.controller_name.eql?('search')%>
		<li><a href="/search" title="Search"  ><img name="img11" src="/images/layout/nav_search_active.png" /></a></li>
		<%else%>
		<li><a href="/search" title="Search"  ><img name="img11" src="/images/layout/nav_search.png" /></a></li>
		<%end%>
		<%if controller.controller_name.eql?('projects')%>		
		<li><a href="/projects" title="Projects"  ><img name="img11" src="/images/layout/nav_projects_active.png" /></a></li>		
		<%else%>
		<li><a href="/projects" title="Projects"  ><img name="img11" src="/images/layout/nav_projects.png" /></a></li>		
		<%end%>
		<%if controller.action_name.eql?('annotate')%>		
		<li><a href="/annotator" title="Annotator" ><img name="img12" src="/images/layout/nav_annotate_active.png" /></a></li>
		<%else%>
		<li><a href="/annotator" title="Annotator" ><img name="img12" src="/images/layout/nav_annotate.png" /></a></li>		
		<%end%>
		<%if controller.controller_name.eql?('mappings')%>		
		<li><a href="/mappings" title="All Mappings" ><img name="img13" src="/images/layout/nav_search_allmappings_active.png" /></a></li>
		<%else%>
		<li><a href="/mappings" title="All Mappings" ><img name="img13" src="/images/layout/nav_search_allmappings.png" /></a></li>		
		<%end%>
		<%if controller.action_name.eql?('all_resources')%>		
		<li><a href="/resources" title="Resource Index" ><img name="img13" src="/images/layout/nav_resources_active.png" /></a></li>
		<%else%>
		<li><a href="/resources" title="Resource Index" ><img name="img13" src="/images/layout/nav_resources.png" /></a></li>
		<%end%>
	</ul>
	<ul class="alignright">
		<%if session[:user].nil?%>
			<li><%=link_to "Sign In" ,:controller =>'login',:redirect=>request.request_uri%></li>
			<li><%=link_to "Register", new_user_path(:redirect=>@ontology)%></li>
		<%else%>
		<!--	<li><%=link_to "My Projects", projects_path(:user=>session[:user].id)%></li> -->
			<li><span style="color:white">Logged In As <%=session[:user].username%></span> <br/><%=link_to "My Account", edit_user_path(session[:user])%> <%=link_to "Log Out",logout_url%></li>

		<%end%> 
		 	<li><a href="/home/release">Help/About</a></li>
			<li><a href="/feedback" style="font-weight:bold;font-size:14px;">Send Feedback</a> </li>
			
	</ul>
</div>
<div class="tabs">
	<ul>
		<%unless session[:ontologies].nil?%>
			<%for tab in session[:ontologies]%>
				<%if !@ontology.nil? && @ontology.id.eql?(tab.ontology_id)%>
				<li id="tab<%=to_param(tab.ontology_id)%>" class="selected"><a href="#" class="close"  onclick="remove_tab(this,'<%=to_param(tab.ontology_id)%>',true);return false;"><img src="/images/layout/subnav_close_over.png" /></a><a href="/visualize/<%=tab.ontology_id%>/?id=<%=encode_param(tab.concept)%>"><em><%=tab.ontology_name%></em></a></li>				
				<%else%>
				<li id="tab<%=to_param(tab.ontology_id)%>" ><a href="#" class="close"  onclick="remove_tab(this,'<%=to_param(tab.ontology_id)%>',false);return false;"><img src="/images/layout/subnav_close.png" /></a><a href="/visualize/<%=tab.ontology_id%>/?id=<%=encode_param(tab.concept)%>" ><em><%=tab.ontology_name%></em></a></li>
				<%end%>
			<%end%>
		<%end%>
	</ul>
</div>
