<div id="hd_wrapper" style="overflow: hidden;">
  <div id="hd">
    <ul>
      <li style="padding-right: 30px;"><a href="/" title="Home" class="nav_logo"></a></li>
      <%=top_tab("Browse", "/ontologies", ["ontologies", "concepts"])%>
      <%=top_tab("Search", "/search", "search")%>
      <%=top_tab("Mappings", "/mappings", "mappings")%>
      <%=top_tab("Recommender", "/recommender", "recommender")%>
      <%unless !$ANNOTATOR_DISABLED.nil? && $ANNOTATOR_DISABLED %>
        <%=top_tab("Annotator", "/annotator", "annotator")%>
      <%end%>
      <%unless !$RESOURCE_INDEX_DISABLED.nil? && $RESOURCE_INDEX_DISABLED %>
        <%=top_tab("Resource Index", "/resource_index", "resource_index")%>
      <%end%>
      <%=top_tab("Projects", "/projects", "projects")%>
      <%=top_tab("Landscape", "/landscape", "landscape")%>
      <%if !session[:user].nil? && session[:user].admin? %>
        <%=top_tab("Admin", "/admin", "admin")%>
      <%end%>
    </ul>

  <script type="text/javascript">
    var menu_nav = function(link) {
      document.location = link.href;
    }

    jQuery(document).ready(function() {
      // Wire up navigation buttons
      jQuery('#recently_viewed').fgmenu({
        content: $('#recently_viewed').next().html(),
        width: 250,
        afterItemChosen: menu_nav
      });
      jQuery('#user_menu').fgmenu({
        content: $('#user_menu').next().html(),
        afterItemChosen: menu_nav
      });
    });
  </script>

    <ul class="alignright" id="top_right_menu">
      <%unless session[:ontologies].nil?%>
        <a tabindex="0" href="#recent_ontologies" class="fg-button-menu fg-button-icon-right ui-widget ui-state-default" id="recently_viewed"><span class="ui-icon ui-icon-triangle-1-s"></span>Recently Viewed</a>
        <div id="recent_ontologies" class="hidden">
          <ul>
            <%for tab in session[:ontologies]%>
              <%if !@ontology.nil? && @ontology.id.eql?(tab.ontology_id)%>
                <li id="tab<%=to_param(tab.ontology_id)%>" class="selected"><a href="/ontologies/<%=tab.ontology_acronym%>/?p=classes&conceptid=<%=CGI.escape(tab.concept)%>"><em><%=tab.ontology_name%></em></a></li>
              <%else%>
                <li id="tab<%=to_param(tab.ontology_id)%>" ><a href="/ontologies/<%=tab.ontology_acronym%>/?p=classes&conceptid=<%=CGI.escape(tab.concept)%>" ><em><%=tab.ontology_name%></em></a></li>
              <%end%>
            <%end%>
          </ul>
        </div>
      <%end%>

      <%if session[:user].nil?%>
        <%=link_to "Sign In", { :controller =>'login', :redirect => request.url }, :class => "fg-button-menu ui-widget ui-state-default" %>
        <!--<%=link_to "Register", new_user_path(:redirect=>@ontology), :class => "fg-button-menu ui-widget ui-state-default" %>-->
      <%else%>
        <a tabindex="0" href="#account_menu" class="fg-button-menu fg-button-icon-right ui-widget ui-state-default" id="user_menu"><span class="ui-icon ui-icon-triangle-1-s"></span><%= session[:user].username %></a>
        <div id="navigate_options" class="hidden">
          <ul>
            <li><%=link_to "Account", "/account"%></li>
            <li><%=link_to "Projects", projects_path(:user=>session[:user].id)%></li>
            <li><%=link_to "Log Out", logout_url%></li>
          </ul>
        </div>
      <%end%>
        <a tabindex="0" href="/help" class="fg-button-menu ui-widget ui-state-default">Help</a>
        <a tabindex="0" href="/about" class="fg-button-menu ui-widget ui-state-default">About</a>
        <a tabindex="0" href="/feedback?location=<%=encode_param(request.url)%>" class="pop_window fg-button-menu ui-widget ui-state-default top_right_menu_last" style="">Feedback</a>
    </ul>
  </div>
</div>
