.nav-container{data: {controller:"topnav-responsiveness"}}
  %nav.top-nav
    .nav-responsiveness-container
      %a.nav-logo{href: "/"}
        %img{:src => asset_path("logo-white.svg")}/
        %p
          = portal_name
      %input#nav-menu{:type => "checkbox", 'data-topnav-responsiveness-target': 'navMenu'}
      %label.menu-btn{:for => "nav-menu"}
        %i.fas.fa-bars
    .nav-items
      %ul.top-nav-ul
        - navitems.each do |navItem|
          %li.nav-ul-li
            %a{href: navItem[0], class: ("active" if current_page?(navItem[0]))} #{navItem[1]}
      - if current_page?('/')
        .nav-search-container{style:'visibility: hidden'}
          %input
      - else
        .nav-search-container{'data-controller': "home-search"}
          %input.nav-input{:placeholder => "Search in "+portal_name+" ...", :type => "text", :name => "search", 'data-home-search-target': 'input', 'data-action': 'input->home-search#search blur->home-search#blur'}
        #home-search-drop-down.nav-search-drop-down{'data-home-search-target': 'dropDown', 'data-action': 'mousedown->home-search#prevent'}
          %a.home-search-ontology-content#home-search-ontology-content{href: "#", 'data-home-search-target': 'searchOntologyContent'}
            %p#seached-ontology{'data-home-search-target': 'ontology'}
            %div
              %img{src: asset_path("loop.svg")}/
              %p Search ontology content
          %a.home-search-ontology-content#home-search-ontologies{href: "#", 'data-home-search-target': 'homeSearchOntologies'}
            %p#seached-ontologies{'data-home-search-target': 'searchedOntologies'}
            %div
              %img{src: asset_path("loop.svg")}/
              %p See all ontologies


      = render DropdownButtonComponent.new(css_class:'text-white') do |d|
        - d.header do
          = link_to("#", id: "supportMenuDropdownLink", class: "nav-link supportMenuDropdownLink", role: "button") do
            Support
        - d.with_section(divide: false) do |s|
          - s.item do
            = link_to(t(:submit_feedback), feedback_path(location: encode_param(request.url)), id: "submitFeedbackMenuItem", class: "pop_window")
        - d.with_section do |s|
          - s.header do
            Documentation
          - s.item do
            = link_to(t(:_help), "#{$WIKI_HELP_PAGE}", target: "_blank")
          - s.item do
            = link_to(t(:_release_notes), "#{$RELEASE_NOTES}", target: "_blank")
          - s.item do
            = link_to(t(:_publications), $PUBLICATIONS_URL, target: "_blank")


