.nav-container.text-white{data: {controller:"topnav-responsiveness"}}
  %nav.top-nav
    .nav-responsiveness-container
      %a.nav-logo{href: "/"}
        %img{:src => asset_path("logo-white.svg")}/
        %p
          = portal_name
      %input#nav-menu{:type => "checkbox", 'data-topnav-responsiveness-target': 'navMenu'}
      %label.menu-btn{:for => "nav-menu"}
        %i.fas.fa-bars
    .nav-items
      %ul.top-nav-ul
        - navitems.each do |navItem|
          %li.nav-ul-li
            %a{href: navItem[0], class: ("active" if current_page?(navItem[0]))} #{navItem[1]}
        - if !session[:user].nil? && session[:user].admin?
          %li.nav-ul-li
            %a{href: "/admin", class: ("active" if current_page?("/admin"))} Admin
      .right-nav-items
        - if current_page?('/')
          .nav-search-container{style:'visibility: hidden'}
            %input
        - else
          .nav-search-container
            = render OntologySearchInputComponent.new(placeholder:  "Search in "+portal_name+" ...", scroll_down: false)

        - if session[:user].nil?
          %a.nav-a{:href => "/login"} Login
        - else
          = render DropdownButtonComponent.new do |d|
            - d.header do
              = session[:user].username
            - d.with_section(divide: false) do |s|
              - s.item do
                = link_to(t(:_account_setting), "/account")
            - d.with_section do |s|
              - s.header do
                Recently Viewed
              - for ont in Array(session[:ontologies])
                - s.item do
                  = link_to(ont.ontology_name, "/ontologies/#{ont.ontology_acronym}/?p=classes&conceptid=#{CGI.escape(ont.concept)}")
            - d.with_section do |s|
              - s.item do
                = link_to("Logout", logout_path)

        = select_tag('language', options_for_select([['EN','en'],['FR','fr']]), id: 'language-select', class: 'nav-language',
              data: { controller: "platform-language", action: "change->platform-language#handleLangChanged" })

        = render DropdownButtonComponent.new do |d|
          - d.header do
            = link_to("#", id: "supportMenuDropdownLink", class: "nav-link top-nav-nav-link supportMenuDropdownLink", role: "button") do
              Support
          - d.with_section(divide: false) do |s|
            - s.item do
              = link_to(t(:submit_feedback), feedback_path(location: encode_param(request.url)), id: "submitFeedbackMenuItem", class: "pop_window")
          - d.with_section do |s|
            - s.header do
              Documentation
            - s.item do
              = link_to(t(:_help), "#{$WIKI_HELP_PAGE}", target: "_blank")
            - s.item do
              = link_to(t(:_release_notes), "#{$RELEASE_NOTES}", target: "_blank")
            - s.item do
              = link_to(t(:_publications), $PUBLICATIONS_URL, target: "_blank")


