<% raise ArgumentError, "@app_name variable must be set to use the Angular layout" unless @app_name%>
<% raise ArgumentError, "@base_path variable must be set to use the Angular layout" unless @base_path%>
<% @base_path = "/#{@base_path}/".gsub(/\/{2,}/, "/") %> <!-- Make sure path has start and trailing slash -->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="<%=@app_name%>" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="<%=@app_name%>" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="<%=@app_name%>" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="<%=@app_name%>" class="no-js"> <!--<![endif]-->
<head>
  <!-- Angular doesn't work well in sub-directories, this provides a base path that everything is relative to (HTML and Angular alike) -->
  <base href="<%=@base_path%>">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">

  <%=render partial: 'layouts/head_common'%>
</head>
<body>
  <%=render partial: 'layouts/common_js'%>
  <%=render partial: 'layouts/topnav'%>
  <%=render partial: 'layouts/notices'%>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <%=yield%>

  <!-- Angular JS, loaded from CDN unless you need otherwise -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.min.js"></script>
  <!-- <script src="lib/angular/angular.js"></script> -->
  <!-- <script src="lib/angular-route/angular-route.js"></script> -->
  <!-- <script src="lib/angular-animate/angular-animate.min.js"></script> -->

  <script src="lib/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="lib/angular-bindonce/bindonce.min.js"></script>
  <script src="checklist-model.js"></script>
  <script src="app.js"></script>

  <%=render partial: 'layouts/footer'%>
