<% raise ArgumentError, "@app_name variable must be set to use the Angular layout" unless @app_name%>
<% raise ArgumentError, "@base_path variable must be set to use the Angular layout" unless @base_path%>
<% @base_path = "/#{@base_path}/".gsub(/\/{2,}/, "/") %> <!-- Make sure path has start and trailing slash -->
<% appliance_mode = Rails.env.appliance? %>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="<%=@app_name%>" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="<%=@app_name%>" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="<%=@app_name%>" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="<%=@app_name%>" class="no-js"> <!--<![endif]-->
<head>
  <!-- Angular doesn't work well in sub-directories, this provides a base path that everything is relative to (HTML and Angular alike) -->
  <base href="<%=@base_path%>">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">

  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <% unless appliance_mode %>
    <meta name="google-site-verification" content="IBxfKu6VbYH9atd5OLu2zXVD2ZRWi9SgMKTi8nvw3ks" />
  <% end %>
  <%= csrf_meta_tag %>
  <title><%if @title.nil?%><%=$ORG_SITE%><%else%><%="#{@title} | #{$ORG_SITE}"%><%end%></title>
  <link rel="shortcut icon" href="/fav.ico" type="image/x-icon" />
  <link href='//fonts.googleapis.com/css?family=Droid+Sans:400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity: "sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin: "anonymous" %>
  <%= stylesheet_link_tag "application" %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <%=javascript_include_tag "vendor"%>
  <%=javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"%>
  <%=javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"%>
  <%=javascript_include_tag "//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"%>
  <script>
    jQuery(document).data({bp: {config: <%=bp_config_json.html_safe%>, user: <%=(session[:user] || {}).to_hash.to_json.html_safe%>}});
    jQuery(document).data().bp.ontology = <%=@ontology.to_json.html_safe%> || {};
    jQuery(document).data().bp.submission_latest = <%=@submission_latest.to_json.html_safe%> || {};
    jQuery(document).data().bp.ont_viewer = {};
    jQuery(document).data().bp.ont_chart = {};
  </script>
  <%=render partial: 'layouts/topnav'%>
  <div id="angular-notices">
    <%=render partial: 'layouts/notices'%>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <%=yield%>

  <!-- Angular JS, loaded from CDN unless you need otherwise -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.min.js"></script>
  <!-- <script src="lib/angular/angular.js"></script> -->
  <!-- <script src="lib/angular-route/angular-route.js"></script> -->
  <!-- <script src="lib/angular-animate/angular-animate.min.js"></script> -->

  <script src="lib/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="lib/angular-bindonce/bindonce.min.js"></script>
  <script src="checklist-model.js"></script>
  <script src="app.js"></script>

  <% if appliance_mode %>
    <%= render partial: "footer_appliance" %>
    <%= javascript_include_tag "application" %>
    <%= render partial: "ga_tracking" %>    
  <% else %>
    <%= render partial: 'layouts/footer' %>
  <% end %>

</body>
</html>
