!!! Strict
%html{class: 'h-100'}
  %head
    = render partial: 'ga_tracking'
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    %title= @title.nil? ? "#{$ORG_SITE}" : "#{@title} | #{$ORG_SITE}"

    = csrf_meta_tag

    <link rel="shortcut icon" href="/fav.ico" type="image/x-icon" />
    
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Droid+Sans:400", media: "all"
    = stylesheet_link_tag "https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity: "sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin: "anonymous"
    = stylesheet_link_tag "application", media: "all"

    = javascript_include_tag "vendor"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"
    = javascript_include_tag "//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"
    = javascript_include_tag "//unpkg.com/split.js/dist/split.min.js"

    %script
      jQuery(document).data({bp: {config: #{bp_config_json.html_safe}, user: #{(session[:user] || {}).to_hash.to_json.html_safe}}});
      jQuery(document).data().bp.ontology = #{@ontology.to_json.html_safe} || {};
      jQuery(document).data().bp.submission_latest = #{@submission_latest.to_json.html_safe} || {};
      jQuery(document).data().bp.ont_viewer = {};
      jQuery(document).data().bp.ont_chart = {};

  %body{class: "#{controller_name} #{action_name} d-flex flex-column h-100"}
    %header
      = render partial: "layouts/topnav"
    
    %main{class: 'flex-shrink-0'}
      %div.container-fluid
        = render partial: "layouts/notices"
        = yield

    = render partial: "footer_appliance"

    -# BioPortal-specific JavaScript
    = javascript_include_tag "application"
