<!DOCTYPE html>
<html>
<head>
  <title>BioportalWebUi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application-esbuild", "data-turbo-track": "reload", type: "module" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<%= yield %>

</body>
</html>
