<% content_section = (params[:p]) ? params[:p] : "summary" %>

<% concept_title = @concept.nil? ? "" : " - #{@concept.label} - Terms"%>

<%@title = "#{@ontology.displayLabel}#{concept_title}" %>

<%=render :partial =>'layouts/header'%>

<!--[if gt IE 7]>
<style>
  #admin_ontology .ui-icon-triangle-1-s {
    margin-top: -16px;
  }
</style>
<![endif]-->

<!--[if IE 7]>
<style>
  #admin_ontology .ui-icon-triangle-1-s {
    margin-top: -16px;
  }

  #nav_ontology {
    position: absolute;
    padding-top: .5em;
    vertical-align: top !important;
  }
</style>
<![endif]-->

<script type="text/javascript">
  // Set the background color for this page only
  jQuery("html").css("background", "#234979");
  jQuery(document.body).css("background", "#234979");
  jQuery("#bd").css("background", "#234979");

  // Javascript History HTML5 API
  if ( typeof JSON === 'undefined' ) {
    var
      url = '/javascripts/history/json2.js',
      scriptEl = document.createElement('script');
    scriptEl.type = 'text/javascript';
    scriptEl.src = url;
    document.body.appendChild(scriptEl);
  }

  jQuery.rloader([
    {type:'css',src:'/stylesheets/layout/jquery.rating.css'},
    {type:'js',src:'/javascripts/JqueryPlugins/datatables/js/jquery.dataTables.min.js'},
    {type:'js',src:'/javascripts/jquery.rating.pack.js'}
  ]);

  var ontology_id = <%=@ontology.ontologyId%>;
  var ontology_version_id = <%=@ontology.id%>;
  var ontology_name = "<%=@ontology.displayLabel%>";
  var org_site = "<%=$ORG_SITE%>";
  var concept_id = "<%=params[:conceptid]%>";
  var content_section = "<%=content_section%>";
  var concept_param = "<%="conceptid=#{params[:conceptid]}" unless params[:conceptid].nil? || params[:conceptid].empty?%>";
  var concept_name = "<%=@concept.label unless @concept.nil?%>";
  var metadata_only = <%=@ontology.metadata_only?%>;
  var current_purl = "<%=@current_purl%>";
  var purl_prefix = "<%="#{$PURL_PREFIX}/#{@ontology.abbreviation}" if $PURL_ENABLED%>";

  var concept_name_title = (concept_name == "") ? "" : " - " + concept_name;
</script>

<%=stylesheet_link_tag "/javascripts/JqueryPlugins/facebox/facebox.css"%>

<%=javascript_include_tag "jquery.simple.tree.js"%>
<%=javascript_include_tag "jquery.scrollTo-1.4.0-min.js"%>
<%=javascript_include_tag "bp_term_tree.js"%> <!-- This gets placed here because we need it to run first out of the term events in the document.ready queue -->
<%=javascript_include_tag "bp_ontology_viewer.js"%>
<%=javascript_include_tag "bp_notes.js"%>
<%=javascript_include_tag "bp_notes_list.js"%>
<%=javascript_include_tag "bp_notes_ont_list.js"%>
<%=javascript_include_tag "bp_resource_index.js"%>

<div style="padding: 1em 2em 0; background: #234979;">
  <span style="float: right;"><a href="/syndication/rss?ontologies=<%=@ontology.ontologyId%>"><img src="/images/feed-icon.png" height=14 width=14 border=0 style="vertical-align: text-bottom;"></a></span>
  <div>
    <span style="color: white; font-size: xx-large;"><a href='/ontologies/<%=@ontology.ontologyId%>' id='ont_sum_link'><%=@ontology.displayLabel %></a></span>
    <span id="nav_ontology" style="padding-left: 4em; position: relative; top: -5px;">
      <a tabindex="0" href="#navigate" class="fg-button fg-button-icon-right ui-widget ui-state-default" id="ont_nav"><span class="ui-icon ui-icon-triangle-1-s"></span><span id="nav_text">Summary</span></a>
      <div id="navigate_options" class="hidden">
        <ul>
          <li class="nav_links summary_link" id="summary_link"><a href="/ontologies/<%=@ontology.id%>?p=summary" data-bp_ont_page="summary">Summary</a></li>
          <%unless @ontology.metadata_only?%><li class="nav_links terms_link" id="terms_link"><a href="/ontologies/<%=@ontology.id%>?p=terms" data-bp_ont_page="terms">Terms</a></li><%end%>
          <li class="nav_links notes_link" id="notes_link"><a href="/ontologies/<%=@ontology.id%>?p=notes" data-bp_ont_page="notes">Notes</a></li>
          <li class="nav_links mappings_link" id="mappings_link"><a href="/ontologies/<%=@ontology.id%>?p=mappings" data-bp_ont_page="mappings">Mappings</a></li>
          <%unless @ontology.metadata_only?%><li class="nav_links widgets_link" id="widgets_link"><a href="/ontologies/<%=@ontology.id%>?p=widgets" data-bp_ont_page="widgets">Widgets</a></li><%end%>
        </ul>
      </div>
    </span>

    <!-- Ontology submission disabled for release migration-->
    <%if false #@ontology.admin?(session[:user]) %>
      <span id="admin_ontology" style="vertical-align: super; padding-left: 1em;">
        <a tabindex="0" href="#administer" class="fg-button fg-button-icon-right ui-widget ui-state-default" id="ont_admin"><span class="ui-icon ui-icon-triangle-1-s"></span>Administer</a>
        <div id="adminster_options" class="hidden" style="text-align: left;">
          <ul>
            <li>
              <%if @ontology.isView.eql?("true")%>
                <a href="/ontologies/view/new/<%=@ontology.id%>?version_id=<%=@ontology.viewOnOntologyVersionId%>">Submit New View Version</a>
              <%else%>
                <%=link_to "Submit New Version",new_ontology_path(:id=>@ontology.ontologyId) %>
              <%end%>
            </li>
            <li>
              <%if @ontology.isView.eql?("true")%>
                <a href="/ontologies/view/edit/<%=@ontology.id%>">Edit View Information (version <%=@ontology.versionNumber%>)</a>
              <%else%>
                <%=link_to "Edit Ontology Information (version #{@ontology.versionNumber})",edit_ontology_path(:id=>@ontology.id) %>
              <%end%>
            </li>
          </ul>
        </div>
      </span>
    <%end %>
  </div>

  <div style="clear: both; margin-bottom: 1em;"></div>

  <div style="background: white;" id="ontology_content">
    <div id="ont_terms_content" class="ontology_viewer_content hidden">
      <%if content_section.eql?("terms")%>
        <script type="text/javascript">
          jQuery("#ont_terms_content").removeClass("hidden");
        </script>
        <%=yield%>
      <%else%>
        <%=loading_spinner(true)%>
      <%end%>
    </div>

    <div id="ont_summary_content" class="ontology_viewer_content hidden">
      <%if content_section.eql?("summary")%>
        <script type="text/javascript">
          jQuery("#ont_summary_content").removeClass("hidden");
        </script>
        <%=yield%>
      <%else%>
        <%=loading_spinner(true)%>
      <%end%>
    </div>

    <div id="ont_mappings_content" class="ontology_viewer_content hidden">
      <%if content_section.eql?("mappings")%>
        <script type="text/javascript">
          jQuery("#ont_mappings_content").removeClass("hidden");
        </script>
        <%=yield%>
      <%else%>
        <%=loading_spinner(true)%>
      <%end%>
    </div>

    <div id="ont_notes_content" class="ontology_viewer_content hidden">
      <%if content_section.eql?("notes")%>
        <script type="text/javascript">
          jQuery("#ont_notes_content").removeClass("hidden");
        </script>
        <%=yield%>
      <%else%>
        <%=loading_spinner(true)%>
      <%end%>
    </div>

    <div id="ont_widgets_content" class="ontology_viewer_content hidden">
      <%if content_section.eql?("widgets")%>
        <script type="text/javascript">
          jQuery("#ont_widgets_content").removeClass("hidden");
        </script>
        <%=yield%>
      <%else%>
        <%=loading_spinner(true)%>
      <%end%>
    </div>

  </div>
</div>

<%=render :partial =>'layouts/footer'%>
