<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background: none !important;">
<head>
  <%=render partial: 'layouts/head_common'%>
  <%=render partial: 'layouts/common_js'%>
</head>
<body style="min-width: 800px;">

  <div style="background: url(<%= asset_path 'layout/header_bg.png' %>) repeat-x; width: 100%;">
    <center><%= image_tag 'layout/nav_logo.png' %></center>
  </div>

  <div style="clear: both;"></div>

  <%if flash[:notice] %>
  <div style="margin: 1em; padding: 5px; border: 1px solid gray; font-size:14px; background-color: #ffffcc;">
      <p style="text-align: left; margin-bottom: 0;">
          <%=flash[:notice] %>
      </p>
  </div>
  <%end %>

  <div id="bd">
    <% message_name = "" %>
    <% unless $SITE_NOTICE.nil? || $SITE_NOTICE.empty? %>
      <% $SITE_NOTICE.each_key { |k| message_name = k } %>
      <% unless cookies[message_name.to_sym].eql?("true") %>
        <script type="text/javascript">
          function close_message(){
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + 365);
            document.cookie="<%=message_name%>=true; expires="+exdate.toGMTString();
            jQuery("#notice_message").hide();
          }
        </script>
        <div style="padding: 13px 10px 10px; margin: 10px; border:1px solid #EFEFEF; background-color: #F9F9F9;" id="notice_message">
          <%=$SITE_NOTICE[message_name.to_sym]%>&nbsp;&nbsp;<a href="#" onclick="close_message(); return false;" style="font-size: small; color: darkGray;">[close]</a>
        </div>
      <% end %>
    <% end %>

    <%=yield%>
  </div>


</body>
</html>

